<div class="content-wrapper">
  <?php 
    if ($this->success) {
    echo '<div class="alert alert-success" role="alert" align=center>';
        
        $logArray=$this->success;
        if(isset($logArray['Template']['isApproved']))echo $logArray['Template']['isApproved'];
        else if(isset($logArray['Template']['isRejected']))echo $logArray['Template']['isRejected'];

      echo '</div>';
    }
       

?>
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
             <thead>
                <tr>
                  <th >Id</th>
                  <th >User</th>
                  <th >Sender Id</th>
                  <th >Remark</th>
                  <th >Date</th>
                  <th >Approve</th>
                  <th >Reject</th>
                </tr>
              </thead>
              <tbody>
                <?php  $i=1; ?>
                <?php foreach ($this->entries as $entry): ?>

                  <tr>
                    <td ><?php echo $i; ?></td>
                    <td ><?php echo $this->emUser->findOneBy(array('id' => "$entry->user"))->username; ?></td>
                    <td ><?php echo $entry->name; ?></td>
                    <td ><?php echo $entry->remark; ?></td>
                    <td ><?php echo date_format($entry->createdDate,"m/d/Y H:i:s"); ?></td>
                    <td >
                      <a href="#approval_<?php echo $entry->id; ?>" class="btn btn-sm btn-primary" data-backdrop="static" data-toggle="modal" data-placement="right" data-original-title="Approval">Approve</a>
                    </td>
                    <td >
                      <a href="#reject_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger" data-backdrop="static" data-toggle="modal" data-placement="right" data-original-title="Rejected">Reject</a>
                    </td>
                  </tr>
                <?php $i++; endforeach; ?>

            </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <?php
 foreach ($this->entries as $rslt) 
 { 
  ?>   

  <div id="reject_<?php echo $rslt->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
       <form class="form-horizontal" method="post" action="/sms/senderid/approval" style="   margin-bottom:0px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
              <div class="form-group row">
                <label class="col-md-3 control-label">Reason</label>
                <div class="col-md-8 ">
                <input type="hidden" name="id" value="<?php echo $rslt->id; ?>">
                <select style="width: 90%;"  name="remark" required="required" class="form-control select2" >
              <option value="">SELECT</option>
              <option value="Blacklisted Sender ID">Blacklisted Sender ID</option>
              <option value="Fake User">Fake User</option>
              <option value="Fake Sender ID">Fake Sender ID</option>
              <option value="Document Not Valid">Document Not Valid</option>
              <option value="Duplicate Sender ID">Duplicate Sender ID</option>
              <option value="National Threat">National Threat</option>
              <option value="Operator Rejection">Operator Rejection</option>
              <option value="Others">Others</option>
            </select> 
                  </div>
              </div>
            </div><!-- end col -->
    </div> 
    </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary"  value="Reject" name="Rejected"  />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
</div>
</div>
<div id="approval_<?php echo $rslt->id; ?>" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
     <form class="form-horizontal" method="post" action="/sms/senderid/approval" style="   margin-bottom:0px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title"></h4>
      </div>   
      <div class="modal-body">
      <div class="row">
            <div class="col-lg-12">
              <div class="form-group row">
                <label class="col-md-3 control-label">Remarks</label>
                <div class="col-md-8 ">
                <input type="hidden" name="id" value="<?php echo $rslt->id; ?>">
                 <textarea class="form-control"  rows="10" name="remark"></textarea>
                  </div>
              </div>
            </div><!-- end col -->

    </div> 
    </div>
     <div class="modal-footer">
      <input type="submit" class="btn btn-primary"  value="Approve" name="approved"  />
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>

  </form>
</div>
</div>
</div>
<?php } ?>



