<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-box">
        <h4 class="header-title m-t-0 m-b-30"></h4>
        <?php 
        if ($this->success) {
         echo '<div class="alert alert-success" role="alert" align=center>';

         echo $this->success['license']['isCreated'] ;

         echo '</div>';
       }
       if ($this->errors) {
         echo '<div class="alert alert-danger" role="alert" align=center>';
         //
         if (isset($this->errors['selectUserName']['isEmpty'])) {
          echo 'User name is required';
        }elseif (isset($this->errors['license']['isFailed'])) {

          echo $this->errors['license']['isFailed'] ;
        }
        elseif (isset($this->errors['serverIP']['notDigits'])) {

          echo $this->errors['serverIP']['notDigits'] ;
        }
        else{
          print_r($this->errors);
        }
        echo '</div>';
      } 

      ?>
        <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="/system/license/create" id ="SmsComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">
          <div class="row" style="margin-bottom: 2%;">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-md-4 control-label">User Name</label>
                <div class="col-md-8">
                  <?php echo $this->form->selectUserName; ?>
                </div>
              </div>
            </div><!-- end col -->
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-md-4 control-label">Company Name</label>
                <div class="col-md-8 ">
                  <?php echo $this->form->companyName ;?>
                </div>
              </div>
            </div><!-- end col -->
          </div><!-- end row1 -->
          <div class="row" style="margin-bottom: 2%;">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-md-4 control-label">Server IP</label>
                <div class="col-md-8">
                  <?php echo $this->form->serverIP; ?>
                </div>
              </div>
            </div><!-- end col -->
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-md-4 control-label">Validity</label>
               <div class="col-md-8">
                  <input class="form-control" name="validity" placeholder="yyyy/mm/dd" value="<?php echo $this->date;?>" id="datepicker-autoclose" type="text">
                </div>
              </div>
            </div><!-- end col -->
          </div><!-- end row2 -->
          
          
          <div class="row" style="margin-bottom: 2%;">
            <div class="col-lg-12">
              <div class="form-group">
                <center>
                  <?php echo $this->form->submit; ?>
                </center>
              </div>
            </div><!-- end col -->
          </div><!-- end row5 -->
          
        </form><!-- end form -->
      </div>
    </div><!-- end col -->
  </div><!-- end row -->
</div> <!-- container -->

<script>
 
  function templateMsg(template) {
    $("#text").val(template);
  }

</script>