<style >
  .btn-round {
    border-radius: 50%;
    -webkit-border-radius: 30px;
}
.btn-default {
    color: #39A9E6;
    }

</style>


<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <?php 
          if ($this->errors) {
        echo '<div class="alert alert-danger" role="alert" align=center>';
          print_r($this->errors);
          
        echo '</div>';
        } 
        if ($this->Success) {
        echo '<div class="alert alert-success" role="alert" align=center>';
            if (isset($this->Success)) {
              echo $this->Success['Manage']['status'];
            }
          echo '</div';
        }
          ?>
      </header>
      <div class="panel-body">
      </br>

      <div class="row">
       <div class="col-lg-12">
        <div class="card-box">
          <div class="dropdown pull-right">

            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Company</a></li>
              <li><a href="#">Server IP</a></li>
              <li><a href="#">Machine Id</a></li>
              <li><a href="#">Validity</a></li>
              <li><a href="#">Status</a></li>
              <li><a href="#">Manage</a></li>
            </ul>
          </div>


          <table class="table table-bordered m-0">

            <thead>
              <tr>
                <th style="text-align: center;">Id</th>
                <th style="text-align: center;">Company</th>
                <th style="text-align: center;">Server IP</th>
                <th style="text-align: center;">Machine Id</th>
                <th style="text-align: center;">Validity</th>
                <th style="text-align: center;">Status</th>
                <th style="text-align: center;">Manage</th>
              </tr>
            </thead>
            <tbody>
              <?php if (sizeof($this->entries) == 0): ?>
               <tr>
                <td colspan="7">No entries found</td>
              </tr>
            <?php else: ?>
              <?php $counter = 1;  $i=$this->pageIndex;
              foreach ($this->entries as $entry): ?>

                <tr class="gradeC">
                <td style="text-align: center;"><?php echo $i;?></td>
                  <td style="text-align: center;"><?php echo $entry->company; ?></td>
                  <td style="text-align: center;"><?php echo $entry->serverIp; ?></td>
                  <td style="text-align: center;"><?php echo $entry->machineId; ?></td>
                  <td style="text-align: center;"><?php echo $entry->validity->format('d-m-Y'); ?></td>
                  <td style="text-align: center;">
                   <form class="form-horizontal" method="post" action="/system/license/view" style="   margin-bottom:0px">
                    <input type="hidden" name="uniqId" value="<?php echo $entry->id; ?>">
                      <?php if($entry->status==1){?><button class="btn btn-rounded  btn-primary" type="submit" name="block" style="cursor: default; width:60%;">Block</button>
                      <?php }
                      else {?><button class="btn btn-rounded  btn-danger" type="submit" name="unblock" style="cursor: default; width:60%;">Unblock</button>
                      <?php }?>
                    </form>
                  </td>
                  <td style="text-align: center;">
                   <a href="#delete_<?php echo $entry->id; ?>" class="btn btn-round  btn-default" data-backdrop="static" data-toggle="modal" data-placement="right" data-original-title="Approval"><i class="fa fa-trash"></i></a>
                   <a href="#edit_<?php echo $entry->id; ?>" class="btn btn-round  btn-default" data-backdrop="static" data-toggle="modal" data-placement="right" data-original-title="Approval"><i class="fa fa-edit"></i></a>                 
                  </td>

                </tr>
              <?php $i++; endforeach; ?>
            <?php endif; ?>


          </tbody>
        </table>

      </div>
    </div>


  </div>    

  <?php echo $this->paginationControl($this->entries, 'sliding', 'paginationLicenseView.phtml'); ?>                
</section>

</div>
</div>
<?php
 foreach ($this->entries as $entry) 
 { 
  ?>   

  <div id="edit_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
       <form class="form-horizontal" method="post" action="/system/license/view" style="   margin-bottom:0px">
        <div class="modal-header">
          <h4 class="modal-title">EDIT LICENSE</h4>
        </div>
        <input type="hidden" name="uniqId" value="<?php echo $entry->id; ?>">
        <div class="row" style="margin-bottom: 2%; margin-top: 5%;">
            <div class="col-lg-10">
              <div class="form-group">
                <label class="col-md-4 control-label">Server IP</label>
                <div class="col-md-8">
                  <input class="form-control" value="<?php echo $entry->serverIp; ?>" name="serverIP" type="text">
                </div>
              </div>
            </div><!-- end col -->
            
          </div><!-- end row2 -->
          <div class="row" style="margin-bottom: 2%; margin-top: 2%;">
            <div class="col-lg-10">
              <div class="form-group">
                <label class="col-md-4 control-label">Validity</label>
               <div class="col-md-8">
                  <input class="form-control datepicker-autoAlbert" name="validity" placeholder="yyyy/mm/dd" value="<?php echo $entry->validity->format('Y-m-d');?>" type="text">
                </div>
              </div>
            </div><!-- end col -->
          </div><!-- end row2 -->
      <div class="modal-footer">
        <input type="submit" class="btn  btn-primary"  value="Update" name="edit"  />
          <button type="button" class="btn  btn-danger" data-dismiss="modal">No, cancel!</button>
      </div>
    </form>
    </div>
</div>
</div>
<div id="delete_<?php echo $entry->id; ?>" class="modal fade" role="dialog" style="margin-top: 10%;">
  <div class="modal-dialog">
    <div class="modal-content">
     <form class="form-horizontal" method="post" action="/system/license/view" style="   margin-bottom:0px">  
      <div class="modal-body" style="padding-bottom: 15%; text-align: center;">
        <div class="row" style="margin-top: 10%;">
        <h3><b>Are you sure?</b></h3>
        <p><h5>You won't be able to revert this!</h5></p>
        </div>
        <div class="row">
          <input type="hidden" name="uniqId" value="<?php echo $entry->id; ?>">
          <div class="form-group col-lg-12" >
          <input type="submit" class="btn  btn-primary"  value="Yes, delete it!" name="delete"  />
          <button type="button" class="btn  btn-danger" data-dismiss="modal">No, cancel!</button>
        </div>
       </div>
     </div>
      
  </form>
</div>
</div>
</div>
<?php } ?>