 <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                   

                        			<h4 class="header-title m-t-0 m-b-30"></h4>
  
  <?php 
        if ($this->Success) {
         echo '<div class="alert alert-success" role="alert" align=center>';

         echo $this->Success['API']['Message'];

         echo '</div>';
       }
       if ($this->errors) {
         echo '<div class="alert alert-danger" role="alert" align=center>';
         //
         if (isset($this->errors['API']['Message'])) {
          echo $this->errors['API']['Message'];
        }
        else{
          print_r($this->errors);
        }
        echo '</div>';
      } 

      ?>

      <div class="row-fluid">
        <div class="span12">
         <div class="span10">
         </div>
          <div class="span2" style="text-align: right;">

            <form   method="post" action="/user/dev/index" >
              <input type="hidden" id="counter_val" name="user"  value="<?php echo $this->userId;?>">
              <button name="submit" type="submit" class="btn btn-primary"  value="generate" >Generate My Key</button>
              <a href="/user/dev/index" class="btn  btn-primary"data-backdrop="static" data-toggle="modal" data-placement="right" data-originaltitle="Refresh"><span class="fa fa-refresh"></span></a>

            </form>
          </div>
        </div>
      </div>
      <br>

          <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">

            <thead>
              <tr>
                <th class="" style="text-align:center">Id</th>
                <th class="" style="text-align:center">Authentication Key</th>
                <th class="" style="text-align:center">Created Date</th>
                <th class="" style="text-align:center">Updated Date</th>
                <th class="" style="text-align:center">Add IP</th>
                <th class="" style="text-align:center">Regenerate</th>
                <th class="" style="text-align:center">Delete</th>
              </tr>
            </thead>
            <tbody>
            <?php 
              $i=1;
              $j=0;?>

              <?php foreach ($this->apiRepo as $rslt): 
               $j++;
              ?>

              <tr>
               <form  name="formManage_<?php echo $rslt['id'];?>" id="formManage_<?php echo $rslt['id'];?>" enctype="<?php echo $this->form->getEnctype(); ?>" class="form-horizontal" method="post" action="/user/dev/index" >
                <td><?php  echo $j; ?></td>
                <td><?php echo $rslt['api_key']; ?></td>
                <td>
                    <?php 
                    $createdDate = date("d-m-Y H:i:s", strtotime($rslt['created_date']));
                    echo $createdDate;?></td>
                <td>
                    <?php 
                    $updatedDate = date("d-m-Y H:i:s", strtotime($rslt['updated_date']));
                    echo $updatedDate;?></td>
                <td>
                   
                    <input type="hidden" name="apiId" value="<?php echo $rslt['id'];?>">
                    <a href="#myIps_<?php echo $rslt['id'];?>" class="btn btn-sm btn-primary"data-backdrop="static" data-toggle="modal" data-placement="right" data-originaltitle="Add IP"><span>Add IP</span></a>
                </td>
                <td>
  				<a href="#regen_<?php echo $rslt['id']; ?>" class="btn btn-sm btn-primary" data-backdrop="static" data-toggle="modal" data-placement="right" data-original-title="Approval">Regenerate</a>
               </td>
                <td>  
                  <a href="#del_<?php echo $rslt['id']; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Delete</a>  
                </td> 

                </form>  
              </tr>
            <?php $i++; endforeach; ?>
          
        </tbody>
      </table>
</div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->
<?php foreach ($this->apiRepo as $rslt):?>
 <div id="del_<?php echo $rslt['id']; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/user/dev/index">
        <input type="hidden" name="apiId" value="<?php echo $rslt['id'];?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to delete ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Delete" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>      

<div id="regen_<?php echo $rslt['id']; ?>" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/user/dev/index">
        <input type="hidden" name="apiId" value="<?php echo $rslt['id'];?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to regenerate api-key ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Regenerate" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>


  <div class="modal fade" role="dialog"  aria-labelledby="myModalLabel3" tabindex="-1" aria-hidden="true"  id="myIps_<?php echo $rslt['id']; ?>" > 
   <form  enctype="<?php echo $this->form->getEnctype(); ?>" class="form-horizontal" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" > 
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <h2></h2>
      </div>
      <div class="modal-body">
        <input type="hidden" name="apiId" value="<?php echo $rslt['id'];?>">
        <div id="dynamicDiv_<?php echo $rslt['id']; ?>">
         <?php
         $string = $rslt['ip'];
         $tags = explode(',',$string);
         $i=0;
         foreach($tags as $key) {
           $i++; 
           ?>
           <div id="dynamicInput_<?php echo $rslt['id']; ?>">
             <div class="form-group row">
              <label class="col-md-3 control-label">Enter IP <?php echo $i;?></label>
              <div class="col-md-8">
                <input type="text" class="form-control" name="myInputs[]" value="<?php echo $key;?>" id="input_id">
              </div>
            </div> 
          </div>
          <?php
        }
        ?>
      </div>
      <input type="hidden" id="counter_val"  value="<?php echo $i;?>">
      <div class="control-group" style="text-align: center; padding-top: 20px;">
        <div class="controls" >
         <button type="button" onClick="addInput('dynamicDiv_<?php echo $rslt['id']; ?>');" class="btn btn-primary ">Add another IP</button>
       </div>
     </div> 
       </div>
       <div class="modal-footer">
        <div class="control-group" style="margin-left: 0px; text-align: center;">
          <div class="controls">
            <button class="btn btn-medium btn-primary" name="submit" value="addIP" type="submit">Save</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      </div>
    </div>
</form>
</div>
  <?php endforeach; ?>
<script>
  function addInput(divName){
    var counter = 1;
    var limit = 5;
    var counterval = document.getElementById('counter_val').value;
    var inputFormDiv = document.getElementById(divName);
    var inputVal = document.getElementById('input_id').value;
    counter =  inputFormDiv.getElementsByTagName('input').length;
    if (counter == limit) {
      alert("You have reached the limit of adding" + counter + " IP's");
    }
    else {
      var nxtCount = counter+1;
      var mydiv='  <label class="col-md-4 control-label">Enter IP '+ nxtCount+'</label><div class="col-md-4" ><input class="form-control" type="text" name="myInputs[]"></div>   ';
      var newdiv = document.createElement('div');
      newdiv.className = 'form-group';
      newdiv.style.textAlign = 'center';
      newdiv.innerHTML = mydiv;
      document.getElementById(divName).appendChild(newdiv);
      counter++;
    }
  }      
</script>
