    <script src="/api/js/typekit.js"></script>
    <script>try {
            Typekit.load({async: true});
        } catch (e) {
        }</script>

	<div id="menuColumn">
		<ul id="mainMenu">
			<li class="hasSubMenu first"><a href="#">Overview</a>
				<ul class="subMenu">
					<li><a href="/user/dev/smsdoc"  class="active">API Introduction</a></li>
					<li class="last"><a href="info">Helpful Information</a></li>
				</ul>
			</li>

			<li class="hasSubMenu"><a href="#">Send SMS</a>
				<ul class="subMenu">
					<li><a href="/user/dev/smssend">Send SMS</a></li>
					<li><a href="/user/dev/smsunicode">Send Unicode SMS</a></li>
					<li><a href="/user/dev/smsdynamic">Send Dynamic SMS</a></li>
					<li><a href="/user/dev/smsscheduled">Send Scheduled SMS</a></li>
					<li><a href="/user/dev/smsgroup">Send Group SMS</a></li>
				</ul>
			</li>
			<li class="hasSubMenu"><a href="#">Scheduled Campaigns</a>
				<ul class="subMenu">
					<li><a href="/user/dev/smscampaigns">Get Scheduled Campaigns</a></li>
					<li><a href="/user/dev/smscancel">Cancel Scheduled Campaigns</a></li>
				</ul>
			</li>
			<li class="hasSubMenu"><a href="#">Delivery Receipts</a>
				<ul class="subMenu">
					<li><a href="/user/dev/smsdelivery">Delivery Receipts</a></li>
					<li><a href="/user/dev/allsmsdelivery">All Delivery Reports</a></li>
				</ul>
			</li>		
			<li><a href="/user/dev/smscredit">Credit Check</a></li>
			<li><a href="/user/dev/smsleads">Get Campaign Leads</a></li>
		</ul>
	</div>	<div id="pageContainer">
		<div id="pageContent">
			<h1><?php echo $this->head; ?></h1>
			<p>With your <?php echo $this->header; ?> account you have instant access to our API, this enables you to easily integrate our SMS services with your website, software or CRM application in PHP, ASP, .NET, Java or any other language.</p>
			<p class="alert caution"><strong>Caution:</strong> <?php echo $this->header; ?> cannot recover any information that is deleted through our API. Please make sure that all API calls contain values that are <strong>checked first</strong>.</p>

			<h2>Parameters</h2>
			<p>Every API request supports the following parameters. </p>
			<div class="paramsTableContainer">
				<table>
					<tr class="first">
                        <th>apikey</th>
                        <td>You can create these in your API Manager (<a href="http://<?php echo $this->domain; ?>/user/dev/index" target="_blank">click here</a>) for each application, and limit the usage of them by host IP Address.<br>
						The apikey value can be send as a normal parameter or by HTTP Header <strong>X-Authentication-Key</strong></td>
					</tr>
					
                    <tr>
						<th>method</th>
						<td>The method is used to identify the action for the request.<br>
						The method can be send as a normal parameter or by HTTP Header <strong>X-Api-Method</strong></td>
                    </tr>
					<tr class="informRow">
						<td colspan="2">Optional Parameters</td>
					</tr>
					<tr>
						<th>format</th>
						<td>Format of the response. May be either <strong>json</strong> or <strong>xml</strong>. If not provided, defaults to <strong>serialized-php</strong>.</td>
					</tr>
				</table>
			</div>

			<h2>Requests</h2>
			<p>All API requests should be sent to <strong>http://<?php echo $this->domain;?>/api/sms/{command}</strong>, where command is the API call you wish to execute, with the parameters included either in the <strong>POST Header</strong> or the <strong>URL (GET)</strong>.</p>

			<p class="alert note"><strong>Note:</strong> If using either <strong>GET</strong> or <strong>POST</strong>, sms message sent should be URL encoded. For PHP, this is achieved with wrapping the variable with <span class="codeFormat">urlencode()</span> or <span class="codeFormat">Server.UrlEncode()</span> with ASP.</p>

			<h2>Responses</h2>
			<p>Responses are, by default, sent in <strong>SERIALIZED-PHP</strong> format. However, this can be changed to <strong>XML</strong> or <strong>JSON</strong> with the <span class="codeFormat">format</span> parameter.<br />Every response will contain a &quot;status&quot; or &quot;error&quot; field, and a &quot;data&quot; field ,which can contain either &quot;success&quot; or &quot;failure&quot; message. The &quot;status&quot; or &quot;error&quot; field can be used to determine whether your request was successful or not.</p>

			<h2>Errors</h2>
			<p>If there’s a problem with your request, our API may return &quot;errors&quot; in its response. These codes can be found in the <span class="codeFormat">errors</span> field. For example, the following response indicates that the specified method is unrecognised:</p>
			<div class="tabbedPickerContainer" sample-type="response"><div class="btn-group"><button class="btn active" tab-type="JSON">JSON</button><button class="btn" tab-type="XML">XML</button></div><pre class="prettyprint linenums"tabbed-type="JSON" style="display: block;">
	{
	"error":"ERR4051",
	"data":{
		"message":"Api Method Not Allowed"
		}
	}
			</pre><pre class="prettyprint linenums"tabbed-type="XML">&lt;?xml version="1.0" encoding="UTF-8" ?&gt;
&lt;response&gt;
  &lt;error>ERR4051&lt;/error&gt;
  &lt;data&gt;
    &lt;message>Api Method Not Allowed&lt;/message&gt;
  &lt;/data&gt;
&lt;/response&gt;</pre></div>
			<div class="paramsTableContainer">
				<table>
					<tr class="informRow first">
						<td colspan="2">Error Codes</td>
					</tr>
					<tr>
						<th>ERR4051</th>
						<td>Api Method Not Allowed.</td>
					</tr>
					<tr>
						<th>ERR4010</th>
						<td>Unauthorized Or Invalid Key.</td>
					</tr>
					<tr>
						<th>ERR2060</th>
						<td>Partial Content or Invalid fields.</td>
					</tr>
				</table>
			</div>

			<p class="alert note"><strong>Note:</strong> Errors are fatal and <strong>will always</strong> result in a &quot;failure&quot; status.</p>
	</div>
	</div>	<script src="/api/js/prettify.js"></script>
	
