<div class="row">
    <div class="col-sm-12">
      <div class="card-box">
        <h4 class="header-title m-t-0 m-b-30"></h4>
        
              <?php 
              if ($this->errors) {
                echo '<div class="alert alert-danger" role="alert" align=center>';
                echo $this->errors['Api']['isFailed'];
                echo '</div>';
            }elseif($this->success) {
                echo '<div class="alert alert-success" role="alert" align=center>';
                if (isset($this->success)) {
                    echo $this->success['Api']['isSuccess'];
                }
                echo '</div';
            }
            ?>

                <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="CreateSmppForm" class="<?php echo $this->form->getAttrib('class'); ?>">
 			<div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-md-3 control-label">API Route</label>
                <div class="col-md-8 ">
                  <?php echo $this->form->type; ?>
                </div>
              </div>
            </div><!-- end col -->
			</div>
 					
 			<div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-md-3 control-label">Route</label>
                <div class="col-md-8 ">
                  <?php echo $this->form->smsType; ?>
                </div>
              </div>
            </div><!-- end col -->
			</div>                                                   
 			  			        
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <center>
                  <?php echo $this->form->submit; ?>
                </center>
              </div>
            </div><!-- end col -->
          </div><!-- end row5 -->
                </form>
      </div>
    </div><!-- end col -->
        <div class="col-sm-12">
      <div class="card-box">
      <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">

            <thead>
              <tr>
                <th class="" style="text-align:center">API Route</th>
                <th class="" style="text-align:center">Route</th>
              </tr>
            </thead>
            <tbody>
            <tr class="gradeC">
             <td>TL</td>
             <td><?php echo $this->transType.' | '.$this->transName;?></td>
             </tr>
             <tr class="gradeC">
             <td>PL</td>
             <td><?php echo $this->promoType.' | '.$this->promoName;?></td>
             </tr>
             <tr class="gradeC">
             <td>SL</td>
             <td><?php echo $this->scrubType.' | '.$this->scrubName;?></td>
             </tr>
             <td>IL</td>
             <td><?php echo $this->interType.' | '.$this->interName;?></td>
             </tr>
             </tbody>
        </table>
      </div></div>
    
  </div><!-- end row -->