
	<div id="menuColumn">


		<ul id="mainMenu">
			<li class="hasSubMenu first"><a href="#">Overview</a>
				<ul class="subMenu">
					<li><a href="/user/dev/voicedoc">API Introduction</a></li>
					<li class="last"><a href="info">Helpful Information</a></li>
				</ul>
			</li>

			<li class="hasSubMenu"><a href="#">Send Voice</a>
				<ul class="subMenu">
					<li><a href="/user/dev/voicesend">Send Voice</a></li>
					<li><a href="/user/dev/voicetext">Send Text2Speech Voice</a></li>
					<li><a href="/user/dev/voicedynamic">Send Dynamic Voice</a></li>
					<li><a href="/user/dev/voicescheduled">Send Scheduled Voice</a></li>
					<li><a href="/user/dev/voicegroup">Send Group Voice</a></li>
				</ul>
			</li>
			<li class="hasSubMenu"><a href="#">Scheduled Campaigns</a>
				<ul class="subMenu">
					<li><a href="/user/dev/voicecampaigns">Get Scheduled Campaigns</a></li>
					<li><a href="/user/dev/voicecancel">Cancel Scheduled Campaigns</a></li>
				</ul>
			</li>
			<li><a href="/user/dev/voicedelivery">Delivery Receipts</a></li>		
			<li><a href="/user/dev/voicecredit" class="active">Credit Check</a></li>
			<li><a href="/user/dev/voiceleads">Get Campaign Leads</a></li>
		</ul>
	</div>	<div id="pageContainer">
		<div id="pageContent">
			<h1>Credit Check</h1>
			<p>This command can be used to get the balance credits of corresponding route.</p>

			<h2>Resource URL</h2>
			<p class="codeFormat important">http://<?php echo $this->domain; ?>/api/voice/</p>
			<p class="codeFormat important">X-Api-Method = GET</p>

			<h2 id="samplerequest">Sample Request</h2>
			
<div class="languageSelect">
	Select Language
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			PHP <span class="caret"></span></a>
		<ul class="dropdown-menu pull-right">
			<li><a href="#asp">ASP</a></li>
            <li><a href="#aspnet">ASP.NET</a></li>
            <li><a href="#csharp">C#</a></li>
			<li><a href="#delphi">Delphi</a></li>
			<li><a href="#java">Java</a></li>
			<li><a href="#perl">Perl</a></li>
			<li class="disabled"><a href="#php">PHP</a></li>
			<li><a href="#python">Python</a></li>
			<li><a href="#ruby">Ruby</a></li>
			<li><a href="#vba">VBA</a></li>
			<li><a href="#vbnet">VB.NET</a></li>
		</ul>
	</div>
</div>			<div class="tabbedPickerContainer" sample-type="request"><div class="btn-group"><button class="btn active" tab-type="POST">POST</button><button class="btn" tab-type="GET">GET</button></div><pre class="prettyprint linenums"tabbed-type="POST" style="display: block;">&lt;?php
	
        $curl = curl_init();

        // Send the POST request with cURL
        curl_setopt_array($curl, array(
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/voice/format/xml",
        CURLOPT_POST => 1,
        CURLOPT_CUSTOMREQUEST => 'POST',
        CURLOPT_HTTPHEADER => array('X-Authentication-Key:<?php echo $this->defaultKey; ?>', 'X-Api-Method:GET'),
        CURLOPT_POSTFIELDS => array(
                        'route' => 'TL',
                        )));

    // Send the request & save response to $response
    $response = curl_exec($curl);

    // Close request to clear up some resources
    curl_close($curl);

    // Print response
    print_r($response);
?&gt;</pre><pre class="prettyprint linenums"tabbed-type="GET">


	// Send the GET request without cURL using web-browser
	http://<?php echo $this->domain; ?>/api/voice/format/xml/key/<?php echo $this->defaultKey; ?>/method/GET/route/TL
	
	OR
	
	http://<?php echo $this->domain; ?>/api/voice?format=xml&key=<?php echo $this->defaultKey; ?>&method=GET&route=TL
	
&lt;?php

    
	$url = 'http://<?php echo $this->domain; ?>/api/voice/format/xml/key/<?php echo $this->defaultKey; ?>/method/GET/route/TL';
	
	// Send the GET request with cURL
	$curl = curl_init("$url");
	
	curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
	$response = curl_exec($curl);
	
	// Close request to clear up some resources
    curl_close($curl);
	
	// Print response
    print_r($response);
?&gt;</pre></div>

			<h2>Parameters</h2>
			<div class="paramsTableContainer">
				<table class="paramsTable">
					<tr class="first">
						<th>route</th>
                          <td>Use this field to specify the route. ie TL for Transactional, PL for Promotional and SL for Trans-Scrub</td>
					</tr>
					
					
    <tr class="informRow">
        <td colspan="2">Login and method Parameters
            <small>(<a href="index.html">Additional Information</a>)</small>
        </td>
    </tr>
            <tr>
                        <th>apikey</th>
                        <td>You can create these in your API Manager (<a href="http://<?php echo $this->domain; ?>/user/dev/index" target="_blank">click here</a>) for each application, and limit the usage of them by host IP Address.<br>
						The apikey value can be send as a normal parameter or by HTTP Header <strong>X-Authentication-Key</strong></td>
					</tr>
        <tr>
						<th>method</th>
						<td>The method is used to identify the action for the request.<br>
						The method can be send as a normal parameter or by HTTP Header <strong>X-Api-Method</strong><br>
						<strong>GET</strong> is the api method used for get the credits of corresponding route</td>
                    </tr>
					<tr class="informRow">
						<td colspan="2">Optional Parameters</td>
					</tr>
                    <tr>
                        <th>format</th>
                        <td>
                        For JSON response send as format/json and for XML as format/xml
                        </td>
                    </tr>
				</table>
			</div>
			
			<h2>Sample Response</h2>
			<div class="tabbedPickerContainer" sample-type="response"><div class="btn-group"><button class="btn active" tab-type="JSON">JSON</button><button class="btn" tab-type="XML">XML</button></div><pre class="prettyprint linenums"tabbed-type="JSON" style="display: block;">
{
"status":"GET",
"data":{
	"status":"success",
	"route":"TL",
	"web":"12541484",
	"api":"7278582",
	}
}
</pre><pre class="prettyprint linenums"tabbed-type="XML">&lt;?xml version="1.0" encoding="UTF-8" ?&gt;
&lt;response&gt;
  &lt;status&gt;GET&lt;/status&gt;
  &lt;data&gt;
    &lt;status&gt;success&lt;/status&gt;
    &lt;route&gt;TL&lt;/route&gt;
    &lt;web&gt;12541484&lt;/web&gt;
    &lt;api&gt;7278582&lt;/api&gt;
  &lt;/data&gt;
&lt;/response&gt;</pre></div>
			<h2>Errors</h2>
			<div class="paramsTableContainer">
				<table>
					<tr class="informRow first">
						<td colspan="2">Error Codes</td>
					</tr>
					<tr>
						<th>ERR4220</th>
						<td>Route Mapping Failed.</td>
					</tr>
					<tr>
						<th>ERR4510</th>
						<td>Ip Not Accepted.</td>
					</tr>
					<tr>
						<th>ERR4010</th>
						<td>Unauthorized Or Invalid Key.</td>
					</tr>
					<tr>
						<th>ERR2060</th>
						<td>Partial Content or Invalid fields.</td>
					</tr>
					<tr>
						<th>ERR4051</th>
						<td>Api Method Not Allowed.</td>
					</tr>
					<tr>
						<th>ERR4052</th>
						<td>HTTP Method Not Allowed.</td>
					</tr>
					
									</table>
			</div>

		</div>
	</div>	<script src="/api/js/prettify.js"></script>
