<div class="content-wrapper">
  <?php 
              if ($this->errors) {
                echo '<div class="alert alert-danger" role="alert" align=center>';
                echo $this->errors['Api']['isFailed'];
                echo '</div>';
            }elseif($this->success) {
                echo '<div class="alert alert-success" role="alert" align=center>';
                if (isset($this->success)) {
                    echo $this->success['Api']['isSuccess'];
                }
                echo '</div>';
            }
            ?>
  <div class="card">
    <div class="card-body">
 <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="CreateSmppForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>API</label>
                      <?php echo $this->form->type; ?>
                    </div>
                    <div class="form-group">
                      <label>Route</label>
                      <?php echo $this->form->smsType; ?>
                    </div>
  
                    <button id="send" type="submit" class="btn btn-primary mr-2">Submit</button>
</form> 
</div>
  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                  <thead>
              <tr>
                <th>API</th>
                <th>Route</th>
              </tr>
            </thead>
            <tbody>
            <tr class="gradeC">
             <td>TL</td>
             <td><?php echo $this->transType.' | '.$this->transName;?></td>
             </tr>
             <tr class="gradeC">
             <td>PL</td>
             <td><?php echo $this->promoType.' | '.$this->promoName;?></td>
             </tr>
             <tr class="gradeC">
             <td>SL</td>
             <td><?php echo $this->scrubType.' | '.$this->scrubName;?></td>
             </tr>
             <td>IL</td>
             <td><?php echo $this->interType.' | '.$this->interName;?></td>
             </tr>
             </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->