
	<div id="menuColumn">

		<ul id="mainMenu">
			<li class="hasSubMenu first"><a href="#">Overview</a>
				<ul class="subMenu">
					<li><a href="/user/dev/voicedoc">API Introduction</a></li>
					<li class="last"><a href="info">Helpful Information</a></li>
				</ul>
			</li>

			<li class="hasSubMenu"><a href="#">Send Voice</a>
				<ul class="subMenu">
					<li><a href="/user/dev/voicesend">Send Voice</a></li>
					<li><a href="/user/dev/voicetext">Send Text2Speech Voice</a></li>
					<li><a href="/user/dev/voicedynamic">Send Dynamic Voice</a></li>
					<li><a href="/user/dev/voicescheduled" class="active">Send Scheduled Voice</a></li>
					<li><a href="/user/dev/voicegroup">Send Group Voice</a></li>
				</ul>
			</li>
			<li class="hasSubMenu"><a href="#">Scheduled Campaigns</a>
				<ul class="subMenu">
					<li><a href="/user/dev/voicecampaigns">Get Scheduled Campaigns</a></li>
					<li><a href="/user/dev/voicecancel">Cancel Scheduled Campaigns</a></li>
				</ul>
			</li>
			<li><a href="/user/dev/voicedelivery">Delivery Receipts</a></li>
			<li><a href="/user/dev/voicecredit">Credit Check</a></li>	
			<li><a href="/user/dev/voiceleads">Get Campaign Leads</a></li>	
		</ul>
	</div>	<div id="pageContainer">
		<div id="pageContent">
			<h1>Send Scheduled Voice</h1>
			<p>This command can be used to schedule voice messages with or without dynamic content to either single or bulk numbers.</p>
		
			<h2>Resource URL</h2>
			<p class="codeFormat important">http://<?php echo $this->domain; ?>/api/voice/</p>
			<p class="codeFormat important">X-Api-Method = MT</p>

			<h2 id="samplerequest">Sample Request</h2>
			
<div class="languageSelect">
	Select Language
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			PHP <span class="caret"></span></a>
		<ul class="dropdown-menu pull-right">
			<li><a href="#asp">ASP</a></li>
            <li><a href="#aspnet">ASP.NET</a></li>
            <li><a href="#csharp">C#</a></li>
			<li><a href="#delphi">Delphi</a></li>
			<li><a href="#java">Java</a></li>
			<li><a href="#perl">Perl</a></li>
			<li class="disabled"><a href="#php">PHP</a></li>
			<li><a href="#python">Python</a></li>
			<li><a href="#ruby">Ruby</a></li>
			<li><a href="#vba">VBA</a></li>
			<li><a href="#vbnet">VB.NET</a></li>
		</ul>
	</div>
</div>			<div class="tabbedPickerContainer" sample-type="request"><div class="btn-group"><button class="btn active" tab-type="POST">POST</button><button class="btn" tab-type="GET">GET</button></div><pre class="prettyprint linenums"tabbed-type="POST" style="display: block;">&lt;?php
	//voice file
        $file = '/home/user/sample.mp3';

	if (function_exists('curl_file_create')) { 
		$curlFile = curl_file_create($file);
	} else {  
		$curlFile = '@' . realpath($file);
	}

        $curl = curl_init();

        // Send the POST request with cURL
        curl_setopt_array($curl, array(
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/voice/format/xml",
        CURLOPT_POST => 1,
        CURLOPT_CUSTOMREQUEST => 'POST',
        CURLOPT_HTTPHEADER => array('X-Authentication-Key:<?php echo $this->defaultKey; ?>', 'X-Api-Method:MT'),
        CURLOPT_POSTFIELDS => array(
                        'mobile' => '1234567890,0987654321',
                        'route' => 'TL',
                        'file' => $curlFile,
                        'duration' => '30',
                        'schedule' => '2018-12-08 10:35',
                        'sender' => '9895000000')));

    // Send the request & save response to $response
    $response = curl_exec($curl);

    // Close request to clear up some resources
    curl_close($curl);

    // Print response
    print_r($response);
?&gt;</pre><pre class="prettyprint linenums"tabbed-type="GET">

	// GET method is not allowed to send voice file please use POST method

?&gt;</pre></div>

			<h2>Parameters</h2>
			<div class="paramsTableContainer">
				<table class="paramsTable">
					<tr class="first">
						<th>sender</th>
                                                <td>Use this field to specify the sender-id for your message. This must be at 6 characters in length, alphanumeric characters. In PL route this field is not required</td>
					</tr>
					<tr>
						<th>mobile</th>
                                                <td>Use this field to specify the destination mobile numbers. Each number should be 10 digits and comma seperated </td>
					</tr>
					<tr>
						<th>route</th>
                                                <td>Use this field to specify the route for your message. ie TL for Transactional, PL for Promotional and SL for Trans-Scrub</td>
					</tr>
					<tr>
						<th>duration</th>
                                                <td>Use this field to specify the maximum call duration ie 30 seconds to 120 seconds</td>
					</tr>
					<tr>
						<th>schedule</th>
                                                <td>Use this field to specify the scheduled send date and time for your message. ie schedule/YYYY-MM-DD+HH:MM </td>
					</tr>
                    <tr>
                        <th>text</th>
                        <td>
                            The message content. This parameter should be no longer than 765 characters. See
                            <a href="helpfulinfo.html">Helpful Information</a> for message length details. The message
                            also must be URL Encoded to support symbols like &amp;.
                        </td>
                    </tr>
					
    <tr class="informRow">
        <td colspan="2">Login and method Parameters
            <small>(<a href="index.html">Additional Information</a>)</small>
        </td>
    </tr>
            <tr>
                        <th>apikey</th>
                        <td>You can create these in your API Manager (<a href="http://<?php echo $this->domain; ?>/user/dev/index" target="_blank">click here</a>) for each application, and limit the usage of them by host IP Address.<br>
						The apikey value can be send as a normal parameter or by HTTP Header <strong>X-Authentication-Key</strong></td>
					</tr>
        <tr>
						<th>method</th>
						<td>The method is used to identify the action for the request.<br>
						The method can be send as a normal parameter or by HTTP Header <strong>X-Api-Method</strong><br>
						<strong>MT</strong> is the api method used for sending voice</td>
                    </tr>
					<tr class="informRow">
						<td colspan="2">Optional Parameters</td>
					</tr>
                    <tr>
                        <th>format</th>
                        <td>
                        For JSON response send as format/json and for XML as format/xml
                        </td>
                    </tr>
				</table>
			</div>
			
			<h2>Sample Response</h2>
			<div class="tabbedPickerContainer" sample-type="response"><div class="btn-group"><button class="btn active" tab-type="JSON">JSON</button><button class="btn" tab-type="XML">XML</button></div><pre class="prettyprint linenums"tabbed-type="JSON" style="display: block;">
{
"status":"MT",
"data":{
	"status":"success",
	"campid":138,
	"leads":2,
	"duration":30,
	"date":"2018-12-08 10:35"
	}
}
</pre><pre class="prettyprint linenums"tabbed-type="XML">&lt;?xml version="1.0" encoding="UTF-8" ?&gt;
&lt;response>
  &lt;status&gt;MT&lt;/status&gt;
  &lt;data&gt;
    &lt;status&gt;success&lt;/status&gt;
    &lt;campid&gt;138&lt;/campid&gt;
    &lt;leads&gt;2&lt;/leads&gt;
    &lt;duration&gt;30&lt;/duration&gt;
    &lt;date&gt;2018-12-08 10:35&lt;/date&gt;
  &lt;/data&gt;
&lt;/response&gt;</pre></div>
			<h2>Errors</h2>
			<div class="paramsTableContainer">
				<table>
					<tr class="informRow first">
						<td colspan="2">Error Codes</td>
					</tr>
					<tr>
						<th>ERR4220</th>
						<td>Route Mapping Failed.</td>
					</tr>
					<tr>
						<th>ERR2061</th>
						<td>Invalid Scheduled Date or Time.</td>
					</tr>
					<tr>
						<th>ERR4020</th>
						<td>Insufficient Credit.</td>
					</tr>
					<tr>
						<th>ERR4091</th>
						<td>Senderid Not Allowed.</td>
					</tr>
					<tr>
						<th>ERR4093</th>
						<td>Audio Not Allowed.</td>
					</tr>
					<tr>
						<th>ERR4221</th>
						<td>Route Not Defined.</td>
					</tr>
					<tr>
						<th>ERR4092</th>
						<td>Senderid Is Invalid.</td>
					</tr>
					<tr>
						<th>ERR2062</th>
						<td>Contacts Is Invalid.</td>
					</tr>
					<tr>
						<th>ERR4510</th>
						<td>Ip Not Accepted.</td>
					</tr>
					<tr>
						<th>ERR4010</th>
						<td>Unauthorized Or Invalid Key.</td>
					</tr>
					<tr>
						<th>ERR2060</th>
						<td>Partial Content or Invalid fields.</td>
					</tr>
					<tr>
						<th>ERR4051</th>
						<td>Api Method Not Allowed.</td>
					</tr>
					<tr>
						<th>ERR4052</th>
						<td>HTTP Method Not Allowed.</td>
					</tr>
					
									</table>
			</div>

		</div>
	</div>	<script src="/api/js/prettify.js"></script>
