
	<div id="menuColumn">

		<ul id="mainMenu">
			<li class="hasSubMenu first"><a href="#">Overview</a>
				<ul class="subMenu">
					<li><a href="/user/dev/smsdoc">API Introduction</a></li>
					<li class="last"><a href="info">Helpful Information</a></li>
				</ul>
			</li>

			<li class="hasSubMenu"><a href="#">Send SMS</a>
				<ul class="subMenu">
					<li><a href="/user/dev/smssend">Send SMS</a></li>
					<li><a href="/user/dev/smsunicode">Send Unicode SMS</a></li>
					<li><a href="/user/dev/smsdynamic">Send Dynamic SMS</a></li>
					<li><a href="/user/dev/smsscheduled">Send Scheduled SMS</a></li>
					<li><a href="/user/dev/smsgroup">Send Group SMS</a></li>
				</ul>
			</li>
			<li class="hasSubMenu"><a href="#">Scheduled Campaigns</a>
				<ul class="subMenu">
					<li><a href="/user/dev/smscampaigns">Get Scheduled Campaigns</a></li>
					<li><a href="/user/dev/smscancel">Cancel Scheduled Campaigns</a></li>
				</ul>
			</li>
			<li class="hasSubMenu"><a href="#">Delivery Receipts</a>
				<ul class="subMenu">
					<li><a href="/user/dev/smsdelivery">Delivery Receipts</a></li>
					<li><a href="/user/dev/allsmsdelivery"  class="active">All Delivery Reports</a></li>
				</ul>
			</li>
					
			<li><a href="/user/dev/smscredit">Credit Check</a></li>
			<li><a href="/user/dev/smsleads">Get Campaign Leads</a></li>
		</ul>
	</div>	<div id="pageContainer">
		<div id="pageContent">
			<h1>All Delivery Receipts</h1>
			<p>This command can be used to get the delivery reports of all text messages at a specific duration of date.</p>

			<h2>Resource URL</h2>
			<p class="codeFormat important">http://<?php echo $this->domain; ?>/api/sms/</p>
			<p class="codeFormat important">X-Api-Method = DLR</p>

			<h2 id="samplerequest">Sample Request</h2>
			
<div class="languageSelect">
	Select Language
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			PHP <span class="caret"></span></a>
		<ul class="dropdown-menu pull-right">
			<li><a href="#asp">ASP</a></li>
            <li><a href="#aspnet">ASP.NET</a></li>
            <li><a href="#csharp">C#</a></li>
			<li><a href="#delphi">Delphi</a></li>
			<li><a href="#java">Java</a></li>
			<li><a href="#perl">Perl</a></li>
			<li class="disabled"><a href="#php">PHP</a></li>
			<li><a href="#python">Python</a></li>
			<li><a href="#ruby">Ruby</a></li>
			<li><a href="#vba">VBA</a></li>
			<li><a href="#vbnet">VB.NET</a></li>
		</ul>
	</div>
</div>			<div class="tabbedPickerContainer" sample-type="request"><div class="btn-group"><button class="btn active" tab-type="POST">POST</button><button class="btn" tab-type="GET">GET</button></div><pre class="prettyprint linenums"tabbed-type="POST" style="display: block;">&lt;?php
	
        $curl = curl_init();

        // Send the POST request with cURL
        curl_setopt_array($curl, array(
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/sms/format/xml",
        CURLOPT_POST => 1,
        CURLOPT_CUSTOMREQUEST => 'POST',
        CURLOPT_HTTPHEADER => array('X-Authentication-Key:<?php echo $this->defaultKey; ?>', 'X-Api-Method:DLR'),
        CURLOPT_POSTFIELDS => array(
                        'route' => 'TL',
                        'from' => '2018-12-08',
                        'to' => '2018-12-08',
                        'page' => '1'
                        )));

    // Send the request & save response to $response
    $response = curl_exec($curl);

    // Close request to clear up some resources
    curl_close($curl);

    // Print response
    print_r($response);
?&gt;</pre><pre class="prettyprint linenums"tabbed-type="GET">


	// Send the GET request without cURL using web-browser
	http://<?php echo $this->domain; ?>/api/sms/format/xml/key/<?php echo $this->defaultKey; ?>/method/DLR/route/TL/to/2018-12-08/from/2018-12-08/page/1
	
	OR
	
	http://<?php echo $this->domain; ?>/api/sms?format=xml&key=<?php echo $this->defaultKey; ?>&method=DLR&route=TL&to=2018-12-08&from=2018-12-08&page=1
	
&lt;?php

    
	$url = 'http://<?php echo $this->domain; ?>/api/sms/format/xml/key/<?php echo $this->defaultKey; ?>/method/DLR/route/TL/to/2018-12-08/from/2018-12-08/page/1';
	
	// Send the GET request with cURL
	$curl = curl_init("$url");
	
	curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
	$response = curl_exec($curl);
	
	// Close request to clear up some resources
    curl_close($curl);
	
	// Print response
    print_r($response);
?&gt;</pre></div>

			<h2>Parameters</h2>
			<div class="paramsTableContainer">
				<table class="paramsTable">
					<tr class="first">
						<th>route</th>
                           <td>Use this field to specify the route for your message. ie TL for Transactional, PL for Promotional, SL for Trans-Scrub and IL for International.</td>
					</tr>
					<tr>
						<th>from</th>
                           <td>Use this field to specify the FROM date when the whole report is requested.</td>
					</tr>
					<tr>
						<th>to</th>
                           <td>Use this field to specify the TO date when the whole report is requested.</td>
					</tr>
					<tr>
						<th>page</th>
                           <td>Use this field to specify the page number of the generated reports.It is required only if the total pages is more than 1.</td>
					</tr>
					
					
    <tr class="informRow">
        <td colspan="2">Login and method Parameters
            <small>(<a href="index.html">Additional Information</a>)</small>
        </td>
    </tr>
            <tr>
                        <th>apikey</th>
                        <td>You can create these in your API Manager (<a href="http://<?php echo $this->domain; ?>/user/dev/index" target="_blank">click here</a>) for each application, and limit the usage of them by host IP Address.<br>
						The apikey value can be send as a normal parameter or by HTTP Header <strong>X-Authentication-Key</strong></td>
					</tr>
        <tr>
						<th>method</th>
						<td>The method is used to identify the action for the request.<br>
						The method can be send as a normal parameter or by HTTP Header <strong>X-Api-Method</strong><br>
						<strong>DLR</strong> is the api method used to get the DLRs of created campaigns</td>
                    </tr>
					<tr class="informRow">
						<td colspan="2">Optional Parameters</td>
					</tr>
                    <tr>
                        <th>format</th>
                        <td>
                        For JSON response send as format/json and for XML as format/xml
                        </td>
                    </tr>
				</table>
			</div>
			
			<h2>Sample Response</h2>
			<div class="tabbedPickerContainer" sample-type="response"><div class="btn-group"><button class="btn active" tab-type="JSON">JSON</button><button class="btn" tab-type="XML">XML</button></div><pre class="prettyprint linenums"tabbed-type="JSON" style="display: block;">
{
"status":"DLR",
"data":{
	"status":"success",
	"total":"2",
	"pages":1,
	"current":"1",
	"report":[
			{"id":1,"sender":"MSGHUB","mobile":"1234567890","message":"hello world","time":"2018-12-08 10:26:32","dlr":"Delivered"},
			{"id":2,"sender":"MSGHUB","mobile":"0987654321","message":"hello world","time":"2018-12-08 10:26:32","dlr":"Failed"}
		]
	}
}
</pre><pre class="prettyprint linenums"tabbed-type="XML">&lt;?xml version="1.0" encoding="UTF-8" ?&gt;
&lt;response&gt;
  &lt;status&gt;DLR&lt;/status&gt;
  &lt;data&gt;
    &lt;status&gt;success&lt;/status&gt;
    &lt;totalNumber&gt;2&lt;/totalNumber&gt;
    &lt;totalPages&gt;1&lt;/totalPages&gt;
    &lt;currentPage&gt;1&lt;/currentPage&gt;
    &lt;report&gt;
      &lt;id&gt;1&lt;/id&gt;
      &lt;sender&gt;MSGHUB&lt;/sender&gt;
      &lt;mobile&gt;1234567890&lt;/mobile&gt;
      &lt;message&gt;hello world&lt;/message&gt;
      &lt;time&gt;2018-12-08 10:26:32&lt;/time&gt;
      &lt;dlr&gt;Delivered&lt;/dlr&gt;
    &lt;/report&gt;
    &lt;report&gt;
      &lt;id&gt;2&lt;/id&gt;
      &lt;sender&gt;MSGHUB&lt;/sender&gt;
      &lt;mobile&gt;0987654321&lt;/mobile&gt;
      &lt;message&gt;hello world&lt;/message&gt;
      &lt;time&gt;2018-12-08 10:26:32&lt;/time&gt;
      &lt;dlr&gt;Failed&lt;/dlr&gt;
    &lt;/report&gt;
  &lt;/data&gt;
&lt;/response&gt;
</pre></div>
			<h2>Errors</h2>
			<div class="paramsTableContainer">
				<table>
					<tr class="informRow first">
						<td colspan="2">Error Codes</td>
					</tr>
					<tr>
						<th>ERR4510</th>
						<td>Ip Not Accepted.</td>
					</tr>
					<tr>
						<th>ERR4010</th>
						<td>Unauthorized Or Invalid Key.</td>
					</tr>
					<tr>
						<th>ERR2060</th>
						<td>Partial Content or Invalid fields.</td>
					</tr>
					<tr>
						<th>ERR4051</th>
						<td>Api Method Not Allowed.</td>
					</tr>
					<tr>
						<th>ERR4052</th>
						<td>HTTP Method Not Allowed.</td>
					</tr>
					
									</table>
			</div>

		</div>
	</div>	<script src="/api/js/prettify.js"></script>
