<div class="content-wrapper">
  <?php 
        if ($this->success) {
         echo '<div class="alert alert-success" role="alert" align=center>';

         echo $this->success['Report']['Generate'] ;
         echo '</div>';
       }
       if ($this->errors) {
         echo '<div class="alert alert-danger" role="alert" align=center>';
        if (isset($this->errors['campaignName']['Generate'])) {
           echo $this->errors['Report']['Generate'] ;
        }elseif (isset($this->errors['Report']['inProgress'])) {
      echo $this->errors['Report']['inProgress'] ;
        }elseif (isset($this->errors['Report']['timeNotReach'])) {
      echo $this->errors['Report']['timeNotReach'] ;
        }elseif(isset($this->errors['Report']['inSearch'])){
          echo $this->errors['Report']['inSearch'];
        }else{
          print_r($this->errors);
        }
        echo '</div>';
      } 

?>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                  <thead>
            <tr>
              <th>Id</th>
              <th>Route</th>
              <th>Name</th>
              <th>Type</th>
              <th>Created Date</th>
              <th>Manage</th>
              <th>Delete</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
          <?php $i=1;?>
           <?php foreach ($this->entries as $entry): ?>

            <tr>
              <td><?php echo $i; ?></td>
              <td><?php echo $entry->route; ?></td>
              <td><?php echo $entry->name; ?></td>
              <td><?php echo $entry->type; ?></td>
              <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
              <td>
               <?php 
               switch ($entry->status) {  
                case 1:
                echo '<a href="#block_'.$entry->id.'" class="btn btn-sm btn-danger"  data-toggle="modal" >Deactivate</a>';
                break;
                case 0:
                echo '<a href="#activate_'.$entry->id.'" class="btn btn-sm btn-primary"  data-toggle="modal" >Activate</a>';
                break;
              }
              ?>
              </td>
              <td >
              <a href="#delete_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Delete</a>
              
            </td>
            <td >
               <?php 
               switch ($entry->status) {  
                case 1:
                echo '<p class="text-success" name="active">Active</p>';
                break;
                case 0:
                echo '<p class="text-danger" name="blocked" >Deactive</p>';
                break;
              }
              ?>
              </td>
          </tr>
        <?php $i++; endforeach; ?>
    </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
  <?php
 foreach ($this->entries as $entry) 
 { 
  ?>   
<div id="activate_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/sms/route/routes">
        <input type="hidden" name="blocked" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to activate ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Activate" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>  

<div id="block_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/sms/route/routes">
        <input type="hidden" name="active" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to Deactivate ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <button type="submit" class="btn btn-primary"  value="Block" name="submit"  />Deactivate</button>
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>  

  <div id="delete_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/sms/route/routes">
        <input type="hidden" name="delete" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to delete ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Delete" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>  
<?php } ?>
