<div class="content-wrapper">
  <?php 

              
              if ($this->success) {
                echo '<div class="alert alert-success" role="alert" align=center>';
              
                  print_r($this->success);
                echo '</div>';
              }
              
              if ($this->errors) {
                    echo '<div class="alert alert-danger" role="alert" align=center>';
                    
              print_r($this->errors);
              echo '</div>';
              } 

?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="TransferForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Route</label> 
                      <?php echo $this->form->route;?> 
                    </div>

                    <div class="form-group">
                      <label>Domain</label>
                      <?php echo $this->form->username; ?>
                    </div>                   

                  <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Type</label>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                               <input id="type-1" value="1" name="type" type="radio" >Sms
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input id="type-2" value="2" name="type" type="radio">Voice
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          
                   </div>
                   
                   <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Level</label>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                               <input id="mode-1" value="1" name="mode" type="radio" >Single
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input id="mode-2" value="2" name="mode" type="radio">Multi
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          
                   </div>


 <button id="send" type="submit" class="btn btn-primary mr-2">Update</button>
                  </form>
                </div>
              </div>
            </div>

</div>
