 
 
 
  <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                             

                        			<h4 class="header-title m-t-0 m-b-30"> APPROVE SENDER-ID</h4>
                        			
								<form action="/user/senderid/approve" method="post" enctype="application/x-www-form-urlencoded">
                                    <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                 <th>Username</th>
							                      <th>Domain</th>
									      		  <th>Type</th>
							                      <th>Sender-ID</th>
							                      <th>Created Date</th>
							                      <th>Status</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                 <?php if (sizeof($this->entries) == 0): ?>
					<tr>
						<td colspan="6">No entries found</td>
					</tr>
                    <?php else: ?>
					<?php foreach ($this->entries as $entry): ?>
					
                    <tr class="gradeC">
                     <td><?php echo $entry->user->username; ?></td>
                      <td><?php echo $entry->user->domain->domain; ?></td>
		      <td><?php echo $entry->type; ?></td>
		      <td><?php echo $entry->name; ?></td>
                      <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                      <td><?php 
							switch ($entry->status) {
								case 3:
									echo '<button class="btn btn-danger waves-effect waves-light btn-xs m-b-5" name="blocked" type="submit" value="'.$entry->id.'">BLOCKED</button>';
									break;	
								case 1:
									echo '<button class="btn btn-primary waves-effect waves-light btn-xs m-b-5" name="active" type="submit" value="'.$entry->id.'">ACTIVE</button>';
									break;
								case 2:
									echo '<button class="btn btn-warning waves-effect waves-light btn-xs m-b-5" name="notActivated" type="submit" value="'.$entry->id.'">NOT ACTIVATED</button>';
									break;
							}
                      ?></td>   </tr>
                                            <?php endforeach; ?>
										<?php endif; ?>
                                       </tbody>
                                    </table>
                                    </form> 
                                     <?php echo $this->paginationControl($this->entries, 'sliding', 'paginationSenderIds.phtml'); ?>    
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->





