<center>

	<ul class="pagination">


		<?php if ($this->pageCount): ?>
			<?php if (isset($this->previous)): ?>
				<li id="datatable-buttons_previous" tabindex="0" aria-controls="datatable-buttons" class="paginate_button previous"><a onclick="location.href='<?php echo $this->serverUrl().'/sms/senderid/view/'.$this->previous; ?>'">Previous</a></li>
			<?php endif; ?>
			<?php
			foreach($this->pagesInRange as $page){
				if($page != $this->current){
					?>
					<li tabindex="0" aria-controls="datatable-buttons" class="paginate_button"><a onclick="location.href='<?php echo $this->serverUrl().'/sms/senderid/view/'.$page?>'"><?php echo $page; ?></a></li>
					<?php
				}else{
					?>
					<li tabindex="0" aria-controls="datatable-buttons" class="paginate_button active"><a><?php echo $this->current; ?></a></li>


					<?php 
				} 
			}
			?>
			<?php if (isset($this->next)): ?>
				<li id="datatable-buttons_next" tabindex="0" aria-controls="datatable-buttons" class="paginate_button next"><a onclick="location.href='<?php  echo $this->serverUrl().'/sms/senderid/view/'.$this->next; ?>'">Next</a></li>
			<?php endif; ?>
		<?php endif; ?>
	</ul>
</center>



