 <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                             

                        			<h4 class="header-title m-t-0 m-b-30">Esme's List</h4>
                        			
								<form action="/smpp/manage/esmes" method="post" enctype="application/x-www-form-urlencoded">
                                        <div class="table-rep-plugin">
										<div class="table-responsive table-bordered" data-pattern="priority-columns">   
                                    <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                  <th>SystemID</th>
							                      <th>Client IP</th>
							                      <th>Throughput</th>
							                      <th>Cost</th>
							                      <th>Credit</th>
							                      <th>Count</th>
							                      <th>NDNC</th>
							                      <th>Template</th>
							                      <th>SenderID</th>
							                      <th>Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                           <?php if (sizeof($this->entries) == 0): ?>
					<tr>
						<td colspan="6">No entries found</td>
					</tr>
                    <?php else: ?>
					<?php foreach ($this->entries as $entry): ?>
					
                    <tr class="gradeC">
                      <td><?php echo $entry->systemId; ?></td>
                      <td><?php echo $entry->allowIp; ?></td>
                      <td><?php echo $entry->throughput; ?></td>
                      <td><?php echo $entry->defaultCost; ?></td>
                      <td><?php echo $entry->credit; ?></td>
                      <td><?php echo $entry->count; ?></td>
                      <td><?php 
                      switch ($entry->enableCheckNdnc) {
                      	case 0:
                      		echo 'Disabled';
                      		break;
                      	case 1:
                      		echo 'Enabled';
                      		break;
                      }
                      ?></td>
                      <td><?php 
                      switch ($entry->enableCheckTemplate) {
                      	case 0:
                      		echo '<span>Disabled</span>';
                      		break;
                      	case 1:
                      		echo '<span">Enabled</span>';
                      		break;
                      }
                      ?></td>
                      <td><?php 
					  switch ($entry->enableCheckSender) {
                      	case 0:
                      		echo 'Disabled';
                      		break;
                      	case 1:
                      		echo 'Enabled';
                      		break;
                      } 
                      ?></td>
                      <td align="center">
                      <?php 
							switch ($entry->simulate) {
								case 1:
									echo '<button class="btn ti-check alert-success" name="blocked" type="submit" value="'.$entry->systemId.'"></button>';
									break;	
								case 0:
									echo '<button class="btn ti-close alert-danger" name="active" type="submit" value="'.$entry->systemId.'"></button>';
									break;
							}
                      ?>
                      </td>
                    </tr>
                    <?php endforeach; ?>
					<?php endif; ?>
                                       </tbody>
                                    </table>
                                    </div>
                                    </div>
                                    </form> 
                                     <?php echo $this->paginationControl($this->entries, 'sliding', 'paginationEsmes.phtml'); ?>   
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->





