<div class="row">
	<div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <h4>CREATE ESME USER</h4>
                    </header>
                    <div class="panel-body">
              <?php 
		      if ($this->errors) {
				echo '<div class="alert alert-danger" role="alert" align=center>';
					print_r($this->errors);
					
				echo '</div>';
			  } 
			  if ($this->success) {
				echo '<div class="alert alert-success" role="alert" align=center>';
			  		if (isset($this->success)) {
			  			echo 'Esme created successfully';
			  		}
			  	echo '</div';
			  }
		      ?>

                        <div class="position-left">
                            <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="CreateSmppForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                            <div class="form-group row">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Username</label>
                                <div class="col-lg-5">
                                    <?php echo $this->form->username; ?>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Password</label>
                                <div class="col-lg-5">
                                    <?php echo $this->form->password; ?> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Confirm Password</label>
                                <div class="col-lg-5">
                                    <?php echo $this->form->repassword; ?> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Account</label>
                                <div class="col-lg-5">
                                    <?php echo $this->form->route; ?>
                                </div>
                            </div>      
                            <div class="form-group row">
                                <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Sms Cost</label>
                                <div class="col-lg-2">
                                    <?php echo $this->form->cost; ?>
                                </div>
                            </div> 
                            <div class="form-group row">
                                <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Throughput</label>
                                <div class="col-lg-2">
                                    <?php echo $this->form->tps; ?>
                                </div>
                            </div> 
                            <div class="form-group row">
                                <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Bind</label>
                                <div class="col-lg-2">
                                    <?php echo $this->form->bind; ?>
                                </div>
                            </div>    
                            <div class="form-group row">
                                <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Ip</label>
                                <div class="col-lg-2">
                                    <?php echo $this->form->ip; ?>
                                </div>
                            </div>                  
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-5">
                                    <?php echo $this->form->submit; ?>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </section>

            </div>
</div>
