<div class="content-wrapper">
  <?php 
        if ($this->success) {
         echo '<div class="alert alert-success" role="alert" align=center>';

         echo $this->success['Report']['Generate'] ;
         echo '</div>';
       }
       if ($this->errors) {
         echo '<div class="alert alert-danger" role="alert" align=center>';
        if (isset($this->errors['campaignName']['Generate'])) {
           echo $this->errors['Report']['Generate'] ;
        }elseif (isset($this->errors['Report']['inProgress'])) {
      echo $this->errors['Report']['inProgress'] ;
        }elseif (isset($this->errors['Report']['timeNotReach'])) {
      echo $this->errors['Report']['timeNotReach'] ;
        }elseif(isset($this->errors['Report']['inSearch'])){
          echo $this->errors['Report']['inSearch'];
        }else{
          print_r($this->errors);
        }
        echo '</div>';
      } 

    $date=explode('^', $this->daterange);
    $sdate=$date[0];
    $edate=$date[1];
?>
  <div class="card">
    <div class="card-body">
 <form class="form-inline" id="searchReport" role="form"  action="/sms/report/index" method="post" enctype="application/x-www-form-urlencoded">
  <div class="form-group row">
                                                        <div class="col-sm-12">
                                                            <div class="input-daterange input-group" id="date-range">
                                                                <input id="from" value="<?php echo "$sdate";?>" class="form-control" name="from" type="text">
                                                                <span id="" class="btn btn-primary">to</span>
                                                                <input id="to" value="<?php echo "$edate";?>" class="form-control" name="to" type="text">
                                                                <div class="form-check mb-2 mr-sm-2"></div>
                                  <button class="btn btn-primary" name="search" type="submit" value="search">Search</button>
                                                            </div>
                                                        </div>
                                                    </div>
  
  
</form> 
</div>
  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                        <tr>
                  <th>Id</th>
                  <th>Campaign</th>
                  <th>Input</th>
                  <th>Type</th>
                  <th>Encoding</th>
                  <th>Route</th>
                  <th>Leads</th>
                  <th>Count</th>
                  <th>Credits</th>
                  <th>Sender</th>
                  <th>Text</th>
                  <th>Status</th>
                  <th>Summary</th>
                  <th>Date</th>
                  <th>Manage</th>
                </tr>
                      </thead>
                      <tbody>
                <?php $i=1;
                ?>
                
                <?php foreach ($this->entries as $entry): ?>

                  <tr class="gradeC">
                    <td><?php echo $i; ?></td>
                    <td><?php echo $entry->name.'['.$entry->id.']'; ?></td>
                    <td><?php echo $entry->input; ?></td>
                    <td><?php echo $entry->type; ?></td>
                    <td><?php 
                    if($entry->encoding == 'UTF16'){
                      echo 'Unicode Text';
                    }else {
                      echo 'Normal Text';
                    }
                    ?></td>
                    <td><?php echo $entry->routeName; ?></td>
                    <td><?php echo $entry->count; ?></td>
                    <td><?php echo $entry->smsCount; ?></td>
                    <td><?php echo $entry->credit; ?></td>
                    <td><?php echo $entry->senderId; ?></td>
                   <td><?php  
                   if ($entry->original){
                    $text = $entry->original;
                   }else{
                    $text = $entry->text;
                   }
                    $tem = explode('$/g', $text); 
                    $template = str_replace('/^','',$tem[0]);
                    $message= wordwrap($template,30,"<br>",true);
                    $message_length = strlen($template);
                    echo $stringCut = substr($message, 0, 10);
                    ?>
                    <a href="" data-target="#myModal3_<?php echo $entry->id; ?>" data-toggle="modal"><i class="fa fa-plus" style="padding-right: 5%; float: right;"></i></a>

                    <?php 
                    ?></td>
                    <td><?php if ($entry->status == '2') {
                      echo '<p class="text-warning">Sending</p>';
                    }elseif ($entry->status == '1') {
                      echo '<p class="text-success">Completed</p>';
                    }elseif ($entry->status == '3') { 
                     echo '<p class="text-danger">Cancelled</p>';
                    }elseif ($entry->status == '7') {
                      echo '<p class="text-danger">Rejected</p>';
                    }else {
                     echo '<p class="text-primary">Queued</p>';
                    }                       
                   ?></td>
                   <td><span><button data-toggle="modal" data-target="#view-modal" data-id="<?php echo $entry->id.'^'.$entry->user;?>" id="getUser" class="btn btn-sm btn-primary">View</button></span></td>
                   <td><?php echo $entry->startDate->format('d-m-Y H:i:s'); ?></td>
                   <td><?php 
                   if ($entry->status == '1') {
                    ?>
                    <form class="form-inline" id="reportCsv" role="form"  action="<?php if ($entry->input == 'COMPOSE' || $entry->input == 'SCHEDULED'){ echo '/downloadSmsReport.php'; }else{ echo '/downloadDynamicSmsReport.php'; }?>" method="post" enctype="application/x-www-form-urlencoded">
              <input type="hidden" name="campid" value="<?php echo $entry->id; ?>">
              <input type="hidden" name="userid" value="<?php echo $this->userId; ?>">
              <span><button class="btn btn-sm btn-primary" title="Download" type="submit">Download</button></span>
              </form>
                   <?php
                   }
                   ?>
                  </td>
                </tr>
              <?php  $i++; endforeach; ?>


          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->




              


        <div id="view-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
             <div class="modal-dialog"> 
                  <div class="modal-content"> 
                  
                       <div class="modal-header"> 
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
                            <h4 class="modal-title"></h4> 
                       </div> 
                       <div class="modal-body"> 
                       
                       	   <div id="modal-loader" style="display: none; text-align: center;">
                       	   	<img src="/errors/images/ajax-loader.gif">
                       	   </div>
                            
                           <!-- content will be load here -->                          
                           <div id="dynamic-content"></div>
                             
                        </div> 
                        <div class="modal-footer"> 
                              <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>  
                        </div> 
                        
                 </div> 
              </div>
       </div><!-- /.modal -->     
<?php foreach ($this->entries as $entry): ?>
  <div class="modal fade" id="myModal3_<?php echo $entry->id; ?>" role="dialog" style="display: none;">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <textarea  class="form-control"  rows="10" ><?php 
	          if ($entry->original){
	          	echo $entry->original;
	          }else{
	          	echo $entry->text;
	          }
            ?></textarea>
          
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        
      </div>

    </div>
  </div>


<?php endforeach; ?>
