 <div class="content-wrapper">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                        <tr>
                  <th>Id</th>
                  <th>Campaign</th>
                  <th>Input</th>
                  <th>Type</th>
                  <th>Encoding</th>
                  <th>Route</th>
                  <th>Leads</th>
                  <th>Count</th>
                  <th>Credit</th>
                  <th>Sender</th>
                  <th>Text</th>
                  <th>Status</th>
                  <th>Summary</th>
                  <th>Scheduled</th>
                  <th>Create</th>
                  <th>Manage</th>
                </tr>
                      </thead>
                      <form class="form-inline" id="searchReport" role="form"  action="/sms/report/scheduled" method="post" enctype="application/x-www-form-urlencoded">
                      <tbody>
                <?php $i=1; ?>
                <?php foreach ($this->entries as $entry): ?>

                  <tr class="gradeC">
                    <td><?php echo $i; ?></td>
                    <td><?php echo $entry->name.'['.$entry->id.']'; ?></td>
                    <td><?php echo $entry->input; ?></td>
                    <td><?php echo $entry->type; ?></td>
                    <td><?php 
                    if($entry->encoding == 'UTF16'){
                      echo 'Unicode Text';
                    }else {
                      echo 'Normal Text';
                    }                     
                    ?></td>
                    <td><?php echo $entry->routeName; ?></td>
                    <td><?php echo $entry->count; ?></td>
                    <td><?php echo $entry->smsCount; ?></td>
                    <td><?php echo $entry->credit; ?></td>
                    <td><?php echo $entry->senderId; ?></td>
                   <td><?php
                    if ($entry->original){
                      $text = $entry->original;
                    }else{
                      $text = $entry->text;
                    } 
                    $tem = explode('$/g', $text); 
                    $template = str_replace('/^','',$tem[0]);
                    $message= wordwrap($template,30,"<br>",true);
                    $message_length = strlen($template);
                    echo $stringCut = substr($message, 0, 10);
                    ?>
                    <a href="" data-target="#myModal3_<?php echo $entry->id; ?>" data-toggle="modal"><i class="fa fa-plus" style="padding-right: 5%; float: right;"></i></a>

                    <?php 
                    ?></td>
                    <td><?php if ($entry->status == '2') {
                      echo '<p class="text-warning">Sending</p>';
                    }elseif ($entry->status == '1') {
                      echo '<p class="text-success">Completed</p>';
                    }elseif ($entry->status == '3') { 
                     echo '<p class="text-danger">Cancelled</p>';
                    }else {
                     echo '<p class="text-primary">Queued</p>';
                    }                       
                   ?></td>
                   <td><button data-toggle="modal" data-target="#view-modal" data-id="<?php echo $entry->id.'^'.$entry->user;?>" id="getUser" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-eye-open"></i> View</button></td>
                   <td><?php echo $entry->startDate->format('d-m-Y H:i:s'); ?></td>
                   <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                   <td><?php 
                   if ($entry->status == '0') {
                   ?>
                   <a href="#cancel_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Cancel</a>  
                  <?php   
                   }elseif ($entry->status == '3') { ?>
                     <span><button class="btn btn-sm btn-danger" style="cursor: unset; float: left;" title="Inprogress" type="button">Cancelled</button></span>
                  <?php }else { ?>
                    <span><button class="btn btn-sm btn-warning" style="cursor: unset; float: left;" title="Inprogress" type="button">Processing</button></span>
                  <?php } ?>
                  </td>
                </tr>
              <?php  $i++; endforeach; ?>


          </tbody>
           </form>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->

<div id="view-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
             <div class="modal-dialog"> 
                  <div class="modal-content"> 
                  
                       <div class="modal-header"> 
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
                            <h4 class="modal-title"></h4> 
                       </div> 
                       <div class="modal-body"> 
                       
                           <div id="modal-loader" style="display: none; text-align: center;">
                            <img src="/errors/images/ajax-loader.gif">
                           </div>
                            
                           <!-- content will be load here -->                          
                           <div id="dynamic-content"></div>
                             
                        </div> 
                        <div class="modal-footer"> 
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>  
                        </div> 
                        
                 </div> 
              </div>
       </div><!-- /.modal -->     
<?php foreach ($this->entries as $entry): ?>
  <div class="modal fade" id="myModal3_<?php echo $entry->id; ?>" role="dialog" style="display: none;">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <textarea class="form-control"  rows="10" ><?php 
            if ($entry->original){
              echo $entry->original;
            }else{
              echo $entry->text;
            }
            ?></textarea>
          
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        
      </div>

    </div>
  </div>

                       
 <div id="cancel_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/sms/report/scheduled">
        <input type="hidden" name="gid" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to cancel ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Cancel" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>       
<?php endforeach; ?> 


