
                         
                               <?php
                            
                                if (!empty($this->form)){
                                    ?>
                         <form enctype="multipart/form-data" method="post" action="index/report" class="form-horizontal row-border">
                            <input type="hidden"  name="user_id" value="<?php echo $this->user; ?>">
                            <input type="hidden"  name="campaign_id" value="<?php echo $this->campaign; ?>">
                            <input type="hidden"  name="receiver" value="<?php echo $this->receiver; ?>">
                            <hr>
                            <?php $form = urldecode($this->form); ?>
                                <?php eval("?> $form <?php "); ?>
                            <button  type="submit" class="btn btn-primary mr-2">Submit</button>
                         </form>
                                <?php
                                }
                            ?>                       
                          
                      