<!DOCTYPE html>

<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><?php echo $this->domain;?></title>
<link rel="shortcut icon" href="/template/images/users/<?php echo $this->logo; ?>" type="image/x-icon">
<link rel="icon" href="/template/images/users/<?php echo $this->logo; ?>" type="image/x-icon">
<link href="/landing/boardster/css/bootstrap.min.css" rel="stylesheet">
<link href="/landing/boardster/css/font-awesome.min.css" rel="stylesheet">
<link href="/landing/boardster/css/magnific-popup.css" rel="stylesheet">
<link href="/landing/boardster/css/main.css" rel="stylesheet">
</head>
<body>

<!--hero section-->

<header class="hero-section"> 
  
  <!--navigation-->
  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#"><img class="logo-nav"  src="/template/images/users/<?php echo $this->logo; ?>"><img class="logo-head"  src="/template/images/users/<?php echo $this->logo; ?>"></a> </div>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav nav-left">
          <li><a href="#features">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/account/signin"><i class="fa fa-sign-in"></i> Login</a></li>
          <li><a href="/account/signup" class="btn">JOIN US</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!--navigation end--> 
  
  <!--welcome message-->
  
  <section class="container text-center welcome-message">
    <div class="row">
      <div class="col-md-12">
        <h1>Perfect Marketing Solution</h1>
        <h2><?php echo $this->introduction; ?></h2>
        <div class="play-btn"> <img src="/landing/boardster/img/play-btn.png" height="150" width="150"></div>
        <div class="cta-btn"> <a href="/account/signup/" class="btn">GET STARTED</a>
        </div>
      </div>
    </div>
  </section>
  
  <!--welcome message end--> 
  
</header>

<!--hero section end--> 

<!--benefits-->

<section class="benefits section-spacing text-center" id="features">
  <div class="container">
    <header class="section-header">
      <h2>About Us</h2>
      <h3><?php echo $this->about; ?></h3>
    </header>
    <div class="row">
      
    </div>
  </div>
</section>

<!--benefits end--> 



<!--cta section-->

<section class="cta-section section-spacing text-center">
  <div class="container">
    <header class="section-header">
      <h2>Try Today!</h2>
      <h3>Limited offers only. Order today before the discount period ends.</h3>
    </header>
    <div class="row">
      <div class="col-md-12"> <a href="/account/signup/" class="btn">GET STARTED</a>
        <p>Have a question? Give us a call <a href="tel:<?php echo $this->whatsapp; ?>"> <?php echo $this->whatsapp; ?></a>.</p>
      </div>
    </div>
  </div>
</section>

<!--cta section end--> 



<!--contact us-->

<section class="contact section-spacing text-center" id="contact">
  <div class="container">
    <header class="section-header">
      <h2>Contact Us</h2>
      <h3>Have any questions? Get in touch</h3>
      <h3><?php echo $this->address; ?></h3>
    </header>
  </div>

  
</section>

<!--contact us end--> 



<!--site-footer-->
<footer class="site-footer section-spacing text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="footer-links"><a href="#">Terms of Use</a> <a href="#">Privacy Policy</a></p>
      </div>
      <div class="col-md-4"> <small>&copy; <?php echo date('Y').' '.$this->footer; ?> . All rights reserved.</small></div>
      <div class="col-md-4"> 
        <!--social-->
        
        <ul class="social">
          <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
        
        <!--social end--> 
        
      </div>
    </div>
    <!--chat-btn--> 
    <a href="#" class="chat-btn" data-toggle="modal" data-target="#modal-contact-form"></a> 
    <!--chat-btn end--> 
    
  </div>
</footer>
<!--site-footer end--> 

<!--contact form modal-->

<div class="modal fade" id="modal-contact-form" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body"> 
        
        <!--contact form-->
        
        <div class="contact-form text-center">
          <header class="section-header"> <img src="/landing/boardster/img/support-icon.svg" alt="support icon">
            <h2>Contact us</h2>
            <h3>Have any questions? Send us a message.</h3>
          </header>
          <form class="cta-form" action="http://csmthemes.com/themes/launch/image/php/contact.php" method="post">
            <div class="form-group">
              <input  type="text" name="name" class="contact-name form-control input-lg" placeholder="Name *" id="contact-name">
            </div>
            <div class="form-group">
              <input  type="text"  name="email" class="contact-email form-control input-lg" placeholder="Email address *" id="contact-email">
            </div>
            <div class="form-group">
              <textarea name="message" class="contact-message form-control input-lg" rows="4" placeholder="Message *" id="contact-message"></textarea>
            </div>
            <div class="form-group">
              <input type="text" name="antispam" placeholder="Antispam question: 7 + 5 = ?" class="contact-antispam form-control input-lg" id="contact-antispam">
            </div>
            <button type="submit" class="btn">SEND MESSAGE</button>
          </form>
        </div>
        
        <!--contact form end-->
        
        <p class="contact-form-success"><i class="fa fa-check"></i><span>Thanks for contacting us!</span> We will get back to you very soon.</p>
      </div>
    </div>
  </div>
</div>

<!--contact form modal end--> 

<script src="/landing/boardster/js/jquery-2.1.4.min.js"></script> 
<script src="/landing/boardster/js/bootstrap.min.js"></script> 
<script src="/landing/boardster/js/waypoints.min.js"></script> 
<script src="/landing/boardster/js/jquery.animateNumber.min.js"></script> 
<script src="/landing/boardster/js/waypoints-sticky.min.js"></script> 
<script src="/landing/boardster/js/retina.min.js"></script> 
<script src="/landing/boardster/js/jquery.magnific-popup.min.js"></script> 
<script src="/landing/boardster/js/jquery.ajaxchimp.min.js"></script> 
<script src="/landing/boardster/js/tweetie.min.js"></script> 
<script src="/landing/boardster/js/main.js"></script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSUq0I2FCVkhgjNR6fTRbqm19ULreKA4k&amp;callback=initMap"></script> 
<script src="/landing/boardster/js/gmap.js"></script>
</body>

</html>
