<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come after these tags -->

    <!-- Fill in the following meta tags -->
    <meta name="keywords" content="keyword1, keyword2, keyword3"/>
    <meta name="description" content="Description">
    <meta name="author" content="Author">

    <!-- Change the site title -->
    <title><?php echo $this->domain;?></title>

    <!-- You can regenerate the favicons as you wish using http://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/landing/adminto/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/landing/adminto/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/landing/adminto/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/landing/adminto/favicon/manifest.json">
    <link rel="mask-icon" href="/landing/adminto/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/landing/adminto/css/bootstrap.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700|Roboto+Condensed:200,300,300i,400,700|Roboto+Mono" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/landing/adminto/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Pretty Photo -->
    <link rel="stylesheet" href="/landing/adminto/css/prettyPhoto.css"/>

    <!-- Flickity -->
    <link rel="stylesheet" href="/landing/adminto/css/flickity.css"/>

    <!-- animate.css -->
    <link rel="stylesheet" href="/landing/adminto/css/animate.css"/>

    <!-- custom.css - the styling for this template -->
    <link rel="stylesheet" href="/landing/adminto/css/custom.css">

    <!-- Modernizr -->
    <script src="/landing/adminto/js/modernizr-custom.js"></script>

</head>

<body>

<!-- status spinner showing while loading the page -->
<div id="preloader"></div>

<!-- HEADER -->
<header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <?php if ($this->logo){?>
                    <img src="/template/images/users/<?php echo $this->logo; ?>" alt="logo" height="60px">
                <?php } ?>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-0 ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#hero">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:red" href="/account/signin">Signin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:red" href="/account/signup">Signup</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- HEADER END -->

<div id="content-wrap">

    <!-- HERO AREA -->
    <div class="jumbotron" id="#hero" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
        <div id="particles-js"></div>
        <div id="bg-video-wrap">
            <video id="bg-video" playsinline autoplay muted loop>
            </video>
        </div>
        <div class="container">
            <h1>Hello from <?php echo $this->domain;?></h1>
            <div class="typed-wrap">
                We
                <span class="typed"></span>
            </div>
            <div id="intro-text">
                <h2 class="hidden-xs-down">Welcome</h2>
                <?php echo $this->introduction; ?>
            </div>
<a class="btn btn-primary " href="https://wa.me/<?php echo '+91'.$this->whatsapp;?>?text=<?php echo 'Hello,%20i%20have%20an%20enquiry%20regarding%20services%20of%20'.urlencode($this->domain);?>" class="btn btn-white-bordered navbar-btn"><img alt="" src="/template/images/users/whatsapp.png" height="20" width="25"></img> Catch us on Whatsapp</a>
        </div>
    </div>
    <!-- HERO AREA END -->

    <!-- bouncing arrow -->
    <div class="arrow-wrap">
        <a href="/landing/adminto/#about" class="arrow down-bounce scroll-link fa fa-arrow-down"></a>
    </div>

    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div>
                        <h4>Hello! We are <?php echo $this->domain;?></h4>
                        <h2>ABOUT US</h2>
                    </div>
                    <div id="about-text">
                        <p>
                            <?php echo $this->about; ?>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="photo-wrap">
                        <img src="/landing/adminto/img/photo.jpg" class="photo img-fluid" alt=""/>
                        <div class="photo-overlay">
                            <div class="photo-text social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tumblr"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT END -->

    <!-- SERVICES -->
   
    <!-- SERVICES END -->


    <!-- HIRE ME -->
    
    <!-- HIRE ME END -->


    <!-- CONTACT FORM  -->
    <section id="contact">
        <div class="section-header">
            <div>
                <h2>Contact Us</h2>
                <p>Have a question? Give us a call <a href="tel:<?php echo $this->whatsapp; ?>"> <?php echo $this->whatsapp; ?></a>.</p>
            </div>
        </div>
        <div class="container">
            <div id="form-messages"></div>
            <div class="form-wrap">
                
                <?php echo $this->address; ?>
            </div>
        </div>
    </section>
    <!-- CONTACT FORM  END -->
</div>

<div id="footer-wrap">

    <!-- CONTACT INFO  -->
    
    <!-- CONTACT INFO END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <p>Copyright &copy; <?php echo date('Y').' '.$this->footer;?></p>
                </div>
                <div class="col-12 col-sm-6 social">
                    <p class="pull-right">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-tumblr"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->

</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="/landing/adminto/js/jquery-3.1.1.min.js"></script>
<script src="/landing/adminto/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/landing/adminto/js/jquery.validate.min.js"></script>
<script src="/landing/adminto/js/tether.min.js"></script>
<script src="/landing/adminto/js/bootstrap.min.js"></script>
<script src="/landing/adminto/js/jquery.bootstrap-autohidingnavbar.min.js"></script>
<script src="/landing/adminto/js/jquery.stellar.min.js"></script>
<script src="/landing/adminto/js/jquery.prettyPhoto.js"></script>
<script src="/landing/adminto/js/flickity.pkgd.min.js"></script>
<script src="/landing/adminto/js/isotope.pkgd.min.js"></script>
<script src="/landing/adminto/js/jquery.debouncedresize.js"></script>
<script src="/landing/adminto/js/jquery.waypoints.min.js"></script>
<script src="/landing/adminto/js/typed.min.js"></script>
<script src="/landing/adminto/js/particles.min.js"></script>
<script src="/landing/adminto/js/app.js"></script>
<script src="/landing/adminto/js/lib/stats.js"></script>
<script src="/landing/adminto/js/config.js"></script>
<script src="/landing/adminto/js/custom.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI4pu8_vaoGSCaiW_HQV06I639cIsbdWY&amp;callback=myMap"></script>

</body>
</html>
