<!DOCTYPE html>
<html lang="en">
 <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Bulk SMS, Bulk Voice, Bulk Email">
        <meta name="author" content="merabt">

        <link rel="shortcut icon" href="/template/1/1/assets/images/users/<?php echo $this->logo; ?>">

        <title><?php echo $this->domain.'|Bulk SMS|Bulk Voice|Bulk Email';?></title>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link href="/landing/adminto/css/bootstrap.min.css" rel="stylesheet">

        <!--Slider-->
        <link rel="stylesheet" href="/landing/adminto/css/owl.carousel.css"/> 
        <link rel="stylesheet" href="/landing/adminto/css/owl.theme.css"/> 
        <link rel="stylesheet" href="/landing/adminto/css/owl.transitions.css"/>

        <!-- Icon CSS -->
        <link href="/landing/adminto/css/font-awesome.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/landing/adminto/css/style.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="/landing/adminto/js/html5shiv.js"></script>
          <script src="/landing/adminto/js/respond.min.js"></script>
        <![endif]-->
<script type="application/ld+json">
  { "@context" : "http://schema.org",
  "@type" : "Organization",
  "url" : "<?php echo $this->domain; ?>",
  "logo" : "<?php echo $this->frontLogo; ?>",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "<?php echo $this->addrTwo; ?>",
    "postalCode": "<?php echo $this->addrThree; ?>",
    "streetAddress": "<?php echo $this->addrOne; ?>"
  },
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "<?php echo $this->phone; ?>",
      "contactType" : "customer service",
      "availableLanguage" : "English",
      "areaServed" : "IND"
    } , {
      "@type" : "ContactPoint",
      "telephone" : "<?php echo $this->phone; ?>",
      "contactType" : "customer service",
      "availableLanguage" : "English"
    } ] }
	</script>
    </head>


    <body data-spy="scroll" data-target="#navbar-menu">

        <!-- Navbar -->
        <div class="navbar navbar-custom navbar-expand-md sticky fixed-top" role="navigation" id="sticky-nav">
            <div class="container">
                <!-- LOGO -->
                <a class="navbar-brand logo" href="/">
                <?php if ($this->frontLogo){?>
                    <img src="/template/1/assets/images/users/<?php echo $this->frontLogo; ?>" alt="logo" height="50">
                <?php } ?>
                </a>

                <!-- Responsive menu button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>


                <!-- menu -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Navbar right -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#aboutus" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contactus" class="nav-link">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="/account/signin" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="/account/signup" class="btn btn-white-bordered navbar-btn">Signup for Free</a>
                        </li>
                    </ul>

                </div>
                <!--/Menu -->
            </div>
            <!-- end container -->
        </div>
        <!-- End navbar-custom -->

        <!-- HOME -->
        <section class="home bg-img-1" id="home">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="home-fullscreen">
                            <div class="full-screen">
                                <div class="home-wrapper home-wrapper-alt">
                                    <h1 class="text-white"><?php echo $this->introHeader;?></h1>
                                    <h4 class="text-white"><?php echo $this->intro;?></h4>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END HOME -->

        <!-- Features -->
        <section class="section" id="aboutus">
            <div class="container">
					<div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="title">About Us</h3>
                        <p class="text-muted sub-title"><?php echo $this->about;?></p>
                    </div>
                </div> <!-- end row -->

            </div> <!-- end container -->
        </section>
        <!-- end Features -->



        <!-- Testimonials section -->
        
        <!-- End Testimonials section -->


        <!-- Get Started -->
        <section class="section bg-custom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="get-started text-center">
                            <h2><b>Get Started for FREE</b></h2>
                            
                            <a href="/account/signup" class="btn btn-white-bordered">Signup for FREE</a>
                        </div>
                    </div>
                </div><!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end Get Started -->

        <!-- CONTACT-US -->
        <section class="section" id="contactus">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="title">Contact Us</h3>
                     </div>
                </div> <!-- end row -->


                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="row">
					<div class="col-md-4">
                        <div class="features-box">
                            <span class="alert-warning">HEAD OFFICE</span>
                            <h5 class="mt-2"><?php echo $this->company;?></h5>
                            <p class="text-muted m-b-0"><?php echo $this->addrOne;?> <br><?php echo $this->addrTwo;?> <br><?php echo $this->addrThree;?></p>
                            <p class="text-muted m-b-0"> <span class="fa fa-mobile"> <a href="tel:<?php echo $this->phone;?>"><?php echo $this->phone;?></a></span> <br><span class="fa fa-envelope-o"> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=<?php echo $this->email;?>&su=Enquiry"><?php echo $this->email;?></a></span></p>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <?php if ($this->addrOneBranch || $this->addrTwoBranch) {?>
                    <div class="col-md-4">
                        <div class="features-box">
                            <span class="alert-info">BRANCH OFFICE</span>
                            <h5 class="mt-2"><?php echo $this->company;?></h5>
                            <p class="text-muted m-b-0"><?php echo $this->addrOneBranch;?> <br><?php echo $this->addrTwoBranch;?> <br><?php echo $this->addrThreeBranch;?></p>
                            <p class="text-muted m-b-0"> <span class="fa fa-mobile"> <a href="tel:<?php echo $this->phoneBranch;?>"><?php echo $this->phoneBranch;?></a></span> <br><span class="fa fa-envelope-o"> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=<?php echo $this->email;?>&su=Enquiry"><?php echo $this->email;?></a></span></p>
                            
                        </div>
                    </div>
                    <?php } ?>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- End CONTACT-US -->

        <!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <a class="navbar-brand logo" href="/">
                        <?php if ($this->frontLogo){?>
                            <img src="/template/1/assets/images/users/<?php echo $this->frontLogo; ?>" alt="logo" height="30">
                        <?php } ?>
                        </a>
                        <span class="copy-txt">&copy; <?php echo date('Y');?></span>
                    </div>
                    <div class="col-lg-4 offset-lg-2">
                        <ul class="footer-menu list-inline">
                            <li class="list-inline-item"><a href="/">Home</a></li>
                            <li class="list-inline-item"><a href="#aboutus">About Us</a></li>
                            <li class="list-inline-item"><a href="#contactus">Contact Us</a></li>
                            <li class="list-inline-item"><a href="/account/signup">Signup</a></li>
                            <li class="list-inline-item"><a href="/account/signin">Login</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <ul class="social-icons text-right">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </footer>
        <!-- End Footer -->


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="/landing/adminto/js/jquery.min.js"></script>
        <script src="/landing/adminto/js/popper.min.js"></script>
        <script src="/landing/adminto/js/bootstrap.min.js"></script>
        <script src="/landing/adminto/js/scrollspy.min.js" type="text/javascript"></script>

        <!-- Jquery easing -->                                                      
        <script type="text/javascript" src="/landing/adminto/js/jquery.easing.1.3.min.js"></script>

        <!-- Owl Carousel -->                                                      
        <script type="text/javascript" src="/landing/adminto/js/owl.carousel.min.js"></script>

        <!--sticky header-->
        <script type="text/javascript" src="/landing/adminto/js/jquery.sticky.js"></script>

        <!--common script for all pages-->
        <script src="/landing/adminto/js/jquery.app.js"></script>

        <script type="text/javascript">
            $('.owl-testi').owlCarousel({
                autoPlay: 3000,
            stopOnHover: true,
            navigation: false,
            paginationSpeed: 1000,
            goToFirstSpeed: 2000,
            singleItem: true,
            autoHeight: true,
            transitionStyle: "fade"
            })
        </script>

    </body>
</html>