<div class="content-wrapper">
 <?php 
  if ($this->success) {
    echo '<div class="alert alert-success" role="alert" align=center> <span align=left >'; 
    
    echo 'SenderId requested successfully';

    echo '</span></div>';
  }
  if ($this->errors) {
    echo '<div class="alert alert-danger" role="alert" align=center>';
    //print_r($this->errors);
    if (isset($this->errors['campaignName']['isEmpty'])) {
      echo 'Campaign name is required';
    }elseif (isset($this->errors['Campaign']['isFailed'])) {

      echo $this->errors['Campaign']['isFailed'] ;
    }elseif (isset($this->errors['countExceed'])) {

      echo $this->errors['countExceed'];
    }
    else{
     print_r($this->errors); 
    }
    echo '</div>';
  } 

  ?>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="SmsComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Esme</label>
                      <?php echo $this->form->user; ?>
                    </div>

                    <div class="form-group">
                      <label>Sender</label>
                      <?php echo $this->form->senderId; ?>
                    </div>

                    <div class="form-group">
                      <label>Description</label>
                      <?php echo $this->form->userremark; ?>
                    </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  </form>
                </div>
              </div>
            </div>

</div>

