<div class="row">
   <div class="col-sm-12">
   <div class="card-box table-responsive">
   <h4 class="header-title m-t-0 m-b-30"></h4>
                        			
   <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                 <th>Username</th>
                      <th>Amount</th>
                      <th>My Balance</th>
                      <th>User Balance</th>
                      <th>Type</th>
                      <th>Mode</th>
                      <th>Date</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                           <?php if (sizeof($this->entries) == 0): ?>
					<tr>
						<td colspan="7">No entries found</td>
					</tr>
                    <?php else: ?>
                    <?php $counter = 1;?>
					<?php foreach ($this->entries as $entry): ?>
					
                    <tr class="gradeC">
                      <td><?php echo $entry->username; ?></td>
                      <td><?php echo $entry->amount; ?></td>
                      <td>
                      <?php echo $entry->userBalance;?>
                      </td>
                      <td><?php echo $entry->toBalance; ?></td>
                      <td><?php 
                      		if ($entry->type == '1'){
                      			echo 'PROMOTIONAL';
                      		}elseif ($entry->type == '2'){
                      			echo 'TRANSACTIONAL';
                      		}elseif ($entry->type == '3'){
                      			echo 'TRANS-SCRUB';
                      		}
                       ?></td>
                      <td><?php echo $entry->mode; ?></td>
                      <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                    </tr>
                    <?php endforeach; ?>
					<?php endif; ?>
                                       </tbody>
                                    </table>
                                    
                                     <?php echo $this->paginationControl($this->entries, 'sliding', 'paginationLogs.phtml'); ?>            
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->





