<div class="content-wrapper">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="datatable-buttons" class="table">
                <thead>
          <tr>
           <th>Id</th>
           <th>Username</th>
           <th>Amount</th>
           <th>Account</th>
           <th>Mode</th>
           <th>Date</th>
         </tr>
       </thead>

       <tbody>
          <?php $i = 1;?>
          <?php foreach ($this->entries as $entry): ?>
           
            <tr>
            <td><?php 
                echo $i; 
              ?></td>
              <td><?php 
                echo $entry->client; 
              ?></td>
              <td><?php echo $entry->amount; ?></td>
              <td><?php 
               echo $entry->type;
               ?></td>
               <td><?php echo $entry->mode; ?></td>
               <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
             </tr>
           <?php 
           $i++;
           endforeach; 
           ?>
       </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->


