 <div class="content-wrapper">
  <?php 
                  if ($this->errors) {
                    echo '<div class="alert alert-danger" role="alert" align="center">';
                    
                    echo '</div>';
                  } 
                  if ($this->success) {
                    echo '<div class="alert alert-success" role="alert" align="center">';
                    
                    echo '</div>';
                  }
                  ?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->formUser->getEnctype(); ?>" method="<?php echo $this->formUser->getMethod(); ?>" action="<?php echo $this->formUser->getAction(); ?>" class="<?php echo $this->formUser->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Role</label> 
                      <?php echo $this->formUser->selectRole; ?>
                    </div>

                    <div class="form-group">
                      <label>Username</label>
                      <?php echo $this->formUser->my_multi_select3; ?>
                    </div>                   

                  


 <button id="send" type="submit" class="btn btn-primary mr-2">Update</button>
                  </form>
                </div>
              </div>
            </div>

</div>
