<div class="content-wrapper">
  <?php 
                  if ($this->errors) {
                    echo '<div class="alert alert-danger" role="alert" align="center">';
                     print_r($this->errors);
                    echo '</div>';
                  } 
                  if ($this->success) {
                    echo '<div class="alert alert-success" role="alert" align="center">';
                    print_r($this->success);
                    echo '</div>';
                  }
                  ?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="RolePermissionForm" class="<?php echo $this->form->getAttrib('class'); ?>">

                    
                    <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Role</label>
                          
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" id="roleType-2" value="2" name="roleType" type="radio">
                                Select
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" id="roleType-1" checked="checked" value="1"  name="roleType" type="radio">
                                Create
                              <i class="input-helper"></i></label>
                            </div>
                          </div>

                      </div>
                    <div class="form-group" id="names">
                      <label>Name</label>
                      <?php echo $this->form->roleName; ?>
                    </div>

                    <div class="form-group" id="select">
                      <label>Role</label>
                      <?php echo $this->form->selectRole; ?>
                    </div>

                    <div class="form-group">
                      <label>Resource</label>
                      <?php echo $this->form->my_multi_select3; ?> 
                    </div>


                    <button id="send" type="submit" class="btn btn-primary mr-2">Submit</button>
                  </form>
                </div>
              </div>
            </div>

</div>
