<div class="content-wrapper">
 <?php 
   if ($this->success) {
     echo '<div class="alert alert-success" role="alert" align=center>';

     echo 'Spam Keywords added successfully';

     echo '</div>';
   }
   if ($this->errors) {
     echo '<div class="alert alert-danger" role="alert" align=center>';
     print_r($this->errors);
    echo '</div>';
  } 

  ?>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="SmsComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Keywords</label>
                      <?php echo $this->form->text; ?>
                    </div>
                <button type="submit" class="btn btn-primary mr-2">Create</button>
                  </form>
                </div>
              </div>
            </div>

</div>