<div class="content-wrapper">
  <?php 
    if ($this->success) {
      $success=$this->success;
      echo '<div class="alert alert-success" role="alert" align=center>';
      if(isset($success['Spam']['isSuccess'])){
        echo $success['Spam']['isSuccess'];
      }
      echo '</div>';
    }
        $date=explode('^', $this->daterange);
    $sdate=$date[0];
    $edate=$date[1];
   ?>  
     <div class="card">
    <div class="card-body">
 <form class="form-inline" id="searchReport" role="form"  action="/sms/spam/approval" method="post" enctype="application/x-www-form-urlencoded">
  <div class="form-group row">
                                                        <div class="col-sm-8">
                                                            <div class="input-daterange input-group" id="date-range">
                                                                <input id="from" value="<?php echo "$sdate";?>" class="form-control" name="from" type="text">
                                                                <span id="" class="btn btn-primary">to</span>
                                                                <input id="to" value="<?php echo "$edate";?>" class="form-control" name="to" type="text">
                                                                <div class="form-check mb-2 mr-sm-2"></div>
                                  <button class="btn btn-primary" name="search" type="submit" value="search">Search</button>
                                                            </div>
                                                        </div>
                                                    </div>
  
  
</form> 
</div>
  </div>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                <tr>
                  <th>Id</th>
                  <th>Campaign</th>
                  <th>User</th>
                  <th>Input</th>
                  <th>Type</th>
                  <th>Encoding</th>
                  <th>Route</th>
                  <th>Leads</th>
                  <th>Count</th>
                  <th>Credit</th>
                  <th>Sender</th>
                  <th>Text</th>
                  <th>Status</th>
                  <th>Date</th>
                  <th>Approve</th>
                  <th>Reject</th>
                </tr>
              </thead>
              <tbody>
                <?php $i=1;
                ?>
                <?php foreach ($this->entries as $entry): ?>

                  <tr class="gradeC">
                    <td><?php echo $i; ?></td>
                    <td><?php echo $entry->name.'['.$entry->id.']'; ?></td>
                    <td><?php echo $entry->user; ?></td>
                    <td><?php echo $entry->input; ?></td>
                    <td><?php echo $entry->type; ?></td>
                    <td><?php 
                    if($entry->encoding == 'UTF16'){
                      echo 'Unicode Text';
                    }else {
                      echo 'Normal Text';
                    }
                    ?></td>
                    <td><?php echo $entry->routeName; ?></td>
                    <td><?php echo $entry->count; ?></td>
                    <td><?php echo $entry->smsCount; ?></td>
                    <td><?php echo $entry->credit; ?></td>
                    <td><?php echo $entry->senderId; ?></td>
                   <td><?php  
                   if ($entry->original){
                    $text = $entry->original;
                   }else{
                    $text = $entry->text;
                   }
                    $tem = explode('$/g', $text); 
                    $template = str_replace('/^','',$tem[0]);
                    $message= wordwrap($template,30,"<br>",true);
                    $message_length = strlen($template);
                    echo $stringCut = substr($message, 0, 10);
                    ?>
                    <a href="" data-target="#myModal3_<?php echo $entry->id; ?>" data-toggle="modal"><i class="fa fa-plus" style="padding-right: 5%; float: right;"></i></a>

                    <?php 
                    ?></td>
                    <td><?php if ($entry->status == '2') {
                      echo '<p class="text-warning">Sending</p>';
                    }elseif ($entry->status == '1') {
                      echo '<p class="text-success">Completed</p>';
                    }elseif ($entry->status == '3') { 
                     echo '<p class="text-danger">Cancelled</p>';
                    }else {
                     echo '<p class="text-primary">Queued</p>';
                    }                       
                   ?></td>
                   <td><?php echo $entry->startDate->format('d-m-Y H:i:s'); ?></td>
                   <td style="text-align: center;">
                      <a href="#approval_<?php echo $entry->id; ?>" class="btn btn-sm btn-primary"  data-toggle="modal" >Approve</a>  
                   </td>
                   <td>   
                      <a href="#reject_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Reject</a> 
                   </td>
                </tr>
              <?php  $i++; endforeach; ?>


          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
<?php foreach ($this->entries as $entry): ?>   
 <div class="modal fade" id="myModal3_<?php echo $entry->id; ?>" role="dialog" style="display: none;">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <textarea readonly rows="10" cols="53"><?php 
            if ($entry->original){
              echo $entry->original;
            }else{
              echo $entry->text;
            }
            ?></textarea>
          
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        
      </div>

    </div>
  </div>
                     
 <div id="approval_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/sms/spam/approval">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to approve ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Approve" name="approve"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>       

<div id="reject_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/sms/spam/approval">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to reject ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Reject" name="reject"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div> 
<?php endforeach; ?>  