<div class="content-wrapper">
  <?php 
    if ($this->success) {
      $success=$this->success;
      echo '<div class="alert alert-success" role="alert" align=center>';
      if(isset($success['Spam']['isSuccess'])){
        echo $success['Spam']['isSuccess'];
      }
      echo '</div>';
    }
   ?>  
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
              <tr>
                <th >Id</th>
                <th >Keywords</th>
                <th >Date</th>
                <th >Edit</th>
                <th >Delete</th>
                <th >Manage</th>
                <th >Status</th>
              </tr>
            </thead>
              <tbody>
              <?php  $i=1;?>
              <?php foreach ($this->entries as $entry): 
                $template = urldecode($entry->keywords);
                $message= wordwrap($template,30,"<br>",true);

              ?>

                <tr>
                <td ><?php echo $i;?></td>
                  <td ><?php /*echo $message; */
                  
                            
                            $message_length = strlen($template);
                            echo $stringCut = substr($message, 0, 15);
                              ?>
                              <a href="" data-target="#myModal3_<?php echo $entry->id; ?>" data-toggle="modal"><i class="fa fa-plus" style="padding-right: 5%; float: right;"></i></a>

                              <?php  ?></td>
                  <td ><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>


          <td >
                  <a href="#edit_<?php echo $entry->id; ?>" class="btn btn-sm btn-primary"  data-toggle="modal" >Edit</a>  
                  </td>
                  <td >
                  <a href="#delete_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Delete</a>  
                  </td>
                  <td >
                  <?php if($entry->status==1){?><a href="#deactivate_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Deactivate</a> 
                    <?php }
                    else if($entry->status==0){?><a href="#activate_<?php echo $entry->id; ?>" class="btn btn-sm btn-primary"  data-toggle="modal" >Activate</a>
                    <?php }
                      ?>
                  </td>
                  
                  <td >
                    <?php if($entry->status==1){?><p class="text-success" style="cursor: default;">Active</p>
                    <?php }
                    else if($entry->status==0){?><p class="text-danger" style="cursor: default;">Not Active</p>
                    <?php }
                    else {
                      ?>
                      <p class="text-primary" style="cursor: default;">Pending</p>
                      <?php }?>
                  </td>
                </tr>
              <?php $i++; endforeach; ?>

          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->

<?php foreach ($this->entries as $entry): ?>
  <div class="modal fade" id="myModal3_<?php echo $entry->id; ?>" role="dialog" style="display: none;">
    <div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
      <textarea class="form-control"  rows="10"><?php 
           $template = urldecode($entry->keywords);
            echo  $message = $template;
            ?></textarea>
         </div>
         <div class="modal-footer">
          <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
    
  </div>
</div>

 <div class="modal fade" id="edit_<?php echo $entry->id; ?>" role="dialog" style="display: none;">
    <div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
      <form method="post" action="/sms/spam/view">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
      <textarea name="keywords"  class="form-control"  rows="10" ><?php 
           $template = urldecode($entry->keywords);
             echo  $message = $template;
            ?></textarea>
            
         </div>
         <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Save" name="edit"  />
          <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
    
  </div>
</div>
      
<div id="activate_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/sms/spam/view">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to activate ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Activate" name="activate"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>                          

                     
 <div id="deactivate_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/sms/spam/view">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to deactivate ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Deactivate" name="deactivate"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>       

<div id="delete_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/sms/spam/view">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to delete ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Delete" name="delete"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>    
<?php  endforeach; ?>