<div class="content-wrapper">
<?php 
    if ($this->success) {
    echo '<div class="alert alert-success" role="alert" align=center>';
        
        $logArray=$this->success;
        if(isset($logArray['Template']['isApproved']))echo $logArray['Template']['isApproved'];
        else if(isset($logArray['Template']['isRejected']))echo $logArray['Template']['isRejected'];

      echo '</div>';
    }
       

?>
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
               <thead>
              <tr>
                <th >Id</th>
                <th >Template</th>
                <th >User</th>
                <th >Esme</th>
                <th >Date</th>
                <th >Approve</th>
                <th >Reject</th>
              </tr>
            </thead>
            <tbody>
              
              <?php $i=1;?>
              <?php foreach ($this->entries as $entry):
              $entry->template = urldecode($entry->name);
                $message= wordwrap($entry->template,30,"<br>",true);
               ?>

                <tr>
                  <td ><?php echo $i; ?></td>
                  <td ><?php $message_length = strlen($entry->name);
                      echo $stringCut = substr($message, 0, 15);
                      ?>
                      <a href="" data-target="#myModal3_<?php echo $entry->id; ?>" data-toggle="modal"><i class="fa fa-plus" style="padding-right: 5%; float: right;"></i></a>
                  </td>
                  <td ><?php echo $entry->user; ?></td>
                  <td ><?php echo $entry->systemId; ?></td>
                  <td ><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                  <td >
                    <a href="#approval_<?php echo $entry->id; ?>" class="btn btn-sm btn-primary" data-backdrop="static" data-toggle="modal" data-placement="right" data-original-title="Approval">Approve</a>
                    </td>
                    <td >
                    <a href="#reject_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Reject</a>
                  </td>

                </tr>
              <?php $i++; endforeach; ?>


 

          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
<?php foreach ($this->entries as $entry): ?>
  

<div id="reject_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
       <form class="form-horizontal" method="post" action="/smpp/template/approval" style="   margin-bottom:0px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
              <div class="form-group row">
                <label class="col-md-3 control-label">Reject Reason</label>
                <div class="col-md-8 ">
                <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
                <input type="hidden" name="smppUser" value="<?php echo $entry->systemId; ?>">
                <select  name="remark" required="required" class="form-control select2" >
              <option value="">Select</option>
              <option value="Blacklisted Template">Blacklisted Template</option>
              <option value="Fake User">Fake User</option>
              <option value="Fake Template">Fake Template</option>
              <option value="Document Not Valid">Document Not Valid</option>
              <option value="Duplicate Template ID">Duplicate Sender ID</option>
              <option value="National Threat">National Threat</option>
              <option value="Operator Rejection">Operator Rejection</option>
              <option value="Others">Others</option>
            </select> 
                  </div>
              </div>
            </div><!-- end col -->
    </div> 
    </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary"  value="Reject" name="reject"  />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
</div>
</div>


<div id="approval_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
     <form class="form-horizontal" method="post" action="/smpp/template/approval" style="   margin-bottom:0px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title"></h4>
      </div>   
      <div class="modal-body">
      <div class="row">
            <div class="col-lg-12">
              <div class="form-group row">
                <label class="col-md-3 control-label">Remarks</label>
                <div class="col-md-8 ">
                <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
                 <textarea name="remark" rows="6" cols="35"></textarea>
                  </div>
              </div>
            </div><!-- end col -->
    </div> 
    </div>
     <div class="modal-footer">
      <input type="submit" class="btn btn-primary"  value="Approve" name="approved"  />
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>

  </form>
</div>
</div>
</div>




 <div class="modal fade" id="myModal3_<?php echo $entry->id; ?>" role="dialog" style="display: none;">
    <div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <textarea readonly rows="10" cols="53"><?php 
          // $tem = explode('$/g', $entry->template); 
          // $template = str_replace('/^','',$tem[0]);
           // echo  $message= wordwrap($template,100,"",true);
          $template = urldecode($entry->name);
            echo  $message = $template;
           ?></textarea>
         </div>
         <div class="modal-footer">
          <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
    
  </div>
</div>

<?php endforeach; ?>