<div class="content-wrapper">
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
            <thead>
              <tr>
                <th >Id</th>
                <th >Template</th>
                <th >User</th>
                <th >Esme</th>
                <th >Date</th>
                <th >Delete</th>
                <th >Status</th>
              </tr>
            </thead>
            <tbody>
              
              <?php $i=1;?>
              <?php foreach ($this->entries as $entry):
              $entry->template = urldecode($entry->name);
                $message= wordwrap($entry->template,30,"<br>",true);
               ?>

                <tr class="gradeC">
                  <td ><?php echo $i; ?></td>
                  <td ><?php $message_length = strlen($entry->name);
                      echo $stringCut = substr($message, 0, 15);
                      ?>
                      <a href="" data-target="#myModal3_<?php echo $entry->id; ?>" data-toggle="modal"><i class="fa fa-plus" style="padding-right: 5%; float: right;"></i></a>
                  </td>
                  <td ><?php echo $entry->user; ?></td>
                  <td ><?php echo $entry->systemId; ?></td>
                  <td ><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                  <td >
                  <a href="#approval_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Delete</a>  
                  </td>
                  <td >
                    <?php if($entry->status==1){?>
                    <p class="text-success">Approved</p>
                    <?php }
                    else if($entry->status==2){?>
                    <p class="text-danger">Rejected</p>
                    <?php }
                    else {
                      ?>
                      <p class="text-primary">Pending</p>
                      <?php }?>
                  </td>

                </tr>
              <?php $i++; endforeach; ?>


 

          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
<?php foreach ($this->entries as $entry): ?>
  

 <div class="modal fade" id="myModal3_<?php echo $entry->id; ?>" role="dialog" style="display: none;">
    <div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <textarea readonly rows="10" cols="53"><?php 
          // $tem = explode('$/g', $entry->template); 
          // $template = str_replace('/^','',$tem[0]);
           // echo  $message= wordwrap($template,100,"",true);
          $template = urldecode($entry->name);
            echo  $message = $template;
           ?></textarea>
         </div>
         <div class="modal-footer">
          <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
    
  </div>
</div>
                        
 <div id="approval_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/smpp/template/viewall">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
        <input type="hidden" name="smppUser" value="<?php echo $entry->systemId; ?>">
        <input type="hidden" name="template" value="<?php echo $entry->name; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to delete ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value=Delete name="delete"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>       

<?php endforeach; ?>