<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // Load the Google Transliterate API
  google.load("elements", "1", {
    packages: "transliteration"
  });
</script>
<div class="content-wrapper">
           <?php 
   if ($this->success) {
     echo '<div class="alert alert-success" role="alert" align=center>';

      echo $this->success['Template']['IsAdded'] ;
     

     echo '</div>';
   }
   if ($this->error) {
     echo '<div class="alert alert-danger" role="alert" align=center>';
     
    if (isset($this->error['Template']['noUser'])) {

      echo $this->error['Template']['noUser'] ;
    }
    else{
      print_r($this->error);
    }
    echo '</div>';
  } 

  ?>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="SmsComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    
                    <div class="form-group">
                      <label>Esme</label>
                      <?php echo $this->form->user ;?>
                    </div>

                    <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Message</label>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                               <input id="coding-1" value="7bit" name="coding" onchange="getEncoding(this);" checked="checked" type="radio" >Normal
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input id="coding-2" value="16bit" name="coding" onchange="getEncoding(this);" type="radio">Unicode
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                   </div>

                    <div class="form-group">
                      <label>Text</label>
                      <p id='translControl' align="right"></p>
                      <?php echo $this->form->text; ?>
                      <input type="hidden" name="smsType" value="TRANS-1|TRANSACTIONAL" id="smstype" /> 
                  <table width="100%">
                    <thead>
                      <tr>
                        <th width="30%">Encoding</th>
                        <th width="30%">SMS parts</th>
                        <th width="30%">Chars used</th>
                        <th width="30%">SMS Chars</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="smslc-encoding" align="left">7bit</td>
                        <td id="smslc-parts" align="left">1</td>
                        <td id="smslc-characters" align="left">0</td>
                        <td id="smslc-characters-sms" align="left">160</td>
                      </tr>
                    </tbody>
                  </table>
                    </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  </form>
                </div>
              </div>
            </div>

</div>