 
 
 
  <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                             

                        			<h4 class="header-title m-t-0 m-b-30">Voice Files</h4>
                        			
								
                                    <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>File Name</th>
							                      <th>Duration</th>
							                      <th>Created Date</th>
							                      <th>Status</th>
							                      <th>Campaigns</th>
                                                   <th>Audio</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                          <?php if (sizeof($this->entries) == 0): ?>
					<tr>
						<td colspan="5">No entries found</td>
					</tr>
                    <?php else: ?>
                    <?php $counter = 1;?>
					<?php foreach ($this->entries as $entry): ?>
					
                    <tr class="gradeC">
                      <td><?php echo $entry->name; ?></td>
                      <td>
                      <?php echo $entry->duration; ?>
                      </td>
                      <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                      <td><?php if ($entry->status == '0') {
                      	           echo 'NOT SAVED';
                                }else {	
								   echo 'SAVED';
								}

                      	
                      	?></td>
                      <td><?php  
                      	foreach ($entry->voiceCampaigns as $camp) {
							echo $camp->name.',';
						}
	                  ?></td>
                      <td>
                      	<audio controls style="width:200px">
                        
                       	<source src="/audioFiles/<?php echo $entry->id.'wav';?>" type="audio/wav">
                         <!-- <source src="/audioFiles/<?php echo $entry->id.wav;?>" type="audio/mpeg">-->
                        </audio></td>
			<!--<td><?php echo "<a class=\"btn btn-primary\" href=\"/audioFiles/$entry->id.wav\">DOWNLOAD</a>"; ?></td>-->
                    </tr>
                    <?php endforeach; ?>
					<?php endif; ?>
                                       </tbody>
                                    </table>
                                    
                                      <?php echo $this->paginationControl($this->entries, 'sliding', 'paginationFile.phtml'); ?>        
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->



