 
 
 
  <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                             

                        			<h4 class="header-title m-t-0 m-b-30">Lead Files</h4>
                        			
								
                                    <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>File Name</th>
							                      <th>Type</th>
							                      <th>Count</th>
							                      <th>Created Date</th>
							                      <th>Status</th>
							                      <th>Campaigns</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                           <?php if (sizeof($this->entries) == 0): ?>
					<tr>
						<td colspan="6">No entries found</td>
					</tr>
                    <?php else: ?>
                    <?php $counter = 1;?>
					<?php foreach ($this->entries as $entry): ?>
					
                    <tr class="gradeC">
                      <td><?php echo $entry->name; ?></td>
                      <td><?php if($entry->type == '1'){
                      				echo 'VOICE';
                      			}elseif($entry->type == '2'){ 
									echo 'SMS'; 
								}elseif($entry->type == '3') {
									echo 'WHATSAPP';
								}; ?></td>
                      <td>
                      <?php echo $entry->count; ?>
                      </td>
                      <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                      <td><?php if ($entry->status == '0') {
                      	           echo 'NOT SAVED';
                                }else {	
								   echo 'SAVED';
								}

                      	
                      	?></td>
                      <td><?php  
                      	foreach ($entry->voiceCampaigns as $camp) {
							echo $camp->name.',';
						}
						foreach ($entry->smsCampaigns as $camp) {
							echo $camp->name.',';
						}
						foreach ($entry->whatsappCampaigns as $camp) {
							echo $camp->name.',';
						}
	                  ?></td>
			<td><?php echo "<a class=\"btn btn-primary\"href=\"/contactFiles/$entry->id.csv\">DOWNLOAD</a>"; ?></td>
                    </tr>
                    <?php endforeach; ?>
					<?php endif; ?>
                                       </tbody>
                                    </table>
                                    
                                     <?php echo $this->paginationControl($this->entries, 'sliding', 'paginationLead.phtml'); ?>     
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

