<div class="table-rep-plugin">
<div class="table-responsive table-bordered" data-pattern="priority-columns">   
<table class='table table-bordered m-0'>
	<tr>
	<th>Sent</th>
	<th>Answered</th>
	<th>Failed</th>
	<th>Awaiting</th>
	</tr>
<tr>
<td><?php echo $this->send;?> </td>
<td><?php echo $this->delivered;?> </td>
<td><?php echo $this->failed;?> </td>
<td><?php echo $this->submit;?> </td>
</tr>
</table>
</div>
</div>

