 <script>
/**********************
******** AUDIO ********
**********************/
// load and play a sound.
function playSound(path) {
  // audio supported?
  if (typeof window.Audio === 'function') {
    var audioElem = new Audio();
    audioElem.src = path;
    audioElem.play();
  }
}

</script>
 <div class="content-wrapper">
<?php 
        if ($this->success) {
         echo '<div class="alert alert-success" role="alert" align=center>';

         echo $this->success['Report']['Generate'] ;
         echo '</div>';
       }
       if ($this->errors) {
         echo '<div class="alert alert-danger" role="alert" align=center>';
        if (isset($this->errors['campaignName']['Generate'])) {
           echo $this->errors['Report']['Generate'] ;
        }elseif (isset($this->errors['Report']['inProgress'])) {
      echo $this->errors['Report']['inProgress'] ;
        }elseif (isset($this->errors['Report']['timeNotReach'])) {
      echo $this->errors['Report']['timeNotReach'] ;
        }elseif(isset($this->errors['Report']['inSearch'])){
          echo $this->errors['Report']['inSearch'];
        }else{
          print_r($this->errors);
        }
        echo '</div>';
      } 

?>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                <tr>
                  <th>Id</th>
                  <th>Campaign</th>
                  <th>Input</th>
                  <th>Route</th>
                  <th>Type</th>
                  <th>Duration</th>
                  <th>Route</th>
                  <th>Leads</th>
                  <th>Credit</th>
                  <th>Sender</th>
                  <th>Voice</th>
                  <th>Status</th>
                  <th>Summary</th>
                  <th>Scheduled</th>
                  <th>Create</th>
                  <th>Manage</th>
                </tr>
              </thead>
               <tbody>
                <?php $i=1;
                ?>
                <?php foreach ($this->entries as $entry): ?>

                  <tr class="gradeC">
                    <td><?php echo $i; ?></td>
                    <td><?php echo $entry->name.'['.$entry->id.']'; ?></td>
                    <td><?php echo $entry->input; ?></td>
                    <td><?php echo $entry->type; ?></td>
                    <td><?php
                    if($entry->context == 'playback'){
                      echo 'PLAYBACK';
                    }else{
                      echo 'SURVEY';
                    }
                    ?></td>
                    <td><?php 
                    if($entry->duration == '1'){
                      echo '30 sec';
                    }elseif($entry->duration == '2') {
                      echo '60 sec';
                    }elseif($entry->duration == '3') {
                      echo '90 sec';
                    }elseif($entry->duration == '4') {
                      echo '120 sec';
                    }
                    ?></td>
                    <td><?php echo $entry->routeName; ?></td>
                    <td><?php echo $entry->count; ?></td>
                    <td><?php echo $entry->credit; ?></td>
                    <td><?php echo $entry->senderId; ?></td>
                   <td>
                    <audio id="player" controls="controls" style="width: 200px;">
            <source src="/audios/<?php echo $entry->voiceFile; ?>" type="audio/wav" />Your browser does not support the audio element.
          </audio>
          <a href="/audios/<?php echo $entry->voiceFile; ?>">Download</a>
          </td>
                    <td><?php if ($entry->status == '2') {
                      echo '<p class="text-warning">Sending</p>';
                    }elseif ($entry->status == '1') {
                      echo '<p class="text-success">Completed</p>';
                    }elseif ($entry->status == '3') { 
                     echo '<p class="text-danger">Cancelled</p>';
                    }else {
                     echo '<p class="text-primary">Queued</p>';
                    }                       
                   ?></td>
                   <td><button data-toggle="modal" data-target="#view-modal" data-id="<?php echo $entry->id;?>" id="getVoiceUser" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-eye-open"></i> View</button></td>
                   <td><?php echo $entry->startDate->format('d-m-Y H:i:s'); ?></td>
                   <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                   <td><?php 
                   if ($entry->status == '0') {
                   ?>
                    <a href="#cancel_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Cancel</a>  
                  
                   <?php  
                   }elseif ($entry->status == '3') { ?>
                     <span><button class="btn btn-sm btn-danger" style="cursor: unset; float: left;" title="Inprogress" type="button">Cancelled</button></span>
                  <?php }else { ?>
                    <span><button class="btn btn-sm btn-warning" style="cursor: unset; float: left;" title="Inprogress" type="button">Processing</button></span>
                  <?php } ?>
                  </td>
                </tr>
              <?php  $i++; endforeach; ?>


          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->


        <div id="view-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
             <div class="modal-dialog"> 
                  <div class="modal-content"> 
                  
                       <div class="modal-header"> 
                            
                            <h4 class="modal-title"></h4> 
                       </div> 
                       <div class="modal-body"> 
                       
                           <div id="modal-loader" style="display: none; text-align: center;">
                            <img src="/errors/images/ajax-loader.gif">
                           </div>
                            
                           <!-- content will be load here -->                          
                           <div id="dynamic-content"></div>
                             
                        </div> 
                        <div class="modal-footer"> 
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>  
                        </div> 
                        
                 </div> 
              </div>
       </div><!-- /.modal -->     
<?php foreach ($this->entries as $entry): ?>  

<div id="cancel_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/voice/report/scheduled">
        <input type="hidden" name="gid" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to cancel ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Cancel" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div> 
<?php endforeach; ?>