<div class="content-wrapper">

            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description"></p>
                  <center><div id="result"></div></center>
                  <div class="row">
                      <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Form Name</label>
                                <div class="col-sm-6">
                                    <input id='formname' class='form-control' type='text' />
                                </div>
                            </div>
                          
                          <div id="dynamicInput" ></div>
                          
                      </div>
                      <div class="col-sm-6">
                            
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Label</label>
                                <div class="col-sm-6">
                                    <input id='name' class='form-control' type='text' />
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Select Options</label>
                                <div class="col-sm-6">
                                    <textarea id='option' class='form-control' type='text'> </textarea>
                                </div>
                            </div>
                          <div class="form-group row">
                              <label class="col-sm-2 col-form-label">Data Column</label>
                              <div class="col-sm-6">
                              <select id="data" class="form-control select2 custom-select">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                    <option value="F">F</option>
                                    <option value="G">G</option>
                                    <option value="H">H</option>
                                    <option value="I">I</option>
                                    <option value="J">J</option>
                                    <option value="K">K</option>
                                    <option value="L">L</option>
                                    <option value="M">M</option>
                                    <option value="N">N</option>
                                    <option value="O">O</option>
                                    <option value="P">P</option>
                                    <option value="Q">Q</option>
                                    <option value="R">R</option>
                                    <option value="S">S</option>
                                    <option value="T">T</option>
                                    <option value="U">U</option>
                                    <option value="V">V</option>
                                    <option value="W">W</option>
                                    <option value="X">X</option>
                                    <option value="Y">Y</option>
                                    <option value="Z">Z</option>
                              </select>
                              </div>   
                          </div> 
                           <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Read Only</label>
                                <div class="col-sm-6">
                                    <input  type="checkbox" id="read" name="readonly" value="readonly">
                                </div>
                            </div>  
                          
                            <input type="button" class="btn btn-primary mr-2" value="Select" onclick="addInput('dynamicInput')" />
                            <input type="button" class="btn btn-primary mr-2" value="Text" onclick="addText('dynamicInput')" />
                            <input type="button" class="btn btn-primary mr-2" value="Textarea" onclick="addTextarea('dynamicInput')" />
                            <input type="button" class="btn btn-success mr-2" id="save" value="Save"  />
                      </div>
                  </div> 
                   
                    
                </div>
              </div>
            </div>

</div>
     
<script src="/template/1/assets/js/jquery.min.js"></script>
<SCRIPT language="javascript">
var inc = 0; /* Set Global Variable i */
function increment(){
    inc += 1; /* Function for automatic increment of field's "Name" attribute. */
}    

function addText(divName) {
    increment();
    var newDiv = document.createElement('div');
    var label = document.getElementById('name').value;
    var column = document.getElementById('data').value;
    var checkBox = document.getElementById('read');
    if (checkBox.checked == true){
        var visible = 'readonly';
    }else{
        var visible = '';
    }
    var selectHTML = "";
    selectHTML="<div class='form-group'><label>"+label+"</label><input "+visible+"  name="+column+" class='form-control' type='text'>";
    
    selectHTML += "</></div>";
    newDiv.innerHTML = selectHTML;
    document.getElementById(divName).appendChild(newDiv);
}

function addTextarea(divName) {
    increment();
    var newDiv = document.createElement('div');
    var label = document.getElementById('name').value;
    var column = document.getElementById('data').value;
    var checkBox = document.getElementById('read');
    if (checkBox.checked == true){
        var visible = 'readonly';
    }else{
        var visible = '';
    }
    var selectHTML = "";
    
    selectHTML="<div class='form-group'><label>"+label+"</label><textarea "+visible+" rows='10' cols='30' name="+column+" class='form-control'>";
    
    selectHTML += "</textarea></div>";
    newDiv.innerHTML = selectHTML;
    document.getElementById(divName).appendChild(newDiv);
}



//var choices = ["one","two","three"];
function addInput(divName) {
    increment();
    var choices = $('#option').val().split('\n');
    var newDiv = document.createElement('div');
    var label = document.getElementById('name').value;
    var column = document.getElementById('data').value;
    var selectHTML = "";
    selectHTML="<div class='form-group'><label>"+label+"</label><select name="+column+" class='form-control select2 custom-select'>";
    for(i = 0; i < choices.length; i = i + 1) {
        selectHTML += "<option value='" + choices[i] + "'>" + choices[i] + "</option>";
    }
    selectHTML += "</select></div>";
    newDiv.innerHTML = selectHTML;
    document.getElementById(divName).appendChild(newDiv);
}
function saveForm() {    
    console.log ($("#dynamicInput").html());
}



$(document).ready(function(){
	
	 $(document).on('click', '#save', function(e){
		var dynamic = ($("#dynamicInput").html());
                var formName = ($("#formname").val())
		e.preventDefault();
		
		$.ajax({
			url: '/url/manage/form/',
			type: 'GET',
			data: 'name='+formName+'&p='+dynamic,
			dataType: 'html'
		})
		.done(function(data){
                    
		    if(formName){
                        $("#result").empty();
                        $("#result").removeClass("alert alert-danger");
                        $("#result").addClass("alert alert-success");
                        $("#result").append("Form created successfully");
                    }else{
                        $("#result").empty();
                        $("#result").removeClass("alert alert-success");
                        $("#result").addClass("alert alert-danger");
                        $("#result").append("Form create failed");                        
                    }
		})
		.fail(function(){
			//console.log(data);
		});
		
	});
	
});
</SCRIPT>