

<div class="content-wrapper">
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="datatable-buttons" class="table">
            <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>View</th>
              <th>Created Date</th>
              <th>Manage</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
           <?php $i=1;
            foreach ($this->entries as $entry): ?>
            <tr>
              <td><?php echo $i; ?></td>
              <td><?php echo $entry->name; ?></td>              
              
              <td><a href="#" data-toggle="modal" data-target="#userCredit-<?php echo $entry->id;?>" class="btn btn-sm btn-primary">
              View</a></td>
              <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
              <td align="center">
                 <?php 
                 switch ($entry->status) {
                   case 3:
                  ?>
                  <a href="#unblock_<?php echo $entry->id; ?>" class="btn btn-sm btn-primary"  data-toggle="modal" >Unblock</a>  
                  <?php 
                  break;  
                  case 1:
                  ?>
                  <a href="#block_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Block</a>  
                  <?php 
                 break;
                  case 2:
                  ?>
                  <a href="#activate_<?php echo $entry->id; ?>" class="btn btn-sm btn-primary"  data-toggle="modal" >Activate</a>  
                  <?php 
                 break;
                }
                ?>
              </td>
              
              <td align="center">
                 <?php 
                 switch ($entry->status) {
                  case 3:
                  echo '<p class="text-danger" style="cursor: default;">Blocked</p>';
                  break;  
                  case 1:
                  echo '<p class="text-success" style="cursor: default;">Active</p>';
                  break;
                  case 2:
                  echo '<p class="text-primary" style="cursor: default;">Not Activated</p>';
                  break;
                }
                ?>
              </td>
          </tr>
        <?php 
        $i++;
        endforeach; ?>
</tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
<?php foreach ($this->entries as $entry): ?>               
<!-- Modal starts -->
                  
                  <div class="modal fade" id="userCredit-<?php echo $entry->id; ?>" tabindex="-1" role="dialog" aria-labelledby="userCreditLabel-<?php echo $entry->id; ?>" aria-hidden="true">
                    <div class="modal-dialog modal-md" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="userCreditLabel-<?php echo $entry->id; ?>"></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          
<div class="tab-content" >
<div class="row">
                    
                    <div class="col-12">
                        <div class="tab-pane fade show active" id="v-pills-home-<?php echo $entry->id;?>" role="tabpanel" aria-labelledby="v-pills-home-<?php echo $entry->id;?>-tab">
                          <div class="media">
                            <div class="media-body">
                                <?php echo urldecode($entry->form); ?>
                            </div>
                          </div>
                        </div>
                        
                        
                      </div>
                  </div>    
         



</div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal Ends -->  








 <div id="block_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/user/manage/users">
        <input type="hidden" name="active" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to block user ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Block" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div> 

 <div id="unblock_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/user/manage/users">
        <input type="hidden" name="blocked" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div align=center>Are you sure want to unblock user ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Unblock" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div> 

 <div id="activate_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/user/manage/users">
        <input type="hidden" name="notActivated" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to activate user ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Activate" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div> 
<?php endforeach; ?> 