<div class="content-wrapper">
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="datatable-buttons" class="table">
                      <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Url</th>
                <th>Date</th>
                <th>Delete</th>
                <th>Status</th>
              </tr>
            </thead>
              <tbody>
              <?php $i=1;?>
              <?php foreach ($this->entries as $entry): 
              ?>

                <tr>
                  <td ><?php echo $i; ?></td>
                  <td ><?php echo $entry->name; ?></td>
                  <td >
                    <?php 
                    if ($entry->type == '1'){
                      echo 'Tiny URL'; 
                    }elseif($entry->type == '2'){
                      echo 'File Attachment'; 
                    }else{
                      echo 'Form'; 
                    }
                    
                    ?>
                  </td>
                  <td ><?php 
                  if ($entry->type == '3'){
                      echo "<a href=\"#\" data-toggle=\"modal\" data-target=\"#userCredit-$entry->id\" class=\"btn btn-sm btn-primary\">
              View</a>";
                    }else{
                        echo $entry->url; 
                    }                  
                  
                  ?></td>
                  <td ><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                  <td >
                  <a href="#approval_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Delete</a>  
                  </td>
                  <td >
                    <?php if($entry->status==1){?><p class="text-success" style="cursor: default;">Approved</p>
                    <?php }
                    else if($entry->status==4){?><p class="text-danger" style="cursor: default;">Rejected</p>
                    <?php }
                    else {
                      ?>
                      <p class="text-primary" style="cursor: default;">Pending</p>
                      <?php }?>
                  </td>

                </tr>
              <?php $i++; endforeach; ?>


          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->

<?php foreach ($this->entries as $entry): ?>        
        <!-- Modal starts -->
                  
                  <div class="modal fade" id="userCredit-<?php echo $entry->id; ?>" tabindex="-1" role="dialog" aria-labelledby="userCreditLabel-<?php echo $entry->id; ?>" aria-hidden="true">
                    <div class="modal-dialog modal-md" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="userCreditLabel-<?php echo $entry->id; ?>"></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          
<div class="tab-content" >
<div class="row">
                    
                    <div class="col-12">
                        <div class="tab-pane fade show active" id="v-pills-home-<?php echo $entry->id;?>" role="tabpanel" aria-labelledby="v-pills-home-<?php echo $entry->id;?>-tab">
                          <div class="media">
                            <div class="media-body">
                                <?php echo urldecode($entry->url); ?>
                            </div>
                          </div>
                        </div>
                        
                        
                      </div>
                  </div>    
         



</div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal Ends -->  
        
        
        
        
 <div id="approval_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/url/manage/view">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to delete ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Delete" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>       
<?php endforeach; ?>          