<div class="content-wrapper">

            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description"></p>
                 <div class="row"> 
                  <div class="col-xl-3 col-md-6">
                      <div class="card-box">
                          <a href="/log/logger/smsctrans" target="_blank" class="btn btn-success btn-bordred waves-effect w-md waves-light m-b-5">Trans Operator Log</a>
                      
                          
                      </div>
                  </div>
                      
                      <div class="col-xl-3 col-md-6">
                      <div class="card-box">
                          <a href="/log/logger/smscpromo" target="_blank" class="btn btn-success btn-bordred waves-effect w-md waves-light m-b-5">Promo Operator Log</a>
                      
                          
                      </div>
                  </div>
                      
                      <div class="col-xl-3 col-md-6">
                      <div class="card-box">
                          <a href="/log/logger/smpptrans" target="_blank" class="btn btn-success btn-bordred waves-effect w-md waves-light m-b-5">Trans Smpp Log</a>
                      
                      </div>
                  </div>
                      
                      <div class="col-xl-3 col-md-6">
                      <div class="card-box">
                             <a href="/log/logger/smpppromo" target="_blank" class="btn btn-success btn-bordred waves-effect w-md waves-light m-b-5">Promo Smpp Log</a>
                   
                      </div>
                  </div>
                 </div>
                  
                 <div class="row"> 
                  <div class="col-xl-3 col-md-6">
                      <div class="card-box">
                          <a href="/log/logger/transaccess" target="_blank" class="btn btn-success btn-bordred waves-effect w-md waves-light m-b-5">Trans Access Log</a>
                      
                          
                      </div>
                  </div>
                      
                      <div class="col-xl-3 col-md-6">
                      <div class="card-box">
                          <a href="/log/logger/promoaccess" target="_blank" class="btn btn-success btn-bordred waves-effect w-md waves-light m-b-5">Promo Access Log</a>
                      
                          
                      </div>
                  </div>
                                            
                      
                 </div> 
                  
                </div>
              </div>
            </div>

</div>