<?php
if (isset($_GET['ajax'])) {
 
$handle = fopen('/var/log/kannel/bearerbox-trans.log', 'rb');

if (isset($_SESSION['offset'])) {
                $data = stream_get_contents($handle, -1, $_SESSION['offset']);
                $_SESSION['offset'] += strlen($data);
                echo nl2br($data);
            } else {
                fseek($handle, 0, SEEK_END);
                $_SESSION['offset'] = ftell($handle);
            }
  exit();
}
?>
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
      
      .window {
  border-radius: 3px;
  background: #222;
  color: #fff;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 80%;
  
  &:before {
    content: ' ';
    display: block;
    height: 48px;
    background: #C6C6C6;
  }
  
  &:after {
    content: '. . .';
    position: absolute;
    left: 12px;
    right: 0;
    top: -3px;
    font-family: "Times New Roman", Times, serif;
    font-size: 96px;
    color: #fff;
    line-height: 0;
    letter-spacing: -12px;
  }
}

.terminal {
  margin: 20px;
  font-family: monospace;
  font-size: 16px;
  color: #22da26;
  
  .command { 
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    animation: write-command 5s both;
    
    &:before {
      content: '$ ';
      color: #22da26;
    }
  }
  
  .log {
    white-space: nowrap;
    overflow: hidden;
    animation: write-log 5s both;
  }

  p:nth-child(2) {
    animation-delay: 2s;
  }
  
  p:nth-child(3) {
    animation-delay: 8s;
  }
}

@keyframes write-command {
  0% {
    width: 0%;
  }
  
  
  100% {
    width: 100%;
  }
}

@keyframes write-log {
  0% {
    height: 0;
  }
  
  16% {
    height: 0;
  }
  
  17% {
    height: 18px;
  }
  
  33% {
    height: 18px;
  }
  
  34% {
    height: 37px;
  }
  
  51% {
    height: 37px;
  }
  
  52% {
    height: 55px;
  }
  
  69% {
    height: 55px;
  }
  
  70% {
    height: 74px;
  }
  
  87% {
    height: 74px;
  }
  
  88% {
    height: 92px;
  }
  
  88% {
    height: 92px;
  }
  
  99% {
    height: 92px;
  }
  
  100% {
    height: 110px;
  }
}
  </style>
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="http://creativecouple.github.com/jquery-timing/jquery-timing.min.js"></script>
  <script>
  $(function() {
    $.repeat(1000, function() {
      $.get('/log/logger/smsctrans?ajax', function(data) {
        $('#tail').append(data);
        $("html, body").animate({ 
                    scrollTop: $( 
                      'html, body').get(0).scrollHeight 
                }, 1000); 
        
      });
    });
  });


  </script>
  
  </head>
<body>
    <div class="window">
  <div class="terminal">
  <div id="tail">Reading......</div>
  </div></div>
</body>
</html>

