<div class="content-wrapper">
<?php 
       if ($this->success) {
          echo '<div class="alert alert-success" role="alert" align=center>';
          
          echo 'Campaign created successfully';

          echo '</div>';
      }
      if ($this->errors) {
          echo '<div class="alert alert-danger" role="alert" align=center>';
          
          if (isset($this->errors['campaignName']['isEmpty'])) {
             echo 'Campaign name is required';
         }elseif (isset($this->errors['captcha']['badCaptcha'])){
                echo 'Captcha is incorrect';
     }else{
      print_r($this->errors);
     }
         echo '</div>';
     } 

     ?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="VoiceComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Route</label>
                      <?php echo $this->form->voiceType ;?>
                    </div>
                    <div class="form-group">
                      <label>Campaign name</label>
                      <?php echo $this->form->campaignName; ?>
                      <?php echo $this->form->token;?>
                    </div>
                    <div class="form-group">
                      <label>Sender</label>
                      <?php echo $this->senderId; ?>
                    </div>
                    <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Mobile</label>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                               <input class="form-check-input" id="contactType-3" value="3" name="contactType" checked="checked" type="radio">
                                Paste
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" id="contactType-2" value="2" name="contactType" type="radio">
                                Upload
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" id="contactType-1" value="1"  name="contactType" type="radio">
                                Group
                              <i class="input-helper"></i></label>
                            </div>
                          </div>

                      </div>
                    <div class="form-group" id="upload">
                      <label>File upload</label>
                      <?php echo $this->form->uploadContact; ?>
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Csv">
                        <span class="input-group-append">
                          
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>

                    <div class="form-group" id="paste">
                      <label>Paste</label>
                      <?php echo $this->form->textContact; ?></br>
                  <span id="cont_cnt"><strong>0</strong></span> Contacts
                    </div>

                    <div class="form-group" id="select">
                      <label >Group</label>
                      <?php echo $this->form->selectContact; ?><br>
                  <a href="#myModal-2" data-toggle="modal" class="btn btn-primary popovers" data-original-title="Select group(s) from list" data-content="Click this icon to select groups" data-placement="top" data-trigger="hover"><span class="btn-sm btn-primary">Address Book</span></a>
                    </div>

                  <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Message</label>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                               <input id="campaignType-1" value="1" name="campaignType" checked="checked" type="radio" >Broadcast
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input id="campaignType-2" value="2" name="campaignType"  type="radio">Survey
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                   </div>

                  <div class="form-group">
                      <label>Duration</label>
                      <?php echo $this->form->selectDuration; ?>
                    </div>

                    <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Audio</label>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                               <input class="form-check-input" id="audioType-1" value="1" name="audioType" checked="checked" type="radio">
                                Select
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" id="audioType-2" value="2" name="audioType" type="radio">
                                Upload
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" id="audioType-3" value="3"  name="audioType" type="radio">
                                Text2Speech
                              <i class="input-helper"></i></label>
                            </div>
                          </div>

                    <div class="col-sm-2" id="vselect"> 
                      <?php echo $this->form->selectVoice; ?>
                    </div>

                           </div>

                    <div class="form-group" id="aupload">
                      <label>File upload</label>
                      <?php echo $this->form->uploadAudio; ?>
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Csv">
                        <span class="input-group-append">
                          
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>

                    <div class="form-group" id="apaste">
                      <label>Text2Speech</label>
                      <?php echo $this->form->text2speech; ?>
                    </div>

                    <div class="form-group" id="aselect">
                      <label >Select</label>
                      <?php echo $this->form->selectAudio; ?>
                    </div>

                    <div class="form-group row" id="aname">
                      <label class="col-sm-2 col-form-label">Save</label>
                          <div class="col-sm-1">
                            <div class="form-check">
                              <label class="form-check-label">
                               <?php echo $this->form->saveAudio; ?>
                              <i class="input-helper"></i></label>
                            </div>
                          </div>

                          
                          <div class="col-sm-4" id="audioOpt" style="display:none">
                        <?php echo $this->form->audioName; ?>
                      </div>
                    </div>


                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Schedule</label>
                          <div class="col-sm-1">
                            <div class="form-check">
                              <label class="form-check-label">
                               <?php echo $this->form->scheduleRadio; ?>
                              <i class="input-helper"></i></label>
                            </div>
                          </div>

                          <div class="col-sm-4" id="datepic" style="display:none">
                            <div id="datePicker" class="input-group date datepicker">
                        <?php echo $this->form->datePicker; ?>
                        <span class="input-group-addon input-group-append border-left">
                          <span class="mdi mdi-calendar input-group-text"></span>
                        </span>
                      </div>
                          </div>

                          <div class="col-sm-2" id="timepic" style="display:none">
                               <div class="input-group date" id="timePicker" data-target-input="nearest">
                        <div class="input-group" data-target="#timePicker" data-toggle="datetimepicker">
                          <?php echo $this->form->timePicker; ?>
                          <div class="input-group-addon input-group-append"><i class="mdi mdi-clock input-group-text"></i></div>
                        </div>
                      </div>
                    </div>
                    </div>

                    

                    <button id="vsend" type="submit" class="btn btn-primary mr-2">Send</button>
                  </form>
                </div>
              </div>
            </div>

</div>

<!-- Add group -->
                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal-2" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                                        <h4 class="modal-title"></h4>
                                    </div>
                                    <div class="modal-body">
                                      <?php
                    $allgroupss = $this->allgroups;
                    ?>
                    <table class="table table-bordered table-striped table-condensed">                                      
                                      <tbody>
                                      <?php
                                      if(count($allgroupss) >= 1){
                                      $pg_pr_pn = ceil(count($allgroupss)/5);
                                      //for($pgdt=0;$pgdt<count($allgroups);$pgdt++){
                                      $pgdt=0;
                                      foreach ($allgroupss as $allgroups){
                                      if($pgdt == ($pg_pr_pn*0) || $pgdt == ($pg_pr_pn*1) || $pgdt == ($pg_pr_pn*2) || $pgdt == ($pg_pr_pn*3)){
                                      ?>                         
                                      <tr>
                                      <?php }?>
                                          <td><input type="checkbox" title="Check this box to include this group. Uncheck to remove" name="allgroups[]" value="<?php echo $allgroups->name;?>" id="<?php echo $allgroups->id;?>" />&nbsp;&nbsp;&nbsp;<?php echo $allgroups->name; ?></td>
                                          <?php if($pgdt == ($pg_pr_pn*1)-1 || $pgdt == ($pg_pr_pn*2)-1 || $pgdt == ($pg_pr_pn*3)-1 || $pgdt == ($pg_pr_pn*4)-1){?>
                                      </tr>
                                      <?php } }
                                      $pgdt++;
                                      } else{?>
                                      <tr><td>No Data Found</td></tr>
                                      <?php }?>
                                      </tbody>
                                  </table>
                                        

                                    </div>

                                </div>
                            </div>
                        </div>