<!DOCTYPE html>
<html>
    
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <!-- App Favicon -->
        <link rel="shortcut icon" href="/template/images/users/<?php echo $this->logo; ?>">

        <!-- App title -->
        <title>Signin</title>

        <!-- App css -->
        <link href="/template/1/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/template/1/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/template/1/assets/css/style.css" rel="stylesheet" type="text/css" />

        <script src="/template/1/assets/js/modernizr.min.js"></script>

        
    </head>
    <body>

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        
        
        <div class="wrapper-page">
            <div class="text-center">
                 <?php if ($this->logo){?>
                        <a class="navbar-brand logo" href="/">
                            <img src="/template/images/users/<?php echo $this->logo; ?> "width="100px">
                        </a>
                    <?php } ?>
            </div>
        	<div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Sign Up</h4>
                </div>
                <div class="p-20">
                     <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="LoginForm" class="form-horizontal m-t-20">
					<?php 
	            	  if(($error = $this->errors) || ($error = $this->account)) {

							if (@$error['username']['isEmpty'] || @$error['password']['isEmpty'] ) {
								echo '<p align="center" class="text-danger"> Username or password is missing </p>';	
							}elseif (@$error['user']['invalid'] || @$error['username']['usernameAddressInvalidMxRecord'] || @$error['username']['usernameAddressInvalidFormat']) {
								echo '<p align="center" class="text-danger">Username or Password is incorrect</p>';
							}elseif (isset($error['user']['isBlocked'])) {
								echo '<p align="center" class="text-danger">User account is blocked</p>';
							}elseif (isset($error['user']['notActivated'])) {
								echo '<p align="center" class="text-danger">User account is not activated</p>';
							}elseif (isset($error['session']['timeout'])){
								echo '<p align="center" class="text-danger">Session expired, Please signup again</p>';
							}elseif (isset($error['csrf']['forbidden'])){
								echo '<p align="center" class="text-danger">Token expired, Please signup again</p>';
							}elseif (@$error ['mobile']){
								echo '<p align="center" class="text-danger">Please enter a valid mobile number</p>';
							}elseif (@$error['username']['stringLengthTooShort']){
								echo '<p align="center" class="text-danger">Username is too short</p>';
							}elseif ($error['username']['userExists']){
								echo '<p align="center" class="text-danger">Username already exists</p>';
							}

	                  }
	                  if($success = $this->success) {
	                  	if (@$success['mail']['isSend']) {
	                  		//echo '<p align="center" class="text-success">Activation username send successfully</p>';
	                  		echo '<p align="center" class="text-success">User account created successfully</p>';
	                  	}
	                  }

            		?>
                    <div class="row">
						
                        <div class="form-group col-md-6 ">
                            <label>Username</label>
							<div class="col-xs-12">
								<?php echo $this->form->username; ?>
		
							</div>
						</div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-md-6">
                            <label>Password</label>
                            <div class="col-xs-12">
                                <?php echo $this->form->password; ?>
                				<?php echo $this->form->token;?>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label>Confirm</label>
                            <div class="col-xs-12">
                                <?php echo $this->form->repassword;?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-md-6">
                            <label>Mobile</label>
                            <div class="col-xs-12">
                                <?php echo $this->form->mobile; ?>
                
                            </div>
                        </div>
                        
                        <div class="form-group col-md-6 ">
                            <label>Email</label>
                            <div class="col-xs-12">
                                <?php echo $this->form->email; ?>
        
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <div class="col-xs-12">
                                <?php echo $this->form->name;?>
                            </div>
                        </div>
                        
                        <div class="form-group  col-md-6">
                            <label>Place</label>
                            <div class="col-xs-12">
                                <?php echo $this->form->country; ?>
                
                            </div>
                        </div>
                    </div>
                    <div class="row">
						<div class="form-group">
							<div class="col-xs-12">
								<div class="checkbox checkbox-custom">
									<input id="checkbox-signup" type="checkbox" checked="checked">
									<label for="checkbox-signup">I accept <a href="#">Terms and Conditions</a></label>
								</div>
							</div>
						</div>
                    </div>
                  
						<div class="form-group text-center m-t-30">
							<div class="col-xs-12">
								<button class="btn btn-primary btn-bordred btn-block waves-effect waves-light" type="submit">
									Register
								</button>
							</div>
						</div>
                    

					</form>

                </div>
            </div>
            <!-- end card-box -->

			<div class="row">
				<div class="col-sm-12 text-center">
					<p class="text-muted">Already have account?<a href="<?php echo $this->baseUrl('/account/signin')?>" class="text-primary m-l-5"><b>Sign In</b></a></p>
				</div>
			</div>

        </div>
        <!-- end wrapper page -->




    	<script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="/template/1/assets/js/jquery.min.js"></script>
        <script src="/template/1/assets/js/bootstrap.min.js"></script>
        <script src="/template/1/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
         <script src="/template/1/assets/js/validation-init.js"></script>
        <script src="/template/1/assets/js/detect.js"></script>
        <script src="/template/1/assets/js/fastclick.js"></script>
        <script src="/template/1/assets/js/jquery.slimscroll.js"></script>
        <script src="/template/1/assets/js/jquery.blockUI.js"></script>
        <script src="/template/1/assets/js/waves.js"></script>
        <script src="/template/1/assets/js/wow.min.js"></script>
        <script src="/template/1/assets/js/jquery.nicescroll.js"></script>
        <script src="/template/1/assets/js/jquery.scrollTo.min.js"></script>

        <!-- App js -->
        <script src="/template/assets/js/jquery.core.js"></script>
        <script src="/template/assets/js/jquery.app.js"></script>

	</body>
</html>
