<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- App Favicon -->
        <link rel="shortcut icon" href="/template/assets/images/favicon.ico">

        <!-- App title -->
        <title>Reset Password</title>

        <!-- App CSS -->
        <link href="/template/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/template/assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="/template/assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="/template/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/template/assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="/template/assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="/template/assets/css/responsive.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="/template/assets/js/modernizr.min.js"></script>


    </head>




      <body>

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="ex-page-content text-center">
                <div class="text-error">RESET</div>
                <h4 class="text-uppercase font-600">
                	<?php  
                	if (isset($this->success)){
						echo $this->success;
					}else{
						echo $this->errors;
					} 
					?>
                </h4>
                <p class="text-muted"><a href="/account/signin" class="back-btn"><i class="fa fa-home"></i> Back To Home</a></p>
          </div>
        </div>
        <!-- End wrapper page -->


    	<script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="/template/assets/js/jquery.min.js"></script>
        <script src="/template/assets/js/bootstrap.min.js"></script>
        <script src="/template/assets/js/detect.js"></script>
        <script src="/template/assets/js/fastclick.js"></script>
        <script src="/template/assets/js/jquery.slimscroll.js"></script>
        <script src="/template/assets/js/jquery.blockUI.js"></script>
        <script src="/template/assets/js/waves.js"></script>
        <script src="/template/assets/js/wow.min.js"></script>
        <script src="/template/assets/js/jquery.nicescroll.js"></script>
        <script src="/template/assets/js/jquery.scrollTo.min.js"></script>


        <script src="/template/assets/js/jquery.core.js"></script>
        <script src="/template/assets/js/jquery.app.js"></script>
	
	</body>
	</html>