<!DOCTYPE html>
<html>
    
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <!-- App Favicon -->
        <link rel="shortcut icon" href="/template/images/users/<?php echo $this->logo; ?>">

        <!-- App title -->
        <title>Signin</title>

        <!-- App css -->
        <link href="/template/1/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/template/1/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/template/1/assets/css/style.css" rel="stylesheet" type="text/css" />

        <script src="/template/1/assets/js/modernizr.min.js"></script>

        
    </head>
    <body>

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        
        
        <div class="wrapper-page">
            <div class="text-center">
                 <?php if ($this->logo){?>
                        <a class="navbar-brand logo" href="/">
                            <img src="/template/images/users/<?php echo $this->logo; ?>" width="100px">
                        </a>
                    <?php } ?>
            </div>
        	<div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Sign In</h4>
                </div>
                <div class="p-20">
                    <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="LoginForm" class="form-horizontal m-t-20">
			<?php 
                      if(($error = $this->errors) || ($error = $this->account)) {

                            if (@$error['username']['isEmpty'] || @$error['password']['isEmpty'] ) {
                                echo '<p align="center" class="text-danger">
                                        Username or password is missing
                                    </p>';  
                            }elseif (@$error['user']['invalid'] || @$error['username']['usernameAddressInvalidMxRecord'] || @$error['username']['usernameAddressInvalidFormat']) {
                                echo '<p align="center" class="text-danger">Username or Password is incorrect</p>';
                            }elseif (isset($error['user']['isBlocked'])) {
                                echo '<p align="center" class="text-danger">User account is blocked</p>';
                            }elseif (isset($error['user']['notActivated'])) {
                                echo '<p align="center" class="text-danger">User account is not activated</p>';
                            }elseif (isset($error['session']['timeout'])){
                                echo '<p align="center" class="text-danger">Session expired, Please login again</p>';
                            }elseif (isset($error['csrf']['forbidden'])){
                                echo '<p align="center" class="text-danger">Token expired, Please login again</p>';
                            }

                      }

                    ?>		
                        <div class="form-group">
                            <label>Username</label>
                            <div class="col-xs-12">
                                <?php echo $this->form->username; ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <div class="col-xs-12">
                                <?php echo $this->form->password; ?>
				<?php echo $this->form->token;?>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <div class="checkbox checkbox-custom">
                                    <input id="checkbox-signup" type="checkbox">
                                    <label for="checkbox-signup">
                                        Remember me
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12">
                                <button id="login" class="btn btn-primary btn-bordred btn-block waves-effect waves-light" type="submit">Log In</button>
                            </div>
                        </div>

                        <div class="form-group m-t-30 m-b-0">
                            <div class="col-sm-12">
                                <a data-toggle="modal" href="#myModal" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- end card-box-->

            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="text-muted">Don't have an account? <a href="<?php echo $this->baseUrl('/account/signup')?>" class="text-primary m-l-5"><b>Sign Up</b></a></p>
                </div>
            </div>
            
        </div>
        <!-- end wrapper page -->
        <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h4 class="modal-title"></h4>
                      </div>
                      <form enctype="application/x-www-form-urlencoded" method="post" action="reset" id ="ResetForm">
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="email" id="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-danger" type="button">Cancel</button>
                          <button class="btn btn-primary" type="submit">Submit</button>
                      </div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- modal -->
    	<script>    
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="/template/1/assets/js/jquery.min.js"></script>
        <script src="/template/1/assets/js/popper.min.js"></script>
        <script src="/template/1/assets/js/bootstrap.min.js"></script>
        <script src="/template/1/assets/js/detect.js"></script>
        <script src="/template/1/assets/js/fastclick.js"></script>
        <script src="/template/1/assets/js/jquery.blockUI.js"></script>
        <script src="/template/1/assets/js/waves.js"></script>
        <script src="/template/1/assets/js/jquery.nicescroll.js"></script>
        <script src="/template/1/assets/js/jquery.slimscroll.js"></script>
        <script src="/template/1/assets/js/jquery.scrollTo.min.js"></script>

        <!-- App js -->
        <script src="/template/1/assets/js/jquery.core.js"></script>
        <script src="/template/1/assets/js/jquery.app.js"></script>
        <script src="/template/1/assets/js/custom.js"></script>
       
	
	</body>


</html>
