<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SignIn</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/template/5/vendors/iconfonts/mdi/font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/template/5/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/template/5/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/template/5/css/vertical-layout-dark/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/template/images/users/<?php echo $this->logo; ?>" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo">
                <img src="/template/images/users/<?php echo $this->logo;?>" alt="logo">
              </div>
              <?php 
                      if(($error = $this->errors) || ($error = $this->account)) {

                            if (@$error['username']['isEmpty'] || @$error['password']['isEmpty'] ) {
                                echo '<p align="center" class="text-danger">
                                        Username or password is missing
                                    </p>';  
                            }elseif (@$error['user']['invalid'] || @$error['username']['usernameAddressInvalidMxRecord'] || @$error['username']['usernameAddressInvalidFormat']) {
                                echo '<p align="center" class="text-danger">Username or Password is incorrect</p>';
                            }elseif (isset($error['user']['isBlocked'])) {
                                echo '<p align="center" class="text-danger">User account is blocked</p>';
                            }elseif (isset($error['user']['notActivated'])) {
                                echo '<p align="center" class="text-danger">User account is not activated</p>';
                            }elseif (isset($error['session']['timeout'])){
                                echo '<p align="center" class="text-danger">Session expired, Please login again</p>';
                            }elseif (isset($error['csrf']['forbidden'])){
                                echo '<p align="center" class="text-danger">Token expired, Please login again</p>';
                            }

                      }

                    ?>
              <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="LoginForm" class="pt-3">
          
                <div class="form-group">
                  <label for="exampleInputEmail">Username</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>
                    
                    <?php echo $this->form->username; ?>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                   <?php echo $this->form->password; ?>
                   <?php echo $this->form->token;?>                        
                  </div>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      Keep me signed in
                    </label>
                  </div>
                  <a data-toggle="modal" href="#myModal" class="auth-link text-black">Forgot password?</a>
                </div>
                <div class="my-3">
                  <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">LOGIN</button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="/account/signup" class="text-primary">Create</a>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; <?php echo date('Y');?>  All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h4 class="modal-title"></h4>
                      </div>
                      <form enctype="application/x-www-form-urlencoded" method="post" action="reset" id ="ResetForm">
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="email" id="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-danger" type="button">Cancel</button>
                          <button class="btn btn-primary" type="submit">Submit</button>
                      </div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- modal -->
  <!-- plugins:js -->
  <script src="/template/5/vendors/js/vendor.bundle.base.js"></script>
  <script src="/template/5/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/template/5/js/off-canvas.js"></script>
  <script src="/template/5/js/hoverable-collapse.js"></script>
  <script src="/template/5/js/template.js"></script>
  <script src="/template/5/js/settings.js"></script>
  <script src="/template/5/js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>