<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SignUp</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/template/5/vendors/iconfonts/mdi/font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/template/5/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/template/5/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/template/5/css/vertical-layout-dark/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/template/5/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo">
                <img src="/template/images/users/<?php echo $this->logo; ?>" alt="logo">
              </div>
              <?php 
                      if(($error = $this->errors) || ($error = $this->account)) {

                            if (@$error['username']['isEmpty'] || @$error['password']['isEmpty'] ) {
                                echo '<p align="center" class="text-danger"> Username or password is missing </p>'; 
                            }elseif (@$error['user']['invalid'] || @$error['username']['usernameAddressInvalidMxRecord'] || @$error['username']['usernameAddressInvalidFormat']) {
                                echo '<p align="center" class="text-danger">Username or Password is incorrect</p>';
                            }elseif (isset($error['user']['isBlocked'])) {
                                echo '<p align="center" class="text-danger">User account is blocked</p>';
                            }elseif (isset($error['user']['notActivated'])) {
                                echo '<p align="center" class="text-danger">User account is not activated</p>';
                            }elseif (isset($error['session']['timeout'])){
                                echo '<p align="center" class="text-danger">Session expired, Please signup again</p>';
                            }elseif (isset($error['csrf']['forbidden'])){
                                echo '<p align="center" class="text-danger">Token expired, Please signup again</p>';
                            }elseif (@$error ['mobile']){
                                echo '<p align="center" class="text-danger">Please enter a valid mobile number</p>';
                            }elseif (@$error['username']['stringLengthTooShort']){
                                echo '<p align="center" class="text-danger">Username is too short</p>';
                            }elseif ($error['username']['userExists']){
                                echo '<p align="center" class="text-danger">Username already exists</p>';
                            }

                      }
                      if($success = $this->success) {
                        if (@$success['mail']['isSend']) {
                            //echo '<p align="center" class="text-success">Activation username send successfully</p>';
                            echo '<p align="center" class="text-success">User account created successfully</p>';
                        }
                      }

                    ?>
             <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="LoginForm" class="pt-3">
                <div class="form-group">
                  <label>Username</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>
                    <?php echo $this->form->username; ?>
                  </div>
                </div>
                 <div class="form-group">
                  <label>Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <?php echo $this->form->password; ?>
                                <?php echo $this->form->token;?>                        
                  </div>
                </div>

                <div class="form-group">
                  <label>Confirm</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <?php echo $this->form->repassword;?>                     
                  </div>
                </div>
                <div class="form-group">
                  <label>Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>
                    <?php echo $this->form->name;?>
                  </div>
                </div>
                 
                 <div class="form-group">
                  <label>Mobile</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-phone-outline text-primary"></i>
                      </span>
                    </div>
                    <?php echo $this->form->mobile; ?>
                  </div>
                </div>
                 
                <div class="form-group">
                  <label>Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-email-outline text-primary"></i>
                      </span>
                    </div>
                    <?php echo $this->form->email; ?>
                  </div>
                </div>
                <div class="form-group">
                  <label>Place</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-earth-outline text-primary"></i>
                      </span>
                    </div>
                    <?php echo $this->form->country; ?>
                  </div>
                </div>
                

                <div class="mb-4">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input required type="checkbox" class="form-check-input">
                      I agree to all Terms & Conditions
                    </label>
                  </div>
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >SIGN UP</button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a href="/account/signin" class="text-primary">Login</a>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 register-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018  All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/template/5/vendors/js/vendor.bundle.base.js"></script>
  <script src="/template/5/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/template/5/js/off-canvas.js"></script>
  <script src="/template/5/js/hoverable-collapse.js"></script>
  <script src="/template/5/js/template.js"></script>
  <script src="/template/5/js/settings.js"></script>
  <script src="/template/5/js/todolist.js"></script>
  <!-- endinject -->
</body>
</html>
