<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <!-- App Favicon -->
        <link rel="shortcut icon" href="/template/images/users/<?php echo $this->logo; ?>">

        <!-- App title -->
        <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <link href="/landing/flatlab/css/bootstrap.min.css" rel="stylesheet">
    <link href="/landing/flatlab/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/landing/flatlab/css/style.css" rel="stylesheet">
    <link href="/landing/flatlab/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="/landing/flatlab/js/html5shiv.js"></script>
    <script src="/landing/flatlab/js/respond.min.js"></script>
    <![endif]-->
</head>

  <body class="login-body">

    <div class="container">
    		<div class="row">
                    
                    <div class="col-md-3 text-center">
                    <?php if ($this->logo){?>
                        <a class="navbar-brand logo" href="/">
                            <img src="/template/images/users/<?php echo $this->logo; ?>" height="100">
                        </a>
                    <?php } ?>
                     </div>
                </div> <!-- end row -->
                <div class="col-md-12 row text-center">
        		
        </div>
      <form  enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="LoginForm" class="form-signin">
			
        <h2 class="form-signin-heading">sign Up</h2>
         <?php 
                      if(($error = $this->errors) || ($error = $this->account)) {

                            if (@$error['username']['isEmpty'] || @$error['password']['isEmpty'] ) {
                                echo '<p align="center" class="text-danger"> Username or password is missing </p>'; 
                            }elseif (@$error['user']['invalid'] || @$error['username']['usernameAddressInvalidMxRecord'] || @$error['username']['usernameAddressInvalidFormat']) {
                                echo '<p align="center" class="text-danger">Username or Password is incorrect</p>';
                            }elseif (isset($error['user']['isBlocked'])) {
                                echo '<p align="center" class="text-danger">User account is blocked</p>';
                            }elseif (isset($error['user']['notActivated'])) {
                                echo '<p align="center" class="text-danger">User account is not activated</p>';
                            }elseif (isset($error['session']['timeout'])){
                                echo '<p align="center" class="text-danger">Session expired, Please signup again</p>';
                            }elseif (isset($error['csrf']['forbidden'])){
                                echo '<p align="center" class="text-danger">Token expired, Please signup again</p>';
                            }elseif (@$error ['mobile']){
                                echo '<p align="center" class="text-danger">Please enter a valid mobile number</p>';
                            }elseif (@$error['username']['stringLengthTooShort']){
                                echo '<p align="center" class="text-danger">Username is too short</p>';
                            }elseif ($error['username']['userExists']){
                                echo '<p align="center" class="text-danger">Username already exists</p>';
                            }

                      }
                      if($success = $this->success) {
                        if (@$success['mail']['isSend']) {
                            //echo '<p align="center" class="text-success">Activation username send successfully</p>';
                            echo '<p align="center" class="text-success">User account created successfully</p>';
                        }
                      }

                    ?>
        <div class="login-wrap">
           
            <?php echo $this->form->token;?>
            <label>Username</label>
            <?php echo $this->form->username; ?>
            <label>Password</label>
            <?php echo $this->form->password; ?>    
            <label>Confirm</label>
            <?php echo $this->form->repassword;?>  
            <label>Name</label>
            <?php echo $this->form->name;?>
            <label>Mobile</label>
            <?php echo $this->form->mobile; ?>
            <label>Email</label>
             <?php echo $this->form->email; ?>
            <label>Place</label>
            <?php echo $this->form->country; ?>
            <label class="checkbox">
                <input required type="checkbox" value="remember-me"> I agree to all Terms & Conditions
                
            </label>
            <button class="btn btn-login btn-block" type="submit">SignUp</button>
            
            <div class="registration">
                Already have an account?
                <a class="" href="<?php echo $this->baseUrl('/account/signin')?>">
                    SigIn
                </a>
            </div>

        </div>

      </form>
                    <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <form enctype="application/x-www-form-urlencoded" method="post" action="reset" id ="ResetForm">
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="email" id="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          <button class="btn btn-success" type="submit">Submit</button>
                      </div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- modal -->


    </div>



    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/landing/template/assets/js/jquery.min.js"></script>
<script src="/landing/template/assets/js/bootstrap.min.js"></script>
<script src="/landing/template/plugins/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/landing/template/plugins/jquery-ui/jquery-ui-1.10.4.min.js" type="text/javascript"></script>
<script src="/landing/template/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/landing/template/assets/js/validation-init.js"></script>
<script src="/landing/template/assets/js/custom.js?v=100"></script>


  </body>
</html>
