<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <?php echo $this->headTitle(); ?>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/template/3/images/logo/favicon.png">

    <!-- core dependcies css -->
    <link rel="stylesheet" href="/template/3/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/template/3/vendor/PACE/themes/blue/pace-theme-minimal.css" />
    <link rel="stylesheet" href="/template/3/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css" />

    <!-- page css -->
    
    <!-- core css -->
    <link href="/template/3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/template/3/css/themify-icons.css" rel="stylesheet">
    <link href="/template/3/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/template/3/css/animate.min.css" rel="stylesheet">
    <link href="/template/3/css/app.css" rel="stylesheet">
</head>

<body>
    <div class="app">
        <div class="layout bg-white full-height">
            <div class="row no-gutters">
                <div class="col-md-8 d-none d-md-block align-self-end" style="background-image: url('/template/3/images/others/img-32.jpg')">
                    <div class="row full-height">
                        <div class="col-md-10 align-self-center">
                            <div class="m-b-50 m-l-70">
                                <img class="img-responsive inline-block" src="/template/images/users/<?php echo $this->logo; ?>" width="100px">
                                        <div class="m-t-15 m-l-20">
                                    <h1 class="font-weight-light font-size-35 text-white">Exploring The World</h1>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 align-self-center">
                    <div class="row">
                        <div class="col-10 offset-1 col-sm-8 offset-sm-2">
                            <div class="p-v-25">
                                <?php
            	  if($error = $this->errors) {
						if (@$error['username']['isEmpty'] || @$error['password']['isEmpty'] ) {
							echo '<p align="center" class="text-danger">Username or Password is missing</p>';	
						}elseif (@$error['username']['userExists']) {
							echo '<p align="center" class="text-danger">Username already exists</p>';
						}elseif (@$error['repassword']['notSame']) {
							echo '<p align="center" class="text-danger">Password do not match</p>';
						}elseif (@$error['username']['usernameAddressInvalidFormat'] || @$error['username']['usernameAddressInvalidMxRecord']) {
							echo '<p align="center" class="text-danger">Email address is invalid</p>';
						}
                  }
                  if($success = $this->success) {
						if (@$success['mail']['isSend']) {
							//echo '<p align="center" class="text-success">Activation username send successfully</p>';
							echo '<p align="center" class="text-success">User account created successfully</p>';
						}
				  }
            ?>
                                <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="SignupForm" class="<?php echo $this->form->getAttrib('class'); ?> ">
                    <div class="row">
                             
                    
                            <div class="form-group col-lg-6">
                            <div class="col-xs-12">
                                <label>Username</label>
                                <?php echo $this->form->username; ?>
                                </div>
                            </div>
                     </div>
                     <div class="row">
                            <div class="form-group col-lg-6">
                            <div class="col-xs-12">
                                <label>Password</label>
                                <?php echo $this->form->password; ?>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                            <div class="col-xs-12">
                                <label>Confirm</label>
                                <?php echo $this->form->repassword;?>
                                </div>
                            </div>
                     </div>
                     <div class="row">
                            <div class="form-group col-lg-6">
                            <div class="col-xs-12">
                                <label>Mobile</label>
                                <?php echo $this->form->mobile; ?>
                                </div>
                            </div>
                            
                            <div class="form-group col-lg-6">
                            <div class="col-xs-12">
                                <label>Email</label>
                                <?php echo $this->form->email; ?>
                                </div>
                            </div>
                          </div>  
                     <div class="row">   
                            <div class="form-group col-lg-6">
                             	<div class="col-xs-12">
                                    <label>Name</label>
                                <?php echo $this->form->name; ?>
                                </div>
                            </div>
                            
                            <div class="form-group col-lg-6">
                            <div class="col-xs-12">
                                <label>Country</label>
                                <?php echo $this->form->country; ?>
                                </div>
                            </div>
                            
                        </div>
                        <div>
                            <button class="btn btn-gradient-success" type="submit" >Register</button>
                        </div>
                    </form>
                                <p>Already have an account? <a href="/account/signin">Sign In</a></p>
                                <hr>
                                <small>By signing up you agree to our <a href="#">Terms &amp; Policy</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/template/3/js/vendor.js"></script>

    <script src="/template/3/js/app.min.js"></script>

    <!-- page js -->
    
</body>


</html>