<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <?php echo $this->headTitle(); ?>

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="/template/3/images/logo/apple-touch-icon.html">
    <link rel="shortcut icon" href="/template/3/images/logo/favicon.png">

    <!-- core dependcies css -->
    <link rel="stylesheet" href="/template/3/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/template/3/vendor/PACE/themes/blue/pace-theme-minimal.css" />
    <link rel="stylesheet" href="/template/3/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css" />

    <!-- page css -->

    <!-- core css -->
    <link href="/template/3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/template/3/css/themify-icons.css" rel="stylesheet">
    <link href="/template/3/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/template/3/css/animate.min.css" rel="stylesheet">
    <link href="/template/3/css/app.css" rel="stylesheet">
</head>

<body>
    <div class="app">
        <div class="layout bg-gradient-info">
            <div class="container">
                <div class="row full-height align-items-center">
                    <div class="col-md-5 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="p-15">
                                    <div class="m-b-30">
                                        <img class="img-responsive inline-block" src="/template/images/users/<?php echo $this->logo; ?>" width="100px">
                                        <h2 class="inline-block pull-right m-v-0 p-t-15">Login</h2>
                                    </div>
                                    <?php

	            	  if(($error = $this->errors) || ($error = $this->account)) {

							if (@$error['username']['isEmpty'] || @$error['password']['isEmpty'] ) {
								echo '<p align="center" class="text-danger">
                                        Username or password is missing
                                    </p>';	
							}elseif (@$error['user']['invalid'] || @$error['username']['usernameAddressInvalidMxRecord'] || @$error['username']['usernameAddressInvalidFormat']) {
								echo '<p align="center" class="text-danger">Username or Password is incorrect</p>';
							}elseif (isset($error['user']['isBlocked'])) {
								echo '<p align="center" class="text-danger">User account is blocked</p>';
							}elseif (isset($error['user']['notActivated'])) {
								echo '<p align="center" class="text-danger">User account is not activated</p>';
							}elseif (isset($error['session']['timeout'])){
								echo '<p align="center" class="text-danger">Session expired, Please login again</p>';
							}elseif (isset($error['csrf']['forbidden'])){
								echo '<p align="center" class="text-danger">Token expired, Please login again</p>';
							}

	                  }

            		?>
                                   <form  enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="LoginForm">
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <?php echo $this->form->username; ?>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                           <?php echo $this->form->password; ?>
				<?php echo $this->form->token;?>
                        </div>
                        <div>
                            <button class="btn btn-gradient-success">Login</button>
                        </div>
                        <div>
                            <div class="col-sm-12">
                                  <a class="help-block" data-toggle="modal" href="#myModal"> Forgot Password?</a> <hr>
                            </div>
                        </div>
                    </form>
                         <p>Don't have an account? <a href="/account/signup">Sign Up</a></p>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <form enctype="application/x-www-form-urlencoded" method="post" action="reset" id ="ResetForm">
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="email" id="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-danger" type="button">Cancel</button>
                          <button class="btn btn-success" type="submit">Submit</button>
                      </div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- modal -->
          
    <script src="/template/3/js/vendor.js"></script>

    <script src="/template/3/js/app.min.js"></script>

    <!-- page js -->
    
</body>

</html>




       
    