<div class="content-wrapper">
    <?php 
          if ($this->errors) {
        echo '<div class="alert alert-danger" role="alert" align=center>';
          //print_r($this->errors);
          if (isset($this->errors['username']['isEmpty']) || isset($this->errors['password']['isEmpty']) || isset($this->errors['repassword']['isEmpty']) || isset($this->errors['domain']['isEmpty'])) {
            echo 'Username or Password is missing';
          }elseif(isset($this->errors['repassword']['notSame'])) {
            echo 'Passwords do not match';
          }elseif (isset($this->errors['username']['userExists'])){
            echo 'User '.$this->errors['username']['userExists'];
          }else{
            print_r($this->errors);
          }
        echo '</div>';
        } 
        if ($this->success) {
        echo '<div class="alert alert-success" role="alert" align=center>';
            if (isset($this->success)) {
              echo 'User created successfully';
            }
          echo '</div>';
        }
          ?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="CreateForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Username</label>
                     <?php echo $this->form->username; ?>   
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <?php echo $this->form->password; ?> 
                      <?php echo $this->form->token;?> 
                    </div>
                    <div class="form-group">
                      <label>Confirm</label>
                      <?php echo $this->form->repassword; ?>
                    </div>
                    

                    <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>

                    <div class="form-group">
                      <label>Name</label>
                      <?php echo $this->form->name; ?>
                    </div>   
                    <div class="form-group">
                      <label>Mobile</label>
                      <?php echo $this->form->mobile; ?>
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <?php echo $this->form->email; ?>
                    </div>                    
                    <div class="form-group">
                      <label>Place</label>
                      <?php echo $this->form->country; ?>
                    </div>

</div></div>

                    <button id="send" type="submit" class="btn btn-primary mr-2">Create</button>
                  </form>
                </div>
              </div>
            </div>

</div>
