<div class="content-wrapper">
<?php 
       if ($this->success) {
         echo '<div class="alert alert-success" role="alert" align=center>';
      print_r($this->success);
         echo '</div>';
       }
       if ($this->errors) {
         echo '<div class="alert alert-danger" role="alert" align=center>';
          print_r($this->errors);
        echo '</div>';
      } 
?>  
  <div class="card">
    <div class="card-body">
 <form class="form-inline" id="searchReport" role="form"  action="/user/manage/usage" method="post" enctype="application/x-www-form-urlencoded">
             
          <div class="form-group row">
              <div class="col-lg-6">
                  <input id="datePicker"  value="<?php echo "$this->daterange";?>"  type="text" class="form-control" name="from">
              </div>   
               
              <div class="col-md-6">
                <div class="form-group row">
                <div class="col-md-5">
                    <button class="btn btn-primary" name="search" type="submit" value="search">Search</button>
               </div>
               <div class="col-md-3">
                    <button class="btn btn-primary" name="update" type="submit" value="update">Update</button>
              </div>
                </div>
              </div>
         </div>    
     </form>    
</div>
  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="datatable-buttons" class="table">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>UserName</th>
                  <th>Domain</th>
                  <th>Trans</th>
                  <th>Promo</th>
                  <th>Inter</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <?php $i=1;
                ?>
                <?php foreach ($this->entries as $key => $value): ?>

                  <tr class="gradeC">
                    <td><?php echo $i; ?></td>
                    <td><?php echo $value->username; ?></td>
                    <td><?php echo $value->domain; ?></td>
                    <td> <?php echo $value->transSent;  ?> </td>                    
                    <td> <?php echo $value->promoSent;  ?> </td>                    
                    <td> <?php echo $value->interSent;  ?> </td>
                    <td> <?php echo $this->daterange;  ?> </td>
                   </tr>
              <?php  $i++; endforeach; ?>


          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
<div id="view-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
             <div class="modal-dialog"> 
                  <div class="modal-content"> 
                  
                       <div class="modal-header"> 
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button> 
                            <h4 class="modal-title">
                              <i class="glyphicon glyphicon-user"></i> Summary Report
                            </h4> 
                       </div> 
                       <div class="modal-body"> 
                       
                           <div id="modal-loader" style="display: none; text-align: center;">
                            <img src="/errors/images/ajax-loader.gif">
                           </div>
                            
                           <!-- content will be load here -->                          
                           <div id="dynamic-content"></div>
                             
                        </div> 
                        <div class="modal-footer"> 
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
                        </div> 
                        
                 </div> 
              </div>
       </div>

