<div class="content-wrapper">
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
            <thead>
                                  <tr>
                                  <th>Id</th>
                                   <th>Domain</th>
                                   <th>Username</th>
                                   <th>Balance</th>
                                   <th>Created Date</th>
                                   <th>Manage</th>
                                   <th>Status</th>
                                 </tr>
                               </thead>

    <tbody>
            <?php $i=1; ?>
             <?php foreach ($this->entries as $entry): ?>
              <tr>
              <td><?php echo $i; ?></td>
               <td><a href="http://<?php echo $entry->domain; ?>" target="_blank"><?php echo $entry->domain; ?></a></td>
               <td><?php 
               $userRepo =  $this->em->getRepository('modules\user\models\User')->find($entry->owner);
               echo $userRepo->username;
               ?></td>
               <td><a href="#" data-toggle="modal" data-target="#domainCredit-<?php echo $entry->id;?>" class="btn btn-sm btn-primary">
              View</a></td>
               <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
               <td><?php 
                 switch ($entry->status) {
                  case 0:
                   ?>
                   <a href="#unblock_<?php echo $entry->id; ?>" class="btn btn-sm btn-primary"  data-toggle="modal" >Unblock</a>  
                   <?php 
                   break; 
                   case 1:
                   ?>
                   <a href="#block_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Block</a>  
                   <?php 
                   break;
                }
                ?></td>
                <td><?php 
                 switch ($entry->status) {
                  case 0:
                  echo '<p class="text-danger" style="cursor: default;">Blocked</p>';
                  break;  
                  case 1:
                  echo '<p class="text-success" style="cursor: default;">Active</p>';
                  break;
                }
                ?></td>
              </tr>
            <?php $i++; endforeach; ?>
        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
   <?php foreach ($this->entries as $entry): ?>                 
 <div id="block_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/user/manage/resellers">
        <input type="hidden" name="active" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to block domain ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Block" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div> 

 <div id="unblock_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/user/manage/resellers">
        <input type="hidden" name="blocked" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div align=center>Are you sure want to unblock domain ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Unblock" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div> 


<!-- Modal starts -->
                  
                  <div class="modal fade" id="domainCredit-<?php echo $entry->id;?>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-<?php echo $entry->id;?>" aria-hidden="true">
                    <div class="modal-dialog modal-md" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="domainCreditLabel-<?php echo $entry->id;?>"><?php echo $entry->domain; ?></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <ul class="nav nav-tabs" id="setting-panel" role="tablist">



    <li class="nav-item" style="width:154px"><a class="nav-link active" id="promo-<?php echo $entry->id;?>-tab" data-toggle="tab" href="#promo-<?php echo $entry->id;?>" role="tab" aria-controls="promo-<?php echo $entry->id;?>" aria-expanded="true">PROMOTIONAL</a></li>
    <li class="nav-item" style="width:154px"><a class="nav-link" id="trans-<?php echo $entry->id;?>-tab" data-toggle="tab" href="#trans-<?php echo $entry->id;?>" role="tab" aria-controls="trans-<?php echo $entry->id;?>">TRANSACTIONAL</a></li>
  
  
    <li class="nav-item" style="width:154px"><a class="nav-link" id="scrub-<?php echo $entry->id;?>-tab" data-toggle="tab" href="#scrub-<?php echo $entry->id;?>" role="tab" aria-controls="scrub-<?php echo $entry->id;?>">TRANS-SCRUB</a></li>
    <li class="nav-item" style="width:154px"><a class="nav-link" id="inter-<?php echo $entry->id;?>-tab" data-toggle="tab" href="#inter-<?php echo $entry->id;?>" role="tab" aria-controls="inter-<?php echo $entry->id;?>">INTERNATIONAL</a></li>
 
</ul>

<div class="tab-content" >

      <div class="tab-pane fade show active scroll-wrapper" id="promo-<?php echo $entry->id;?>" role="tabpanel" aria-labelledby="promo-<?php echo $entry->id;?>">
             <div class="row">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="v-pills-home-<?php echo $entry->id;?>-tab" data-toggle="pill" href="#v-pills-home-<?php echo $entry->id;?>" role="tab" aria-controls="v-pills-home-<?php echo $entry->id;?>" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="v-pills-profile-<?php echo $entry->id;?>-tab" data-toggle="pill" href="#v-pills-profile-<?php echo $entry->id;?>" role="tab" aria-controls="v-pills-profile-<?php echo $entry->id;?>" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            VOICE
                          </a>                          
                        </li>
                        
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home-<?php echo $entry->id;?>" role="tabpanel" aria-labelledby="v-pills-home-<?php echo $entry->id;?>-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $entry->smsPromoCredit; ?></td>
                                </tr>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $entry->smsPromoApiCredit; ?></td>
                                </tr>
                                <?php if ($this->userRepo->role == 'ADMIN' || $this->userRepo->role == 'P1-RESELLER' || $this->userRepo->role == 'L1-ADMIN'){
                                     echo '<tr>
                                              <td>PERCENTAGE</td>
                                              <td> '.$entry->smsPercentagePromo.' </td>
                                          </tr>';
                                 }?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile-<?php echo $entry->id;?>" role="tabpanel" aria-labelledby="v-pills-profile-<?php echo $entry->id;?>-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $entry->voicePromoCredit; ?></td>
                                </tr>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $entry->voicePromoApiCredit; ?></td>
                                </tr>
                                <?php if ($this->userRepo->role == 'ADMIN' || $this->userRepo->role == 'P1-RESELLER' || $this->userRepo->role == 'L1-ADMIN'){
                                     echo '<tr>
                                              <td>PERCENTAGE</td>
                                              <td> '.$entry->voicePercentagePromo.' </td>
                                          </tr>';
                                 }?>
                              </table>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>    
                  
      </div>


      <div class="tab-pane fade" id="trans-<?php echo $entry->id;?>" role="tabpanel" aria-labelledby="trans-<?php echo $entry->id;?>">

        <div class="row">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="p-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="p-pills-home-<?php echo $entry->id;?>-tab" data-toggle="pill" href="#p-pills-home-<?php echo $entry->id;?>" role="tab" aria-controls="p-pills-home-<?php echo $entry->id;?>" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="p-pills-profile-<?php echo $entry->id;?>-tab" data-toggle="pill" href="#p-pills-profile-<?php echo $entry->id;?>" role="tab" aria-controls="p-pills-profile-<?php echo $entry->id;?>" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            VOICE
                          </a>                          
                        </li>
                        
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="p-pills-tabContent">
                        <div class="tab-pane fade show active" id="p-pills-home-<?php echo $entry->id;?>" role="tabpanel" aria-labelledby="p-pills-home-<?php echo $entry->id;?>-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $entry->smsTransCredit; ?></td>
                                </tr>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $entry->smsTransApiCredit; ?></td>
                                </tr>                  
                                <?php if ($this->userRepo->role == 'ADMIN' || $this->userRepo->role == 'P1-RESELLER' || $this->userRepo->role == 'L1-ADMIN'){
                                     echo '<tr>
                                              <td>PERCENTAGE</td>
                                              <td> '.$entry->smsPercentageTrans.' </td>
                                          </tr>';
                                 }?>              
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="p-pills-profile-<?php echo $entry->id;?>" role="tabpanel" aria-labelledby="p-pills-profile-<?php echo $entry->id;?>-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $entry->voiceTransCredit; ?></td>
                                </tr>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $entry->voiceTransApiCredit; ?></td>
                                </tr>       
                                <?php if ($this->userRepo->role == 'ADMIN' || $this->userRepo->role == 'P1-RESELLER' || $this->userRepo->role == 'L1-ADMIN'){
                                     echo '<tr>
                                              <td>PERCENTAGE</td>
                                              <td> '.$entry->voicePercentageTrans.' </td>
                                          </tr>';
                                 }?>                           
                              </table>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                 
      </div>


      <div class="tab-pane fade" id="scrub-<?php echo $entry->id;?>" role="tabpanel" aria-labelledby="scrub-<?php echo $entry->id;?>">

        <div class="row">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="s-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="s-pills-home-<?php echo $entry->id;?>-tab" data-toggle="pill" href="#s-pills-home-<?php echo $entry->id;?>" role="tab" aria-controls="s-pills-home-<?php echo $entry->id;?>" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="s-pills-tabContent">
                        <div class="tab-pane fade show active" id="s-pills-home-<?php echo $entry->id;?>" role="tabpanel" aria-labelledby="s-pills-home-<?php echo $entry->id;?>-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $entry->smsScrubCredit; ?></td>
                                </tr>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $entry->smsScrubApiCredit; ?></td>
                                </tr>
                                <?php if ($this->userRepo->role == 'ADMIN' || $this->userRepo->role == 'P1-RESELLER' || $this->userRepo->role == 'L1-ADMIN'){
                                     echo '<tr>
                                              <td>PERCENTAGE</td>
                                              <td> '.$entry->smsPercentageScrub.' </td>
                                          </tr>';
                                 }?>  
                              </table>
                            </div>
                          </div>
                        </div>
                        
                        
                      </div>
                    </div>
                  </div>
                  
      </div>


      <div class="tab-pane fade" id="inter-<?php echo $entry->id;?>" role="tabpanel" aria-labelledby="inter-<?php echo $entry->id;?>">

        <div class="row">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="g-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="g-pills-home-<?php echo $entry->id;?>-tab" data-toggle="pill" href="#g-pills-home-<?php echo $entry->id;?>" role="tab" aria-controls="g-pills-home-<?php echo $entry->id;?>" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="g-pills-tabContent">
                        <div class="tab-pane fade show active" id="g-pills-home-<?php echo $entry->id;?>" role="tabpanel" aria-labelledby="g-pills-home-<?php echo $entry->id;?>-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $entry->smsInterCredit; ?></td>
                                </tr>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $entry->smsInterApiCredit; ?></td>
                                </tr>   
                                <?php if ($this->userRepo->role == 'ADMIN' || $this->userRepo->role == 'P1-RESELLER' || $this->userRepo->role == 'L1-ADMIN'){
                                     echo '<tr>
                                              <td>PERCENTAGE</td>
                                              <td> '.$entry->smsPercentageInter.' </td>
                                          </tr>';
                                 }?>                               
                              </table>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
      </div>


</div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal Ends --> 

<?php endforeach; ?>  

       