<div class="content-wrapper">
<?php 
              if ($this->errors) {
                echo '<div class="alert alert-danger" role="alert" align=center>';
                    
                    if (isset($this->errors['username']['isEmpty']) || isset($this->errors['password']['isEmpty']) || isset($this->errors['repassword']['isEmpty']) || isset($this->errors['domain']['isEmpty'])) {
                        echo 'Username or Password is missing';
                    }elseif(isset($this->errors['repassword']['notSame'])) {
                        echo 'Passwords do not match';
                    }elseif (isset($this->errors['domain']['domainExists'])) {
                        echo 'Domain already exists';
                    }elseif (isset($this->errors['domain']['hostnameInvalidHostname'])) {
                        echo 'Invalid domain name eg: voice.domain.com';
                    }else{
                        print_r($this->errors);
                    }
                echo '</div>';
              } 
              if ($this->success) {
                echo '<div class="alert alert-success" role="alert" align=center>';
                    if (isset($this->success)) {
                        echo 'Reseller created successfully';
                    }
                echo '</div>';
              }
              ?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="SmsComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Username</label>
                     <?php echo $this->form->username; ?>   
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <?php echo $this->form->password; ?> 
                    </div>
                    <div class="form-group">
                      <label>Confirm</label>
                      <?php echo $this->form->repassword; ?>
                    </div>
                    <div class="form-group">
                      <label>Domain</label>
                      <?php echo $this->form->domain; ?>
                    </div>
                    <div class="form-group">
                      <label>Theme</label>
                      <?php echo $this->form->theme; ?>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"></label>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label"> Esme</label>
                              <?php echo $this->form->smppUser; ?>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">Tps</label>
                              <?php echo $this->form->tps; ?>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">Bind</label>
                              <?php echo $this->form->bind; ?>
                            </div>
                          </div>

                      </div>


<div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>

                    <div class="form-group">
                      <label>Name</label>
                      <?php echo $this->form->name; ?>
                    </div>   
                    <div class="form-group">
                      <label>Mobile</label>
                      <?php echo $this->form->mobile; ?>
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <?php echo $this->form->email; ?>
                    </div>                    
                    <div class="form-group">
                      <label>Place</label>
                      <?php echo $this->form->country; ?>
                    </div>

</div></div>
                    <button id="send" type="submit" class="btn btn-primary mr-2">Send</button>
                  </form>
                </div>
              </div>
            </div>

</div>