<div class="row">
	<div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading">
                        <h4>REQUEST SENDER-ID</h4>
                    </header>
                    <div class="panel-body">

<?php 
		      if ($errors = $this->errors) {
				echo '<div class="alert alert-danger" role="alert" align="center"> ';
					if (isset($errors['senderid']['isFailed'])) {
						echo $errors['requestCode']['isFailed'];
					}					
					if (isset($errors['username']['isEmpty'])) {
						echo 'Mobile is missing';
					}
					if (isset($errors['username']['stringLengthTooShort']) || isset($errors['username']['notDigits']) || isset($errors['username']['stringLengthTooLong'])) {
						echo 'Invalid sender-ID';
					}
				echo '</div>';
			  } 
			  if ($success = $this->success) {
				echo '<div class="alert alert-success" role="alert"  align="center"> ';
					if (isset($success['senderid']['isSuccess'])) {
						echo $success['senderid']['isSuccess'];
					}
			    echo '</div>';
			  }
		      ?>
                        <div class="position-left">
                           <form enctype="<?php echo $this->form->getEnctype(); ?>" id="RegisterForm" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" class="<?php echo $this->form->getAttrib('class'); ?>">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Mobile</label>
                                <div class="col-lg-5">
                                    <?php echo $this->form->username; ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-5">
                                    <?php echo $this->form->request; ?>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </section>

            </div>
</div>
