	<footer >
		<div class="footer_inner clearfix"></div>
				<div class="footer_top_holder">
			<div class="footer_top">
								<div class="container">
					<div class="container_inner">
			<div class="four_columns clearfix">
								<div class="column1">
									<div class="textwidget"><img class="footer_logo" src="<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/uploads/2014/03/logo-footer.png" width='150' alt="logo" />
									<div class="separator  transparent center  " style="margin-top: 8px;margin-bottom: 2px;"></div>



Evoxtel Technologies<br />
Im Lindenfeld 9<br />
Geilenkirchen<br />
Germany 52511<br />
Email: info@evoxtel.com<br />
Telephone: +49 22167783593<br />


<div class="separator  transparent center" style="margin-top: 12px;margin-bottom: 2px;"></div>
<!--  
<div><img class="footer_logo" src="<?php //echo $this->baseUrl(); ?>/evoxtel/wp-content/uploads/2014/03/vsmppbox.png" width='150' alt="logo" /></div>
--> 
<span class='q_social_icon_holder normal_social' ><a href='#' target='_blank'><i class='fa fa-twitter fa-lg simple_social' style='font-size: 17px;'></i></a></span>

<span class='q_social_icon_holder normal_social' ><a href='#' target='_blank'><i class='fa fa-facebook fa-lg simple_social' style='font-size: 17px;'></i></a></span>

<span class='q_social_icon_holder normal_social' ><a href='#' target='_blank'><i class='fa fa-google-plus fa-lg simple_social' style='font-size: 17px;'></i></a></span>

<span class='q_social_icon_holder normal_social' ><a href='#' target='_blank'><i class='fa fa-instagram fa-lg simple_social' style='font-size: 17px;'></i></a></span>

<span class='q_social_icon_holder normal_social' ><a href='#' target='_blank'><i class='fa fa-tumblr fa-lg simple_social' style='font-size: 17px;'></i></a></span>
							
 		
									</div>
								</div>
								<div class="column2">
<div id="recent-posts-10" class="widget widget_recent_entries">		<h5>DOCS and AGREEMENTS</h5>		<ul>
					<li>
				<a href="<?php echo $this->baseUrl();?>/index/license">Vsmppbox License Agreement</a>
						</li>
					
				</ul>
		</div>
								</div>
								<div class="column3">

								</div>
								
								<div class="column4">
									
								</div>
															</div>
				</div>
							</div>
		</div>
						<div class="footer_bottom_holder">
			<div class="footer_bottom">
							<div class="textwidget"><span>&copy; Copyright Evoxtel Technologies</span></div>
					</div>
		</div>
				</div>
	</footer>