<head>
	<meta charset="UTF-8" />
	
	<title><?php echo $this->title;?></title>

<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/plugins/sitepress-multilingual-cms/res/css/language-selectore2c9.css?v=2.9.2" type="text/css" media="all" />

	
							<meta name="description" content="EVOXTEL's VSMPPBOX -A Powerful SMPP server with build in fake DLR Generation">
			
							<meta name="keywords" content="smpp server, smppbox, vsmppbox, sms, voice, vas, kannel, asterisk, voip, reseller panel, sip, broadcasting, bulksms, bulkvoice, powerful smpp">
						<meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
		
	<link rel="profile" href="<?php echo $this->baseUrl(); ?>/evoxtel/gmpg.org/xfn/11.html" />
	<link rel="pingback" href="xmlrpc.php" />
	<link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/img/favicon.ico">
	<link rel="apple-touch-icon" href="<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/img/favicon.ico"/>
	<!--[if gte IE 9]>
		<style type="text/css">
			.gradient {
				 filter: none;
			}
		</style>
	<![endif]-->

<link href='<?php echo $this->baseUrl(); ?>/evoxtel/fonts.googleapis.com/css8d97.css?family=Raleway:100,200,300,400,600,700,800' rel='stylesheet' type='text/css'>
<link rel="alternate" type="application/rss+xml" title="Evoxtel &raquo; Feed" href="#" />
<link rel="alternate" type="application/rss+xml" title="Evoxtel &raquo; Comments Feed" href="#" />
<link rel="alternate" type="application/rss+xml" title="Evoxtel &raquo; Home 1 Comments Feed" href="#" />
<link rel='stylesheet' id='layerslider-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/plugins/LayerSlider/static/css/layersliderf08a.css?ver=5.2.0' type='text/css' media='all' />
<link rel='stylesheet' id='ls-google-fonts-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/fonts.googleapis.com/cssf94b.css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&amp;subset=latin' type='text/css' media='all' />
<link rel='stylesheet' id='default_style-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/style1678.css?ver=4.0.7' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/css/font-awesome/css/font-awesome.min1678.css?ver=4.0.7' type='text/css' media='all' />
<link rel='stylesheet' id='qode-elegant-icons-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/css/elegant-icons/style.min1678.css?ver=4.0.7' type='text/css' media='all' />
<link rel='stylesheet' id='stylesheet-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/css/stylesheet.min1678.css?ver=4.0.7' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/css/woocommerce.min1678.css?ver=4.0.7' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce_responsive-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/css/woocommerce_responsive.min1678.css?ver=4.0.7' type='text/css' media='all' />
<link rel='stylesheet' id='style_dynamic-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/css/style_dynamic05a4.css?ver=1448018395' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/css/responsive.min1678.css?ver=4.0.7' type='text/css' media='all' />
<link rel='stylesheet' id='style_dynamic_responsive-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/css/style_dynamic_responsive05a4.css?ver=1448018395' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_front-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/plugins/js_composer/assets/css/js_composer7035.css?ver=4.3.4' type='text/css' media='all' />
<link rel='stylesheet' id='custom_css-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/css/custom_css05a4.css?ver=1448018395' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_custom_css-css'  href='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/uploads/js_composer/custom7035.css?ver=4.3.4' type='text/css' media='screen' />
<script type='text/javascript' src='<?php echo $this->baseUrl(); ?>/evoxtel/wp-includes/js/jquery/jquery90f9.js?ver=1.11.1'></script>
<script type='text/javascript' src='<?php echo $this->baseUrl(); ?>/evoxtel/wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
<script type='text/javascript' src='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/plugins/LayerSlider/static/js/layerslider.kreaturamedia.jqueryf08a.js?ver=5.2.0'></script>
<script type='text/javascript' src='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/plugins/LayerSlider/static/js/greensock4a80.js?ver=1.11.2'></script>
<script type='text/javascript' src='<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/plugins/LayerSlider/static/js/layerslider.transitionsf08a.js?ver=5.2.0'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" /> 
<link rel='canonical' href='#' />
<link rel='shortlink' href='#' />
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->	
</head>