<div class="container_inner clearfix">
			                					<div class="header_inner_left">
                        													<div class="mobile_menu_button"><span><i class="fa fa-bars"></i></span></div>
												<div class="logo_wrapper">
                            							<div class="q_logo"><a href="http://www.evoxtel.com"><img class="normal" src="<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/img/logo_black.png" alt="Logo"/><img class="light" src="<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/img/logo_white.png" alt="Logo"/><img class="dark" src="<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/themes/evoxtel/img/logo_black.png" alt="Logo"/><img class="sticky" src="<?php echo $this->baseUrl(); ?>/evoxtel/wp-content/uploads/2014/03/b23.png" alt="Logo"/></a></div>
                            						</div>
                                                					</div>
                    					                                                							<div class="header_inner_right">
                                <div class="side_menu_button_wrapper right">
																				
	                                    
                                </div>
							</div>
												<nav class="main_menu drop_down right">
						<ul id="menu-top_menu" class=""><li id="nav-menu-item-9723" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children  has_sub narrow"><a href="/index" class="<?php echo $this->home;?>"><i class="menu_icon fa blank"></i><span>Home</span><span class="plus"></span></a>
<div class="second"><div class="inner"></div></div>
</li>
<li id="nav-menu-item-9733" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide icons"><a href="#" class=""><i class="menu_icon fa blank"></i><span>Products &#038; Features</span><span class="plus"></span></a>
<div class="second"><div class="inner"><ul>
	<li id="nav-menu-item-13515" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub"><a href="#" class=""><i class="menu_icon fa blank"></i><span>Value added services</span><span class="plus"></span><i class="q_menu_arrow fa fa-angle-right"></i></a>
	<ul>
		<li id="nav-menu-item-13518" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><i class="menu_icon fa blank"></i><span>SMS &#038; VOICE Broadcasting</span><span class="plus"></span></a></li>
		<li id="nav-menu-item-13516" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><i class="menu_icon fa blank"></i><span>Smart IVR</span><span class="plus"></span></a></li>
		<li id="nav-menu-item-13516" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><i class="menu_icon fa blank"></i><span>Vsmppbox SMPP Server</span><span class="plus"></span></a></li>	</ul>
</li>
	<li id="nav-menu-item-9744" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub"><a href="#" class=""><i class="menu_icon fa blank"></i><span>Server Management</span><span class="plus"></span><i class="q_menu_arrow fa fa-angle-right"></i></a>
	<ul>
		<li id="nav-menu-item-13639" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><i class="menu_icon fa blank"></i><span>Asterisk solutions</span><span class="plus"></span></a></li>
		<li id="nav-menu-item-13835" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><i class="menu_icon fa blank"></i><span>Kannel solutions</span><span class="plus"></span></a></li>
		<li id="nav-menu-item-13835" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><i class="menu_icon fa blank"></i><span>Vsmppbox solutions</span><span class="plus"></span></a></li>
		<li id="nav-menu-item-13639" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><i class="menu_icon fa blank"></i><span>VOIP solutions</span><span class="plus"></span></a></li>
		<li id="nav-menu-item-13835" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><i class="menu_icon fa blank"></i><span>SMPP &#038; SMS solutions</span><span class="plus"></span></a></li>
	</ul>
</li>
	<li id="nav-menu-item-9756" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub"><a href="#" class=""><i class="menu_icon fa blank"></i><span>Embedded solutions</span><span class="plus"></span><i class="q_menu_arrow fa fa-angle-right"></i></a>
	<ul>
		<li id="nav-menu-item-13594" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><i class="menu_icon fa blank"></i><span></span><span class="plus"></span></a></li>
	</ul>
</li>
	<li id="nav-menu-item-9768" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub"><a href="#" class=""><i class="menu_icon fa blank"></i><span>Softwares &#038; hardwares</span><span class="plus"></span><i class="q_menu_arrow fa fa-angle-right"></i></a>
	<ul>
		<li id="nav-menu-item-13949" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><i class="menu_icon fa blank"></i><span></span><span class="plus"></span></a></li>
</ul>
</li>
</ul></div></div>
</li>
<li id="nav-menu-item-10774" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide"><a href="#" class=""><i class="menu_icon fa blank"></i><span>About Us</span><span class="plus"></span></a></li>
<li id="nav-menu-item-9779" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow"><a href="/index/contact" class="<?php echo $this->contact;?>"><i class="menu_icon fa blank"></i><span>Contact Us</span><span class="plus"></span></a></li>

</ul>						</nav>
						                        										<nav class="mobile_menu">
                        <ul id="menu-top_menu-1" class=""><li id="mobile-menu-item-9723" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children  has_sub"><a href="/index" class="<?php echo $this->home;?>"><span>Home</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
</li>

<li id="mobile-menu-item-9733" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=""><span>Products &#038; Features</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
<ul class="sub_menu">
	<li id="mobile-menu-item-13515" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=""><span>Value added services</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
	<ul class="sub_menu">
		<li id="mobile-menu-item-13518" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span>SMS &#038; VOICE Broadcasting</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
		<li id="mobile-menu-item-13516" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span>Smart IVR</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
		<li id="mobile-menu-item-13516" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span>Vsmppbox SMPP Server</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
    </ul>
</li>
	<li id="mobile-menu-item-9744" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=""><span>Server Management</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
	<ul class="sub_menu">
		<li id="mobile-menu-item-13639" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span>Asterisk Solutions</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
		<li id="mobile-menu-item-13835" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span>Kannel Solutions</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
		<li id="mobile-menu-item-13845" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span>Vsmppbox Solutions</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
		<li id="mobile-menu-item-13845" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span>VOIP Solutions</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
		<li id="mobile-menu-item-13868" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span>SMPP &#038; SMS solutions</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
	</ul>
</li>
	<li id="mobile-menu-item-9756" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=""><span>Embeded solutions</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
	<ul class="sub_menu">
		<li id="mobile-menu-item-13594" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span></span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
		</ul>
</li>
	<li id="mobile-menu-item-9768" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=""><span>Softwares &#038; hardwares</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
	<ul class="sub_menu">
		<li id="mobile-menu-item-13949" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span></span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
		</ul>
</li>
</ul>
</li>
<li id="mobile-menu-item-10774" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=""><span>About Us</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>

</li>
<li id="mobile-menu-item-9779" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="/index/contact" class="<?php echo $this->home;?>"><span>Contact Us</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>

</li>

</ul>					</nav>
								</div>