<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<p>Hi, </p>
<p>Thanks for signing up!</p> 
<p>Please click on the link below to activate your account</p>
<p><a href="<?php echo $this->escape($this->domain) ?>/account/activate/<?php echo $this->escape($this->data) ?>"><?php echo $this->escape($this->domain) ?>/account/activate/<?php echo $this->escape($this->data) ?></a></p>
<p>If the link does not work, copy & paste it into your web browser's address bar.</p>
<p>Kind Regards,<br/>
Support Team</p>
</body>
</html>