<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<p>Contact Us Form </p>
<p>Name : <?php echo $this->escape($this->data['name']) ?></p> 
<p>Email : <?php echo $this->escape($this->data['username']) ?></p> 
<p>Website : <?php echo $this->escape($this->data['website']) ?></p> 
<p>Message : <?php echo $this->escape($this->data['message']) ?></p> 
</body>
</html>