<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<p>Hi, </p>
<p>Your account details</p>
<p>Domain : <?php echo $this->escape($this->domain) ?></p>
<p>Password : <?php echo $this->escape($this->data) ?></p>
<p>Username is your username id.</p>
<p>Kind Regards,<br/>
Support Team</p>
</body>
</html>