/******************************************************************************************************************/
/* ADRIANO | Creative Multipurpose Template                                                                       */
/* (c) 2017 Rene Puchinger                                                                                        */
/******************************************************************************************************************/
/* STYLES                                                                                                         */
/* Contents:                                                                                                      */
/*  - GENERAL TEMPLATE STYLES                                                                                     */
/*  - TYPED.js                                                                                                    */
/*  - HEADER                                                                                                      */
/*  - HERO AREA                                                                                                   */
/*  - ABOUT SECTION                                                                                               */
/*  - SKILL BAR                                                                                                   */
/*  - HIRE ME SECTION                                                                                             */
/*  - PORTFOLIO SECTION                                                                                           */
/*  - PRICING SECTION                                                                                             */
/*  - OUR TEAM SECTION                                                                                            */
/*  - TESTIMONIALS SECTION                                                                                        */
/*  - OUR CLIENTS SECTION                                                                                         */
/*  - BLOG SECTION                                                                                                */
/*  - SUBSCRIBE FORM                                                                                              */
/*  - CONTACT FORM                                                                                                */
/*  - FOOTER                                                                                                      */
/*                                                                                                                */
/*  - BLOG POST                                                                                                   */
/*  - BLOG PAGE                                                                                                   */

/******************************************************************************************************************/
/** GENERAL TEMPLATE STYLES                                                                                       */
/******************************************************************************************************************/

html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.animation {
    opacity: 0;
}

a {
    transition: all 0.6s ease 0s;
    color: #7971c3;
    text-decoration: none;
}

a:hover {
    color: #0e1493;
    text-decoration: none;
}

h1 {
    font-size: 4.0rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    padding-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.0rem;
    color: #333;
    position: relative;
}

h2:after {
    position: absolute;
    width: 100px;
    background-color: #7971c3;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    right: 0;
}

h3 {
    padding-bottom: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #333;
}

h4 {
    color: #333;
}


@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2.4rem;
    }

}

q, p {
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.no-js #preloader {
    display: none;
}

.js #preloader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.js #preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/ball.gif') center no-repeat #fff;
}

.btn {
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 30px;
    border: 0;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}

.btn-primary {
    padding: 12px 26px 13px 26px;
    background: #7971c3;
    border: 1px solid #7971c3;
    text-transform: uppercase;
    text-shadow: none;
    margin: 2px 0;
}

a.btn-primary {
    padding: 12px 26px 13px 26px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #0e1493;
    -webkit-box-shadow: 0 0 0 2px #0e1493;
    box-shadow: 0 0 0 2px #0e1493;
    border-color: #0e1493;
}

.btn-secondary {
    background: #000;
    border: 1px solid #000;
    text-transform: uppercase;
    border-radius: 0;
    text-shadow: none;
}

a.btn-secondary {
    padding: 12px 16px 13px 16px;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    background: #fff;
    color: #333;
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff;
    border-color: #000;
}

.btn-sm {
    padding: 6px 17px 7px 17px;
    font-size: 0.7rem;
    border-radius: 30px;
    background: #7971c3;
    border: 0;
    color: #fff !important;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    margin: 0 5px 1rem 5px;
    text-transform: uppercase;
    font-weight: normal;
}

.btn-sm:hover {
    background: #0e1493;
}

a:focus {
    color: inherit;
}

section, .section {
    padding: 6rem 0;
    text-align: center;
    background: #fff;
}

.section-header {
    padding: 0 0 2rem 0;
}

.section-footer {
    padding-top: 4rem;
    font-style: italic;
    font-size: 1.5rem;
    color: #c0c0c0;
}

/******************************************************************************************************************/
/** TYPED.js                                                                                                      */
/******************************************************************************************************************/

.typed-wrap {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}

.typed {
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}

.typed-cursor {
    opacity: 1;
    font-size: 2rem;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@media only screen and (max-width: 767px) {
    .typed {
        font-size: 1.2rem;
    }
    .typed-cursor {
        font-size: 1.2rem;
    }
    .typed-wrap {
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.portfolio-link {
    display: none;
}

/******************************************************************************************************************/
/** HEADER                                                                                                        */
/******************************************************************************************************************/

.navbar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3) !important;
    z-index: 9999;
}

nav a.nav-link {
    font-weight: 500;
    letter-spacing: 0.6px;
    font-size: 0.9rem;
}

@media only screen and (min-width: 992px) {

    .navbar {
        background-color: #fff;
        padding-bottom: 20px;
    }

    .header-overlay {
        background-color: #fff !important;
        transition: all 0.6s ease 0s;
    }

    .navbar-brand img {
        padding-top: 12px;
    }

}

@media only screen and (max-width: 991px) {
    .navbar {
        min-height: 76px;
        text-align: center;
        background-color: #fff;
        padding-top: 16px;
    }

    .navbar-nav > li > a {
        color: #000 !important;
    }

    .navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
        color: #7971c3 !important;
    }

}

nav ul li {
    text-transform: uppercase;
}

.navbar-brand {
    min-width: 275px;
}

@media only screen and (min-width: 992px) {

    .navbar-nav {
        margin-bottom: -8px;
        margin-top: 8px;
    }

    .navbar-nav > li > a {
        padding-right: 0;
        padding-left: 0;
        margin-right: 12px;
        margin-left: 12px;
        border-bottom: 3px solid rgba(255, 255, 255, 0);
        color: #000 !important;
    }

    .navbar-nav > li:last-child > a {
        margin-right: 0;
    }

    .navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
        border-bottom: 3px solid #7971c3;
    }

    .navbar-nav > li > a:hover {
        border-bottom: 3px solid #0e1493;
    }

    .navbar-nav > li > a.active:hover {
        border-bottom: 3px solid #0e1493;
    }
}

/******************************************************************************************************************/
/** HERO AREA                                                                                                     */
/******************************************************************************************************************/

.jumbotron {
    background: url(../img/hero.jpg) repeat-y;
    background-size: cover;
    background-color: #000;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-shadow: 0px 1px 1px #fff;
    border-radius: 0;
    height: calc(100vh - 75px);
    width: 100%;
    margin: 0;
    letter-spacing: 0.7px;
    margin-top: 75px;
}

#intro-text {
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 800px;
    font-weight: 300;
    font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
    #intro-text {
        padding: 2rem 0;
        font-size: 0.9rem;
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .jumbotron {
    height: 900px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .jumbotron {
    height: 768px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .jumbotron {
    height: 500px;
  }
}

.jumbotron .container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    min-height: 250px;
}

@media only screen and (max-height: 700px) {
    .jumbotron .container {
        top: 44%;
    }
}

#particles-js {
    position: absolute;
    height: calc(100vh - 75px);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    margin-top: 0;
}

#effect-js {
    position: absolute;
    height: calc(100vh - 75px);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    margin-top: 0;
}

#bg-video-wrap {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#bg-video {
    height: calc(100vh - 75px);
    width: 100%;
    z-index: 0;
    object-fit: cover;
    opacity: 1;
    background-color: #000;
    margin-top: 0;
}

.jumbotron .type-it {
    font-size: 1.5rem;
}

@-webkit-keyframes down-bounce {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    30% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    50% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }
    70% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}

@keyframes down-bounce {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    30% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    50% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }
    70% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}

.down-bounce {
    -webkit-animation: down-bounce 4s infinite;
    animation: down-bounce 4s infinite;
}

.arrow-wrap {
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
}

.arrow {
    width: 40px;
    height: 40px;
    color: #000;
    font-size: 1.6rem;
    display: block;
    bottom: 10px;
    text-align: center;
    text-decoration: none;
}

.arrow:hover, .arrow:focus {
    text-decoration: none;
    color: #000;
}

.my-4 {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/******************************************************************************************************************/
/** ABOUT SECTION                                                                                                 */
/******************************************************************************************************************/

#about .photo {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#about p {
    text-align: left;
    color: #666;
    letter-spacing: 0.5px;
}

#about-text {
    margin-top: 1rem;
}

.photo-wrap {
    position: relative;
    width: 100%;
}

.photo-text .fa, .photo-text .fa:visited, .photo-text .fa:active, .photo-text .fa:focus {
    color: #000;
    margin: auto 5px;
    font-size: 1.8rem;
}

.photo-text .fa:hover {
    color: #7971c3;
}

.photo-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.photo-wrap:hover .photo-overlay {
    width: 100%;
}

.photo-text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/******************************************************************************************************************/
/** SKILL BAR                                                                                                     */
/******************************************************************************************************************/

#skillbar-wrap {
    padding-top: 10px;
}

#skillbar-wrap .skillbar {
    height: 30px;
    line-height: 30px;
    margin: 19px 0 0 0;
    border-radius: 0;
}

#skillbar-wrap .skillbar-bar {
    padding: 0;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    margin: 0;
    border-radius: 0;
    position: absolute;
    left: 0;
}

#skillbar-wrap .skillbar-title {
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #000;
    width: 155px;
    border-radius: 0;
}

/******************************************************************************************************************/
/** SERVICES SECTION                                                                                              */
/******************************************************************************************************************/

#services {
    text-align: center;
    color: #333;
    background: #fafafa;
    margin-bottom: 0;
}

#services h2 {
    color: #333;
}

#services i {
    font-size: 1.4rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#services .circle {
    background-color: #7971c3;
    border-radius: 100px;
    padding: 6px;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 6px auto;
}

#services .box {
    background: #fff;
    border: 5px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 30px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

#services .box:hover {
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#services h3 {
    margin-top: 21px;
}

/******************************************************************************************************************/
/** HIRE ME SECTION                                                                                               */
/******************************************************************************************************************/

#hireme {
    background: url(../img/hireme-bg.jpg) repeat-y;
    background-size: cover;
    background-color: #000;
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
    width: 100%;
    text-shadow: 0px 1px 2px #fff;
}

#hireme h4 {
	margin-top: 1rem;
}

#hireme .btn {
	margin-top: 1rem;
}

/******************************************************************************************************************/
/** PORTFOLIO SECTION                                                                                             */
/******************************************************************************************************************/

#portfolio {
    padding-bottom: 6rem;
    border-radius: 0;
}

#portfolio .item {
    padding: 0;
    margin: 0;
    border: 6px solid #fff;
}

#portfolio .magnifier {
    background: rgba(255, 255, 255, 0.96) url(../img/magnifier.png) no-repeat center;
    border: 6px solid #444;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#portfolio .magnifier:hover {
    opacity: 0.8;
}

#portfolio .isotope,
.isotope .item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

#portfolio .isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

#portfolio .isotope .item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

#filters-group {
    margin-bottom: 1rem;
}

#portfolio .filter {
    padding: 6px 17px 7px 17px;
    font-size: 0.7rem;
    border-radius: 30px;
    background: #7971c3;
    border: 0;
    color: #fff !important;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    margin: 0 5px 1rem 5px;
    text-transform: uppercase;
    font-weight: normal;
}

#portfolio .filter:hover, .portfolio .filter:active, .portfolio .filter:focus {
    background: #0e1493;
    border-color: #0e1493;
}

/******************************************************************************************************************/
/** PRICING SECTION                                                                                               */
/******************************************************************************************************************/

#pricing {
    background-color: #fafafa;
}

.pricingTable{
    text-align: center;
    transform: translateY(0);
    transition: all 0.3s ease 0s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.pricingTable:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}
.pricingTable .pricingTable-header{
    background: #555;
    padding: 20px 0;
    position: relative;
    transition: all 0.3s ease 0s;
}

.pricingTable:hover .pricingTable-header{
    background: #7971c3;
}
.pricingTable .title{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.pricingTable .currency{
    display: inline-block;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    margin-right: 3px;
}
.pricingTable .price-value{
    display: inline-block;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    padding-right: 5px;
}
.pricingTable .month{
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}
.pricingTable .pricing-content{
    background: #fff;
    padding: 25px 20px;
}
.pricingTable .pricing-content ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.pricingTable .pricing-content ul li{
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
.pricingTable .pricing-content ul li span{
    font-weight: 700;
    padding-right: 5px;
}
@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 40px; }
}

/******************************************************************************************************************/
/** OUR TEAM SECTION                                                                                              */
/******************************************************************************************************************/

.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member .team-img img {
    width: 100%;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-member {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.team-member:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}

.team-hover .s-link .fa:hover {
    color: #7971c3;
}

.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
    letter-spacing: 1px;
}


/******************************************************************************************************************/
/** TESTIMONIALS SECTION                                                                                          */
/******************************************************************************************************************/

#testimonials {
    background: url(../img/testimonials-bg.jpg) repeat-y;
    background-size: cover;
    background-color: #000;
    text-align: center;
    padding-bottom: 4rem;
    margin-bottom: 0;
    color: #000;
    width: 100%;
    text-shadow: 0px 1px 2px #fff;

}

#testimonials .testimonial {
    text-align: center;
    max-width: 850px;
    margin: 0 auto 2rem auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#testimonials .testimonial-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 20px auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

#testimonials .testimonial-quote {
    display: block;
    font-weight: 300;
    padding: 10px 0;
}

#testimonials .testimonial-author {
    display: block;
    margin-top: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

#testimonials .flickity-page-dots {
    padding-top: 1rem;
    margin: 0 auto;
    position: static;
}

#testimonials .flickity-page-dots .dot {
    background: #000;
    opacity: 0.6;
}

#testimonials .flickity-page-dots .dot.is-selected {
    background-color: #0e1493;
    -webkit-box-shadow: 0 0 0 2px #0e1493;
    box-shadow: 0 0 0 2px #0e1493;
    opacity: 1;
}

#testimonials .gallery-cell {
    width: 98%;
}

#testimonials-content::before {
    content: "\201C";
    font-size: 100px;
    position: absolute;
    left: 20px;
    top: 0;
    z-index: 555;
}

#testimonials-content::after {
    content: "\201D";
    font-size: 100px;
    position: absolute;
    right: 20px;
    bottom: 0;
    z-index: 555;
}

/******************************************************************************************************************/
/** CLIENTS SECTION                                                                                               */
/******************************************************************************************************************/

#clients {
    padding: 2rem 0;
    background-color: #fafafa;
}

#clients .container {
}

#clients .item {
    display: inline-block;
    width: 160px;
    line-height: 153px;
    padding: 0 20px;
    margin: 0 30px;
}

#clients .item img {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#clients .item:hover img {
    transform: scale(1.1);
}

/******************************************************************************************************************/
/** BLOG SECTION                                                                                                  */
/******************************************************************************************************************/
#blog .item-wrap {
    padding-bottom: 2rem;
}

#blog .item {
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#blog .item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#blog .inner {
    padding: 20px;
}

#blog h4 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

#blog p {
    font-weight: 300;
}

/******************************************************************************************************************/
/** SUBSCRIBE FORM                                                                                                  */
/******************************************************************************************************************/
#subscribe {
    background-color: #fafafa;
}

#subscribe .form-control::-webkit-input-placeholder {
    color: #777;
    font-weight: 200;
}

#subscribe .form-control:-moz-placeholder {
    color: #777;
    font-weight: 200;
}

#subscribe .form-control::-moz-placeholder {
    color: #777;
    font-weight: 200;
}

#subscribe .form-control:-ms-input-placeholder {
    color: #777;
    font-weight: 200;
}

#subscribe .btn {
    padding: 20px 30px;
}
#subscribe .form-control:focus {
    border-color: #7971c3;
}

#subscribe input {
    padding: 20px;
    color: #000;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 2px 0;
}

#subscribe-response {
    text-align: center;
    margin-top: 2rem;
}

/******************************************************************************************************************/
/** CONTACT FORM                                                                                                  */
/******************************************************************************************************************/

#contact {
    background: #333;
    color: #fff;
}

#contact h2 {
    color: #fff;
}

#contact .container {
    margin: 2rem auto;
}

#contact-form {
    position: relative;
}

#contact button {
    margin-top: 1rem;
}

#ajaxLoad {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../img/squares.gif) center no-repeat;
}

#contact p {
    color: #fff;
    letter-spacing: 0.5px;
}

#contact .contact-form {
    padding: 0 0 30px 0;
}

#contact .section-header {
    padding-bottom: 0;
}

#contact .form-control::-webkit-input-placeholder {
    color: #c0c0c0;
    font-weight: 200;
}

#contact .form-control:-moz-placeholder {
    color: #c0c0c0;
    font-weight: 200;
}

#contact .form-control::-moz-placeholder {
    color: #c0c0c0;
    font-weight: 200;
}

#contact .form-control:-ms-input-placeholder {
    color: #c0c0c0;
    font-weight: 200;
}

#contact .section-header p {
    color: #f0f0f0;
    letter-spacing: 0.5px;
}

#contact input, #contact textarea {
    margin: 26px 0;
    border-radius: 0;
}
#contact input, #contact textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;    
}

#contact input:focus, #contact textarea:focus {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

#contact textarea {
    height: 178px;
}

#contact2 {
    color: #fff;
    background: #444;
    margin: 0;
    padding: 2rem 0;
}

#contact2 .withMap {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#contact2 .withMap p {
    text-align: left;
    color: #fff;
    letter-spacing: 0.5px;
}

#contact2 .withMap div {
    font-size: 1.1rem;
    text-align: left;
    color: #eee;
    letter-spacing: 0.5px;
}

#contact2 .withMap .fa {
    padding-right: 10px;
    color: #eee;
    font-size: 1.2rem;
}

#googleMap {
    width: 100%;
    height: 300px;
    margin-top: 1rem;
}

@media only screen and (max-width: 767px) {
    #googleMap {
        margin-top: 2rem;
    }
}

/******************************************************************************************************************/
/** FOOTER                                                                                                        */
/******************************************************************************************************************/

@media only screen and (max-width: 768px) {
    .footer .col-12 p {
        text-align: center;
    }

    .footer .col-12 .pull-right {
        text-align: center;
        float: none !important;
    }
}

.footer {
    color: #fff;
    background: #111;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#blog-post .footer p {
    font-weight: 400;
}

.footer .fa, .footer .fa:visited, .footer .fa:active, .footer .fa:focus {
    color: #fff;
    margin: auto 5px;
}

.footer .fa:hover {
    color: #7971c3;
}

/******************************************************************************************************************/
/** BLOG POST                                                                                                     */
/******************************************************************************************************************/
#blog-post .jumbotron {
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 0;
    max-height: inherit;
    background: #444;
    color: #fff;
    min-height: inherit;
    height: inherit;
    margin-top: 74px;
    width: inherit;
    text-shadow: none;
}

#blog-post .jumbotron .container {
    position: static;
    text-align: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    min-height: inherit;
}

#blog-post h2 {
    color: #fff;
}

#blog-post h2:after {
    position: absolute;
    width: 100px;
    background-color: #7971c3;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0;
    right: 0;
}

#blog-post section {
    text-align: left;
}

#blog-post h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding-bottom: 0;
}

#blog-post input {
    margin: 2px 0 2px 0;
}

#blog-post h4 {
    font-size: 1.3rem;
    margin-top: 1rem;
    padding-bottom: 0;
    text-transform: uppercase;
}

#blog-post .post-meta {
    margin-bottom: 10px;
    padding-left: 0;
}

#blog-post .post-meta li {
    display: inline-block;
    margin-right: 10px;
}

#blog-post .post-meta li a {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

#blog-post .post-meta li a i {
    color: #7971c3;
    margin-right: 3px;
}

#blog-post .post-meta li a:hover {
    color: #0e1493;
}

#blog-post p {
    font-weight: 300;
}

#blog-post label {
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.7rem;
}

#blog-post .media {
    margin: 20px 0;
}

#blog-post .media-body {
    margin-left: 20px;
    font-weight: 300;
}

#blog-post .media-object {
    height: 120px;
    width: 120px;
}

#blog-post .media-body h4 {
    margin-top: 6px;
}

#blog-post  small {
    color: #777;
}

#blog-post .form-control:focus {
    border-color: #7971c3;
}

/******************************************************************************************************************/
/** BLOG PAGE                                                                                                     */
/******************************************************************************************************************/
#blog-page .jumbotron {
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 0;
    max-height: inherit;
    background: #444;
    color: #fff;
    min-height: inherit;
    height: inherit;
    margin-top: 74px;
    width: inherit;
    text-shadow: none;
}

#blog-page .jumbotron .container {
    position: static;
    text-align: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    min-height: inherit;
}

#blog-page h2 {
    color: #fff;
}

#blog-page h2:after {
    position: absolute;
    width: 100px;
    background-color: #7971c3;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0;
    right: 0;
}
