<div class="content-wrapper">
  <?php 
              if ($this->errors) {
                echo '<div class="alert alert-warning" role="alert" align=center>';
                    print_r($this->errors);
                echo '</div>';
              } 
              if ($this->success) {
                echo '<div class="alert alert-success" role="alert" align=center>';
                    print_r($this->success);
                echo '</div>';
              }
              ?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->formPassword->getEnctype(); ?>" method="<?php echo $this->formPassword->getMethod(); ?>" action="<?php echo $this->formPassword->getAction(); ?>" id="ChanagePasswordForm" class="<?php echo $this->formPassword->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Current</label>
                      <?php echo $this->formPassword->oldpassword; ?>  
                    </div>
                    <div class="form-group">
                      <label>New</label>
                      <?php echo $this->formPassword->password; ?> 
                    </div>
                    <div class="form-group">
                      <label>Confirm</label>
                      <?php echo $this->formPassword->repassword; ?>
                    </div>
                   
<button id="send" type="submit" class="btn btn-primary mr-2">Update</button>
                  </form>
                </div>
              </div>
            </div>

</div>

