<div class="content-wrapper">
   <?php 

              
              if ($this->success) {
                echo '<div class="alert alert-success" role="alert" align=center>';
              
                if (isset($this->success['Profile']['isSuccess'])){
                  echo "User profile updated successfully";
                }
                    echo '</div>';
              }
              
              if ($this->errors) {
                    echo '<div class="alert alert-danger" role="alert" align=center>';
                    if (isset($this->errors['Profile']['isFailed'])) {
                      echo "Updated failed";
                  }else{
                    print_r($this->errors);
                  }
              echo '</div>';
              } 

?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="SmsComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                   
                    <div class="form-group">
                      <label>Name</label>
                      <?php echo $this->form->name;?>
                    </div>
                    
                    <div class="form-group">
                      <label>Email</label>
                      <?php echo $this->form->email; ?>
                    </div>
                    <div class="form-group">
                      <label>Mobile</label>
                      <?php echo $this->form->mobile; ?>
                    </div>
                    <div class="form-group">
                      <label>Place</label>
                      <?php echo $this->form->country; ?>
                    </div>
<button id="send" type="submit" class="btn btn-primary mr-2">Update</button>
                  </form>
                </div>
              </div>
            </div>

</div>