
<!--margin-container start-->
    <div class="margin-container">
     <!--scrollable wrapper start-->
      <div class="scrollable wrapper">

      <!--row start-->
        <div class="row">
        <!--col-md-12 start-->
          <div class="col-md-12">
            <div class="page-heading">
              <h1>User Profile</h1>
            </div>
          </div><!--col-md-12 end-->
        </div><!--row end-->         
         <div class="row">
            <div class="col-lg-6">
              <div class="panel">
              <div class="box-primary">
              <h3>Threshold Alert</h3>
              <hr>
              <?php 
		      if ($this->errors) {
				echo '<div class="alert alert-warning" role="alert" align="center">';
					print_r($this->errors);
				echo '</div>';
			  } 
			  if ($this->success) {
				echo '<div class="alert alert-success" role="alert" align="center">';
			  		print_r($this->success);
			  	echo '</div';
			  }
		      ?>
                <div class="panel-body">
                <!--form-horizontal row-border start-->
              <form enctype="<?php echo $this->formAlert->getEnctype(); ?>" method="<?php echo $this->formAlert->getMethod(); ?>" action="<?php echo $this->formAlert->getAction(); ?>" class="<?php echo $this->formAlert->getAttrib('class'); ?>">
              	<!--form-group start-->
			    <div class="form-group">
                <label class="col-sm-3 control-label">Low Credit Alert</label>
                <div class="col-sm-6">
                  <?php echo $this->formAlert->alert; ?>
                </div>
              </div><!--form-group end-->
              
              	<!--form-group start-->
			    <div class="form-group">
                <label class="col-sm-3 control-label">Threshold Credit</label>
                <div class="col-sm-6">
                  <?php echo $this->formAlert->threshold; ?>
                </div>
              </div><!--form-group end-->
               <!--row start-->
              <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                  <div class="btn-toolbar">
                    <?php echo $this->formAlert->submit; ?>
                  </div>
                </div>
              </div><!--row end-->             
              </form><!--form-horizontal row-border end-->
              </div>
                </div><!--box-primary end-->
              </div>
            </div>
          </div>
         
         		  
      </div><!--scrollable wrapper end-->
    </div><!--margin-container end-->
