		
<form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="SmsComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">
  <div class="row">
   <?php 
   if ($this->success) {
     echo '<div class="alert alert-success" role="alert" align=center>';
     
     echo 'Campaign created successfully';
     
     echo '</div>';
   }
   if ($this->errors) {
     echo '<div class="alert alert-danger" role="alert" align=center>';
     print_r($this->errors);
     if (isset($this->errors['campaignName']['isEmpty'])) {
      echo 'Campaign name is required';
    }elseif (isset($this->errors['Campaign']['isFailed'])) {
      
      echo $this->errors['Campaign']['isFailed'] ;
    }
    echo '</div>';
  } 
  
  ?>
  <div class="col-sm-12">
    <div class="card-box">


     <h4 class="header-title m-t-0 m-b-30">CREATE CAMPAIGN</h4>
     <!-- end row -->	
     <div class="form-group">
      <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Campaign Name</label>
      <div class="col-lg-5">
        <?php echo $this->form->campaignName; ?>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">SMS Route</label>
      <div class="col-lg-5">
        <?php echo $this->form->smsType ;?>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Select SenderID</label>
      <div class="col-lg-5">
        <?php echo $this->form->selectSenderId; ?>
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Contact Type</label>
      <div class="col-lg-10">
        <?php echo $this->form->contactType; ?>
        <p class="help-block">Maximum 50,000 numbers at a time.</p>
      </div>
    </div>
    <div class="form-group" id="upload">
      <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Upload Contacts</label>
      <div class="col-lg-5">
        <?php echo $this->form->uploadContact; ?>
      </div>
    </div>
    <div class="form-group" id="select">
      <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Select Contacts</label>
      <div class="col-lg-5">
        <?php echo $this->form->selectContact; ?>
      </div>
    </div>
    <div class="form-group" id="paste">
      <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Paste Contacts</label>
      <div class="col-lg-5">
        <?php echo $this->form->textContact; ?></br>
        <span id="cont_cnt"><strong>0</strong></span> Contacts
      </div>
    </div>
    <div class="form-group" id="save">
      <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Save Contacts</label>
      <div class="col-lg-5">
        <?php echo $this->form->saveContact;?>
      </div>
    </div>
    <div class="form-group" id="cname">
      <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Contacts Group Name</label>
      <div class="col-lg-5">
        <?php echo $this->form->contactName; ?>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Text</label>
      <div class="col-lg-5">      
        <p id='translControl' align="right"></p>                         	
        <?php echo $this->form->text; ?><br>
        <span id="chr_cnt"><strong>0</strong></span> Characters&nbsp;&nbsp;<span id="sms_cnt"><strong>0</strong></span> SMS
        
      </div>
    </div>
    
    <hr>
    <div class="row">
     <div class="col-md-12">                        		
      <center><?php echo $this->form->submit; ?></center>
    </div>
    
  </div>
  
</form>





