  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	// Load the Google Transliterate API
	google.load("elements", "1", {
		packages: "transliteration"
	});
</script>
<div class="content-wrapper">
<?php 
        if ($this->success) {
         echo '<div class="alert alert-success" role="alert" align=center>';

         echo 'Campaign created successfully';

         echo '</div>';
       }
       if ($this->errors) {
         echo '<div class="alert alert-danger" role="alert" align=center>';
         //
         if (isset($this->errors['campaignName']['isEmpty'])) {
          echo 'Campaign name is required';
        }elseif (isset($this->errors['Campaign']['isFailed'])) {

          echo $this->errors['Campaign']['isFailed'] ;
        }elseif (isset($this->errors['captcha']['badCaptcha'])){
          echo 'Captcha is incorrect';
        }else{
      print_r($this->errors);
    }
        echo '</div>';
      } 

      ?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="SmsComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Route</label>
                      <?php echo $this->form->smsType ;?>
                    </div>
                    <div class="form-group">
                      <label>Campaign name</label>
                      <?php echo $this->form->campaignName; ?>
                      <?php echo $this->form->token;?>
                    </div>
                    <div class="form-group">
                      <label>Sender</label>
                      <?php echo $this->senderId; ?>
                    </div>
                    
                    <div class="form-group">
                      <label>Data upload</label>
                      <?php echo $this->form->uploadContact; ?>
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Csv">
                        <span class="input-group-append">
                          
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Select Data</label>
                      <?php echo $this->form->selectData; ?>
                    </div>

                  <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Message</label>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                               <input id="coding-1" value="7bit" name="coding" onchange="getEncoding(this);" <?php if($this->codingValue == '7bit'){ echo 'checked="checked"'; }?> type="radio" >Normal
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input id="coding-2" value="16bit" name="coding" onchange="getEncoding(this);" <?php if($this->codingValue == '16bit'){ echo 'checked="checked"'; }?> type="radio">Unicode
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input id="flash" value="1"  name="flashRadio" type="checkbox">Flash
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                   </div>

                   <div class="form-group">
                      <label>Text</label>
                      <p id='translControl' align="right"></p>
                      <?php echo $this->form->text; ?>
                  
                  <table width="100%">
                    <thead>
                      <tr>
                        <th width="30%">Encoding</th>
                        <th width="30%">SMS parts</th>
                        <th width="30%">Chars used</th>
                        <th width="30%">SMS Chars</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="smslc-encoding" align="left">7bit</td>
                        <td id="smslc-parts" align="left">1</td>
                        <td id="smslc-characters" align="left">0</td>
                        <td id="smslc-characters-sms" align="left">160</td>
                      </tr>
                    </tbody>
                  </table>
                    </div>

                    <div class="form-group">
                      <label>Template</label>
                      <select class="form-control select2" style="width:100%" onchange = "templateMsg(this.value);">
                      <?php foreach ($this->templateArray as $key => $value) {?>
                        <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                    <?php }?>  
                  </select>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">TinyUrl</label>
                          <div class="col-sm-1">
                            <div class="form-check">
                              <label class="form-check-label">
                               <?php echo $this->form->tinyRadio; ?>
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-6" id="selectUrlDiv" style="display:none">
                             <?php echo $this->form->selectUrl; ?>
                          </div> 

                    </div>


                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Schedule</label>
                          <div class="col-sm-1">
                            <div class="form-check">
                              <label class="form-check-label">
                               <?php echo $this->form->scheduleRadio; ?>
                              <i class="input-helper"></i></label>
                            </div>
                          </div>

                          <div class="col-sm-4" id="datepic" style="display:none">
                            <div id="datePicker" class="input-group date datepicker">
                        <?php echo $this->form->datePicker; ?>
                        <span class="input-group-addon input-group-append border-left">
                          <span class="mdi mdi-calendar input-group-text"></span>
                        </span>
                      </div>
                          </div>

                          <div class="col-sm-2" id="timepic" style="display:none">
                               <div class="input-group date" id="timePicker" data-target-input="nearest">
                        <div class="input-group" data-target="#timePicker" data-toggle="datetimepicker">
                          <?php echo $this->form->timePicker; ?>
                          <div class="input-group-addon input-group-append"><i class="mdi mdi-clock input-group-text"></i></div>
                        </div>
                      </div>
                    </div>
                    </div>

                    

                    <button id="send" type="submit" class="btn btn-primary mr-2">Send</button>
                  </form>
                </div>
              </div>
            </div>

</div>


<script>
 
  function templateMsg(template) {
    $("#text").val(template);
  }


function insertAtCaret(areaId) {
  var text = ' http://google.com/xxxxxxxxxx ';
  var txtarea = document.getElementById(areaId);
  var scrollPos = txtarea.scrollTop;
  var strPos = 0;  
  
  var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ? 
    "ff" : (document.selection ? "ie" : false ) );

  if (br == "ie") { 
    txtarea.focus();
    var range = document.selection.createRange();
    range.moveStart ('character', -txtarea.value.length);
    strPos = range.text.length;
  }
  else if (br == "ff") strPos = txtarea.selectionStart;
 txtarea.value = txtarea.value.replace(text,''); 
  var front = (txtarea.value).substring(0,strPos);  
  var back = (txtarea.value).substring(strPos,txtarea.value.length); 


  txtarea.value=front+text+back;
  strPos = strPos + text.length;
  if (br == "ie") { 
    txtarea.focus();
    var range = document.selection.createRange();
    range.moveStart ('character', -txtarea.value.length);
    range.moveStart ('character', strPos);
    range.moveEnd ('character', 0);
    range.select();
  }
  else if (br == "ff") {
    txtarea.selectionStart = strPos;
    txtarea.selectionEnd = strPos;
    txtarea.focus();
  }
  txtarea.scrollTop = scrollPos;

}

</script>