<div class="row">
	<div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h5>CAMPAIGN REPORTS</h5>
      </header>
      <div class="panel-body">

        <div class="position-left">
          <form class="form-inline" id="searchReport" role="form"  action="<?php echo $this->serverUrl().'/getSMSReport.php';?>" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
              <div class="col-md-12">
                <div class="input-group m-b-15">
                  <div class="bootstrap-timepicker">
                    <input id="datepicker5" placeholder="From"  type="text" class="form-control" name="from">
                    <input id="datepicker6" placeholder="To" type="text" class="form-control" name="to">

                  </div>

                </div>
                <div class="input-group m-b-15">
                 <button class="btn btn-primary" name="userId" type="submit" value="<?php echo $this->userId; ?>">DOWNLOAD</button>
               </div>

             </div>

           </div>                            
         </form>
       </div></br>

       <div class="row">
         <div class="col-lg-12">
          <div class="card-box">
            <div class="dropdown pull-right">

              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Campaign Name</a></li>
                <li><a href="#">Total Leads</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">Status</a></li>
                <li><a href="#">Start Date</a></li>
                <li><a href="#">Download Report</a></li>
              </ul>
            </div>


            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Campaign Name</th>
                  <th>Total Leads</th>
                  <th>Text</th>
                  <th>Status</th>
                  <th>Start Date</th>
                  <th>Download Report</th>
                </tr>
              </thead>
              <tbody>
                <?php if (sizeof($this->entries) == 0): ?>
                 <tr>
                  <td colspan="7">No entries found</td>
                </tr>
              <?php else: ?>
                <?php $counter = 1;?>
                <?php foreach ($this->entries as $entry): ?>

                  <tr class="gradeC">
                    <td><?php echo $entry->name.'['.$entry->id.']'; ?></td>
                    <td>
                      <?php  
                      foreach ($entry->leads as $lead) {
                       echo $lcount = $lead->count;
                     }
                     ?>
                   </td>
                   <td><?php echo $entry->text; ?></td>
                   <td><?php if ($entry->status == '2') {
                    			echo 'PROCESSED';
                  			}else {	
                   				echo 'QUEUED';
                 			}                     	
                 ?></td>
                 <td><?php echo $entry->startDate->format('d-m-Y H:i:s'); ?></td>

                 <form action="<?php echo $this->serverUrl().'/getSMSReport.php';?>" method="post" enctype="application/x-www-form-urlencoded">
                  <input type="hidden" name="uid" value= <?php echo $entry->user->id ?> />
                  <input type="hidden" name="count" value= <?php echo $lcount ?> />
                  <td><button class="btn btn-primary" name="cid" type="submit" value="<?php echo $entry->id ?>">DOWNLOAD</button></td>
                </form>
              </tr>
            <?php endforeach; ?>
          <?php endif; ?>


        </tbody>
      </table>

    </div>
  </div><!-- end col -->


</div>		

<?php echo $this->paginationControl($this->entries, 'sliding', 'pagination.phtml'); ?>                
</section><!--adv-table end-->

</div>
</div>