<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	// Load the Google Transliterate API
	google.load("elements", "1", {
		packages: "transliteration"
	});
</script>
<div class="content-wrapper">
<?php 
        if ($this->success) {
         echo '<div class="alert alert-success" role="alert" align=center>';

         echo 'Campaign created successfully';

         echo '</div>';
       }
       if ($this->errors) {
         echo '<div class="alert alert-danger" role="alert" align=center>';
         //
         if (isset($this->errors['campaignName']['isEmpty'])) {
          echo 'Campaign name is required';
        }elseif (isset($this->errors['Campaign']['isFailed'])) {

          echo $this->errors['Campaign']['isFailed'] ;
        }elseif (isset($this->errors['captcha']['badCaptcha'])){
          echo 'Captcha is incorrect';
        }else{
          print_r($this->errors);
        }
        echo '</div>';
      } 

      ?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="SmsComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Route</label>
                      <?php echo $this->form->smsType ;?>
                    </div>
                    <div class="form-group">
                      <label>Campaign name</label>
                      <?php echo $this->form->campaignName; ?>
                      <?php echo $this->form->token;?>
                    </div>
                    <div class="form-group">
                      <label>Sender</label>
                      <?php echo $this->senderId; ?>
                    </div>
                    <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Mobile</label>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                               <input class="form-check-input" id="contactType-3" value="3" name="contactType" checked="checked" type="radio">
                                Paste
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" id="contactType-2" value="2" name="contactType" type="radio">
                                Upload
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" id="contactType-1" value="1"  name="contactType" type="radio">
                                Group
                              <i class="input-helper"></i></label>
                            </div>
                          </div>

                      </div>
                    <div class="form-group" id="upload">
                      <label>File upload</label>
                      <?php echo $this->form->uploadContact; ?>
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Csv">
                        <span class="input-group-append">
                          
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>

                    <div class="form-group" id="paste">
                      <label>Paste</label>
                      <?php echo $this->form->textContact; ?></br>
                  <span id="cont_cnt"><strong>0</strong></span> Contacts
                    </div>

                    <div class="form-group" id="select">
                      <label >Group</label>
                      <?php echo $this->form->selectContact; ?><br>
                  <a href="#myModal-2" data-toggle="modal" class="btn btn-primary popovers" data-original-title="Select group(s) from list" data-content="Click this icon to select groups" data-placement="top" data-trigger="hover"><span class="btn-sm btn-primary">Address Book</span></a>
                    </div>

                  <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Message</label>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                               <input id="coding-1" value="7bit" name="coding" onchange="getEncoding(this);" <?php if($this->codingValue == '7bit'){ echo 'checked="checked"'; }?> type="radio" >Normal
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input id="coding-2" value="16bit" name="coding" onchange="getEncoding(this);" <?php if($this->codingValue == '16bit'){ echo 'checked="checked"'; }?> type="radio">Unicode
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input id="flash" value="1"  name="flashRadio" type="checkbox">Flash
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                   </div>

                   <div class="form-group">
                      <label>Text</label>
                      <p id='translControl' align="right"></p>
                      <?php echo $this->form->text; ?>
                  
                  <table width="100%">
                    <thead>
                      <tr>
                        <th width="30%">Encoding</th>
                        <th width="30%">SMS parts</th>
                        <th width="30%">Chars used</th>
                        <th width="30%">SMS Chars</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="smslc-encoding" align="left">7bit</td>
                        <td id="smslc-parts" align="left">1</td>
                        <td id="smslc-characters" align="left">0</td>
                        <td id="smslc-characters-sms" align="left">160</td>
                      </tr>
                    </tbody>
                  </table>
                    </div>

                    <div class="form-group">
                      <label>Template</label>
                      <select class="form-control select2" style="width:100%" onchange = "templateMsg(this.value);">
                      <?php foreach ($this->templateArray as $key => $value) {?>
                        <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                    <?php }?>  
                  </select>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">TinyUrl</label>
                          <div class="col-sm-1">
                            <div class="form-check">
                              <label class="form-check-label">
                               <?php echo $this->form->tinyRadio; ?>
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-6" id="selectUrlDiv" style="display:none">
                             <?php echo $this->form->selectUrl; ?>
                          </div> 

                    </div>


                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Schedule</label>
                          <div class="col-sm-1">
                            <div class="form-check">
                              <label class="form-check-label">
                               <?php echo $this->form->scheduleRadio; ?>
                              <i class="input-helper"></i></label>
                            </div>
                          </div>

                          <div class="col-sm-4" id="datepic" style="display:none">
                              <div class="input-group-append">
                        <?php echo $this->form->datePicker; ?>                        
                          <span class="input-group-text"><i class="ti-calendar"></i></span>
                        </div>
                      </div>

                          <div class="col-sm-2" id="timepic" style="display:none">
                             
                                        <div class="input-group">
                                            <?php echo $this->form->timePicker; ?>
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
                                            </div>
                                        </div><!-- input-group -->
                                  
                    </div>
                    </div>

                    

                    <button id="send" type="submit" class="btn btn-primary mr-2">Send</button>
                  </form>
                </div>
              </div>
            </div>

</div>
<!-- Add group -->
                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal-2" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                                        <h4 class="modal-title"></h4>
                                    </div>
                                    <div class="modal-body">
                                      <?php
                    $allgroupss = $this->allgroups;
                    ?>

                    <table class="table table-bordered">                                      
                                      <tbody>
                                      <?php
                                      if(count($allgroupss) >= 1){
                                      $pg_pr_pn = ceil(count($allgroupss)/5);
                                      //for($pgdt=0;$pgdt<count($allgroups);$pgdt++){
                                      $pgdt=0;
                                      foreach ($allgroupss as $allgroups){
                                      if($pgdt == ($pg_pr_pn*0) || $pgdt == ($pg_pr_pn*1) || $pgdt == ($pg_pr_pn*2) || $pgdt == ($pg_pr_pn*3)){
                                      ?>                         
                                      <tr>
                                      <?php }?>
                                          <td><input type="checkbox" class="checkbox-primary" name="allgroups[]" value="<?php echo $allgroups->name;?>" id="<?php echo $allgroups->id;?>" /></td>
                                          <td><?php echo $allgroups->name; ?></td>
                                          <?php if($pgdt == ($pg_pr_pn*1)-1 || $pgdt == ($pg_pr_pn*2)-1 || $pgdt == ($pg_pr_pn*3)-1 || $pgdt == ($pg_pr_pn*4)-1){?>
                                      </tr>
                                      <?php } }
                                      $pgdt++;
                                      } else{?>
                                      <tr><td>No Groups Found</td></tr>
                                      <?php }?>
                                      </tbody>
                                  </table>
                                        

                                    </div>

                                </div>
                            </div>
                        </div>
<script>
 
  function templateMsg(template) {
    $("#text").val(template);
  }

function insertAtCaret(areaId) {
  var text = ' http://mylnk.info/xxxxxxxxxx ';
  var txtarea = document.getElementById(areaId);
  var scrollPos = txtarea.scrollTop;
  var strPos = 0;  
  
  var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ? 
    "ff" : (document.selection ? "ie" : false ) );

  if (br == "ie") { 
    txtarea.focus();
    var range = document.selection.createRange();
    range.moveStart ('character', -txtarea.value.length);
    strPos = range.text.length;
  }
  else if (br == "ff") strPos = txtarea.selectionStart;
 txtarea.value = txtarea.value.replace(text,''); 
  var front = (txtarea.value).substring(0,strPos);  
  var back = (txtarea.value).substring(strPos,txtarea.value.length); 


  txtarea.value=front+text+back;
  strPos = strPos + text.length;
  if (br == "ie") { 
    txtarea.focus();
    var range = document.selection.createRange();
    range.moveStart ('character', -txtarea.value.length);
    range.moveStart ('character', strPos);
    range.moveEnd ('character', 0);
    range.select();
  }
  else if (br == "ff") {
    txtarea.selectionStart = strPos;
    txtarea.selectionEnd = strPos;
    txtarea.focus();
  }
  txtarea.scrollTop = scrollPos;

}


</script>