
<style>
  .evoxtel-circle {
    border-radius: 50%;
  }
</style>
<div class="row">
  <?php 
        if ($this->Success) {
         echo '<div class="alert alert-success" role="alert" align=center>';

         echo $this->Success['API']['Message'];

         echo '</div>';
       }
       if ($this->errors) {
         echo '<div class="alert alert-danger" role="alert" align=center>';
         //
         if (isset($this->errors['API']['Message'])) {
          echo $this->errors['API']['Message'];
        }
        else{
          print_r($this->errors);
        }
        echo '</div>';
      } 

      ?>
  <div class="col-lg-12">
    <section class="panel">
      <div class="panel-body">
      <div class="row-fluid">
        <div class="span12">
         <div class="span10">
         </div>
          <div class="span2" style="text-align: right;">

            <form  name="formManage" id="formManage" enctype="<?php echo $this->form->getEnctype(); ?>" class="form-horizontal" method="post" action="/sms/dev/index" >
              <input type="hidden" id="counter_val" name="user"  value="<?php echo $this->userId;?>">
              <button type="button"  class="btn btn-primary" data-original-title="The Maximum alloweded  API Key generation for a  user is limited to 10. Thank you " value="generate" onclick="confirmSuccess('Generate new key? ','formManage','generate')">Generate My Key</button>
              <a href="/sms/dev/index" class="btn tooltips btn-primary"data-backdrop="static" data-toggle="modal" data-placement="right" data-originaltitle="Refresh"><span class="fa fa-refresh"></span></a>

            </form>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
       <div class="col-lg-12">
        <div class="card-box">
          <div class="dropdown pull-right">

            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Sl No.</a></li>
              <li><a href="#">Key</a></li>
              <li><a href="#">Generated_Date_Time</a></li>
              <li><a href="#">Updated_Date_Time</a></li>
              <li><a href="#">Manage</a></li>
            </ul>
          </div>
          <table class="table table-bordered m-0">

            <thead>
              <tr>
                <th class="" style="text-align:center">Sl No.</th>
                <th class="" style="text-align:center">Key</th>
                <th class="" style="text-align:center">Generated_Date_Time</th>
                <th class="" style="text-align:center">Updated_Date_Time</th>
                <th class="" style="text-align:center">Manage</th>
              </tr>
            </thead>
            <tbody>
              <?php if (sizeof($this->apiRepo) == 0): ?>
               <tr>
                <td colspan="7">No entries found</td>
              </tr>
            <?php else: 
              $i=1;
              $j=0;?>

              <?php foreach ($this->apiRepo as $rslt): 
               $j++;
              ?>

              <tr>
               <form  name="formManage_<?php echo $rslt['id'];?>" id="formManage_<?php echo $rslt['id'];?>" enctype="<?php echo $this->form->getEnctype(); ?>" class="form-horizontal" method="post" action="/sms/dev/index" >
                <td class="" style="text-align:center"><?php  echo $j; ?></td>
                <td class="" style="text-align:center"><?php echo $rslt['api_key']; ?></td>
                <td style="text-align:center">
                    <?php 
                    $createdDate = date("d/m/Y H:i:s", strtotime($rslt['created_date']));
                    echo $createdDate;?></td>
                <td style="text-align:center">
                    <?php 
                    $updatedDate = date("d/m/Y H:i:s", strtotime($rslt['updated_date']));
                    echo $updatedDate;?></td>
                <td style="text-align:center">
                   
                    <input type="hidden" name="apiId" value="<?php echo $rslt['id'];?>">
                    <a href="#myIps_<?php echo $rslt['id'];?>" class="btn tooltips btn-primary"data-backdrop="static" data-toggle="modal" data-placement="right" data-originaltitle="Add IP"><span class="fa fa-plus"></span></a>
                    <button type="button"  onclick="confirmSuccess('Are you sure want to edit?','formManage_<?php echo $rslt['id'];?>','edit')" class="btn tooltips btn-primary " data-original-title="Edit" ><span class="fa fa-edit"></span></button>
                    <button type="button"  class="btn btn-danger  " data-original-title="Delete" value="delete" onclick="confirmSuccess('Are you sure want to delete? ','formManage_<?php echo $rslt['id'];?>','delete')" ><span class="fa fa-remove"></span></button>
                  
                </td> 

                </form>  
              </tr>
            <?php $i++; endforeach; ?>
          <?php endif; ?>
        </tbody>
      </table>

    </div>
  </div>
</div>   
<?php foreach ($this->apiRepo as $rslt):?>

  <div class="modal fade" role="dialog"  aria-labelledby="myModalLabel3" tabindex="-1" aria-hidden="true"  id="myIps_<?php echo $rslt['id']; ?>" > 
   <form  enctype="<?php echo $this->form->getEnctype(); ?>" class="form-horizontal" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" > 
    <div class="modal-dialog">
      <div class="modal-content" >
      <div class="modal-header"   >
        <h2>Add IP's</h2>
      </div>
      <div class="modal-body">
        <input type="hidden" name="apiId" value="<?php echo $rslt['id'];?>">
        <div id="dynamicDiv_<?php echo $rslt['id']; ?>">
         <?php
         $string = $rslt['ip'];
         $tags = explode(',',$string);
         $i=0;
         foreach($tags as $key) {
           $i++; 
           ?>
           <div id="dynamicInput_<?php echo $rslt['id']; ?>" style="text-align: center;">
             <div class="control-group">
              <label class="control-label">Enter IP<?php echo $i;?></label>
              <div class="controls">
                <input type="text"  name="myInputs[]" value="<?php echo $key;?>" id="input_id">
              </div>
            </div> 
          </div>
          <?php
        }
        ?>
      </div>
      <input type="hidden" id="counter_val"  value="<?php echo $i;?>">
      <div class="control-group" style="text-align: center; padding-top: 20px;">
        <div class="controls" >
         <button type="button" onClick="addInput('dynamicDiv_<?php echo $rslt['id']; ?>');" class="btn btn-primary ">Add another IP</button>
       </div>
     </div> 
       </div>
       <div class="modal-footer">
        <div class="control-group" style="margin-left: 0px; text-align: center;">
          <div class="controls">
            <button class="btn btn-medium btn-primary" name="submit" value="addIP" type="submit">SAVE</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      </div>
    </div>
</form>
</div>
  <?php endforeach; ?>
<script>
  function addInput(divName){
    var counter = 1;
    var limit = 5;
    var counterval = document.getElementById('counter_val').value;
    var inputFormDiv = document.getElementById(divName);
    var inputVal = document.getElementById('input_id').value;
    counter =  inputFormDiv.getElementsByTagName('input').length;
    if (counter == limit) {
      alert("You have reached the limit of adding" + counter + " IP's");
    }
    else {
      var nxtCount = counter+1;
      var mydiv='  <label class="control-label">Enter IP'+ nxtCount+'</label><div class="controls" ><input input type="text" name="myInputs[]"></div>   ';
      var newdiv = document.createElement('div');
      newdiv.className = 'control-group';
      newdiv.style.textAlign = 'center';
      newdiv.innerHTML = mydiv;
      document.getElementById(divName).appendChild(newdiv);
      counter++;
    }
  }      
</script>
