<div class="clearfix col980">
<!--
        <div class="alert alert-error" style="margin:10px 0 -10px;">
        <p></p>
        <p></p>
-->
    </div>

    <div id="content">
        
            <h2>PushSMS Web API</h2>
        
        <p>Communication to and from our API is done through <strong>HTTP GET</strong> and <strong>POST</strong> queries. We support different formats to choose from depending on your affinities : <strong>JSON</strong>, <strong>XML</strong> and <strong>serialized PHP</strong> . You can access our API from almost any programming language, and in just a few minutes.</p>
        
        
        <hr /><h4><b>URLs</b></h4>
        
        <p>It can send or get data via our API functions via two types of requests: GET and POST. Each request made match a method of the API on our servers.<br>
        To make the best use of the API, you should understand the difference between GET and POST methods, in which cases and how to use them.</p>
        <p>Our API has been developed to help you formatting queries and interpreting the results (or errors) with the least effort possible.<br> Still, this documentation will be even more necessary if you want to use your own scripts.</p>
        
        <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN INLINE TABS PORTLET-->
                <div class="widget-body">
                    <div class="spance20"></div>
                    <div class="row-fluid">
                        <div class="span12">
                            <!--BEGIN TABS-->
                            <div class="tabbable custom-tab tabs-left">
                                <!-- Only required for left/right tabs -->
                                <ul class="nav nav-tabs tabs-left custom-wizard-pills">
                                    <li class="active"><a href="#tab_3_1" data-toggle="tab"><span class="strong"><b>Web API</b></span><br><span class="muted">API Format</span></a>  
                                    </li>
                                    <li><a href="#tab_3_2" data-toggle="tab"><span class="strong"><b>Schedule API</b></span><br><span class="muted">API Format</span></a></li>
                                    <li><a href="#tab_3_3" data-toggle="tab"><span class="strong"><b>Callback API</b></span><br><span class="muted">API Format</span></a></li>
                                    <li><a href="#tab_4_4" data-toggle="tab"><span class="strong"><b>Report Check API</b></span><br><span class="muted">API Format</span></a></li>
                                    <li><a href="#tab_5_5" data-toggle="tab"><span class="strong"><b>Balance Check API</b></span><br><span class="muted">API Format</span></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_3_1">
                                         <h4><b>GET Requests</b></h4>
                                        <p>  <div class="portlet-scroll-1">
                                              <div class="sample">
      <pre class="alert alert" style="font-family:monospace;">&nbsp;

   <span style="color: #000000; font-weight: bold;">&lt;?php</span>
        &nbsp;
        <span style="color: #000088;">$text</span><span style="color: #339933;"> = </span>urlencode<span style="color: #009900;">(</span>'Hello world'<span style="color: #009900;">)</span><span style="color: #339933;">;</span>


    <span style="color: #000088;">$curl</span><span style="color: #339933;"> = </span>curl_init<span style="color: #009900;">(</span><span style="color: #009900;">)</span><span style="color: #339933;">;</span>
        &nbsp;
    curl_setopt_array<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span>, array<span style="color: #009900;">(</span>
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/insms/format/json/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font>"
        CURLOPT_CUSTOMREQUEST => 'GET',
        CURLOPT_HTTPHEADER => array('<font color="#CC0000">X-API-Key:</font><font color="#009900">1a7e950b57c5afb120e2d876f84d686e</font>')<span style="color: #009900;">));</span>
        
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Send the request & save response to $response</span>
    <span style="color: #000088;">$response</span><span style="color: #339933;"> = </span>curl_exec<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>; 
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Close request to clear up some resources</span>
    </span>curl_close<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Print response</span>
    </span>print_r<span style="color: #009900;">(</span><span style="color: #000088;">$response</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
    &nbsp;
   <span style="color: #000000; font-weight: bold;">?&gt;</span>
        &nbsp;</pre>
      </div>
        
        <p>In GET requests you can specify all the information and options directly into the url.<br>
        Your need to specify the <var>fields</var> and the <dfn>variables</dfn> and if needed <kbd>options</kbd> necessary for your request.<br>
        The URL looks like this :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/format/json/<font color="#CC0000">?mobile</font>=<font color="#009900">value</font>&<font color="#CC0000">text</font>="<font color="#000088">value</font>"&<font color="#CC0000">flash</font>=<font color="#009900">value</font>&<font color="#CC0000">type</font>=<font color="#009900">value</font></div>
        
        <p>For example, if your want to send an sms to a <var>mobile</var> <strong>9891234567</strong> with sender id <strong>SENDER</strong> scheduled on <strong>2017-03-25 10:11:26</strong> and capturing the dlr back to a url <strong>domain.com/getdlr.php</strong> with api <var>key</var> <strong>1a7e950b57c5afb120e2d876f84d686e</strong>, The final built URL must be  :</p>

        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/format/json/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">sender</font>=<font color="#009900">SENDER</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font></div>

    <p>For JSON response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/format/json/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">sender</font>=<font color="#009900">SENDER</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font></div>
                
    <p>For XML response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/format/xml/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">sender</font>=<font color="#009900">SENDER</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font></div>

    <p>For Serialized PHP response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">sender</font>=<font color="#009900">SENDER</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font></div>



        <hr /><h4><b>POST Requests</b></h4>
        
        <br>POST requests work much like the GET request, the only difference being that the variables passed as parameters must be submitted via a POST request, and will not be visible in the url.</p>
        
      <div class="sample">
      <pre class="alert alert" style="font-family:monospace;">&nbsp;

   <span style="color: #000000; font-weight: bold;">&lt;?php</span>
        &nbsp;
        <span style="color: #000088;">$text</span><span style="color: #339933;"> = </span>urlencode<span style="color: #009900;">(</span>'Hello world'<span style="color: #009900;">)</span><span style="color: #339933;">;</span>

    <span style="color: #000088;">$curl</span><span style="color: #339933;"> = </span>curl_init<span style="color: #009900;">(</span><span style="color: #009900;">)</span><span style="color: #339933;">;</span>
        &nbsp;
    curl_setopt_array<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span>, array<span style="color: #009900;">(</span>
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/insms/format/json",
        CURLOPT_POST => 1,
        CURLOPT_CUSTOMREQUEST => 'POST',
        CURLOPT_HTTPHEADER => array('<font color="#CC0000">X-API-Key:</font><font color="#009900">1a7e950b57c5afb120e2d876f84d686e</font>'),
        CURLOPT_POSTFIELDS => array<span style="color: #009900;">(
                        </span>'<font color="#CC0000">mobile</font>' => '<font color="#009900">9891234567</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">text</font>' => '<font color="#000088">$text</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">flash</font>' => '<font color="#009900">0</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">type</font>' => '<font color="#009900">1</font>'<span style="color: #009900;"></span><span style="color: #009900;">)</span><span style="color: #009900;">))</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Send the request & save response to $response</span>
    <span style="color: #000088;">$response</span><span style="color: #339933;"> = </span>curl_exec<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>; 
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Close request to clear up some resources</span>
    </span>curl_close<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Print response</span>
    </span>print_r<span style="color: #009900;">(</span><span style="color: #000088;">$response</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
    &nbsp;
   <span style="color: #000000; font-weight: bold;">?&gt;</span>
        &nbsp;</pre>
      </div>
                                        </p></div>
                                    </div>
                                    <div class="tab-pane" id="tab_3_2">
                                        <h4><b>GET Requests</b></h4>
                                        <p>  <div class="portlet-scroll-1">
                                             <div class="sample">
      <pre class="alert alert" style="font-family:monospace;">&nbsp;

   <span style="color: #000000; font-weight: bold;">&lt;?php</span>
        &nbsp;
        <span style="color: #000088;">$text</span><span style="color: #339933;"> = </span>urlencode<span style="color: #009900;">(</span>'Hello world'<span style="color: #009900;">)</span><span style="color: #339933;">;</span>


    <span style="color: #000088;">$curl</span><span style="color: #339933;"> = </span>curl_init<span style="color: #009900;">(</span><span style="color: #009900;">)</span><span style="color: #339933;">;</span>
        &nbsp;
    curl_setopt_array<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span>, array<span style="color: #009900;">(</span>
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/insms/format/json/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">
        1</font>&<font color="#CC0000">schedule</font>=<font color="#009900">2017-03-25+10:11:26</font>"
        CURLOPT_CUSTOMREQUEST => 'GET',
        CURLOPT_HTTPHEADER => array('<font color="#CC0000">X-API-Key:</font><font color="#009900">1a7e950b57c5afb120e2d876f84d686e</font>')<span style="color: #009900;">));</span>
        
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Send the request & save response to $response</span>
    <span style="color: #000088;">$response</span><span style="color: #339933;"> = </span>curl_exec<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>; 
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Close request to clear up some resources</span>
    </span>curl_close<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Print response</span>
    </span>print_r<span style="color: #009900;">(</span><span style="color: #000088;">$response</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
    &nbsp;
   <span style="color: #000000; font-weight: bold;">?&gt;</span>
        &nbsp;</pre>
      </div>
        
        <p>In GET requests you can specify all the information and options directly into the url.<br>
        Your need to specify the <var>fields</var> and the <dfn>variables</dfn> and if needed <kbd>options</kbd> necessary for your request.<br>
        The URL looks like this :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/format/json/<font color="#CC0000">?mobile</font>=<font color="#009900">value</font>&<font color="#CC0000">text</font>="<font color="#000088">value</font>"&<font color="#CC0000">flash</font>=<font color="#009900">value</font>&<font color="#CC0000">type</font>=<font color="#009900">value</font>&<font color="#CC0000">schedule</font>=<font color="#009900">value</font></div>
        
        <p>For example, if your want to send an sms to a <var>mobile</var> <strong>9891234567</strong> with sender id <strong>SENDER</strong> scheduled on <strong>2017-03-25 10:11:26</strong> and capturing the dlr back to a url <strong>domain.com/getdlr.php</strong> with api <var>key</var> <strong>1a7e950b57c5afb120e2d876f84d686e</strong>, The final built URL must be  :</p>

        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/format/json/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">sender</font>=<font color="#009900">SENDER</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font>&<font color="#CC0000">schedule</font>=<font color="#009900"><?php echo date("Y-m-d h:i:s") ?></font></div>

    <p>For JSON response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/format/json/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">sender</font>=<font color="#009900">SENDER</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font>&<font color="#CC0000">schedule</font>=<font color="#009900"><?php echo date("Y-m-d h:i:s") ?></font></div>
                
    <p>For XML response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/format/xml/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">sender</font>=<font color="#009900">SENDER</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font>&<font color="#CC0000">schedule</font>=<font color="#009900"><?php echo date("Y-m-d h:i:s") ?></font></div>

    <p>For Serialized PHP response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">sender</font>=<font color="#009900">SENDER</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font>&<font color="#CC0000">schedule</font>=<font color="#009900"><?php echo date("Y-m-d h:i:s") ?></font></div>



        <hr /><h4><b>POST Requests</b></h4>
        <br>POST requests work much like the GET request, the only difference being that the variables passed as parameters must be submitted via a POST request, and will not be visible in the url.</p>    
      <div class="sample">
      <pre class="alert alert" style="font-family:monospace;">&nbsp;

   <span style="color: #000000; font-weight: bold;">&lt;?php</span>
        &nbsp;
        <span style="color: #000088;">$text</span><span style="color: #339933;"> = </span>urlencode<span style="color: #009900;">(</span>'Hello world'<span style="color: #009900;">)</span><span style="color: #339933;">;</span>

    <span style="color: #000088;">$curl</span><span style="color: #339933;"> = </span>curl_init<span style="color: #009900;">(</span><span style="color: #009900;">)</span><span style="color: #339933;">;</span>
        &nbsp;
    curl_setopt_array<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span>, array<span style="color: #009900;">(</span>
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/insms/format/json",
        CURLOPT_POST => 1,
        CURLOPT_CUSTOMREQUEST => 'POST',
        CURLOPT_HTTPHEADER => array('<font color="#CC0000">X-API-Key:</font><font color="#009900">1a7e950b57c5afb120e2d876f84d686e</font>'),
        CURLOPT_POSTFIELDS => array<span style="color: #009900;">(
                        </span>'<font color="#CC0000">mobile</font>' => '<font color="#009900">9891234567</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">text</font>' => '<font color="#000088">$text</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">flash</font>' => '<font color="#009900">0</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">type</font>' => '<font color="#009900">1</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">schedule</font>' => '<font color="#009900">2017-03-25+10:11:26</font>'<span style="color: #009900;"></span></span><span style="color: #009900;">)</span><span style="color: #009900;">))</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Send the request & save response to $response</span>
    <span style="color: #000088;">$response</span><span style="color: #339933;"> = </span>curl_exec<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>; 
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Close request to clear up some resources</span>
    </span>curl_close<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Print response</span>
    </span>print_r<span style="color: #009900;">(</span><span style="color: #000088;">$response</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
    &nbsp;
   <span style="color: #000000; font-weight: bold;">?&gt;</span>
        &nbsp;</pre>
      </div>
                                        </p></div>
                                    </div>
                                    <div class="tab-pane" id="tab_3_3">
                                        <h4><b>GET Requests</b></h4>
                                        <p>   <div class="portlet-scroll-1">
                                             <div class="sample">
      <pre class="alert alert" style="font-family:monospace;">&nbsp;

   <span style="color: #000000; font-weight: bold;">&lt;?php</span>
        &nbsp;
        <span style="color: #000088;">$text</span><span style="color: #339933;"> = </span>urlencode<span style="color: #009900;">(</span>'Hello world'<span style="color: #009900;">)</span><span style="color: #339933;">;</span>

        <span style="color: #000088;">$url</span><span style="color: #339933;"> = </span>urlencode<span style="color: #009900;">(</span>'domain.com/getdlr.php'<span style="color: #009900;">)</span><span style="color: #339933;">;</span>

    <span style="color: #000088;">$curl</span><span style="color: #339933;"> = </span>curl_init<span style="color: #009900;">(</span><span style="color: #009900;">)</span><span style="color: #339933;">;</span>
        &nbsp;
    curl_setopt_array<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span>, array<span style="color: #009900;">(</span>
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/insms/format/json/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=
        <font color="#009900">1</font>&<font color="#CC0000">schedule</font>=<font color="#009900">2017-03-25+10:11:26</font>&<font color="#CC0000">callback</font>="<font color="#009900">$url</font>""
        CURLOPT_CUSTOMREQUEST => 'GET',
        CURLOPT_HTTPHEADER => array('<font color="#CC0000">X-API-Key:</font><font color="#009900">1a7e950b57c5afb120e2d876f84d686e</font>')<span style="color: #009900;">));</span>
        
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Send the request & save response to $response</span>
    <span style="color: #000088;">$response</span><span style="color: #339933;"> = </span>curl_exec<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>; 
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Close request to clear up some resources</span>
    </span>curl_close<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Print response</span>
    </span>print_r<span style="color: #009900;">(</span><span style="color: #000088;">$response</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
    &nbsp;
   <span style="color: #000000; font-weight: bold;">?&gt;</span>
        &nbsp;</pre>
      </div>
        
        <p>In GET requests you can specify all the information and options directly into the url.<br>
        Your need to specify the <var>fields</var> and the <dfn>variables</dfn> and if needed <kbd>options</kbd> necessary for your request.<br>
        The URL looks like this :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/format/json/<font color="#CC0000">?mobile</font>=<font color="#009900">value</font>&<font color="#CC0000">text</font>="<font color="#000088">value</font>"&<font color="#CC0000">flash</font>=<font color="#009900">value</font>&<font color="#CC0000">type</font>=<font color="#009900">value</font>&<font color="#CC0000">schedule</font>=<font color="#009900">value</font>&<font color="#CC0000">callback</font>=<font color="#009900">value</font></div>
        
        <p>For example, if your want to send an sms to a <var>mobile</var> <strong>9891234567</strong> with sender id <strong>SENDER</strong> scheduled on <strong>2017-03-25 10:11:26</strong> and capturing the dlr back to a url <strong>domain.com/getdlr.php</strong> with api <var>key</var> <strong>1a7e950b57c5afb120e2d876f84d686e</strong>, The final built URL must be  :</p>

        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/format/json/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">sender</font>=<font color="#009900">SENDER</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font>&<font color="#CC0000">schedule</font>=<font color="#009900"><?php echo date("Y-m-d h:i:s") ?></font>&<font color="#CC0000">callback</font>="<font color="#009900">$url</font>"</div>

    <p>For JSON response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/format/json/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">sender</font>=<font color="#009900">SENDER</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font>&<font color="#CC0000">schedule</font>=<font color="#009900"><?php echo date("Y-m-d h:i:s") ?></font>&<font color="#CC0000">callback</font>="<font color="#009900">$url</font>"</div>
                
    <p>For XML response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/format/xml/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">sender</font>=<font color="#009900">SENDER</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font>&<font color="#CC0000">schedule</font>=<font color="#009900"><?php echo date("Y-m-d h:i:s") ?></font>&<font color="#CC0000">callback</font>="<font color="#009900">$url</font>"</div>

    <p>For Serialized PHP response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/insms/<font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font>&<font color="#CC0000">sender</font>=<font color="#009900">SENDER</font>&<font color="#CC0000">text</font>="<font color="#000088">$text</font>"&<font color="#CC0000">flash</font>=<font color="#009900">0</font>&<font color="#CC0000">type</font>=<font color="#009900">1</font>&<font color="#CC0000">schedule</font>=<font color="#009900"><?php echo date("Y-m-d h:i:s") ?></font>&<font color="#CC0000">callback</font>="<font color="#009900">$url</font>"</div>



        <hr /><h4><b>POST Requests</b></h4>
        
        <br>POST requests work much like the GET request, the only difference being that the variables passed as parameters must be submitted via a POST request, and will not be visible in the url.</p>
        
      <div class="sample">
      <pre class="alert alert" style="font-family:monospace;">&nbsp;

   <span style="color: #000000; font-weight: bold;">&lt;?php</span>
        &nbsp;
        <span style="color: #000088;">$text</span><span style="color: #339933;"> = </span>urlencode<span style="color: #009900;">(</span>'Hello world'<span style="color: #009900;">)</span><span style="color: #339933;">;</span>

    <span style="color: #000088;">$curl</span><span style="color: #339933;"> = </span>curl_init<span style="color: #009900;">(</span><span style="color: #009900;">)</span><span style="color: #339933;">;</span>
        &nbsp;
    curl_setopt_array<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span>, array<span style="color: #009900;">(</span>
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/insms/format/json",
        CURLOPT_POST => 1,
        CURLOPT_CUSTOMREQUEST => 'POST',
        CURLOPT_HTTPHEADER => array('<font color="#CC0000">X-API-Key:</font><font color="#009900">1a7e950b57c5afb120e2d876f84d686e</font>'),
        CURLOPT_POSTFIELDS => array<span style="color: #009900;">(
                        </span>'<font color="#CC0000">mobile</font>' => '<font color="#009900">9891234567</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">text</font>' => '<font color="#000088">$text</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">flash</font>' => '<font color="#009900">0</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">type</font>' => '<font color="#009900">1</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">schedule</font>' => '<font color="#009900">2017-03-25+10:11:26</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">callback</font>' => '<font color="#009900">domain.com/getDlr.php</font>'<span style="color: #009900;"></span><span style="color: #009900;">)</span><span style="color: #009900;">))</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Send the request & save response to $response</span>
    <span style="color: #000088;">$response</span><span style="color: #339933;"> = </span>curl_exec<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>; 
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Close request to clear up some resources</span>
    </span>curl_close<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Print response</span>
    </span>print_r<span style="color: #009900;">(</span><span style="color: #000088;">$response</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
    &nbsp;
   <span style="color: #000000; font-weight: bold;">?&gt;</span>
        &nbsp;</pre>
      </div>
                                        </p></div>
                                    </div>
                                    <div class="tab-pane" id="tab_4_4">
                                    <h4><b>Note</b></h4>
                                     <h5><span style="color: #009900;">TRANSACTIONAL  &nbsp;&nbsp;</span><span style="color: #000088;">type</span><span style="color: #339933;"> = </span>1 </h5>
                                     <h5><span style="color: #009900;">PROMOTIONAL  &nbsp;&nbsp;</span><span style="color: #000088;">type</span><span style="color: #339933;"> = </span>2  </h5>
                                        <h4><b>GET Requests</b></h4>
                                        <p>  <div class="portlet-scroll-1">      <div class="sample">
      <pre class="alert alert" style="font-family:monospace;">&nbsp;

   <span style="color: #000000; font-weight: bold;">&lt;?php</span>
        &nbsp;

    <span style="color: #000088;">$curl</span><span style="color: #339933;"> = </span>curl_init<span style="color: #009900;">(</span><span style="color: #009900;">)</span><span style="color: #339933;">;</span>
        &nbsp;
    curl_setopt_array<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span>, array<span style="color: #009900;">(</span>
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/indlr/index/format/json/<font color="#CC0000">?campId</font>=<font color="#009900">981840c61518</font><font color="#CC0000">&type</font>=<font color="#009900">1</font><font color="#CC0000">&page</font>=<font color="#009900">1</font><font color="#CC0000">
        &mobile</font>=<font color="#009900">9891234567</font>"
        CURLOPT_CUSTOMREQUEST => 'GET',
        CURLOPT_HTTPHEADER => array('<font color="#CC0000">X-API-Key:</font><font color="#009900">1a7e950b57c5afb120e2d876f84d68</font>')<span style="color: #009900;">));</span>
        
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Send the request & save response to $response</span>
    <span style="color: #000088;">$response</span><span style="color: #339933;"> = </span>curl_exec<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>; 
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Close request to clear up some resources</span>
    </span>curl_close<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Print response</span>
    </span>print_r<span style="color: #009900;">(</span><span style="color: #000088;">$response</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
    &nbsp;
   <span style="color: #000000; font-weight: bold;">?&gt;</span>
        &nbsp;</pre>
      </div>
        
        <p>In GET requests you can specify all the information and options directly into the url.<br>Your need to specify the <var>fields</var> and the <dfn>variables</dfn> and if needed <kbd>options</kbd> necessary for your request.<br>
        The URL looks like this :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/indlr/index/format/json/<font color="#CC0000">?type</font>=<font color="#009900">value</font><font color="#CC0000">?campId</font>=<font color="#009900">value</font><font color="#CC0000">&type</font>=<font color="#009900">value</font><font color="#CC0000">&mobile</font>=<font color="#009900">value</font></div>
        
        <p>For example, if your want to check an dlr status for your sms <var> type</var> <strong> 1</strong> and <var> campId</var> <strong>981840c61518</strong> and <var>mobile</var> <strong>9891234567</strong> </strong> with api <var>key</var> <strong>1a7e950b57c5afb120e2d876f84d68</strong>,The final built URL must be  :</p>

        <div class="alert">http://<?php echo $this->domain; ?>/api/indlr/index/format/json/<font color="#CC0000">?type</font>=<font color="#009900">1</font><font color="#CC0000">?campId</font>=<font color="#009900">981840c61518</font><font color="#CC0000">?type</font>=<font color="#009900">1</font><font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font></div>

    <p>For JSON response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/indlr/index/format/json/<font color="#CC0000">?type</font>=<font color="#009900">1</font><font color="#CC0000">?campId</font>=<font color="#009900">981840c61518</font><font color="#CC0000">?type</font>=<font color="#009900">1</font><font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font></div>
                
    <p>For XML response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/indlr/index/format/xml/<font color="#CC0000">?type</font>=<font color="#009900">1</font><font color="#CC0000">?campId</font>=<font color="#009900">981840c61518</font><font color="#CC0000">?type</font>=<font color="#009900">1</font><font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font></div>

    <p>For Serialized PHP response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/indlr/<font color="#CC0000">?type</font>=<font color="#009900">1</font><font color="#CC0000">?campId</font>=<font color="#009900">981840c61518</font><font color="#CC0000">?type</font>=<font color="#009900">1</font><font color="#CC0000">?mobile</font>=<font color="#009900">9891234567</font></div>



        <hr /><h4><b>POST Requests</b></h4>
        
        <br>POST requests work much like the GET request, the only difference being that the variables passed as parameters must be submitted via a POST request, and will not be visible in the url.</p>
        
      <div class="sample">
      <pre class="alert alert" style="font-family:monospace;">&nbsp;

   <span style="color: #000000; font-weight: bold;">&lt;?php</span>
        &nbsp;
        <span style="color: #000088;">$text</span><span style="color: #339933;"> = </span>urlencode<span style="color: #009900;">(</span>'Hello world'<span style="color: #009900;">)</span><span style="color: #339933;">;</span>

    <span style="color: #000088;">$curl</span><span style="color: #339933;"> = </span>curl_init<span style="color: #009900;">(</span><span style="color: #009900;">)</span><span style="color: #339933;">;</span>
        &nbsp;
    curl_setopt_array<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span>, array<span style="color: #009900;">(</span>
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/indlr/index/format/json/",
        CURLOPT_POST => 1,
        CURLOPT_CUSTOMREQUEST => 'POST',
        CURLOPT_HTTPHEADER => array('<font color="#CC0000">X-API-Key:</font><font color="#009900">1a7e950b57c5afb120e2d876f84d68</font>'),
         CURLOPT_POSTFIELDS => array<span style="color: #009900;">(
                        </span>'<font color="#CC0000">campId</font>' => '<font color="#009900">981840c61518</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">type</font>' => '<font color="#000088">1</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">page</font>' => '<font color="#000088">1</font>'<span style="color: #009900;"></span>, 
                        </span>'<font color="#CC0000">mobile</font>' => '<font color="#009900">9568453878</font>'<span style="color: #009900;"></span></span>)</span><span style="color: #009900;">))</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Send the request & save response to $response</span>
    <span style="color: #000088;">$response</span><span style="color: #339933;"> = </span>curl_exec<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>; 
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Close request to clear up some resources</span>
    </span>curl_close<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Print response</span>
    </span>print_r<span style="color: #009900;">(</span><span style="color: #000088;">$response</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
    &nbsp;
   <span style="color: #000000; font-weight: bold;">?&gt;</span>
        &nbsp;</pre>
      </div>
                                        </p></div>
                                    </div>
                                    <div class="tab-pane" id="tab_5_5">
                                    <h4><b>Note</b></h4>
                                     <h5><span style="color: #009900;">TRANSACTIONAL  &nbsp;&nbsp;</span><span style="color: #000088;">type</span><span style="color: #339933;"> = </span>1 </h5>
                                     <h5><span style="color: #009900;">PROMOTIONAL  &nbsp;&nbsp;</span><span style="color: #000088;">type</span><span style="color: #339933;"> = </span>2  </h5>
                                        <h4><b>GET Requests</b></h4>
                                        <p>   <div class="portlet-scroll-1">   
                                          <div class="sample">
      <pre class="alert alert" style="font-family:monospace;">&nbsp;

   <span style="color: #000000; font-weight: bold;">&lt;?php</span>
        &nbsp;

    <span style="color: #000088;">$curl</span><span style="color: #339933;"> = </span>curl_init<span style="color: #009900;">(</span><span style="color: #009900;">)</span><span style="color: #339933;">;</span>
        &nbsp;
    curl_setopt_array<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span>, array<span style="color: #009900;">(</span>
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/inbalsms/index/format/json/<font color="#CC0000">?type</font>=<font color="#009900">1</font>"
        CURLOPT_CUSTOMREQUEST => 'GET',
        CURLOPT_HTTPHEADER => array('<font color="#CC0000">X-API-Key:</font><font color="#009900">1a7e950b57c5afb120e2d876f84d68</font>')<span style="color: #009900;">));</span>
        
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Send the request & save response to $response</span>
    <span style="color: #000088;">$response</span><span style="color: #339933;"> = </span>curl_exec<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>; 
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Close request to clear up some resources</span>
    </span>curl_close<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Print response</span>
    </span>print_r<span style="color: #009900;">(</span><span style="color: #000088;">$response</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
    &nbsp;
   <span style="color: #000000; font-weight: bold;">?&gt;</span>
        &nbsp;</pre>
      </div>
        
        <p>In GET requests you can specify all the information and options directly into the url.<br>Your need to specify the <var>fields</var> and the <dfn>variables</dfn> and if needed <kbd>options</kbd> necessary for your request.<br>
        The URL looks like this :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/inbalsms/index/format/json/<font color="#CC0000">?type</font>=<font color="#009900">value</font></div>
        
        <p>For example, if your want to check an balance for your account <var>type</var> <strong>1</strong></strong> with api <var>key</var> <strong>1a7e950b57c5afb120e2d876f84d68</strong>, The final built URL must be  :</p>

        <div class="alert">http://<?php echo $this->domain; ?>/api/inbalsms/index/format/json/<font color="#CC0000">?type</font>=<font color="#009900">1</font></div>

    <p>For JSON response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/inbalsms/index/format/json/<font color="#CC0000">?type</font>=<font color="#009900">1</font></div>
                
    <p>For XML response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/inbalsms/index/format/xml/<font color="#CC0000">?type</font>=<font color="#009900">1</font></div>

    <p>For Serialized PHP response  :</p>
        <div class="alert">http://<?php echo $this->domain; ?>/api/inbalsms/index/format/xml/<font color="#CC0000">?type</font>=<font color="#009900">1</font></div>



        <hr /><h4><b>POST Requests</b></h4>
        
        <br>POST requests work much like the GET request, the only difference being that the variables passed as parameters must be submitted via a POST request, and will not be visible in the url.</p>
        
      <div class="sample">
      <pre class="alert alert" style="font-family:monospace;">&nbsp;

   <span style="color: #000000; font-weight: bold;">&lt;?php</span>
        &nbsp;
        <span style="color: #000088;">$text</span><span style="color: #339933;"> = </span>urlencode<span style="color: #009900;">(</span>'Hello world'<span style="color: #009900;">)</span><span style="color: #339933;">;</span>

    <span style="color: #000088;">$curl</span><span style="color: #339933;"> = </span>curl_init<span style="color: #009900;">(</span><span style="color: #009900;">)</span><span style="color: #339933;">;</span>
        &nbsp;
    curl_setopt_array<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span>, array<span style="color: #009900;">(</span>
        CURLOPT_RETURNTRANSFER => 1,
        CURLOPT_URL => "http://<?php echo $this->domain; ?>/api/inbalsms/index/format/json/",
        CURLOPT_POST => 1,
        CURLOPT_CUSTOMREQUEST => 'POST',
        CURLOPT_HTTPHEADER => array('<font color="#CC0000">X-API-Key:</font><font color="#009900">1a7e950b57c5afb120e2d876f84d68</font>'),
        CURLOPT_POSTFIELDS => array<span style="color: #009900;">(
                        </span>'<font color="#CC0000">mobile</font>' => '<font color="#009900">1</font>'<span style="color: #009900;">)</span><span style="color: #009900;">))</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Send the request & save response to $response</span>
    <span style="color: #000088;">$response</span><span style="color: #339933;"> = </span>curl_exec<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>; 
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Close request to clear up some resources</span>
    </span>curl_close<span style="color: #009900;">(</span><span style="color: #000088;">$curl</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
        &nbsp;
    <span style="color: #666666; font-style: italic;">// Print response</span>
    </span>print_r<span style="color: #009900;">(</span><span style="color: #000088;">$response</span><span style="color: #339933;"></span><span style="color: #009900;">)</span>;
    &nbsp;
   <span style="color: #000000; font-weight: bold;">?&gt;</span>
        &nbsp;</pre>
      </div>
                                        </p></div>
                                    </div>
                                </div>
                            </div>
                            <!--END TABS-->
                        </div>
                    </div>
                </div>
            <!-- END INLINE TABS PORTLET-->
        </div>
    </div>  
        <h4><b>Status code</b></h4>
            <div class="alert-success">
            <br />
                <dt id="p_200" style=" margin-left:15px"><span>OK</span></dt>
                <dd class="desc" style=" margin-left:15px">› <span>Description:</span> <em>All gone well. Congrats!</em></dd>
                <dt id="p_401" style=" margin-left:15px"><span>ERR401</span> Unauthorized or Invalid Key</dt>
                <dd class="desc" style=" margin-left:15px">› <span>Description:</span> <em>You have specified an incorrect ApiKey</em></dd>
                <dt id="p_204" style=" margin-left:15px"><span>ERR206</span> Partial Content or Invalid fields</dt>
                <dd class="desc" style=" margin-left:15px">› <span>Description:</span> <em>One or more arguments are missing or maybe mispelling.</em></dd>
                <dt id="p_403" style=" margin-left:15px"><span>ERR403</span> Forbidden or Invalid IP</dt>
                <dd class="desc" style=" margin-left:15px">› <span>Description:</span> <em>You have requested from a forbidden server/IP</em></dd>
                <dt id="p_304" style=" margin-left:15px"><span>ERR402</span> Insufficient credits</dt>
                <dd class="desc" style=" margin-left:15px">› <span>Description:</span> <em>Your pushsms balance is empty.</em></dd>
                <dt id="p_404" style=" margin-left:15px"><span>ERR404</span> Not Found</dt>
                <dd class="desc" style=" margin-left:15px">› <span>Description:</span> <em>The method your are trying to reach don't exists.</em></dd>
                <dt id="p_405" style=" margin-left:15px"><span>ERR405</span> Method Not Allowed</dt><dd class="desc">› <span>Description:</span> <em>You made a PUT, DELETE request instead of GET, POST or the reverse.</em></dd>
           <br />
           </div>
            <hr />
    
</div>
<style type="text/css">
    .tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
        background-color: rgba(255, 235, 205, 0.35);
    }
    .portlet-scroll-1 {
    height: 800px;
}
</style>