<div class="content-wrapper">
  <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description"></p>


							<div class="col-lg-12">
									<form action="/smpp/smsc/status" method="post">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <?php echo $this->form->server; ?>
                                      </div>
                                      <div class="col-lg-6">
                                        <button type="submit" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="select">Select</button>
                                    </div>

                                </div>
                                    <button type="submit" class="btn btn-success btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="start">Start</button>
                                    <button type="submit" class="btn btn-info btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="resume">Resume</button>
                                    <button type="submit" class="btn btn-warning btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="restart">Restart</button>
                                    <button type="submit" class="btn btn-danger btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="isolate">Isolate</button>
                                    <button type="submit" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="suspend">Suspend</button>
                                    <button type="submit" class="btn btn-danger btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="shutdown">Shutdown</button>
				    <br>				
                                     <button type="submit" class="btn btn-danger btn-bordred waves-effect w-md waves-light m-b-5" name="sqlbox-command" value="start">Start</button>
                                     <button type="submit" class="btn btn-danger btn-bordred waves-effect w-md waves-light m-b-5" name="sqlbox-command" value="shutdown">Shutdown</button>
                                     <button type="submit" class="btn btn-success btn-bordred waves-effect w-md waves-light m-b-5" name="sqlbox-command" value="reload">Reload</button>
                                                                        </form>
                            </div>
                            
									<form class="form-inline" enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="smsc">
									             <div class="form-group">
                                        <div class="col-lg-12">
                                            <?php echo $this->form->smsc; ?>
                                        </div>
									             </div>

                                 <div class="form-group">
                                  <div class="col-lg-12">
                                     <input type="hidden"  name="server" value="<?php echo $this->server; ?>">
                                    <button type="submit" class="btn btn-success btn-bordred waves-effect w-md waves-light m-b-5" name="smsc-command" value=start>Start</button>
                                    <button type="submit" class="btn btn-danger btn-bordred waves-effect w-md waves-light m-b-5" name="smsc-command" value="stop">Stop</button>
                                    <button type="submit" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5" name="smsc-command" value="add">Add</button>
                                    <button type="submit" class="btn btn-danger btn-bordred waves-effect w-md waves-light m-b-5" name="smsc-command" value="remove">Remove</button>
                                  </div>
                                  </div>
									</form>

<?php

if (isset($this->status)){

      $status = $this->status;

      $xml=simplexml_load_string($status);
      $smsc = $xml->smscs->smsc;

      $dlrReceived = (string)$xml->dlr->received->total;
      $smsSend = (string)$xml->sms->sent->total;
      $dlrQueued = (string)$xml->dlr->queued;
      $percentDlr = ($dlrReceived/$smsSend)*100;
      if ($smsSend > $dlrReceived){

              if (ceil($percentDlr) < '90'){
                      $alert = 'warning';
              }if (ceil($percentDlr) < '85'){
                      $alert = 'danger';
              }

      }
      if (((string)$xml->sms->sent->total - (string)$xml->dlr->received->total) > 30000){
              $live = 'danger';
      }

      if ((string)$xml->sms->storesize > 1000){
              $store = 'danger';
      }
}
?>

<table id="" class="table table-bordered" cellspacing="0" width="100%">
  <tr >
    <td style="text-align: center;" colspan="6"><?php echo $xml->status;?></td>
  </tr>
  <tr>
    <td style="text-align: center;" colspan="3">SMS</td>
    <td class="<?php echo $alert;?>" style="text-align: center;" colspan="3">DLR</td>
  </tr>
  <tr>
    <td style="text-align: center;">SEND : <?php echo $xml->sms->sent->total;?></td>
    <td style="text-align: center;">QUEUED : <?php echo $xml->sms->sent->queued;?></td>
    <td style="text-align: center;">OUTBOUND TPS : <?php echo $xml->sms->outbound;?></td>
    <td class="<?php echo $alert;?>" style="text-align: center;">RECEIVED : <?php echo $xml->dlr->received->total;?></td>
    <td class="<?php echo $alert;?>" style="text-align: center;">QUEUED : <?php echo $xml->dlr->queued;?></td>
    <td class="<?php echo $alert;?>" style="text-align: center;">INBOUND TPS : <?php echo $xml->dlr->inbound;?></td>
  </tr>

  <tr>
    <td class="<?php echo $store;?>" style="text-align: center;" colspan="2">STORE SIZE</td>
    <td class="<?php echo $live;?>" style="text-align: center;" colspan="2">LIVE DLR QUEUE</td>
    <td class="<?php echo $live;?>" style="text-align: center;" colspan="2">BOX CONN</td>
  </tr>
  
  <tr>
 
   <td class="<?php echo $store;?>" style="text-align: center;" colspan="2"><?php echo $xml->sms->storesize;?></td>
    <td class="<?php echo $live;?>"  style="text-align: center;" colspan="2"><?php echo 'QUEUE : '.($xml->sms->sent->total - $xml->dlr->received->total).' ( '.(100 - ceil($percentDlr)).'% )';?></td>
    <td class="<?php echo $live;?>" style="text-align: center;" colspan="2"><?php echo $xml->boxes->box->id.' : '.$xml->boxes->box->status;?></td>
  </tr>
</table>

                        
       <table id="datatable-buttons" class="table table-bordered" cellspacing="0" width="100%"> 

            <thead>
              <tr>
                <th style="text-align: center;">Route</th>
                <th style="text-align: center;">status</th>
                <th style="text-align: center;">SMS Sent</th>
                <th style="text-align: center;">DLR Received</th>
                <th style="text-align: center;">DLR TPS</th>
                <th style="text-align: center;">SMS TPS</th>
                <th style="text-align: center;">Connection</th>
                <th style="text-align: center;">Queued</th>
                <th style="text-align: center;">Failed</th>
              </tr>
            </thead>
            <tbody>
              <?php $i=0;?>
              <?php foreach ($smsc as $session){ 
                  
              ?>
                <tr >
                  <td style="text-align: center;"><?php echo $session->id;?></td>
                  <td style="text-align: center;"><?php echo $session->status;?></td>
                  <td style="text-align: center;"><?php echo $session->sms->sent;?></td>
                  <td style="text-align: center;"><?php echo $session->dlr->received;?></td>
                  <td style="text-align: center;"><?php echo $session->dlr->inbound;?></td>
                  <td style="text-align: center;"><?php echo $session->sms->outbound;?></td>
                  <td style="text-align: center;"><?php echo $session->name; ?></td>
				  <td style="text-align: center;"><?php echo $session->queued; ?></td>
				  <td style="text-align: center;"><?php echo $session->failed; ?></td>
                </tr>
              <?php $i++; } ?>


          </tbody>
        </table>

        </div>
              </div>
            </div>

</div>
