<div class="content-wrapper">
   <?php 
              if ($this->errors) {
                echo '<div class="alert alert-danger" role="alert" align=center>';
                print_r($this->errors);
                
                echo '</div>';
            } 
            if ($this->success) {
                echo '<div class="alert alert-success" role="alert" align=center>';
                if (isset($this->success)) {
                    echo 'Smsc created successfully';
                }
                echo '</div>';
            }
            ?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="CreateSmppForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Route</label> 
                      <?php echo $this->form->route;?> 
                    </div>

                    <div class="form-group">
                      <label>Username</label>
                      <?php echo $this->form->username; ?>
                    </div>                   
                    <div class="form-group">
                      <label>Password</label>
                      <?php echo $this->form->password; ?>
                    </div>
                     
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Server</label>

                      <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">Ip</label>
                               <?php echo $this->form->ip; ?>
                              
                            </div>
                          </div>

                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">Port</label>
                               <?php echo $this->form->port; ?>
                              
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">Tps</label>
                               <?php echo $this->form->tps; ?>
                            </div>
                          </div>

                  </div>
                      
                      <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Sessions</label>

                      <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">Tx</label>
                               <?php echo $this->form->Tx; ?>
                              
                            </div>
                          </div>

                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">Rx</label>
                               <?php echo $this->form->Rx; ?>
                              
                            </div>
                          </div>
                          

                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">TRx</label>
                               <?php echo $this->form->bind; ?>
                              
                            </div>
                          </div>
                  </div>


 <button id="send" type="submit" class="btn btn-primary mr-2">Create</button>
                  </form>
                </div>
              </div>
            </div>

</div>
