<div class="row">
    <div class="col-sm-12">
      <div class="card-box">
        <h4 class="header-title m-t-0 m-b-30"></h4>
								<form action="/smpp/smsc/smscs" method="post" enctype="application/x-www-form-urlencoded">
<table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                  <th>Smsc Id</th>
							                      <th>Type</th>
							                      <th>Send</th>
							                      <th>Dlr received</th>
							                      <th>Dlr Awaiting</th>
							                      <th>Not Send</th>
							                      <th>Delivered</th>
							                      <th>Recredit</th>
							                      <th>Recredit Date</th>
							                      <th>Created Date</th>
							                      <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
					<?php foreach ($this->entries as $entry): ?>
					
                    <tr class="gradeC">
                      <td><?php echo $entry->smscId; ?></td>
                      <td>
                      <?php 
			            if ($entry->type == 'TRANSACTIONAL'){
			            	echo '<p  class="alert-danger">'. $entry->type .'</p>';
			            }elseif($entry->type == 'PROMOTIONAL'){
			            	echo '<p  class="alert-success">'. $entry->type .'</p>';
			            }elseif($entry->type == 'INTERNATIONAL'){
			            	echo '<p  class="alert-primary">'. $entry->type .'</p>';
			            } 
			         ?>
			         </td>
                      <td><?php echo $entry->send; ?></td>
                      <td><?php echo $entry->totalDlr; ?></td>
                      <td><?php echo $entry->awaitingDlr; ?></td>
                      <td><?php echo $entry->notSend; ?></td>
                      <td><?php echo $entry->delivered; ?></td>
                      <td><?php echo $entry->totalRecredit; ?></td>
                      <td><?php echo $entry->recreditDate->format('d-m-Y H:i:s'); ?></td>
                      <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                      
            <td align="center">
               <?php 
               switch ($entry->status) {	
                case 1:
                echo '<p class="text-success" name="active">Done</p>';
                break;
                case 0:
                echo '<p class="text-danger" name="blocked" >Not Done</p>';
                break;
              }
              ?>
              </td>
                    </tr>
                    <?php endforeach; ?>
                                       </tbody>
                                    </table>
                                    </form> 
                                     <?php //echo $this->paginationControl($this->entries, 'sliding', 'paginationSmscs.phtml'); ?>   

        </div>
    </div><!-- end col -->
  </div><!-- end row -->      
