<div class="content-wrapper">
    <div class="card">
    <div class="card-body">
 <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="/smpp/smsc/sentsms" id="smpp">
  <div class="form-group row">
        <div class="col-lg-3">
          <?php echo $this->form->smsc; ?>
        </div>

        <div class="col-lg-3">
          <button id="send" type="submit" class="btn btn-primary mr-2">Show</button>
        </div>

                                                    </div>
  
  
</form> 
</div>
  </div>
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
            <thead>
                                            <tr>
                                                <th>Id</th>
                                                  <th>Smsc Id</th>
                                    <th>Type</th>
                                    <th>Send</th>
                                    <th>Delivered</th>
                                    <th>Recredit</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <?php $i=1;?>
          <?php foreach ($this->entries as $entry): ?>
          
                    <tr class="gradeC">
                    <td><?php echo $i; ?></td>
                      <td><?php echo $entry->smscId; ?></td>
                      <td>
                      <?php 
                  if ($entry->type == 'TRANSACTIONAL'){
                    echo '<p class="alert-danger">'. $entry->type.'</p>';
                  }elseif($entry->type == 'PROMOTIONAL'){
                    echo '<p class="alert-success">'. $entry->type.'</p>';
                  }elseif($entry->type == 'INTERNATIONAL'){
                    echo '<p class="alert-primary">'. $entry->type.'</p>';
                  } 
               ?>
               </td>
                      <td><?php echo ($entry->send-$entry->notSend); ?></td>
                      <td><?php echo $entry->delivered; ?></td>
                      <td><?php echo $entry->totalRecredit; ?></td>
                      <td><?php echo $entry->recreditDate->format('d-m-Y H:i:s'); ?></td>
                      
            <td align="center">
               <?php 
               switch ($entry->status) {  
                case 1:
                echo '<p class="text-success" name="active">Done</p>';
                break;
                case 0:
                echo '<p class="text-danger" name="blocked" >Not Done</p>';
                break;
              }
              ?>
              </td>
                    </tr>
                    <?php $i++;?>
                    <?php endforeach; ?>
                                       </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->