<div class="content-wrapper">
    <div class="card">
    <div class="card-body">
 <form class="form-inline" id="searchReport" role="form"  action="/smpp/smsc/search" method="post" enctype="application/x-www-form-urlencoded">
           <div class="form-group row">  
              <div class="input-group col-sm-2">
                  <?php echo $this->form->mobile;?>
                </div>

              <div class="input-group col-sm-2">
                  <?php echo $this->form->sender;?>
              </div>  

             <div class="input-group col-sm-2">
                  <?php echo $this->form->type;?>
              </div>  

                <div class="input-group col-sm-3">
                            <div id="datePicker" class="input-group date datepicker">
                        <?php echo $this->form->datePicker; ?>
                        <span class="input-group-addon input-group-append border-left">
                          <span class="mdi mdi-calendar input-group-text"></span>
                        </span>
                      </div>
                </div>
                <div class="input-group col-sm-2">
                    <button class="btn btn-primary" name="search" type="submit" value="search">Search</button>
               </div>
      </div>       
     </form> 
</div>
  </div>
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="datatable-buttons" class="table">
            <thead>
                <tr>
                  <th>Id</th>
                  <th>Esme</th>
                  <th>Route</th>
                  <th>ReRoute</th>
                  <th>Sender</th>
                  <th>Mobile</th>
                  <th>Message</th>
                  <th>Dlr Reroute</th>
                  <th>Dlr Report</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <?php $i=1;
                ?>
                <?php foreach ($this->entries as $value): 
                  $dlrData = urldecode($value['dlrdata']);
                  $dlrSplit = explode(" ", $dlrData);
                  
                
                ?>

                  <tr>
                    <td><?php echo $i; ?></td>
                    <td><?php echo $value['service']; ?></td>
                    <td><?php echo $value['smsc_id']; ?></td>
                    <td><?php echo $value['resent_smsc_id']; ?></td>
                    <td> <?php echo $value['sender'];  ?> </td>  
                    <td> <?php echo $value['receiver'];  ?> </td>                    
                    <td> <?php 
                        if ($value['coding'] == '2'){
                            $hex = urldecode($value['msgdata']);
                            $utf8 = iconv("UTF-16BE", "UTF-8", $hex);
                            echo $utf8;
                        }else{
                            echo urldecode($value['msgdata']); 
                        }
                     
                    
                    ?> </td>  
                    <td> <?php echo urldecode($value['reroutedata']); ?> </td>
                    <td> <?php echo urldecode($value['dlrdata']); ?> </td>
                    <td style="text-align: center;">
                    <?php if($value['status']==1){?><p class="text-success" style="cursor: default;">Dlr Received</p>
                    <?php }
                      else{?><p class="text-danger" style="cursor: default;">Awaiting Dlr</p>
                    <?php } ?>
                  </td>
                   </tr>
              <?php  $i++; endforeach; ?>


          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->



