<div class="content-wrapper">
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="datatable-buttons" class="table">
            <thead>
              <tr>
                <th >Id</th>
                <th >Sender Id</th>
                <th >Reason</th>
                <th >Date</th>
                <th >Default</th>
                <th >Delete</th>
                <th >Status</th>
              </tr>
            </thead>
            <tbody>
              <?php $i=1;?>
              <?php foreach ($this->entries as $entry): 
              ?>

                <tr>
                  <td ><?php echo $i; ?></td>
                  <td ><?php echo $entry->name; ?></td>
                  <td ><?php echo $entry->description; ?></td>
                  <td ><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                  <td >
                    <?php if($entry->default==1){?><span><button class="btn btn-sm btn-success" type="button" style="cursor: default;">Default</button></span>
                    <?php }else { ?>
                    <form method="post" action="/voice/senderid/view">
                <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
                <span><button class="btn btn-sm btn-primary" name="submit" value="default" type="submit" style="cursor: default;">Select</button></span>
                    </form>
                    <?php }?>
                  </td>
                  <td >
                  <a href="#approval_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Delete</a>  
                  </td>
                  <td >
                    <?php if($entry->status==1){?><p class="text-success" style="cursor: default;">Approved</p>
                    <?php }
                    else if($entry->status==4){?><p class="text-danger" style="cursor: default;">Rejected</p>
                    <?php }
                    else {
                      ?>
                      <p class="text-primary" style="cursor: default;">Pending</p>
                      <?php }?>
                  </td>

                </tr>
              <?php $i++; endforeach; ?>


          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
<?php foreach ($this->entries as $entry): ?>                        
 <div id="approval_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/voice/senderid/view">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to delete ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Delete" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>       
<?php endforeach; ?>   