
<div class="content-wrapper">
   <?php 
  if ($success = $this->success) {
    echo '<div class="alert alert-success" role="alert" align=center> <span align=left >'; 
    echo $success['SenderId']['isSuccess'];

    echo '</spn></div>';
  }
  if ($errors = $this->errors) {
    echo '<div class="alert alert-danger" role="alert" align=center>';
    if(isset($errors['SenderId']['isFailed'])){
      echo $errors['SenderId']['isFailed'];
    }elseif (isset($errors['SenderId']['notLong'])){
      echo $errors['SenderId']['notLong'];
    } 
    print_r($this->errors);
    echo '</div>';
  } 

  ?>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="VoiceComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    

                    <div class="form-group">
                      <label>Sender</label>
                      <?php echo $this->form->senderId; ?>
                    </div>

                    <div class="form-group">
                      <label>Description</label>
                      <?php echo $this->form->userremark; ?>
                    </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  </form>
                </div>
              </div>
            </div>

</div>


<div class="row">
    <div class="col-sm-12">
      <div class="card-box">
        <h4 class="header-title m-t-0 m-b-30"></h4>    
        
  <?php 
  if ($success = $this->success) {
    echo '<div class="alert alert-success" role="alert" align=center> <span align=left >'; 
		echo $success['SenderId']['isSuccess'];

    echo '</spn></div>';
  }
  if ($errors = $this->errors) {
    echo '<div class="alert alert-danger" role="alert" align=center>';
    if(isset($errors['SenderId']['isFailed'])){
    	echo $errors['SenderId']['isFailed'];
    }elseif (isset($errors['SenderId']['notLong'])){
    	echo $errors['SenderId']['notLong'];
    } 
    print_r($this->errors);
    echo '</div>';
  } 

  ?>
<form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="VoiceComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">

  

        
           <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-md-3 control-label">Sender ID</label>
                <div class="col-md-8">
                  <?php echo $this->form->senderId; ?> 
                </div>
              </div>
            </div><!-- end col -->
            </div>
            
            <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-md-3 control-label">Description</label>
                <div class="col-md-8 ">
                  <?php echo $this->form->userremark; ?> 
                </div>
              </div>
            </div><!-- end col -->
          </div><!-- end row1 -->
              
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <center>
                  <?php echo $this->form->submit; ?>
                </center>
              </div>
            </div><!-- end col -->
          </div><!-- end row5 -->
                        </form>
</div>
    </div><!-- end col -->
  </div><!-- end row -->