  <div class="content-wrapper">
      <div class="card">
    <div class="card-body">
   <form class="form-inline" id="searchReport" role="form"  action="/sms/smsc/search" method="post" enctype="application/x-www-form-urlencoded">
           <div class="form-group row">  
              <div class="input-group col-sm-2">
                  <?php echo $this->form->mobile;?>
                </div>

              <div class="input-group col-sm-2">
                  <?php echo $this->form->sender;?>
              </div>  

             <div class="input-group col-sm-2">
                  <?php echo $this->form->type;?>
              </div>  

                <div class="input-group col-sm-2">
                            <div id="datePicker" class="input-group date datepicker">
                        <?php echo $this->form->datePicker; ?>
                        <span class="input-group-addon input-group-append border-left">
                          <span class="mdi mdi-calendar input-group-text"></span>
                        </span>
                      </div>
                </div>
                <div class="input-group col-sm-2">
                    <button class="btn btn-primary" name="search" type="submit" value="search">Search</button>
               </div>
      </div>       
     </form>    
</div>
</div>

<div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="datatable-buttons" class="table">

              <thead>
                <tr>
                  <th>Id</th>
                  <th>Sender</th>
                  <th>Mobile</th>
                  <th>Message</th>
                  <th>Dlr Report</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <?php $i=1;
                ?>
                <?php foreach ($this->entries as $value): 
                  $dlrData = urldecode($value->dlrdata);
                  
                
                ?>

                  <tr class="gradeC">
                    <td><?php echo $i; ?></td>
                    <td> <?php echo $value->sender;  ?> </td>  
                    <td> <?php echo $value->receiver;  ?> </td>                    
                    <td> <?php echo urldecode($value->msgdata);  ?> </td>                    
                    <td> <?php 
                    echo "<p class='text-danger'>";
                      if($value->status==1){
                        if (strpos($dlrData, 'stat:DELIVRD') !== false) {
                          echo 'DELIVERED';
                        }else{
                          echo 'FAILED';
                        }         
                      }
                    echo "</p>";
                    ?> </td>
                    <td style="text-align: center;">
                    <?php if($value->status==1){?><p class="text-success" style="cursor: default;">Dlr Received</p>
                    <?php }
                      else{?><p class="text-danger" style="cursor: default;">Awaiting Dlr</p>
                    <?php } ?>
                  </td>
                   </tr>
              <?php  $i++; endforeach; ?>


          </tbody>
        </table>
</table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->

