<div class="content-wrapper">

<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="datatable-buttons" class="table">
            <thead>
                                            <tr>
                                                  <th>Username</th>
                                    <th>Password</th>
                                    <th>Server</th>
                                    <th>Port</th>
                                    <th>Route</th>
                                    <th>Type</th>
                                    <th>Throughput</th>
                                    <th>Tx</th>
                                    <th>Rx</th>
                                    <th>TRx</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Manage</th>
                                    <th>Delete</th>
                                    <th>Status</th>
                                            </tr>
                                        </thead>

                                        <tbody>
          <?php foreach ($this->entries as $entry): ?>
          
                    <tr class="gradeC">
                      <td><?php echo $entry->systemId; ?></td>
                      <td><?php echo $entry->password; ?></td>
                      <td><?php echo $entry->server; ?></td>
                      <td><?php echo $entry->port; ?></td>
                      <td><?php echo $entry->route; ?></td>
                      <td>
                      <?php 
                  if ($entry->type == 'TRANSACTIONAL'){
                    echo '<p  class="alert-danger">'. $entry->type .'</p>';
                  }elseif($entry->type == 'PROMOTIONAL' || $entry->type == 'TRANS-SCRUB'){
                    echo '<p  class="alert-success">'. $entry->type .'</p>';
                  }elseif($entry->type == 'INTERNATIONAL'){
                    echo '<p  class="alert-primary">'. $entry->type .'</p>';
                  } 
               ?>
                      </td>
                      <td><?php echo $entry->throughput; ?></td>
                      <td><?php echo $entry->maxTx; ?></td>
                      <td><?php echo $entry->maxRx; ?></td>
                      <td><?php echo $entry->maxBinds; ?></td>
                      <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                      <td align="center">
               <?php 
               switch ($entry->status) {  
                case 1:
                echo '<a href="#block_'.$entry->type.'_'.$entry->id.'" class="btn btn-sm btn-danger"  data-toggle="modal" >Block</a>';
                break;
                case 0:
                echo '<a href="#activate_'.$entry->type.'_'.$entry->id.'" class="btn btn-sm btn-primary"  data-toggle="modal" >Activate</a>';
                break;
              }
              ?>
              </td>
              <td align="center">
              <a href="#myModal3_<?php echo $entry->type.'_'.$entry->id; ?>" class="btn btn-sm btn-primary" data-toggle="modal">EDIT</a>
              </td>
              <td align="center">
              <a href="#delete_<?php echo $entry->type.'_'.$entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Delete</a>
              
            </td>
            <td align="center">
               <?php 
               switch ($entry->status) {  
                case 1:
                echo '<p class="text-success" name="active">Active</p>';
                break;
                case 0:
                echo '<p class="text-danger" name="blocked" >Blocked</p>';
                break;
              }
              ?>
              </td>
                    </tr>
                    <?php endforeach; ?>
                                       </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
    <?php
 foreach ($this->entries as $entry) 
 { 
  ?>   
  <div class="modal fade" id="myModal3_<?php echo $entry->type.'_'.$entry->id; ?>" role="dialog" >
    <div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">

        <form method="post" action="/sms/smsc/smscs">       
        <input type="hidden" name="edit" value="<?php echo $entry->id; ?>">
        <input type="hidden" name="type" value="<?php echo $entry->type; ?>">
        <div class="row">
            <div class="col-lg-12">
              <div class="form-group row">
                <label class="col-md-3 control-label">System Id</label>
                <div class="col-md-8 ">
                  <input type="text" class="form-control" name="system_id" value="<?php echo $entry->systemId;?>">
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-md-3 control-label">Password</label>
                <div class="col-md-8 ">
                  <input type="text" class="form-control" name="password" value="<?php echo $entry->password;?>">
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-md-3 control-label">Server</label>
                <div class="col-md-8 ">
                  <input type="text" class="form-control" name="ip" value="<?php echo $entry->server;?>">
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-md-3 control-label">Port</label>
                <div class="col-md-8 ">
                  <input type="text" class="form-control" name="port" value="<?php echo $entry->port;?>">
                </div>
              </div>
                
                <div class="form-group row">
                <label class="col-md-3 control-label">Tx</label>
                <div class="col-md-8 ">
                  <input type="text" class="form-control" name="Tx" value="<?php echo $entry->maxTx;?>">
                </div>
              </div>
                
                <div class="form-group row">
                <label class="col-md-3 control-label">Rx</label>
                <div class="col-md-8 ">
                  <input type="text" class="form-control" name="Rx" value="<?php echo $entry->maxRx;?>">
                </div>
              </div>
                
                <div class="form-group row">
                <label class="col-md-3 control-label">TRx</label>
                <div class="col-md-8 ">
                  <input type="text" class="form-control" name="bind" value="<?php echo $entry->maxBinds;?>">
                </div>
              </div>
                
                <div class="form-group row">
                <label class="col-md-3 control-label">Throughput</label>
                <div class="col-md-8 ">
                  <input type="text" class="form-control" name="tps" value="<?php echo $entry->throughput;?>">
                </div>
              </div>
            </div><!-- end col -->

    </div>                  
         </div>
         <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Save" name="submit"  />
          <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

        </form>  
    </div>
    
  </div>
</div> 
  
<div id="activate_<?php echo $entry->type.'_'.$entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/sms/smsc/smscs">
        <input type="hidden" name="blocked" value="<?php echo $entry->id; ?>">
        <input type="hidden" name="type" value="<?php echo $entry->type; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to activate ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Activate" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>  

<div id="block_<?php echo $entry->type.'_'.$entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/sms/smsc/smscs">
        <input type="hidden" name="active" value="<?php echo $entry->id; ?>">
        <input type="hidden" name="type" value="<?php echo $entry->type; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to block ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Block" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>  

  <div id="delete_<?php echo $entry->type.'_'.$entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/sms/smsc/smscs">
        <input type="hidden" name="delete" value="<?php echo $entry->id; ?>">
        <input type="hidden" name="type" value="<?php echo $entry->type; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to delete ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Delete" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>  
  
<?php } ?>