
							<div class="col-lg-12">
									<form action="/smpp/smsc/status" method="post">
                                    <button type="submit" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="start">Start</button>
                                    <button type="submit" class="btn btn-purple btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="resume">Resume</button>
                                    <button type="submit" class="btn btn-warning btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="restart">Restart</button>
                                    <button type="submit" class="btn btn-inverse btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="isolate">Isolate</button>
                                    <button type="submit" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="suspend">Suspend</button>
                                    <button type="submit" class="btn btn-danger btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="shutdown">Shutdown</button>
									</form>
                            </div>
                            <div class="col-lg-12">
									<form action="/smpp/smsc/status" method="post">
                                    <button type="submit" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5" name="sqlbox-command" value="start">Start</button>
                                    <button type="submit" class="btn btn-danger btn-bordred waves-effect w-md waves-light m-b-5" name="sqlbox-command" value="shutdown">Shutdown</button>
									</form>
                            </div>
                            <div class="col-lg-12">
									<form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="smsc">
									<div class="form-group">
		                                <div class="col-lg-2">
		                                    <?php echo $this->form->smsc; ?>
		                                </div>
                            		</div>
									
                                    <button type="submit" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5" name="smsc-command" value=start>Start</button>
                                    <button type="submit" class="btn btn-purple btn-bordred waves-effect w-md waves-light m-b-5" name="smsc-command" value="stop">Stop</button>
                                    <button type="submit" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5" name="smsc-command" value="add">Add</button>
                                    <button type="submit" class="btn btn-danger btn-bordred waves-effect w-md waves-light m-b-5" name="smsc-command" value="remove">Remove</button>
									</form>
                            </div>
<iframe class="row" src="http://78.47.77.92:10990/status?password=VEv0xT3l" id="smsc-status" allowTransparency="true"  frameborder="0" height="1000" width="100%" >
</iframe>
