<div class="table-rep-plugin">
<div class="table-responsive table-bordered" data-pattern="priority-columns">   
<table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<tr>
	<th>Sent</th>
	<th>Delivered</th>
	<th>Failed</th>
        <th>No Credit Failed</th>
	<th>Awaiting</th>
	</tr>
<tr>
<td><?php echo $this->send;?> </td>
<td><?php echo $this->delivered;?> </td>
<td><?php echo $this->failed;?> </td>
<td><?php echo $this->nocredit;?> </td>
<td><?php echo $this->submit;?> </td>
</tr>
<tr>
	<th>Reroute Sent</th>
	<th>Reroute Delivered</th>
	<th>Reroute Failed</th>
	<th>Reroute Awaiting</th>
	</tr>
<tr>
<td><?php echo $this->sendReroute;?> </td>
<td><?php echo $this->deliveredReroute;?> </td>
<td><?php echo $this->failedReroute;?> </td>
<td><?php echo $this->submitReroute;?> </td>
</tr>
</table>
</div>
</div>

