  <div class="content-wrapper">

<div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="datatable-buttons" class="table">

              <thead>
          <tr>
          <th>Id</th>
            <th>SystemID</th>
            <th>Client IP</th>
            <th>Type</th>
            <th>Route</th>
            <th>Throughput</th>
            <th>Server IP</th>
            <th>Server Port</th>
            <th>Cost</th>
            <th>Credit</th>
            <th>Count</th>
            <th>NDNC</th>
            <th>Template</th>
            <th>SenderID</th>
            <th>Action</th>
            <th>Manage</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
        <?php $i=1;?>
         <?php foreach ($this->entries as $entry): ?>
           
          <tr>
          <td><?php echo $i; ?></td>
            <td><?php echo $entry['system_id']; ?></td>
            <td><?php echo $entry['connect_allow_ip']; ?></td>
            <td>
            <?php 
            if ($entry['type'] == 'TRANSACTIONAL'){
              echo '<p  class="alert-danger"> '.$entry['type'].' </p>';
            }elseif($entry['type'] == 'PROMOTIONAL' || $entry['type'] == 'TRANS-SCRUB'){
              echo '<p  class="alert-success">'.$entry['type'].'</p>';
            }elseif($entry['type'] == 'INTERNATIONAL'){
              echo '<p  class="alert-primary"> '.$entry['type'].' </p>';
            } 
            ?>
            </td>
            <td><?php echo $entry['default_smsc']; ?></td>
            <td><?php echo $entry['throughput']; ?></td>
            <td><?php echo $this->domain; ?></td>
            <td><?php 
                if ($entry['type'] == 'PROMOTIONAL'){
                  echo '9135';
                }elseif ($entry['type'] == 'INTERNATIONAL'){
                  echo '5157';
                }else{
                  echo '7317';
                }
             ?></td>
            <td><?php echo $entry['default_cost']; ?></td>
            <td><?php echo $entry['credit']; ?></td>
            <td><?php echo $entry['counter']; ?></td>
            <td><?php 
              switch ($entry['enable_check_ndnc']) {
               case 0:
               echo 'Disabled';
               break;
               case 1:
               echo 'Enabled';
               break;
             }
             ?></td>
             <td><?php 
              switch ($entry['enable_check_template']) {
               case 0:
               echo '<span>Disabled</span>';
               break;
               case 1:
               echo '<span">Enabled</span>';
               break;
             }
             ?></td>
             <td><?php 
               switch ($entry['enable_check_sender']) {
                 case 0:
                 echo 'Disabled';
                 break;
                 case 1:
                 echo 'Enabled';
                 break;
               } 
               ?></td>
               
              <td>
               <?php 
               switch ($entry['simulate']) {  
                case 0:
                echo '<a href="#block_'.$entry['system_id'].'" class="btn btn-sm btn-danger"  data-toggle="modal" >Block</a>';
                break;
                case 1:
                echo '<a href="#activate_'.$entry['system_id'].'" class="btn btn-sm btn-primary"  data-toggle="modal" >Activate</a>';
                break;
              }
              ?>
              </td>
              <td>
              <a href="#myModal3_<?php echo $entry['system_id']; ?>" class="btn btn-sm btn-primary" data-toggle="modal">EDIT</a>
              </td>
              
            <td>
               <?php 
               switch ($entry['simulate']) {  
                case 0:
                echo '<p class="text-success" name="active">Active</p>';
                break;
                case 1:
                echo '<p class="text-danger" name="blocked" >Blocked</p>';
                break;
              }
              ?>
              </td>
            </tr>
          <?php $i++; endforeach; ?>
      </tbody>
        </table>
</table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
<?php foreach ($this->entries as $entry){ ?>    
<div id="activate_<?php echo $entry['system_id']; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/smpp/esme/esmes">
        <input type="hidden" name="blocked" value="<?php echo $entry['system_id']; ?>">
        <input type="hidden" name="type" value="<?php echo $entry['type']; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to activate ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Activate" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>  

<div id="block_<?php echo $entry['system_id']; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/smpp/esme/esmes">
        <input type="hidden" name="active" value="<?php echo $entry['system_id']; ?>">
        <input type="hidden" name="type" value="<?php echo $entry['type']; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to block ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Block" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>  

  <div id="delete_<?php echo $entry['system_id']; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/smpp/esme/esmes">
        <input type="hidden" name="blocked" value="<?php echo $entry['system_id']; ?>">
        <input type="hidden" name="type" value="<?php echo $entry['type']; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to delete ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Delete" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div> 


<div class="modal fade" id="myModal3_<?php echo $entry['system_id']; ?>" role="dialog" >
    <div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">

        <form method="post" action="/smpp/esme/esmes">
  <input type="hidden" name="edit" value="<?php echo $entry['system_id']; ?>">
        <input type="hidden" name="type" value="<?php echo $entry['type']; ?>"> 
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Allowed IP</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="ip" value="<?php echo $entry['connect_allow_ip'];?>">
                      </div>
                    </div>
                    
                    <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Save" name="submit"  />
          <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
                  </form>
    </div>
    
  </div>
</div>   
</div>
<?php } ?>   