<div class="content-wrapper">
    <div class="card">
    <div class="card-body">
  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="smpp">
  <div class="form-group row">
        <div class="col-lg-3">
          <?php echo $this->form->smpp; ?>
        </div>

        <div class="col-lg-3">
          <button id="send" type="submit" class="btn btn-primary mr-2">Show</button>
        </div>

                                                    </div>
  
  
</form> 
</div>
  </div>
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="datatable-buttons" class="table">
            <thead>
      <tr>
        <th>Id</th>
        <th>Esme</th>
        <th>Type</th>
        <th>Total Sent</th>
        <th>Delivered</th>
        <th>Recredit</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
    <?php $i=1;?>
     <?php foreach ($this->entries as $entry): 
     $total = $entry->failed+$entry->awaitingDlr+$entry->delivered;
     $recredit = $entry->failed+$entry->awaitingDlr
     ?>
       
      <tr>
        <td><?php echo $i; ?></td>
        <td><?php echo $entry->esme; ?></td>
        <td><?php echo $entry->type; ?></td>
        <td><?php echo $total; ?></td>
        <td><?php 
        if ($total != '0' && $entry->delivered == '0'){
          echo 'Rendering Issue';
        }else{
          echo $entry->delivered;
        }
        ?></td>
        <td>
            <?php echo $recredit; ?>            
        </td>
        <td><?php echo $entry->recreditDate->format('d-m-Y'); ?></td>
        
     </tr>
     <?php $i++;?>
   <?php endforeach; ?>
</tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->