<div class="content-wrapper">
  <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description"></p>
							
                            <div class="col-lg-12">
									<form action="/smpp/esme/status" method="post">
                    <div class="form-group row">
                                    <div class="col-lg-4">
                                        <?php echo $this->form->server; ?>
                                      </div>
                                      <div class="col-lg-6">
                                        <button type="submit" class="btn btn-primary btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="select">Select</button>
                                    </div>

                                </div>
                                    <button type="submit" class="btn btn-success btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="start">Start</button>
                                    <button type="submit" class="btn btn-danger btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="shutdown">Shutdown</button>
									</form>
                            </div>
                            
<?php 
if (isset($this->status)){

$status = $this->status;
$xml=simplexml_load_string($status);
}
?>

<table id="" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <tr class="gradeC">
    <td style="text-align: center;" colspan="6"><?php echo $xml->status.', uptime '.$xml->uptime;?></td>
  </tr>
  <tr>
    <td style="text-align: center;" colspan="3">INBOUND SMS</td>
    <td style="text-align: center;" colspan="3">OUTBOUND DLR</td>
  </tr>
  <tr>
    <td style="text-align: center;">PROCESSED : <?php echo $xml->summary->{'inbound-processed'};?></td>
    <td style="text-align: center;">TPS : <?php echo $xml->summary->{'inbound-load'};?></td>
    <td style="text-align: center;">ONLINE ESME : <?php echo $xml->summary->{'online-esme'};?></td>
    <td style="text-align: center;">PROCESSED : <?php echo $xml->summary->{'outbound-processed'};?></td>
    <td style="text-align: center;">TPS : <?php echo $xml->summary->{'outbound-load'};?></td>
    <td style="text-align: center;">ONLINE ESME : <?php echo $xml->summary->{'online-esme'};?></td>
  </tr>

</table>
                           
       <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%"> 

            <thead>
              <tr>
                <th style="text-align: center;">Esme</th>
                <th style="text-align: center;">Route</th>
                <th style="text-align: center;">UnBind</th>
                <th style="text-align: center;">Credit</th>
                <th style="text-align: center;">Count</th>
                <th style="text-align: center;">Bind</th>
                <th style="text-align: center;">Inbound TPS - Outbound TPS</th>
                <th style="text-align: center;">Max Inbound TPS</th>
                <th style="text-align: center;">MO - MT - DLR</th>
                <th style="text-align: center;">Errors</th>
              </tr>
            </thead>
            <tbody>
              <?php $i=0;$utilityManager = new Smpp_Utility();?>
              <?php foreach ($xml->esme as $session){  
             		$smppRepo =  $this->emSmpp->find($session->{'system-id'});
             		$balance = $smppRepo->credit;
             		$count = $smppRepo->count;
             		$smscId = $smppRepo->defaultSmsc;
              	
              ?>
 
                <tr class="gradeC">
                  <td style="text-align: center;"><?php echo $session->{'system-id'};?></td>
                  <td style="text-align: center;"><?php echo $smscId;?></td>
                  <td style="text-align: center;"><form action="/smpp/esme/status" method="post">
                    <input type="hidden" name="system_id" value="<?php echo $session->{'system-id'};?>">
                    <input type="hidden" name="server" value="<?php echo $this->server;?>">
                 <button type="submit" class="btn btn-danger btn-bordred waves-effect w-md waves-light m-b-5" name="command" value="unbind">Unbind</button>
                 </form></td>
                  <td style="text-align: center;"><?php echo $balance;?></td>
                  <td style="text-align: center;"><?php echo $count;?></td>
                  <td style="text-align: center;"><?php echo $session->{'bind-count'}.'/'.$session->{'max-binds'};?>
                  <a href="" data-target="#myModal3_<?php echo $session->{'system-id'}; ?>" data-toggle="modal"><i class="fa fa-plus" style="padding-right: 5%; float: right;"></i></a>
                  </td>
                  <td style="text-align: center;"><?php echo $session->{'inbound-load'}.' - '.$session->{'outbound-load'};?></td>
                  <td style="text-align: center;"><?php echo $session->{'max-inbound-load'};?></td>
                  <td style="text-align: center;"><?php echo $session->mo.' - '.$session->mt.' - '.$session->dlr; ?></td>
				  <td style="text-align: center;"><?php echo $session->errors; ?></td>
                </tr>
              <?php $i++; } ?>


          </tbody>
        </table>
</div>
              </div>
            </div>

</div>

 
        
<?php foreach ($xml->esme as $session){ ?>        
<div class="modal fade" id="myModal3_<?php echo $session->{'system-id'}; ?>" role="dialog" >
    <div class="modal-dialog modal-lg">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">

        <table id="" class="table table-striped table-bordered"> 
			<thead>
              <tr>
                <th style="text-align: center;">IP</th>
                <th style="text-align: center;">Uptime</th>
                <th style="text-align: center;">Bind Type</th>
                <th style="text-align: center;">Inbound TPS - Outbound TPS</th>
                <th style="text-align: center;">MO - MT - DLR</th>
              </tr>
            </thead>
            <tbody>
             <?php 
             foreach ($session->bind as $bind){
             	$uptime = $utilityManager::secondsToTime($bind->{'uptime'});
             ?>
                <tr class="gradeC">
                  <td style="text-align: center;"><?php echo $bind->{'ip'};?></td>
                  <td style="text-align: center;"><?php echo $uptime;?></td>
                  <td style="text-align: center;">
                  <?php  
                  if ($bind->{'bind-type'} == '1'){
                  	echo 'Tx';
                  }elseif ($bind->{'bind-type'} == '2'){
                  	echo 'Rx';
                  }else{
                  	echo 'TRx';
                  } 
                  
                  ?></td>
                  <td style="text-align: center;"><?php echo $bind->{'inbound-load'}.' - '.$bind->{'outbound-load'};?></td>
                  <td style="text-align: center;"><?php echo $bind->mo.' - '.$bind->mt.' - '.$bind->dlr['0']; ?></td>
				  
                </tr>
            
			<?php } ?>

          </tbody>
        </table>
                  
         </div>
         <div class="modal-footer">
          <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
    
  </div>
</div>    

<?php } ?>