<div class="content-wrapper">
  <?php 
        if ($this->success) {
         echo '<div class="alert alert-success" role="alert" align=center>';

         echo $this->success['Report']['Generate'] ;
         echo '</div>';
       }
       if ($this->errors) {
         echo '<div class="alert alert-danger" role="alert" align=center>';
        if (isset($this->errors['campaignName']['Generate'])) {
           echo $this->errors['Report']['Generate'] ;
        }elseif (isset($this->errors['Report']['inProgress'])) {
      echo $this->errors['Report']['inProgress'] ;
        }elseif (isset($this->errors['Report']['timeNotReach'])) {
      echo $this->errors['Report']['timeNotReach'] ;
        }elseif(isset($this->errors['Report']['inSearch'])){
          echo $this->errors['Report']['inSearch'];
        }else{
          print_r($this->errors);
        }
        echo '</div>';
      } 

    $date=explode('^', $this->daterange);
    $sdate=$date[0];
    $edate=$date[1];
?>
  <div class="card">
    <div class="card-body">
 <form class="form-inline" id="searchReport" role="form"  action="/smpp/esme/reportall" method="post" enctype="application/x-www-form-urlencoded">
  <div class="form-group row">
                                                        <div class="col-sm-12">
          
                                                            <div class="input-daterange input-group" id="date-range">
                                                              <div class="col-sm-4">
                                                              <?php echo $this->form->smpp; ?>
                                                            </div>
                                                                <input id="from" value="<?php echo "$sdate";?>" class="form-control" name="from" type="text">
                                                                <span id="" class="btn btn-primary">to</span>
                                                                <input id="to" value="<?php echo "$edate";?>" class="form-control" name="to" type="text">
                                                                <div class="form-check mb-2 mr-sm-2"></div>
                                                                <button data-toggle="modal" data-target="#view-modal" data-id="" id="getSmppSummary" class="btn btn-sm btn-primary">Summary</button>
                                  <div class="form-check mb-2 mr-sm-2"></div>
                                  <button class="btn btn-primary" name="search" type="submit" value="search">Report</button>
                                                            </div>
                                                        </div>
                                                    </div>
  
  
</form> 
</div>
  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                        <tr>
                  <th>Id</th>
                  <th>Esme</th>
                  <th>Type</th>
                  <th>Duration</th>
                  <th>Download</th>                  
                  <th>Date</th>
                  <th>Status</th>
                </tr>
                      </thead>
                      <tbody>
                <?php $i=1;
                ?>
                
                <?php foreach ($this->entries as $entry): ?>

                  <tr>
                    <td><?php echo $i; ?></td>
                    <td><?php echo $entry->esme; ?></td>
                    <td><?php echo $entry->type; ?></td>
                    <td>
                      <?php
                        echo $entry->fromDate->format('d-m-Y H:i:s') .' TO '. $entry->toDate->format('d-m-Y H:i:s');
                      ?>
                    </td>
                    <td><?php 
                   if ($entry->status == '1') {
                    ?>
                    <a class="btn btn-sm btn-primary" href="/files/smpp/report/<?php echo $entry->fileName; ?>"> Download </a>
                   <?php
                   }
                   ?>
                  </td>
                    <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                   <td><?php if ($entry->status == '1') {
                       echo '<p class="text-success">Completed</p>';
                   }else{
                       echo '<p class="text-info">Processing</p>';
                   }?></td>
                   
                </tr>
              <?php  $i++; endforeach; ?>


          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->


        <div id="view-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
             <div class="modal-dialog"> 
                  <div class="modal-content"> 
                  
                       <div class="modal-header"> 
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
                            <h4 class="modal-title"></h4> 
                       </div> 
                       <div class="modal-body"> 
                       
                       	   <div id="modal-loader" style="display: none; text-align: center;">
                       	   	<img src="/errors/images/ajax-loader.gif">
                       	   </div>
                            
                           <!-- content will be load here -->                          
                           <div id="dynamic-content"></div>
                             
                        </div> 
                        <div class="modal-footer"> 
                              <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>  
                        </div> 
                        
                 </div> 
              </div>
       </div><!-- /.modal -->     
