<div class="content-wrapper">
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="datatable-buttons" class="table">
            <thead>
                                            <tr>
                                            <th>Id</th>
                                                <th>Group Id</th>
                                                <th>Name</th>
                                                <th>Count</th>
                                                <th>Edit</th>
                                                <th>View</th>
                                                <th>Add</th>
                                                <th>Delete</th>
                                                <th>Export</th>
                                                <th>Create Date</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                          <?php $i = 1;?>
                                          <?php foreach ($this->entries as $entry): ?>
                                            <tr>
                                            <td ><?php echo $i; ?></td>
                                <td ><?php echo $entry->id;?></td>
                                <td ><?php echo $entry->name;?></td>
                                <td ><?php echo $entry->count; ?></td>
                                <td >
                                <a href="#edit_<?php echo $entry->id; ?>" class="btn btn-sm btn-primary"  data-toggle="modal" >Edit</a>
                               </td>
                               <td ><form action="/user/contact/view" method="post" enctype="application/x-www-form-urlencoded"><button name="campid" value="<?php echo $entry->id;?>" class="btn btn-sm btn-primary">View</button></form></td>
                               <td >
                               <form action="/user/contact/create" method="post" enctype="application/x-www-form-urlencoded"><button name="add" value="<?php echo $entry->id;?>" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus"></i> Add</button></form>
                               </td>
                               <td >
                               <a href="#approval_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Delete</a>
                               </td>
                               <td >
                               </td>
                               <td ><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                               </tr>
                              <?php $i++; endforeach; ?>
                                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
<?php foreach ($this->entries as $entry): ?>                        
 <div id="approval_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/user/contact/index">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to delete ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Delete" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>       
<?php endforeach; ?> 
<?php foreach ($this->entries as $entry): ?>                        
 <div id="edit_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/user/contact/index">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="form-group row">
<label class="col-md-3">Name</label>
<div class="col-md-8 ">
<input  class="form-control" type="text" value="<?php echo $entry->name; ?>" name="name">
</div>
</div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Save" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>       
<?php endforeach; ?> 