<div class="content-wrapper">
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Mobile</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>

                                         <tbody>
                          <?php $i = 1;?>
                                          <?php foreach ($this->entries as $entry): ?>
                                            <tr >
                                            <td ><?php echo $i; ?></td>
                                <td ><?php echo $entry->name; ?></td>
                                <td ><?php echo $entry->mobile; ?></td>
                                <td >
                                <a href="#edit_<?php echo $entry->id; ?>" class="btn btn-sm btn-primary"  data-toggle="modal" >Edit</a>
                                </td>
                                <td >
                                <a href="#approval_<?php echo $entry->id; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Delete</a>
                                </td>
                                </tr>
                              <?php $i++; endforeach; ?>
                                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
<?php foreach ($this->entries as $entry): ?>                        
 <div id="approval_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/user/contact/view">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
        <input type="hidden" name="campid" value="<?php echo $entry->lead; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to delete ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Delete" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>       
<?php endforeach; ?> 
<?php foreach ($this->entries as $entry): ?>                        
 <div id="edit_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/user/contact/view">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
        <input type="hidden" name="campid" value="<?php echo $entry->lead; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12">
             
             
              <div class="row">
            <div class="col-lg-12">
              <div class="form-group row">
                <label class="col-md-3">Name</label>
                <div class="col-md-8">
                  <input  class="form-control" type="text" value="<?php echo $entry->name; ?>" name="name">
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-md-3">Mobile</label>
                <div class="col-md-8">
                  <input  class="form-control" type="text" value="<?php echo $entry->mobile; ?>" name="mobile">
                </div>
              </div>
            </div><!-- end col -->
            </div>
            
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Save" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>       
<?php endforeach; ?> 
