<div class="content-wrapper">
<?php 
        if ($this->success) {
         echo '<div class="alert alert-success" role="alert" align=center>';

         echo 'Group created successfully';

         echo '</div>';
       }
       if ($this->errors) {
         echo '<div class="alert alert-danger" role="alert" align=center>';
         print_r($this->errors);
        echo '</div>';
      } 

      ?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id ="SmsComposeForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Name</label>
                       <?php echo $this->form->contactName; ?>
                    </div>
                    
                    
                    <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Contact</label>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                               <input class="form-check-input" id="contactType-3" value="3" name="contactType" checked="checked" type="radio">
                                Paste
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" id="contactType-2" value="2" name="contactType" type="radio">
                                Upload
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          

                      </div>
                    <div class="form-group" id="upload">
                      <label>File upload</label>
                      <?php echo $this->form->uploadContact; ?>
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Csv">
                        <span class="input-group-append">
                          
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>

                    <div class="form-group" id="paste">
                      <label>Paste</label>
                      <?php echo $this->form->textContact; ?></br>
                  <span id="cont_cnt"><strong>0</strong></span> Contacts
                    </div>

                    

<button id="send" type="submit" class="btn btn-primary mr-2">Submit</button>
                  </form>
                </div>
              </div>
            </div>

</div>

