<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bulk SMS, Bulk Voice, Bulk Email">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="/template/images/users/<?php echo $this->logo; ?>">

    <!-- App title -->
    <?php echo $this->headTitle(); ?>
    <script type="text/javascript">
	setTimeout(onUserInactivity, 1000 * 1700)
	function onUserInactivity() {
	   window.location.href = "/account/signout/ERR210"
	}
	</script>
    <?php 
  //date_default_timezone_set('Asia/Calcutta');
  $today = getdate(); 
  $milliseconds = round(microtime(true) * 1000);
  ?>
<script>
    months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
    days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
    var ISTTime = new Date(<?php echo $milliseconds; ?>);

    //var currentOffset = d.getTimezoneOffset();

    //var ISTOffset = 330;   // IST offset UTC +5:30 
    //var ISTTime = new Date(d.getTime() + (ISTOffset + currentOffset)*60000);

    setInterval(function() {
        ISTTime.setSeconds(ISTTime.getSeconds() + 1);
        $('#timer').text(('  '+days[ISTTime.getDay()] +' '+ months[ISTTime.getMonth()] +' '+ ISTTime.getDate() +' '+ ISTTime.getFullYear() +' '+ ISTTime.getHours() +':' + ISTTime.getMinutes() + ':' + ISTTime.getSeconds() ));
    }, 1000);
</script> 
            <!-- Plugins css-->
        <link href="/template/1/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
        <link href="/template/1/assets/plugins/multiselect/css/multi-select.css"  rel="stylesheet" type="text/css" />
        <link href="/template/1/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/template/1/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
        <link href="/template/1/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
        <link href="/template/1/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
        <link href="/template/1/assets/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
        <link href="/template/1/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="/template/1/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        
        <!-- <link href="/template/assets/css/pace.css" rel="stylesheet"> -->

                
        <!-- DataTables -->
        <link href="/template/1/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/template/1/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        
        <!-- Responsive datatable examples -->
        <link href="/template/1/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        
        <!-- Multi Item Selection examples -->
        <link href="/template/1/assets/plugins/datatables/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        
        <!-- App css -->
        <link href="/template/1/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/template/1/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/template/1/assets/css/style.css" rel="stylesheet" type="text/css" />

        <script src="/template/1/assets/js/modernizr.min.js"></script>
        
        <!-- Api CSS -->
       <link rel="stylesheet" href="/api/css/normalize1c51.css" type="text/css"/>
       <link rel="stylesheet" href="/api/css/pictos.css" type="text/css"/>
       <link rel="stylesheet" href="/api/css/template7e0c.css" type="text/css"/>
   
       <link rel="stylesheet" href="/api/css/prettify.css" type="text/css"/>
       
</head>


<body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                <span class="logo"><img src="/template/images/users/<?php echo $this->logo; ?>" width="100px"></span>
                </div>

                <div>
            <?php
            $session = new Zend_Session_Namespace('ImpersonateUser');
            if (isset($session->user_id)) {
                echo $this->render('impersonate.phtml');
            }
            ?>
            </div>
                
                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                        <!-- Page title -->
                        <ul class="nav navbar-nav list-inline navbar-left">
                            <li class="list-inline-item">
                                <button class="button-menu-mobile open-left">
                                    <i class="mdi mdi-menu"></i>
                                </button>
                            </li>
                            <li class="list-inline-item">
                                <h4 class="page-title"><?php echo $this->subject; ?></h4>
                            </li>
                            
                        </ul>

                        <nav class="navbar-custom">

                            <ul class="list-unstyled topbar-right-menu float-right mb-0">

                                <li>
                                    <!-- Notification -->
                                    <div class="notification-box">
                                        <ul class="list-inline mb-0">
<li >
              <span class="nav-link" id="timer"></span>
          </li>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#exampleModal-2" class="nav-link">
              <span>&nbsp;&nbsp;</span><span>&nbsp;&nbsp;</span><i class="fa  fa-rupee"></i>
              <span class="count"> </span>
            </a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <!-- End Notification bar -->
                                </li>

                            </ul>
                        </nav>
                    </div><!-- end container -->
                </div><!-- end navbar -->
            </div>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
           

            <h5><?php echo ($this->username != '') ? "$this->username" : 'username'; ?></h5>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="/user/profile/password" >
                        <i class="mdi mdi-settings"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="/account/signout" class="text-custom">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>

            </ul>
        </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <?php echo $this->navigation()->menu()->setPartial('adminto-navigation.phtml')->render(); ?>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                    
                    <?php echo $this->layout()->content; ?>
                    
                    </div> <!-- container -->
                </div> <!-- content -->

                <footer class="footer text-right">
                    <?php echo date('Y')?> © <?php echo $this->footer;?>
                </footer>

            </div>

            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
               <!-- Modal starts -->
                  
                  <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
                    <div class="modal-dialog modal-md" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel-2"></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <ul class="nav nav-tabs" id="setting-panel" role="tablist">



    <li class="nav-item" style="width:154px"><a class="nav-link active" id="promo-tab" data-toggle="tab" href="#promo" role="tab" aria-controls="promo" aria-expanded="true">PROMOTIONAL</a></li>
    <li class="nav-item" style="width:154px"><a class="nav-link" id="trans-tab" data-toggle="tab" href="#trans" role="tab" aria-controls="trans">TRANSACTIONAL</a></li>
  
  
    <li class="nav-item" style="width:154px"><a class="nav-link" id="scrub-tab" data-toggle="tab" href="#scrub" role="tab" aria-controls="scrub">TRANS-SCRUB</a></li>
    <li class="nav-item" style="width:154px"><a class="nav-link" id="inter-tab" data-toggle="tab" href="#inter" role="tab" aria-controls="inter">INTERNATIONAL</a></li>
 
</ul>

<div class="tab-content" >

      <div class="tab-pane fade show active scroll-wrapper" id="promo" role="tabpanel" aria-labelledby="promo">
             <div class="row">
                    <div class="col-3">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <?php 
                        if ($this->sms_module){
                        ?>
                        <li class="nav-item">
                          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        <?php 
                        }
                        if ($this->voice_module){
                        ?>
                        <li class="nav-item">
                          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            VOICE
                          </a>                          
                        </li>
                        <?php 
                        }
                        if ($this->smpp_module){
                        ?>
                        <li class="nav-item">
                          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                        <?php 
                        }
                        ?>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainPromo)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainPromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainPromoApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainPromoApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsPromo)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsPromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsPromoApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsPromoApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->voiceMainPromo)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->voiceMainPromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceMainPromoApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->voiceMainPromoApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voicePromo)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->voicePromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voicePromoApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->voicePromoApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                          <div class="media">

                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppPromo)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppPromo; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>    
                  
      </div>


      <div class="tab-pane fade" id="trans" role="tabpanel" aria-labelledby="trans">

        <div class="row">
                    <div class="col-3">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="p-pills-tab" role="tablist" aria-orientation="vertical">
                        <?php 
                        if ($this->sms_module){
                        ?>
                          <li class="nav-item">
                          <a class="nav-link active" id="p-pills-home-tab" data-toggle="pill" href="#p-pills-home" role="tab" aria-controls="p-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        <?php 
                        }
                        if ($this->voice_module){
                        ?>
                        <li class="nav-item">
                          <a class="nav-link" id="p-pills-profile-tab" data-toggle="pill" href="#p-pills-profile" role="tab" aria-controls="p-pills-profile" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            VOICE
                          </a>                          
                        </li>
                        <?php 
                        }
                        if ($this->smpp_module){
                        ?>
                        <li class="nav-item">
                          <a class="nav-link" id="p-pills-messages-tab" data-toggle="pill" href="#p-pills-messages" role="tab" aria-controls="p-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                        <?php 
                        }
                        
                        ?>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="p-pills-tabContent">
                        <div class="tab-pane fade show active" id="p-pills-home" role="tabpanel" aria-labelledby="p-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainTrans)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainTransApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainTransApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsTrans)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsTransApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsTransApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="p-pills-profile" role="tabpanel" aria-labelledby="p-pills-profile-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->voiceMainTrans)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->voiceMainTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceMainTransApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->voiceMainTransApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceTrans)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->voiceTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceTransApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->voiceTransApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="p-pills-messages" role="tabpanel" aria-labelledby="p-pills-messages-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppTrans)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppTrans; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 
      </div>


      <div class="tab-pane fade" id="scrub" role="tabpanel" aria-labelledby="scrub">

        <div class="row">
                    <div class="col-3">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="s-pills-tab" role="tablist" aria-orientation="vertical">
                       <?php 
                        if ($this->sms_module){
                        ?>
                          <li class="nav-item">
                          <a class="nav-link active" id="s-pills-home-tab" data-toggle="pill" href="#s-pills-home" role="tab" aria-controls="s-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        <?php 
                        }
                        if ($this->smpp_module){
                        ?>
                        <li class="nav-item">
                          <a class="nav-link" id="s-pills-messages-tab" data-toggle="pill" href="#s-pills-messages" role="tab" aria-controls="s-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                        <?php 
                        }
                        ?>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="s-pills-tabContent">
                        <div class="tab-pane fade show active" id="s-pills-home" role="tabpanel" aria-labelledby="s-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainScrub)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainScrub; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainScrubApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainScrubApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsScrub)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsScrub; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsScrubApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsScrubApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        
                        <div class="tab-pane fade" id="s-pills-messages" role="tabpanel" aria-labelledby="s-pills-messages-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppScrub)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppScrub; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
      </div>


      <div class="tab-pane fade" id="inter" role="tabpanel" aria-labelledby="inter">

        <div class="row">
                    <div class="col-3">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="g-pills-tab" role="tablist" aria-orientation="vertical">
                        <?php 
                        if ($this->sms_module){
                        ?>
                          <li class="nav-item">
                          <a class="nav-link active" id="g-pills-home-tab" data-toggle="pill" href="#g-pills-home" role="tab" aria-controls="g-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        <?php 
                        }
                        if ($this->smpp_module){
                        ?>
                        <li class="nav-item">
                          <a class="nav-link" id="g-pills-messages-tab" data-toggle="pill" href="#g-pills-messages" role="tab" aria-controls="g-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                        <?php 
                        }
                        ?>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="g-pills-tabContent">
                        <div class="tab-pane fade show active" id="g-pills-home" role="tabpanel" aria-labelledby="g-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainInter)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainInter; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainInterApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainInterApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsInter)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsInter; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsInterApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsInterApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        
                        <div class="tab-pane fade" id="g-pills-messages" role="tabpanel" aria-labelledby="g-pills-messages-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppInter)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppInter; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
      </div>


</div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal Ends -->     
            <!-- /Right-bar -->

        </div>
        <!-- END wrapper -->


   <!-- jQuery  -->
        <script src="/template/1/assets/js/jquery.min.js"></script>
        <script src="/template/1/assets/js/popper.min.js"></script>
        <script src="/template/1/assets/js/bootstrap.min.js"></script>
        <script src="/template/1/assets/js/detect.js"></script>
        <script src="/template/1/assets/js/fastclick.js"></script>
        <script src="/template/1/assets/js/jquery.blockUI.js"></script>
        <script src="/template/1/assets/js/waves.js"></script>
        <script src="/template/1/assets/js/jquery.nicescroll.js"></script>
        <script src="/template/1/assets/js/jquery.slimscroll.js"></script>
        <script src="/template/1/assets/js/jquery.scrollTo.min.js"></script>
        
        <!-- Custom Js -->
        
	<script src="/template/assets/plugins/jquery-ui/jquery-ui-1.12.1.js" type="text/javascript"></script>
	<script src="/template/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="/template/assets/js/custom.js"></script>
        <script src="/template/assets/js/validation-init.js"></script>
        <script src="/template/assets/js/m-smslen.js"></script>
        <!-- <script src="/template/assets/js/pace.min_luna.js"></script> -->

        <!-- Plugins Js -->
        <script src="/template/1/assets/plugins/switchery/switchery.min.js"></script>
        <script src="/template/1/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
       
        <script type="text/javascript" src="/template/1/assets/plugins/multiselect/js/jquery.multi-select.js"></script>
        <script type="text/javascript" src="/template/1/assets/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
        <script src="/template/1/assets/plugins/select2/js/select2.js" type="text/javascript"></script>
        
        <script src="/template/1/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script src="/template/1/assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js" type="text/javascript"></script>
        <script src="/template/1/assets/plugins/moment/moment.js"></script>
        <script src="/template/1/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
        <script src="/template/1/assets/plugins/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
        <script src="/template/1/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="/template/1/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="/template/1/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>

                <!-- Required datatable js -->
        <script src="/template/1/assets/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/template/1/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="/template/1/assets/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="/template/1/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/template/1/assets/plugins/datatables/jszip.min.js"></script>
        <script src="/template/1/assets/plugins/datatables/pdfmake.min.js"></script>
        <script src="/template/1/assets/plugins/datatables/vfs_fonts.js"></script>
        <script src="/template/1/assets/plugins/datatables/buttons.html5.min.js"></script>
        <script src="/template/1/assets/plugins/datatables/buttons.print.min.js"></script>


        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="assets/plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="/template/1/assets/plugins/jquery-knob/jquery.knob.js"></script>

        <!--Morris Chart-->
		<script src="/template/1/assets/plugins/morris/morris.min.js"></script>
		<script src="/template/1/assets/plugins/raphael/raphael-min.js"></script>
                
        <!-- Key Tables -->
        <script src="/template/1/assets/plugins/datatables/dataTables.keyTable.min.js"></script>

        <!-- Responsive examples -->
        <script src="/template/1/assets/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="/template/1/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

        <!-- Selection table -->
        <script src="/template/1/assets/plugins/datatables/dataTables.select.min.js"></script>
        <!-- Dashboard init -->
        
        <!-- App js -->
        <script src="/template/1/assets/js/jquery.core.js"></script>
        <script src="/template/1/assets/js/jquery.app.js"></script>
        
        <script src="/api/js/common.js"></script>
        <script src="/template/5/js/file-upload.js"></script>
        
  
<script>
Morris.Bar({
 element : 'users-today',
 data:[
            { y: '', a:  },
            { y: '', a:  },
            { y: '', a:  },
            { y: '', a:  },
            { y: '', a:  }
        ],
 xkey:'y',
 ykeys:['a'],
 labels:['SMS'],
 hideHover:'auto',
 stacked:true
});
</script>


<script type="text/javascript">
//allow only numeric and dots. 
// back % one dot is allowed. 
// after dot only 2 digits allowed. 
$("#price").add('#tax').keydown(function(event) 
{
	//alert(event.keyCode);
	if (event.shiftKey == true) 
	{
        event.preventDefault();
    }

    if ((event.keyCode >= 48 && event.keyCode <= 57) || 
        (event.keyCode >= 96 && event.keyCode <= 105) || 
        event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
        event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 ||
        event.keyCode == 110 || event.keyCode == 35 || event.keyCode == 36) {

    } else {
        event.preventDefault();
    }

    if($(this).val().indexOf('.') !== -1)
    {
        if(event.keyCode == 190 || event.keyCode == 110)
        {
        	event.preventDefault(); 
        }
        else
        {
            $arr = $(this).val().split('.');
            if($arr[1].length >= 2)
            {
            	if (event.keyCode == 8 || event.keyCode == 46 || 
                        event.keyCode == 36 || event.keyCode == 35 || 
                        event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 9) {

                    } else {
                        event.preventDefault();
                    }
            }
        }
    }
});


$("#rate").add('#tax').add('#amount').keyup(function() 
{
	calculate();
});

function calculate()
{
	var volume = parseInt($('#amount').val());
	if($('#amount').val() == '' || $('#amount').val() == null)
	{
		volume = parseInt("0");
	}
	var pricing =  parseFloat($('#rate').val());
	if($('#rate').val() == '' || $('#rate').val() == null)
	{
		pricing = parseFloat("0.00");
	}
	var tax = parseFloat($('#tax').val());
	if($('#tax').val() == '' || $('#tax').val() == null)
	{
		tax = parseFloat("0.00");
	}
	var rs = parseFloat((volume * pricing) / 100);
	var rstax = parseFloat(rs * (tax / 100));
	var total = parseFloat(rs + rstax);		
	$('#total').val(total.toFixed(2));
}

</script>

<script type="text/javascript">

            $(document).ready(function () {


            	//select2
            	$('.select2').select2();

            	//datepicker
            	jQuery('#datePicker').datepicker({
                autoclose: true,
                todayHighlight: true
            	});
                
                //datepicker
            	jQuery('#to').datepicker({
                autoclose: true,
                todayHighlight: true
            	});
                
                //datepicker
            	jQuery('#from').datepicker({
                autoclose: true,
                todayHighlight: true
            	});

            	//timepicker
            	jQuery('#timePicker').timepicker({
            	showMeridian : false,
                minuteStep : 1,
                icons: {
                    up: 'mdi mdi-chevron-up',
                    down: 'mdi mdi-chevron-down'
                }
            	});

            	//date-range
            	jQuery('#date-range').datepicker({
                    toggleActive: true
                });
            	
                // Default Datatable
                $('#datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    "scrollX": true,
                    buttons: ['copy', 'csv']
                });
                

                // Key Tables

                $('#key-table').DataTable({
                    keys: true
                });

                // Responsive Datatable
                $('#responsive-datatable').DataTable();

                // Multi Selection Datatable
                $('#selection-datatable').DataTable({
                    select: {
                        style: 'multi'
                    }
                });

                table.buttons().container()
                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });

        </script>

</body>
</html>
