                    <div id="sidebar-menu">
                        <ul>
                         <?php $count = 0 ?>
    <?php foreach ($this->container as $page): ?>
    <?php if( ! $page->isVisible() || !$this->navigation()->accept($page)) continue; ?>
        <?php $hasChildren = $page->hasPages() ?>
        <?php if( ! $hasChildren): ?>
      <li><a class="waves-effect <?php if($page->isActive()) echo 'active'?>" href="<?php echo $page->getHref() ?>"><i class="<?php echo $page->getClass() ?>"></i><span><?php echo $this->translate($page->getLabel()) ?></span></a></li>
      <?php else: ?>
 
      <li class="has_sub">
       
      <a  href="javascript:void(0);" class="waves-effect <?php if($page->isActive()) echo 'active subdrop'?>"><i class="<?php echo $page->getClass() ?>"></i><span><?php echo $this->translate($page->getLabel()) ?></span><span class="menu-arrow"></span></a>
        <ul class="list-unstyled">
        <?php foreach($page->getPages() as $child): ?>
        <?php if( ! $child->isVisible() || !$this->navigation()->accept($child)) continue; ?>
          <li class="<?php if($child->isActive()) echo 'active'?>" >
            <a href="<?php echo $child->getHref() ?>">
              <span><?php echo $this->translate($child->getLabel()) ?></span>
            </a>
          </li>
        <?php endforeach ?>
        </ul>
      </li>
    <?php endif ?>
    <?php $count++ ?>
    <?php endforeach ?>
                        	
                        </ul>
                        <div class="clearfix"></div>
                    </div>