
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <?php echo $this->headTitle(); ?>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/template/5/vendors/iconfonts/mdi/font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/template/5/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/template/5/vendors/css/vendor.bundle.addons.css">
  <link rel="stylesheet" href="/template/5/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css">
  <link rel="stylesheet" href="/template/5/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
  
  <!-- <link href="/template/assets/css/pace.css" rel="stylesheet"> -->
  <link href="/template/3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/template/3/css/themify-icons.css" rel="stylesheet">
  <!-- endinject -->
          <!-- Api CSS -->
       <link rel="stylesheet" href="/api/css/normalize1c51.css" type="text/css"/>
       <link rel="stylesheet" href="/api/css/pictos.css" type="text/css"/>
       <link rel="stylesheet" href="/api/css/template7e0c.css" type="text/css"/>
   
       <link rel="stylesheet" href="/api/css/prettify.css" type="text/css"/>
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/template/5/css/vertical-layout-dark/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/template/5/images/favicon.png" />
     <script type="text/javascript">
	setTimeout(onUserInactivity, 1000 * 1700)
	function onUserInactivity() {
	   window.location.href = "/account/signout/ERR210"
	}
	</script>
  <?php 
  //date_default_timezone_set('Asia/Calcutta');
  $today = getdate(); 
  $milliseconds = round(microtime(true) * 1000);
  ?>
<script>
    months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
    days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
    var ISTTime = new Date(<?php echo $milliseconds; ?>);

    //var currentOffset = d.getTimezoneOffset();

    //var ISTOffset = 330;   // IST offset UTC +5:30 
    //var ISTTime = new Date(d.getTime() + (ISTOffset + currentOffset)*60000);

    setInterval(function() {
        ISTTime.setSeconds(ISTTime.getSeconds() + 1);
        $('#timer').text(('  '+days[ISTTime.getDay()] +' '+ months[ISTTime.getMonth()] +' '+ ISTTime.getDate() +' '+ ISTTime.getFullYear() +' '+ ISTTime.getHours() +':' + ISTTime.getMinutes() + ':' + ISTTime.getSeconds() ));
    }, 1000);
</script> 
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href=""><img src="/template/images/users/<?php echo $this->logo; ?>" width="100px"></a>
        <a class="navbar-brand brand-logo-mini" href=""><img src="/template/images/users/<?php echo $this->logo; ?>" width="100px"></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end justify-content-lg-start">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item">
           <?php
            $session = new Zend_Session_Namespace('ImpersonateUser');
            if (isset($session->user_id)) {
                echo $this->render('impersonate.phtml');
            }
            ?>
          </li>
          <li class="dropdown">
            <span>&nbsp;&nbsp;</span>
              <span id="timer"></span>
              <span>&nbsp;&nbsp;</span>
          </li>
          <li class="nav-item dropdown">
            <a href="#" data-toggle="modal" data-target="#exampleModal-2" class="nav-link">
              <i class="fa  fa-rupee"></i>
              <span class="count"> </span>
            </a>
            
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="/template/5/images/faces/face5.jpg" alt="profile"/>
              <span class="nav-profile-name"><?php echo $this->username;?></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="/user/profile/password">
                <i class="mdi mdi-settings text-primary"></i>
                Settings
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/account/signout">
                <i class="mdi mdi-logout text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>

      </div>

    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <?php echo $this->navigation()->menu()->setPartial('boardster-navigation.phtml')->render(); ?>
      <!-- partial -->
      <div class="main-panel">
           
        <!-- content -wrapper starts -->
        <?php echo $this->layout()->content; ?>
        <!-- content-wrapper ends -->

        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <?php echo date('Y');?> <a href="" target="_blank"><?php echo $this->footer;?></a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
   
   <!-- Modal starts -->
                  
                  <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
                    <div class="modal-dialog modal-md" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel-2"></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <ul class="nav nav-tabs" id="setting-panel" role="tablist">



    <li class="nav-item" style="width:154px"><a class="nav-link active" id="promo-tab" data-toggle="tab" href="#promo" role="tab" aria-controls="promo" aria-expanded="true">PROMOTIONAL</a></li>
    <li class="nav-item" style="width:154px"><a class="nav-link" id="trans-tab" data-toggle="tab" href="#trans" role="tab" aria-controls="trans">TRANSACTIONAL</a></li>
  
  
    <li class="nav-item" style="width:154px"><a class="nav-link" id="scrub-tab" data-toggle="tab" href="#scrub" role="tab" aria-controls="scrub">TRANS-SCRUB</a></li>
    <li class="nav-item" style="width:154px"><a class="nav-link" id="inter-tab" data-toggle="tab" href="#inter" role="tab" aria-controls="inter">INTERNATIONAL</a></li>
 
</ul>

<div class="tab-content" >

      <div class="tab-pane fade show active scroll-wrapper" id="promo" role="tabpanel" aria-labelledby="promo">
             <div class="row">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            VOICE
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainPromo)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainPromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainPromoApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainPromoApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsPromo)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsPromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsPromoApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsPromoApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->voiceMainPromo)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->voiceMainPromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceMainPromoApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->voiceMainPromoApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voicePromo)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->voicePromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voicePromoApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->voicePromoApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                          <div class="media">

                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppPromo)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppPromo; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>    
                  
      </div>


      <div class="tab-pane fade" id="trans" role="tabpanel" aria-labelledby="trans">

        <div class="row">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="p-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="p-pills-home-tab" data-toggle="pill" href="#p-pills-home" role="tab" aria-controls="p-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="p-pills-profile-tab" data-toggle="pill" href="#p-pills-profile" role="tab" aria-controls="p-pills-profile" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            VOICE
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="p-pills-messages-tab" data-toggle="pill" href="#p-pills-messages" role="tab" aria-controls="p-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="p-pills-tabContent">
                        <div class="tab-pane fade show active" id="p-pills-home" role="tabpanel" aria-labelledby="p-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainTrans)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainTransApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainTransApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsTrans)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsTransApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsTransApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="p-pills-profile" role="tabpanel" aria-labelledby="p-pills-profile-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->voiceMainTrans)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->voiceMainTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceMainTransApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->voiceMainTransApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceTrans)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->voiceTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceTransApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->voiceTransApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="p-pills-messages" role="tabpanel" aria-labelledby="p-pills-messages-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppTrans)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppTrans; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 
      </div>


      <div class="tab-pane fade" id="scrub" role="tabpanel" aria-labelledby="scrub">

        <div class="row">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="s-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="s-pills-home-tab" data-toggle="pill" href="#s-pills-home" role="tab" aria-controls="s-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" id="s-pills-messages-tab" data-toggle="pill" href="#s-pills-messages" role="tab" aria-controls="s-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="s-pills-tabContent">
                        <div class="tab-pane fade show active" id="s-pills-home" role="tabpanel" aria-labelledby="s-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainScrub)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainScrub; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainScrubApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainScrubApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsScrub)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsScrub; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsScrubApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsScrubApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        
                        <div class="tab-pane fade" id="s-pills-messages" role="tabpanel" aria-labelledby="s-pills-messages-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppScrub)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppScrub; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
      </div>


      <div class="tab-pane fade" id="inter" role="tabpanel" aria-labelledby="inter">

        <div class="row">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="g-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="g-pills-home-tab" data-toggle="pill" href="#g-pills-home" role="tab" aria-controls="g-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" id="g-pills-messages-tab" data-toggle="pill" href="#g-pills-messages" role="tab" aria-controls="g-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="g-pills-tabContent">
                        <div class="tab-pane fade show active" id="g-pills-home" role="tabpanel" aria-labelledby="g-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainInter)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainInter; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainInterApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainInterApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsInter)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsInter; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsInterApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsInterApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        
                        <div class="tab-pane fade" id="g-pills-messages" role="tabpanel" aria-labelledby="g-pills-messages-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppInter)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppInter; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
      </div>


</div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal Ends -->     
  <!-- plugins:js -->
  <script src="/template/5/vendors/js/vendor.bundle.base.js"></script>
  <script src="/template/5/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/template/5/js/off-canvas.js"></script>
  <script src="/template/5/js/hoverable-collapse.js"></script>
  <script src="/template/5/js/template.js"></script>
  <script src="/template/5/js/settings.js"></script>
  <script src="/template/5/js/todolist.js"></script>
  
  <!-- <script src="/template/assets/js/pace.min_luna.js"></script> -->

  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
    <!-- Custom js for this page-->
  <script src="/template/5/js/file-upload.js"></script>
  <script src="/template/5/js/iCheck.js"></script>
  <script src="/template/5/js/typeahead.js"></script>
  <script src="/template/5/js/formpickers.js"></script>
  <script src="/template/5/js/avgrund.js"></script>
  <script src="/template/5/js/modal-demo.js"></script>
  <script src="/template/5/js/data-table.js"></script>

  <script src="/template/5/vendors/tinymce/tinymce.min.js"></script>
  <script src="/template/5/vendors/tinymce/themes/modern/theme.js"></script>
  <script src="/template/5/vendors/summernote/dist/summernote-bs4.min.js"></script>

  <!-- custom -->
        <script src="/template/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="/template/assets/js/custom.js"></script>
        <script src="/template/assets/js/validation-init.js"></script>
        <script src="/template/assets/js/m-smslen.js"></script>
        <script src="/template/5/js/formpickers.js"></script>
        <script src="/api/js/common.js"></script>
        
        <script src="/template/assets/plugins/jquery-ui/jquery-ui-1.10.4.min.js" type="text/javascript"></script>

<script src="/template/5/js/editorDemo.js"></script>



 <script type="text/javascript">
     
     
  (function($) {
  'use strict';   
     if ($("#analysis-chart-dark").length) {
      var CurrentChartCanvas = $("#analysis-chart-dark").get(0).getContext("2d");
      var CurrentChart = new Chart(CurrentChartCanvas, {
        type: 'bar',
        data: {
          labels: ["", "", "", "", "", "", "", ""],
          datasets: [{
              label: 'Profit',
              data: [, , , , , , , , , ],
              backgroundColor: '#8110a5'
            },
            {
              label: 'Target',
              data: [, , , , , , , , , ],
              backgroundColor: '#848086'
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          layout: {
            padding: {
              left: 0,
              right: 0,
              top: 20,
              bottom: 0
            }
          },
          scales: {
            yAxes: [{
              display: false,
              gridLines: {
                drawBorder: false
              },
              ticks: {
                display: false
              }
            }],
            xAxes: [{
              stacked: true,
              ticks: {
                beginAtZero: true,
                fontColor: "#9fa0a2"
              },
              gridLines: {
                color: "rgba(0, 0, 0, 0)",
                display: true
              },
              barPercentage: 0.6
            }]
          },
          legend: {
            display: false
          },
          elements: {
            point: {
              radius: 0
            }
          }
        }
      });
    }
})(jQuery);
            $(document).ready(function () {


              //select2
              $('.select2').select2();

              

       
                // Default Datatable
                $('#datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    "scrollX": true,
                    buttons: ['copy', 'csv']
                });
                

                // Key Tables

                $('#key-table').DataTable({
                    keys: true
                });

                // Responsive Datatable
                $('#responsive-datatable').DataTable();

                // Multi Selection Datatable
                $('#selection-datatable').DataTable({
                    select: {
                        style: 'multi'
                    }
                });

                table.buttons().container()
                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });

        </script>
  <!-- End custom js for this page-->

</body>

</html>

