<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
           <?php $count = 0 ?>
           <?php foreach ($this->container as $page): ?>
                  <?php if( ! $page->isVisible() || ! $this->navigation()->accept($page)) continue; ?>
                  <?php $hasChildren = $page->hasPages() ?>
                  <?php if( ! $hasChildren): ?>

                        <li class="nav-item">
                          <a class="nav-link <?php if($page->isActive()) echo 'active'?>" href="<?php echo $page->getHref() ?>">
                            <i class="<?php echo $page->getClass(); ?>"></i>&nbsp;&nbsp;
                            <span class="menu-title"><?php echo $this->translate($page->getLabel()) ?></span>
                          </a>
                        </li>

                  <?php else: ?>

                        <li class="nav-item">
                          <a class="nav-link <?php if($page->isActive()) echo 'active'?>" data-toggle="collapse" href="#form-<?php echo $count; ?>" aria-expanded="false" aria-controls="form-<?php echo $count; ?>">
                            <i class="<?php echo $page->getClass() ?>"></i>&nbsp;&nbsp;
                            <span class="menu-title"><?php echo $this->translate($page->getLabel()) ?></span>
                            <i class="menu-arrow"></i>
                          </a>
                          <div class="collapse <?php if($page->isActive()) echo 'show'?>" id="form-<?php echo $count; ?>">
                            <ul class="nav flex-column sub-menu">
                              <?php foreach($page->getPages() as $child): ?>
                                      <?php if( ! $child->isVisible() || !$this->navigation()->accept($child)) continue; ?>
                                      <li class="nav-item"> 
                                        <a class="nav-link <?php if($child->isActive()) echo 'active'?>" href="<?php echo $child->getHref() ?>"><?php echo $this->translate($child->getLabel()) ?></a>
                                      </li>
                              <?php endforeach ?>
                            </ul>
                          </div>
                        </li>
                  <?php endif ?>
        <?php $count++ ?>
        <?php endforeach ?>

        </ul>
      </nav>