
<p class="text-muted m-b-15 font-13" style="padding-right: 5%;">
 <?php
		    // iterate through the pages
		    foreach ($this->pages as $key => $page):
		        
		            if ($key < count($this->pages) - 1):
		                ?>
		                <a class="active-trail active" href="<?php echo $page->getHref(); ?>"><b><?php echo $page->getLabel().' / '; ?></b></a>
		            <?php
		         
		            else:
		            ?>
		                <a class="current" href="<?php echo $page->getHref(); ?>"><?php echo $page->getLabel(); ?></a>
		            <?php endif; ?>
		        
		    <?php endforeach; ?>
</p>