<aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              <?php $count = 0 ?>
    <?php foreach ($this->container as $page): ?>       
    <?php if( ! $page->isVisible() || !$this->navigation()->accept($page)) continue; ?>
    <?php $hasChildren = $page->hasPages() ?>    
        <?php if( ! $hasChildren): ?>     
                <li class="sub-menu dcjq-parent-li">
                <a href="<?php if($page->isActive()) { echo 'dcjq-parent active javascript:;';} else{ echo 'dcjq-parent javascript:;'; }?>">
                        <i class="<?php echo $page->getClass() ?>"></i>
                        <span><?php echo $this->translate($page->getLabel()) ?></span>
                    </a>    
                </li>
		<?php else: ?>
                <li class="sub-menu dcjq-parent-li">
                    <a href="javascript:;" class="<?php if($page->isActive()) { echo 'dcjq-parent active javascript:;';} else{ echo 'dcjq-parent javascript:;'; }?>">
                        <i class="<?php echo $page->getClass() ?>"></i>
                        <span><?php echo $this->translate($page->getLabel()) ?></span>
                        <span class="dcjq-icon"></span>
                    </a>
                    <ul id="<?php echo $count;?>" class="sub" style="<?php if($page->isActive()) { echo 'display:block'; }else{ echo 'display:none';}?>">
                    <?php foreach($page->getPages() as $child): ?>
                    <?php if( ! $child->isVisible() || !$this->navigation()->accept($child)) continue; ?>
                        <li class="<?php if($child->isActive()) echo 'active'?>" ><a href="<?php echo $child->getHref() ?>"> <?php echo $this->translate($child->getLabel()) ?></a></li>
                    <?php endforeach ?>
                    </ul>
                </li>
    <?php endif ?>
    <?php $count++ ?>              
     <?php endforeach ?>                   

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>