<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App Favicon -->
    <link rel="shortcut icon" href="/template/assets/images/users/<?php echo $this->logo; ?>">

    <!-- App title -->
    <?php echo $this->headTitle(); ?>
    <script type="text/javascript">
	setTimeout(onUserInactivity, 1000 * 1700)
	function onUserInactivity() {
	   window.location.href = "/account/signout/ERR210"
	}
	</script>
 <?php 
  //date_default_timezone_set('Asia/Calcutta');
  $today = getdate(); 
  $milliseconds = round(microtime(true) * 1000);
  ?>
<script>
    months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
    days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
    var ISTTime = new Date(<?php echo $milliseconds; ?>);

    //var currentOffset = d.getTimezoneOffset();

    //var ISTOffset = 330;   // IST offset UTC +5:30 
    //var ISTTime = new Date(d.getTime() + (ISTOffset + currentOffset)*60000);

    setInterval(function() {
        ISTTime.setSeconds(ISTTime.getSeconds() + 1);
        $('#timer').text(('  '+days[ISTTime.getDay()] +' '+ months[ISTTime.getMonth()] +' '+ ISTTime.getDate() +' '+ ISTTime.getFullYear() +' '+ ISTTime.getHours() +':' + ISTTime.getMinutes() + ':' + ISTTime.getSeconds() ));
    }, 1000);
</script> 
    <!-- Bootstrap core CSS -->
    <link href="/template/2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/template/2/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/template/1/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/template/2/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/template/2/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    
    <link rel="stylesheet" type="text/css" href="/template/2/assets/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/template/2/assets/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/template/2/assets/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" href="/template/2/assets/bootstrap-datetimepicker/css/datetimepicker.css" />
    

    <!--right slidebar-->
    <link href="/template/2/css/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="/template/2/css/style.css" rel="stylesheet">
    <link href="/template/2/css/style-responsive.css" rel="stylesheet" />


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="/template/2/js/html5shiv.js"></script>
      <script src="/template/2/js/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body>
  <section id="container">
      <!--header start-->
      <header class="header white-bg">
              <div class="sidebar-toggle-box">
                  <i class="fa fa-bars"></i>
              </div>
            <!--logo start-->
            <a href="/account/signin" class="logo"><span class="logo"><img src="/template/images/users/<?php echo $this->logo; ?>" height="50px"></span></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul>
                    <li class="dropdown">
            <span>&nbsp;&nbsp;</span>
              <span id="timer"></span>
              <span>&nbsp;&nbsp;</span>
          </li>
                </ul> 
                <!--  notification end -->
            </div>
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li class="nav-item">
           <?php
            $session = new Zend_Session_Namespace('ImpersonateUser');
            if (isset($session->user_id)) {
                echo $this->render('impersonate.phtml');
            }
            ?>
          </li>
          
          <li class="nav-item dropdown">
            <a href="#" data-toggle="modal" data-target="#exampleModal-2" class="nav-link">
              <i class="fa  fa-rupee"></i>
            </a>
            
          </li>
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" height="20px" src="/template/assets/images/users/<?php echo $this->logo; ?>" title="<?php echo $this->username; ?>">
                            <span class="username"><?php echo ($this->username != '') ? "$this->username" : 'username'; ?></h5></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li><a href="/user/profile/index"><i class=" fa fa-suitcase"></i>Profile</a></li>
                            <li><a href="/user/profile/password"><i class="fa fa-cog"></i>Change Password</a></li>
                            <li><a href="/account/signout"><i class="fa fa-key"></i> Log Out</a></li>
                        </ul>
                    </li>
                    
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
      <!--header end-->
      
      
      <!--sidebar start-->
      <?php echo $this->navigation()->menu()->setPartial('flatlab-navigation.phtml')->render(); ?>
      <!--sidebar end-->
      
      
      <!--main content start-->
     <div class="content" style="padding-left: 0px; padding-right: 0px;">
      <section id="main-content">
          <section class="wrapper">

        <?php if($this->subject){?>
        <div class="col-xs-12" style="padding-left: 0px; padding-bottom: 3%; padding-right: 0px;">
        <div class="page-title-box" >
        <div class="col-xs-6">
        <h4 class="page-title" style="padding-left: 3%;"><?php echo $this->subject; ?></h4>
           <hr>
        </div>        
        <div class="clearfix"></div>
        </div>
        </div>

        <?php } ?>
        
            <?php echo $this->layout()->content; ?>
      	  </section>
      </section>
      </div>
      <!--main content end-->

  
      

      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
                  <?php echo date("Y"); ?> &copy; <span><?php $logo = ($this->footer != '') ? "$this->footer" : 'company'; echo $logo;?></span>
          </div>
      </footer>
      <!--footer end-->
  </section>
<!-- Modal starts -->
                  
                  <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
                    <div class="modal-dialog modal-md" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel-2"></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <ul class="nav nav-tabs" id="setting-panel" role="tablist">



    <li class="nav-item" style="width:154px"><a class="nav-link active" id="promo-tab" data-toggle="tab" href="#promo" role="tab" aria-controls="promo" aria-expanded="true">PROMOTIONAL</a></li>
    <li class="nav-item" style="width:154px"><a class="nav-link" id="trans-tab" data-toggle="tab" href="#trans" role="tab" aria-controls="trans">TRANSACTIONAL</a></li>
  
  
    <li class="nav-item" style="width:154px"><a class="nav-link" id="scrub-tab" data-toggle="tab" href="#scrub" role="tab" aria-controls="scrub">TRANS-SCRUB</a></li>
    <li class="nav-item" style="width:154px"><a class="nav-link" id="inter-tab" data-toggle="tab" href="#inter" role="tab" aria-controls="inter">INTERNATIONAL</a></li>
 
</ul>

<div class="tab-content" >

      <div class="tab-pane fade show active scroll-wrapper" id="promo" role="tabpanel" aria-labelledby="promo">
             <div class="row">
                    <div class="col-3">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            VOICE
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainPromo)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainPromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainPromoApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainPromoApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsPromo)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsPromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsPromoApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsPromoApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->voiceMainPromo)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->voiceMainPromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceMainPromoApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->voiceMainPromoApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voicePromo)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->voicePromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voicePromoApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->voicePromoApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                          <div class="media">

                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppPromo)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppPromo; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>    
                  
      </div>


      <div class="tab-pane fade" id="trans" role="tabpanel" aria-labelledby="trans">

        <div class="row">
                    <div class="col-3">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="p-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="p-pills-home-tab" data-toggle="pill" href="#p-pills-home" role="tab" aria-controls="p-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="p-pills-profile-tab" data-toggle="pill" href="#p-pills-profile" role="tab" aria-controls="p-pills-profile" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            VOICE
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="p-pills-messages-tab" data-toggle="pill" href="#p-pills-messages" role="tab" aria-controls="p-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="p-pills-tabContent">
                        <div class="tab-pane fade show active" id="p-pills-home" role="tabpanel" aria-labelledby="p-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainTrans)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainTransApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainTransApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsTrans)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsTransApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsTransApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="p-pills-profile" role="tabpanel" aria-labelledby="p-pills-profile-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->voiceMainTrans)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->voiceMainTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceMainTransApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->voiceMainTransApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceTrans)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->voiceTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceTransApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->voiceTransApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="p-pills-messages" role="tabpanel" aria-labelledby="p-pills-messages-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppTrans)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppTrans; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 
      </div>


      <div class="tab-pane fade" id="scrub" role="tabpanel" aria-labelledby="scrub">

        <div class="row">
                    <div class="col-3">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="s-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="s-pills-home-tab" data-toggle="pill" href="#s-pills-home" role="tab" aria-controls="s-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" id="s-pills-messages-tab" data-toggle="pill" href="#s-pills-messages" role="tab" aria-controls="s-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="s-pills-tabContent">
                        <div class="tab-pane fade show active" id="s-pills-home" role="tabpanel" aria-labelledby="s-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainScrub)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainScrub; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainScrubApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainScrubApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsScrub)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsScrub; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsScrubApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsScrubApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        
                        <div class="tab-pane fade" id="s-pills-messages" role="tabpanel" aria-labelledby="s-pills-messages-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppScrub)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppScrub; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
      </div>


      <div class="tab-pane fade" id="inter" role="tabpanel" aria-labelledby="inter">

        <div class="row">
                    <div class="col-3">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="g-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="g-pills-home-tab" data-toggle="pill" href="#g-pills-home" role="tab" aria-controls="g-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" id="g-pills-messages-tab" data-toggle="pill" href="#g-pills-messages" role="tab" aria-controls="g-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="g-pills-tabContent">
                        <div class="tab-pane fade show active" id="g-pills-home" role="tabpanel" aria-labelledby="g-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainInter)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainInter; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainInterApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainInterApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsInter)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsInter; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsInterApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsInterApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        
                        <div class="tab-pane fade" id="g-pills-messages" role="tabpanel" aria-labelledby="g-pills-messages-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppInter)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppInter; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
      </div>


</div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal Ends -->               
      
     <!-- js placed at the end of the document so the pages load faster -->
    <script src="/template/2/js/jquery.js"></script>
    <script src="/template/2/js/bootstrap.bundle.min.js"></script>
  
    <!--this page plugins-->

  <script type="text/javascript" src="/template/2/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="/template/2/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
  <script type="text/javascript" src="/template/2/assets/bootstrap-daterangepicker/moment.min.js"></script>
  <script type="text/javascript" src="/template/2/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="/template/2/assets/colorpicker/js/bootstrap-colorpicker.min.js"></script>
  <script type="text/javascript" src="/template/2/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

  <!--pickers script-->
  <script src="/template/2/js/pickers/init-date-picker.js"></script>
  <script src="/template/2/js/pickers/init-datetime-picker.js"></script>
  <script src="/template/2/js/pickers/init-color-picker.js"></script>
  
    <script class="include" type="text/javascript" src="/template/2/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/template/2/js/jquery.scrollTo.min.js"></script>
    <script src="/template/2/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/template/2/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="/template/2/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="/template/2/js/owl.carousel.js" ></script>
    <script src="/template/2/js/jquery.customSelect.min.js" ></script>
    <script src="/template/2/js/respond.min.js" ></script>
    <!--right slidebar-->
    <script src="/template/2/js/slidebars.min.js"></script>

    <!--common script for all pages-->
    <script src="/template/2/js/common-scripts5e1f.js?v=2"></script>

    <!--script for this page-->
    <script src="/template/2/js/sparkline-chart.js"></script>
    <script src="/template/2/js/easy-pie-chart.js"></script>
<!-- Custom Js -->
        
	<script src="/template/1/plugins/jquery-ui/jquery-ui-1.12.1.js" type="text/javascript"></script>
	<script src="/template/1/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="/template/assets/js/custom.js"></script>
        <script src="/template/assets/js/validation-init.js"></script>
        <script src="/template/assets/js/m-smslen.js"></script>
        <script src="/template/5/js/file-upload.js"></script>
         <script src="/api/js/common.js"></script>
        
  
<script type="text/javascript">
    function countUp(count)
{
    var div_by = 100,
        speed = Math.round(count / div_by),
        $display = $('.count'),
        run_count = 1,
        int_speed = 24;

    var int = setInterval(function() {
        if(run_count < div_by){
            $display.text(speed * run_count);
            run_count++;
        } else if(parseInt($display.text()) < count) {
            var curr_count = parseInt($display.text()) + 1;
            $display.text(curr_count);
        } else {
            clearInterval(int);
        }
    }, int_speed);
}

countUp(0);

function countUp2(count)
{
    var div_by = 100,
        speed = Math.round(count / div_by),
        $display = $('.count2'),
        run_count = 1,
        int_speed = 24;

    var int = setInterval(function() {
        if(run_count < div_by){
            $display.text(speed * run_count);
            run_count++;
        } else if(parseInt($display.text()) < count) {
            var curr_count = parseInt($display.text()) + 1;
            $display.text(curr_count);
        } else {
            clearInterval(int);
        }
    }, int_speed);
}

countUp2(0);

function countUp3(count)
{
    var div_by = 100,
        speed = Math.round(count / div_by),
        $display = $('.count3'),
        run_count = 1,
        int_speed = 24;

    var int = setInterval(function() {
        if(run_count < div_by){
            $display.text(speed * run_count);
            run_count++;
        } else if(parseInt($display.text()) < count) {
            var curr_count = parseInt($display.text()) + 1;
            $display.text(curr_count);
        } else {
            clearInterval(int);
        }
    }, int_speed);
}

countUp3(0);

function countUp4(count)
{
    var div_by = 100,
        speed = Math.round(count / div_by),
        $display = $('.count4'),
        run_count = 1,
        int_speed = 24;

    var int = setInterval(function() {
        if(run_count < div_by){
            $display.text(speed * run_count);
            run_count++;
        } else if(parseInt($display.text()) < count) {
            var curr_count = parseInt($display.text()) + 1;
            $display.text(curr_count);
        } else {
            clearInterval(int);
        }
    }, int_speed);
}

countUp4(0);
    
    
    
//allow only numeric and dots. 
// back % one dot is allowed. 
// after dot only 2 digits allowed. 
$("#price").add('#tax').keydown(function(event) 
{
	//alert(event.keyCode);
	if (event.shiftKey == true) 
	{
        event.preventDefault();
    }

    if ((event.keyCode >= 48 && event.keyCode <= 57) || 
        (event.keyCode >= 96 && event.keyCode <= 105) || 
        event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
        event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 ||
        event.keyCode == 110 || event.keyCode == 35 || event.keyCode == 36) {

    } else {
        event.preventDefault();
    }

    if($(this).val().indexOf('.') !== -1)
    {
        if(event.keyCode == 190 || event.keyCode == 110)
        {
        	event.preventDefault(); 
        }
        else
        {
            $arr = $(this).val().split('.');
            if($arr[1].length >= 2)
            {
            	if (event.keyCode == 8 || event.keyCode == 46 || 
                        event.keyCode == 36 || event.keyCode == 35 || 
                        event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 9) {

                    } else {
                        event.preventDefault();
                    }
            }
        }
    }
});


$("#rate").add('#tax').add('#amount').keyup(function() 
{
	calculate();
});

function calculate()
{
	var volume = parseInt($('#amount').val());
	if($('#amount').val() == '' || $('#amount').val() == null)
	{
		volume = parseInt("0");
	}
	var pricing =  parseFloat($('#rate').val());
	if($('#rate').val() == '' || $('#rate').val() == null)
	{
		pricing = parseFloat("0.00");
	}
	var tax = parseFloat($('#tax').val());
	if($('#tax').val() == '' || $('#tax').val() == null)
	{
		tax = parseFloat("0.00");
	}
	var rs = parseFloat((volume * pricing) / 100);
	var rstax = parseFloat(rs * (tax / 100));
	var total = parseFloat(rs + rstax);		
	$('#total').val(total.toFixed(2));
}

</script>

<script type="text/javascript">

            $(document).ready(function () {


            	//select2
            	$('.select2').select2();

            	//datepicker
            	jQuery('#datepicker5').datepicker({
                autoclose: true,
                todayHighlight: true
            	});

            	//timepicker
            	jQuery('#timepicker2').timepicker({
            	showMeridian : false,
                minuteStep : 1,
                icons: {
                    up: 'mdi mdi-chevron-up',
                    down: 'mdi mdi-chevron-down'
                }
            	});

            	//date-range
            	jQuery('#date-range').datepicker({
                    toggleActive: true
                });
            	
                // Default Datatable
                $('#datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    "scrollX": true,
                    buttons: ['copy', 'csv']
                });
                

                // Key Tables

                $('#key-table').DataTable({
                    keys: true
                });

                // Responsive Datatable
                $('#responsive-datatable').DataTable();

                // Multi Selection Datatable
                $('#selection-datatable').DataTable({
                    select: {
                        style: 'multi'
                    }
                });

                table.buttons().container()
                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });

        </script>

  </body>
</html>
