

                  <div class="text-center"> <span class="text-danger">You are now impersonating [<span style="color:#000080"><?php 
														echo $this->username;
												   ?></span>] </span> <a href="/account/stop-impersonate" class="btn btn-sm btn-danger">Stop Impersonate</a></div>
                          
                    

