<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <?php echo $this->headTitle(); ?>
    <script type="text/javascript">
	setTimeout(onUserInactivity, 1000 * 1700)
	function onUserInactivity() {
	   window.location.href = "/account/signout/ERR210"
	}
	</script>
 <?php 
  //date_default_timezone_set('Asia/Calcutta');
  $today = getdate(); 
  $milliseconds = round(microtime(true) * 1000);
  ?>
<script>
    months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
    days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
    var ISTTime = new Date(<?php echo $milliseconds; ?>);

    //var currentOffset = d.getTimezoneOffset();

    //var ISTOffset = 330;   // IST offset UTC +5:30 
    //var ISTTime = new Date(d.getTime() + (ISTOffset + currentOffset)*60000);

    setInterval(function() {
        ISTTime.setSeconds(ISTTime.getSeconds() + 1);
        $('#timer').text(('  '+days[ISTTime.getDay()] +' '+ months[ISTTime.getMonth()] +' '+ ISTTime.getDate() +' '+ ISTTime.getFullYear() +' '+ ISTTime.getHours() +':' + ISTTime.getMinutes() + ':' + ISTTime.getSeconds() ));
    }, 1000);
</script> 
    <!-- Favicon -->
    <link rel="apple-touch-icon" href="/template/3/images/logo/apple-touch-icon.html">
    <link rel="shortcut icon" href="/template/3/images/logo/favicon.png">
    <!--   <script src="/template/assets/js/pace.min_luna.js"></script>-->
    <!-- core dependcies css -->
    <link rel="stylesheet" href="/template/3/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/template/3/vendor/PACE/themes/blue/pace-theme-minimal.css" />
    <link rel="stylesheet" href="/template/3/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css" />

    <!-- page css -->
<!-- <link href="/template/assets/css/pace.css" rel="stylesheet">-->
    <!-- core css -->
    <link href="/template/3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/template/3/css/themify-icons.css" rel="stylesheet">
    <link href="/template/3/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/template/3/css/animate.min.css" rel="stylesheet">
    <link href="/template/3/css/app.css" rel="stylesheet">
    
    <link href="/template/1/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
        <link href="/template/1/assets/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
        <link href="/template/1/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="/template/1/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
</head>

<body>
    <div class="app header-success-gradient">
        <div class="layout">
            <!-- Header START -->
            <div class="header navbar">
                <div class="header-container">
                    <div class="nav-logo">
                        <a href=""><img src="/template/images/users/<?php echo $this->logo; ?>" height="50px">
                            <div class="logo logo-white" style="background-image: url('/template/images/users/'.<?php echo $this->logo; ?>.')"></div>
                        </a>
                    </div>
                    <ul class="nav-left">
                        <li>
                            <a class="sidenav-fold-toggler" href="javascript:void(0);">
                                <i class="mdi mdi-menu"></i>
                            </a>
                            <a class="sidenav-expand-toggler" href="javascript:void(0);">
                                <i class="mdi mdi-menu"></i>
                            </a>
                        </li>
                        <li id="timer" class="search-box">
                        </li>
                        
                    </ul>
                    <ul class="nav-right">
                        <li class="dropdown dropdown-animated scale-left">
                            <a href="#" data-toggle="modal" data-target="#exampleModal-2" class="nav-link">
              <i class="fa  fa-rupee"></i>
            </a>
                             
                        </li>
                        
                        <li class="user-profile dropdown dropdown-animated scale-left">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img class="profile-img img-fluid" src="/template/3/images/avatars/thumb-13.jpg" alt="">
                            </a>
                            <ul class="dropdown-menu dropdown-md p-v-0">
                                <li>
                                    <ul class="list-media">
                                        <li class="list-item p-15">
                                            <div class="media-img">
                                                <img src="/template/3/images/avatars/thumb-13.jpg" alt="">
                                            </div>
                                            <div class="info">
                                                <span class="title text-semibold">
                                                  <?php echo ($this->username != '') ? "$this->username" : 'username'; ?></span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/user/profile/password">
                                        <i class="ti-settings p-r-10"></i>
                                        <span>Change Password</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/profile/index">
                                        <i class="ti-user p-r-10"></i>
                                        <span>Profile</span>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="/account/signout">
                                        <i class="ti-power-off p-r-10"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <!-- Header END -->

            <!-- Side Nav START -->
            <?php echo $this->navigation()->menu()->setPartial('luna-navigation.phtml')->render(); ?>
            <!-- Side Nav END -->

            <!-- Page Container START -->
            <div class="page-container">
                <!-- Quick View START -->
                
                <!-- Side Panel END -->

                <!-- Content Wrapper START -->
                <div class="main-content">
                    <div class="container-fluid">
                        <?php echo $this->layout()->content; ?>
                    </div>
                </div>
                <!-- Content Wrapper END -->

                <!-- Footer START -->
                <footer class="content-footer">
                    <div class="footer">
                        <div class="copyright">
                            <span>Copyright © <?php echo date('Y'); ?> <b class="text-dark"><?php echo $this->footer; ?></b>. All rights reserved.</span>
                            <span class="go-right">
                                <a href="#" class="text-gray m-r-15">Term &amp; Conditions</a>
                                <a href="#" class="text-gray">Privacy &amp; Policy</a>
                            </span>
                        </div>
                    </div>
                </footer>
                <!-- Footer END -->

            </div>
            <!-- Page Container END -->

        </div>
    </div>
<!-- Modal starts -->
                  
                  <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
                    <div class="modal-dialog modal-md" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel-2"></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <ul class="nav nav-tabs" id="setting-panel" role="tablist">



    <li class="nav-item" style="width:154px"><a class="nav-link active" id="promo-tab" data-toggle="tab" href="#promo" role="tab" aria-controls="promo" aria-expanded="true">PROMOTIONAL</a></li>
    <li class="nav-item" style="width:154px"><a class="nav-link" id="trans-tab" data-toggle="tab" href="#trans" role="tab" aria-controls="trans">TRANSACTIONAL</a></li>
  
  
    <li class="nav-item" style="width:154px"><a class="nav-link" id="scrub-tab" data-toggle="tab" href="#scrub" role="tab" aria-controls="scrub">TRANS-SCRUB</a></li>
    <li class="nav-item" style="width:154px"><a class="nav-link" id="inter-tab" data-toggle="tab" href="#inter" role="tab" aria-controls="inter">INTERNATIONAL</a></li>
 
</ul>

<div class="tab-content" >

      <div class="tab-pane fade show active scroll-wrapper" id="promo" role="tabpanel" aria-labelledby="promo">
             <div class="row">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            VOICE
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainPromo)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainPromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainPromoApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainPromoApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsPromo)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsPromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsPromoApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsPromoApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->voiceMainPromo)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->voiceMainPromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceMainPromoApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->voiceMainPromoApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voicePromo)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->voicePromo; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voicePromoApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->voicePromoApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                          <div class="media">

                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppPromo)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppPromo; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>    
                  
      </div>


      <div class="tab-pane fade" id="trans" role="tabpanel" aria-labelledby="trans">

        <div class="row">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="p-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="p-pills-home-tab" data-toggle="pill" href="#p-pills-home" role="tab" aria-controls="p-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="p-pills-profile-tab" data-toggle="pill" href="#p-pills-profile" role="tab" aria-controls="p-pills-profile" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            VOICE
                          </a>                          
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="p-pills-messages-tab" data-toggle="pill" href="#p-pills-messages" role="tab" aria-controls="p-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="p-pills-tabContent">
                        <div class="tab-pane fade show active" id="p-pills-home" role="tabpanel" aria-labelledby="p-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainTrans)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainTransApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainTransApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsTrans)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsTransApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsTransApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="p-pills-profile" role="tabpanel" aria-labelledby="p-pills-profile-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->voiceMainTrans)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->voiceMainTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceMainTransApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->voiceMainTransApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceTrans)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->voiceTrans; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->voiceTransApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->voiceTransApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="p-pills-messages" role="tabpanel" aria-labelledby="p-pills-messages-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppTrans)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppTrans; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 
      </div>


      <div class="tab-pane fade" id="scrub" role="tabpanel" aria-labelledby="scrub">

        <div class="row">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="s-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="s-pills-home-tab" data-toggle="pill" href="#s-pills-home" role="tab" aria-controls="s-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" id="s-pills-messages-tab" data-toggle="pill" href="#s-pills-messages" role="tab" aria-controls="s-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="s-pills-tabContent">
                        <div class="tab-pane fade show active" id="s-pills-home" role="tabpanel" aria-labelledby="s-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainScrub)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainScrub; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainScrubApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainScrubApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsScrub)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsScrub; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsScrubApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsScrubApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        
                        <div class="tab-pane fade" id="s-pills-messages" role="tabpanel" aria-labelledby="s-pills-messages-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppScrub)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppScrub; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
      </div>


      <div class="tab-pane fade" id="inter" role="tabpanel" aria-labelledby="inter">

        <div class="row">
                    <div class="col-4">
                      <ul class="nav nav-pills nav-pills-vertical nav-pills-info" id="g-pills-tab" role="tablist" aria-orientation="vertical">
                        <li class="nav-item">
                          <a class="nav-link active" id="g-pills-home-tab" data-toggle="pill" href="#g-pills-home" role="tab" aria-controls="g-pills-home" aria-selected="true">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMS
                          </a>                          
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" id="g-pills-messages-tab" data-toggle="pill" href="#g-pills-messages" role="tab" aria-controls="g-pills-messages" aria-selected="false">
                            <i class="mdi mdi-email-open-outline"></i>
                            SMPP
                          </a>                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-8">
                      <div class="tab-content tab-content-vertical" id="g-pills-tabContent">
                        <div class="tab-pane fade show active" id="g-pills-home" role="tabpanel" aria-labelledby="g-pills-home-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smsMainInter)) {?>
                                <tr>
                                  <td>MAIN</td>
                                  <td><?php echo $this->smsMainInter; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsMainInterApi)) {?>
                                <tr>
                                  <td>MAIN API</td>
                                  <td><?php echo $this->smsMainInterApi; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsInter)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smsInter; ?></td>
                                </tr>
                                <?php } ?>
                                <?php if (isset($this->smsInterApi)) {?>
                                <tr>
                                  <td>API CREDITS</td>
                                  <td><?php echo $this->smsInterApi; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                            </div>
                          </div>
                        </div>
                        
                        <div class="tab-pane fade" id="g-pills-messages" role="tabpanel" aria-labelledby="g-pills-messages-tab">
                          <div class="media">
                            <div class="media-body">
                              <table class="table table-bordered">
                                <?php if (isset($this->smppInter)) {?>
                                <tr>
                                  <td>CREDITS</td>
                                  <td><?php echo $this->smppInter; ?></td>
                                </tr>
                                <?php } ?>
                              </table>
                              <table class="table table-bordered">
                              <tr>
                                <td>ESME</td>
                                <td>TPS</td>
                                <td>BIND</td>
                              </tr>
                              <tr>
                                <td><?php echo $this->maxEsme; ?></td>
                                <td><?php echo $this->maxTps; ?></td>
                                <td><?php echo $this->maxBind; ?></td>
                              </tr>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
      </div>


</div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal Ends -->     
    <script src="/template/3/js/vendor.js"></script>

    <script src="/template/3/js/app.min.js"></script>

    <!-- page js -->
    <script src="/template/3/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/template/3/js/dashboard/analytical.js"></script>
    
    <!-- custom -->
        <script src="/template/1/plugins/jquery-ui/jquery-ui-1.12.1.js" type="text/javascript"></script>
	<script src="/template/1/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
        
        <script src="/template/1/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
        <script src="/template/1/assets/plugins/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
        <script src="/template/1/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="/template/1/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
        
        <script src="/template/assets/js/custom.js"></script>
        <script src="/template/assets/js/validation-init.js"></script>
        <script src="/template/assets/js/m-smslen.js"></script>
        <script src="/template/5/js/file-upload.js"></script>
         <script src="/api/js/common.js"></script>
         
         <link rel="stylesheet" href="/api/css/normalize1c51.css" type="text/css"/>
       <link rel="stylesheet" href="/api/css/pictos.css" type="text/css"/>
       <link rel="stylesheet" href="/api/css/template7e0c.css" type="text/css"/>
   
       <link rel="stylesheet" href="/api/css/prettify.css" type="text/css"/>
         
    
<script type="text/javascript">

            $(document).ready(function () {


            	//datepicker
            	jQuery('#datePicker').datepicker({
                autoclose: true,
                todayHighlight: true
            	});
                
                //datepicker
            	jQuery('#to').datepicker({
                autoclose: true,
                todayHighlight: true
            	});
                
                //datepicker
            	jQuery('#from').datepicker({
                autoclose: true,
                todayHighlight: true
            	});

            	//timepicker
            	jQuery("#timePicker").timepicker({showMeridian:!1,icons:{up:"mdi mdi-chevron-up",down:"mdi mdi-chevron-down"}});
                

            	//date-range
            	jQuery('#date-range').datepicker({
                    toggleActive: true
                });
            	
                
            });

        </script>
</body>

</html>