<div class="side-nav expand-lg">
                <div class="side-nav-inner">
                    <ul class="side-nav-menu scrollable">
                        <li class="side-nav-header">
                            <span>Navigation</span>
                        </li>
                        
                         <?php $count = 0 ?>
    <?php foreach ($this->container as $page): ?>       
    <?php if( ! $page->isVisible() || !$this->navigation()->accept($page)) continue; ?>
    <?php $hasChildren = $page->hasPages() ?>    
        <?php if( ! $hasChildren): ?>     
                <li class="nav-item dropdown <?php if($page->isActive()) echo 'active open'?>">
                    <a class="dropdown-toggle" href="j<?php echo $page->getHref() ?>">
                                <span class="icon-holder">
                                    <i class="<?php echo $this->translate($page->getClass()) ?>"></i>
                                </span>
                                <span class="title"><?php echo $this->translate($page->getLabel()) ?></span>
                                
                            </a>
                    
                </li>
		<?php else: ?>
                <li class="nav-item dropdown <?php if($page->isActive()) echo 'active open'?>">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="<?php echo $this->translate($page->getClass()) ?>"></i>
                                </span>
                                <span class="title"><?php echo $this->translate($page->getLabel()) ?></span>
                                <span class="arrow">
                                    <i class="mdi mdi-chevron-right"></i>
                                </span>
                            </a>
                    
                   
                    <ul class="dropdown-menu">
                    <?php foreach($page->getPages() as $child): ?>
                    <?php if( ! $child->isVisible() || !$this->navigation()->accept($child)) continue; ?>
                        <li class="<?php if($child->isActive()) echo 'active'?>"><a href="<?php echo $child->getHref() ?>"> <?php echo $this->translate($child->getLabel()) ?></a></li>
                    <?php endforeach ?>
                    </ul>
                </li>
    <?php endif ?>
    <?php $count++ ?>              
     <?php endforeach ?>              
            
                    </ul>
                </div>
            </div>
