/* Pictos Font
* Copyright © 2010 Drew Wilson
* http://www.drewwilson.com  -  http://pictos.drewwilson.com
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Drew Wilson. The fonts are protected under domestic and international trademark and 
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* This font is NOT free. It is illegal to use this font without paying for a license. 
*/

@font-face {
	font-family: 'Pictos';
	src: url('fonts/pictos/pictos-web.eot');
	src: local('☺'), url('fonts/pictos/pictos-web.woff') format('woff'), url('fonts/pictos/pictos-web.ttf') format('truetype'), url('fonts/pictos/pictos-web.svg#webfontIyfZbseF') format('svg');
	font-weight: normal;
	font-style: normal;
}

