/* Generic Styles */



/* Typography */

h1,
h2  {
	font-weight: normal;
	margin: 0;
	color:#71b6f9;
}

h1 {
	font-family: "myriad-pro-n6","myriad-pro",sans-serif;
	font-style: normal;
	font-weight: 600;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #d6d6d6;
	color: #71b6f9;
}

h2 {
	margin-top: 40px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
	line-height: 1.6em;
}

strong {
	font-family: "myriad-pro-n7","myriad-pro",sans-serif;
	font-style: normal;
	font-weight: 700;
}

ol.generalList li, ul.generalList li {
	margin-bottom: 20px;
}

.useIcon {
	font-family: "Pictos";
}

.alert .codeFormat {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.codeFormat,
.informRow .codeFormat {
	background-color: #f7f7f9;
	color: #df4979;
	padding: 2px 4px;
}

.codeFormat.important {
	color: #df4979;
}

pre {
	border-radius: 3px;
	margin-bottom: 20px;
	overflow-x: scroll;
}

.tabbedPickerContainer pre,
.tabbedPickerContainer p.alert {
	display: none;
}


.alert.note {
	background-color: #d9edf7;
	color: #3a87ad;
	border: 1px solid #bce8f1;
}



.alert.caution {
	background-color: #f2dede;
	color: #b94a48;
	border: 1px solid #eed3d7;
	padding: 10px;
	border-radius: 3px;
}

/* Page Formating */

#pageContainer {
	width: 100%;
	margin-top: 100px;
	margin-bottom: 40px;
	position: relative;
	z-index: 0;
}

#pageContent {
	margin-left: 330px;
	margin-right: 40px;
}

/* Menu Column */

#menuColumn {
	background-color: #eeeeee;
	width: 289px;
	height: 100%;
	position: absolute;
	top: 180px;
	z-index: 1;
	overflow-y: auto;
	border-right: 1px solid #d9d9d9;
}

#menuColumn.pageDown {
	position: fixed;
	top: 0;
}

#searchBox {
	padding: 20px;
	width: 240px;
}

#searchBox form {
	position: relative;
	width: 240px;
}

#searchBox form input {
	background: #d9d9d9 url(../img/search-box-bg.jpg) right center no-repeat;
	border: none;
	width: 180px;
	height: 20px;
	padding: 10px 50px 10px 10px;
	color: #444444;
	border: 1px solid #eeeeee;
	border-radius: 6px;
}

#searchBox form input::-webkit-input-placeholder {
	color: #888888;
}

#searchBox form input:-moz-placeholder {
	color: #888888;  
}

#searchBox form input::-moz-placeholder {
	color: #888888;  
}

#searchBox form input:-ms-input-placeholder {  
	color: #888888;  
}

#searchBox form input:focus {
	outline: none;
	border: 1px solid #b9b9b9;
}

#searchBox #searchSub {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 1px;
	right: 0;
	padding: 0;
	border: none;
	background: none;
}

#searchBox #searchSub:hover {
	cursor: pointer;
}

#searchBox a {
	text-decoration: none;
}

#menuColumn ul#mainMenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-bottom: 60px;
}

#menuColumn ul#mainMenu li {
	list-style-type: none;
	line-height: 40px;
	border-bottom: 1px solid #d9d9d9;
	font-family: "myriad-pro-n6","myriad-pro",sans-serif;
	font-style: normal;
	font-weight: 600;
}

#menuColumn ul#mainMenu li.first {
	border-top: 1px solid #d9d9d9;
}

#menuColumn ul#mainMenu li a {
	text-decoration: none;
	color: #666;
	display: block;
	padding-left: 20px;
}

#menuColumn ul#mainMenu li a:hover {
	background-color: #e3e3e3;
}

#menuColumn ul#mainMenu li a.active {
	background-color: #d9d9d9;
	color: #459bc9;
}

#menuColumn ul#mainMenu li a.active:hover {
	background-color: #d9d9d9;
}

#menuColumn ul#mainMenu li.hasSubMenu ul.subMenu {
	margin: 0;
	padding: 0;
	display: none;
}

#menuColumn ul#mainMenu li.hasSubMenu ul.subMenu li a {
	background-color: #e3e3e3;
	padding-left: 40px;
}

#menuColumn ul#mainMenu li.hasSubMenu ul.subMenu li a:hover {
	background-color: #d9d9d9;
}

#menuColumn ul#mainMenu li.hasSubMenu ul.subMenu li a.active {
	background-color: #d9d9d9;
}

#menuColumn ul#mainMenu li.hasSubMenu a.subActive {
	background-color: #e3e3e3;
}

#menuColumn ul#mainMenu li.hasSubMenu ul.subMenu li.last {
	border-bottom: 0;
}

#menuColumn ul#mainMenu li.signUp, #menuColumn ul#mainMenu li.login {
	display: none;
	background-color: #459bc9;
	border-bottom: 1px solid #8bcdf0;
}

#menuColumn ul#mainMenu li.signUp a, #menuColumn ul#mainMenu li.login a {
	color: #fff;
}

#menuColumn ul#mainMenu li.signUp a:hover, #menuColumn ul#mainMenu li.login a:hover {
	background-color: #358dbc;
}

/* Lang Select */

.languageSelect {
padding-top: 3px;
padding-bottom: 10px;
}

.languageSelect a {
	text-decoration: none;
}

/* Params Table */

.paramsTableContainer {
	background-color: #f6f6f8;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	margin-bottom: 20px;
}

.paramsTableContainer table {
	width: 100%;
	border-radius: 3px;
	border: none;
	border-spacing: 0;
}

.paramsTableContainer table tr {
	border-top: 1px solid #e1e1e1;
}

.paramsTableContainer table tr.first {
	border-top: none;
}

.paramsTableContainer table tr.informRow {
	background-color: #eeeeee;
	font-family: "myriad-pro-n6","myriad-pro",sans-serif;
	font-style: normal;
	font-weight: 600;
}

.paramsTableContainer table th {
	border-right: 1px solid #e1e1e1;
}

.paramsTableContainer table th, 
.paramsTableContainer table td {
	padding: 20px;
}

.paramsTableContainer table th {
	text-align: left;
	width: 150px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.paramsTableContainer table th.alignTop {
	vertical-align: top;
}

.paramsTableContainer table th span.paramInfo {
	font-family: "myriad-pro-n6","myriad-pro",sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 0.8em;
	color: #999999;
	display: block;
	padding-top: 5px;
}

.paramsTableContainer table td.hasSubTable {
	padding: 0;
}

/* Small Screen Styles */

@media all and (max-width: 1023px) {
	#pageContainer {
		margin-left: 0;
	}
	
	#pageContent {
		margin-left: 40px;
	}
	
	#headerBar ul li#showMenuText {
		display: block;
	}

	#menuColumn {
		position: relative;
		top: 60px;
		left: 0;
		width: 100%;
		height: 0;
	}
	
	#menuColumn.pageDown {
		position: relative;
		top: 60px;
	}
	
	#menuColumn.expand {
		height: auto;
	}
	
	#menuColumn ul#mainMenu {
		padding: 0;
	}
	
	#menuColumn ul#mainMenu li a {
		text-align: center;
		padding-left: 0;
	}
	
	#menuColumn ul#mainMenu li ul {
		text-align: center;
	}
	
	#menuColumn ul#mainMenu li.hasSubMenu ul.subMenu li a {
		padding-left: 0px;
	}
	
	#searchBox {
		margin: 0 auto;
	}
	
	#searchBox form input {
		margin: 0 auto;
		display: block;
	}
}

@media all and (max-width: 649px) {
	#pageContent {
		margin-left: 20px;
		margin-right: 20px;
	}

	#headerBar ul li.siteLink {
		display: none;
	}
	
	.paramsTableContainer table th {
		width: auto;
	}
	
	#menuColumn ul#mainMenu li.signUp, #menuColumn ul#mainMenu li.login {
		display: block;
	}
}

@media all and (max-width: 399px) {
	#pageContent {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.languageSelect {
		position: relative;
		top: 0;
		left: 0;
		text-align: right;
		margin: 20px 0;
	}

	#headerBar ul li#showMenuText {
		display: none;
	}
	
	#headerBar ul li#showMenuIcon{
		display: block;
	}
	
	.paramsTableContainer table th, 
	.paramsTableContainer table td {
		padding: 5px;
	}
}

/* Print Styles */

@media print {
	#headerBar {
		display: none;
	}
	
	#menuColumn {
		display: none;
	}
	
	#pageContainer {
		margin: 0;
	}
	
	#pageContent {
		margin: 0;
	}
	
	.languageSelect {
		display: none;
	}
	
	.btn-group {
		display: none;
	}
}