<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- App Favicon -->
        <link rel="shortcut icon" href="/template/assets/images/favicon.ico">

        <!-- App title -->
        <title>Error</title>




    </head>




      <body>

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="ex-page-content text-center">
                <div class="text-error">ERROR</div>
                <h4 class="text-uppercase font-600"><?php echo $this->message; ?></h4>
                <p class="text-muted">
              <h2 class="nrml-txt"><?php if (isset($this->exception)): ?>
                						<?php echo $this->exception->getMessage(); ?>
                					<?php endif ?></h2>
          </div>
        </div>
        <!-- End wrapper page -->
	
	</body>
	</html>