<div class="content-wrapper">
             <?php 

              
              if ($this->success) {
                echo '<div class="alert alert-success" role="alert" align=center>';
              
                if (isset($this->success['Profile']['isSuccess'])){
                  echo "Web profile updated successfully";
                }
                    echo '</div>';
              }
              
              if ($this->errors) {
                    echo '<div class="alert alert-danger" role="alert" align=center>';
                    if (isset($this->errors['Profile']['isFailed'])) {
                      echo "Updated failed";
                  }elseif (isset($this->errors['header']['stringLengthTooLong']) ){
                    echo "Only 10 characters allowed to logo header";
                  }elseif (isset($this->errors['uploadLogo']['fileExtensionFalse'])){
                    echo "Invalid image format,jpg or png is accepted";
                  }
              echo '</div>';
              } 

?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Theme</label>
                      <?php echo $this->form->theme; ?>
                    </div>
                  <div class="form-group" >
                      <label>Logo</label>
                      <?php echo $this->form->uploadLogo; ?>
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Csv">
                        <span class="input-group-append">
                          
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Introduction</label>
                      <?php echo $this->form->intro; ?>
                    </div>
                    <div class="form-group">
                      <label>About</label>
                      <?php echo $this->form->about; ?>
                    </div>
                    <div class="form-group">
                      <label>Address</label>
                      <?php echo $this->form->address; ?>
                    </div>
                    <div class="form-group">
                      <label>Footer</label>
                      <?php echo $this->form->company; ?>
                    </div>


<button id="send" type="submit" class="btn btn-primary mr-2">Update</button>
                  </form>
                </div>
              </div>
            </div>

</div>