<div class="row">
  <select id='load-type' class="form-control select2">
  <option value="sms">SMS TRANSACTIONAL</option>
  <option value="sms">SMS PROMOTIONAL</option>
  <option value="sms">SMS TRANS-SCRUB</option>
  <option value="sms">SMS INTERNATIONAL</option>
  <option value="voice">VOICE TRANSACTIONAL</option>
  <option value="voice">VOICE PROMOTIONAL</option>
  <option value="smpp">SMPP TRANSACTIONAL</option>
  <option value="smpp">SMPP PROMOTIONAL</option>
  <option value="smpp">SMPP TRANS-SCRUB</option>
  <option value="smpp">SMPP INTERNATIONAL</option>
</select> 
    
</div>
<hr>
<div class="row">

                            <div class="col-xl-3 col-md-6">
                        		<div class="card-box">
                                    

                        			<h4 class="header-title mt-0 m-b-30">Today Usage</h4>

                                    <div class="widget-chart-1">
                                        <div class="widget-chart-box-1">
                                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 "
                                               data-bgColor="#F9B9B9" value=""
                                               data-skin="tron" data-angleOffset="180" data-readOnly=true
                                               data-thickness=".15"/>
                                        </div>

                                        <div class="widget-detail-1">
                                            <h2 class="p-t-10 mb-0">  </h2>
                                            <p class="text-muted m-b-10">Transactional</p>
                                        </div>
                                    </div>
                        		</div>
                            </div><!-- end col -->

                            <div class="col-xl-3 col-md-6">
                        		<div class="card-box">
                                    

                        			<h4 class="header-title mt-0 m-b-30">Yesterday Usage</h4>

                                    <div class="widget-chart-1">
                                        <div class="widget-chart-box-1">
                                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 "
                                               data-bgColor="#F9B9B9" value=""
                                               data-skin="tron" data-angleOffset="180" data-readOnly=true
                                               data-thickness=".15"/>
                                        </div>

                                        <div class="widget-detail-1">
                                            <h2 class="p-t-10 mb-0">  </h2>
                                            <p class="text-muted m-b-10">Promotional</p>
                                        </div>
                                    </div>
                        		</div>
                            </div><!-- end col -->

                            <div class="col-xl-3 col-md-6">
                        		<div class="card-box">
                                    

                        			<h4 class="header-title mt-0 m-b-30">Last 7 days Usage</h4>

                                    <div class="widget-chart-1">
                                        <div class="widget-chart-box-1">
                                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#ffbd4a"
                                               data-bgColor="#FFE6BA" value=""
                                               data-skin="tron" data-angleOffset="180" data-readOnly=true
                                               data-thickness=".15"/>
                                        </div>
                                        <div class="widget-detail-1">
                                            <h2 class="p-t-10 mb-0">  </h2>
                                            <p class="text-muted m-b-10">Trans-scrub</p>
                                        </div>
                                    </div>
                        		</div>
                            </div><!-- end col -->

                            <div class="col-xl-3 col-md-6">
                        		<div class="card-box">
                                    

                        			<h4 class="header-title mt-0 m-b-30">Last Month Usage</h4>

                                    <div class="widget-chart-1">
                                        <div class="widget-chart-box-1">
                                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#ffbd4a"
                                               data-bgColor="#FFE6BA" value=""
                                               data-skin="tron" data-angleOffset="180" data-readOnly=true
                                               data-thickness=".15"/>
                                        </div>
                                        <div class="widget-detail-1">
                                            <h2 class="p-t-10 mb-0">  </h2>
                                            <p class="text-muted m-b-10">International</p>
                                        </div>
                                    </div>
                        		</div>
                            </div><!-- end col -->

                        </div>
                        <!-- end row -->

                        <div class="row">
                            

                            <div class="col-xl-6">
                                <div class="card-box">
                                    
                                    <h4 class="header-title mt-0">Top Users Today</h4>
                                    <div id="users-today" style="height: 280px;" class="morris-chart"></div>
                                </div>
                            </div><!-- end col -->
                            
                            <div class="col-xl-6">
                                <div class="card-box">
                                    
                                    <h4 class="header-title mt-0">Top Users Yesterday</h4>
                                    <div id="users-yesterday" style="height: 280px;" class="morris-chart"></div>
                                </div>
                            </div><!-- end col -->
                            
                            </div>
                        <!-- end row -->
                        
                        <div class="row">
                            
                            <div class="col-xl-12">
                                <div class="card-box">
                                    
                                    <h4 class="header-title mt-0">Top Users Last Week</h4>
                                    <div id="users-week" style="height: 280px;" class="morris-chart"></div>
                                </div>
                            </div><!-- end col -->
                            
                        </div>
                        <!-- end row -->

                        <div class="row">
                            

                            <div class="col-xl-6">
                                <div class="card-box">
                                    
                                    <h4 class="header-title mt-0">Top Sender Today</h4>
                                    <div id="sender-today" style="height: 280px;" class="morris-chart"></div>
                                </div>
                            </div><!-- end col -->
                            
                            <div class="col-xl-6">
                                <div class="card-box">
                                    
                                    <h4 class="header-title mt-0">Top Sender Yesterday</h4>
                                    <div id="sender-yesterday" style="height: 280px;" class="morris-chart"></div>
                                </div>
                            </div><!-- end col -->
                            
                             </div>
                        <!-- end row -->
                        
                        <div class="row">
                            
                            <div class="col-xl-12">
                                <div class="card-box">
                                    
                                    <h4 class="header-title mt-0">Top Sender Last Week</h4>
                                    <div id="sender-week" style="height: 280px;" class="morris-chart"></div>
                                </div>
                            </div><!-- end col -->
                            
                        </div>
                        <!-- end row -->

                        


                        