<div class="content-wrapper">
    <div class="row">
  <select id='load-type' class="form-control select2">
  <option value="sms">SMS TRANSACTIONAL</option>
  <option value="sms">SMS PROMOTIONAL</option>
  <option value="sms">SMS TRANS-SCRUB</option>
  <option value="sms">SMS INTERNATIONAL</option>
  <option value="voice">VOICE TRANSACTIONAL</option>
  <option value="voice">VOICE PROMOTIONAL</option>
  <option value="smpp">SMPP TRANSACTIONAL</option>
  <option value="smpp">SMPP PROMOTIONAL</option>
  <option value="smpp">SMPP TRANS-SCRUB</option>
  <option value="smpp">SMPP INTERNATIONAL</option>
</select> 
    
</div>
    <hr>
          <div class="row">
            <div class="col-lg-3 col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between flex-wrap align-items-center">
                    <div class="img-sm bg-primary rounded-md d-flex align-items-center justify-content-center text-white">
                      <i class="mdi mdi-chart-line-variant icon-md"></i>
                    </div>
                    <div class="text-right text-md-center text-lg-left ml-lg-4">
                      <h1 class="font-weight-bold mb-0">0</h1>
                      <p class="mb-0">Today Usage</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between flex-wrap align-items-center">
                    <div class="img-sm bg-danger rounded-md d-flex align-items-center justify-content-center text-white">
                      <i class="mdi mdi-emoticon icon-md"></i>
                    </div>
                    <div class="text-right text-md-center text-lg-left ml-lg-4">
                      <h1 class="font-weight-bold mb-0">0</h1>
                      <p class="mb-0">Yesterday Usage</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between flex-wrap align-items-center">
                    <div class="img-sm bg-warning rounded-md d-flex align-items-center justify-content-center text-white">
                      <i class="mdi mdi-run icon-md"></i>
                    </div>
                    <div class="text-right text-md-center text-lg-left ml-lg-4">
                      <h1 class="font-weight-bold mb-0">0</h1>
                      <p class="mb-0">Last 7 days Usage</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between flex-wrap align-items-center">
                    <div class="img-sm bg-success rounded-md d-flex align-items-center justify-content-center text-white">
                      <i class="mdi mdi-chart-donut icon-md"></i>
                    </div>
                    <div class="text-right text-md-center text-lg-left ml-lg-4">
                      <h1 class="font-weight-bold mb-0">0</h1>
                      <p class="mb-0">Last Month Usage</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body d-flex flex-column justify-content-between">
                  <h4 class="card-title">Top Users Today</h4>
                  <canvas id="analysis-chart-dark"></canvas>
                  
                </div>
              </div>
            </div>
              
            
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body d-flex flex-column justify-content-between">
                  <h4 class="card-title">Top Users Yesterday</h4>
                  <canvas id="analysis-chart-dark"></canvas>
                  
                </div>
              </div>
            </div>
          </div>
    <div class="row">
            
              
            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body d-flex flex-column justify-content-between">
                  <h4 class="card-title">Top Users Last Week</h4>
                  <canvas id="analysis-chart-dark"></canvas>
                  
                </div>
              </div>
            </div>
          </div>
          
          
        </div>