<div class="content-wrapper">
    <div class="row">
  <select id='load-type' class="form-control custom-select ">
  <option value="sms">SMS TRANSACTIONAL</option>
  <option value="sms">SMS PROMOTIONAL</option>
  <option value="sms">SMS TRANS-SCRUB</option>
  <option value="sms">SMS INTERNATIONAL</option>
  <option value="voice">VOICE TRANSACTIONAL</option>
  <option value="voice">VOICE PROMOTIONAL</option>
  <option value="smpp">SMPP TRANSACTIONAL</option>
  <option value="smpp">SMPP PROMOTIONAL</option>
  <option value="smpp">SMPP TRANS-SCRUB</option>
  <option value="smpp">SMPP INTERNATIONAL</option>
</select> 
    
</div>
    <hr>
              <!--state overview start-->
              <div class="row state-overview">
                  <div class="col-lg-3 col-sm-6">
                      <section class="card">
                          <div class="symbol terques">
                              <i class="fa fa-user"></i>
                          </div>
                          <div class="value">
                              <h1 class="count">
                                  0
                              </h1>
                              <p>Today Usage</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <section class="card">
                          <div class="symbol red">
                              <i class="fa fa-tags"></i>
                          </div>
                          <div class="value">
                              <h1 class=" count2">
                                  0
                              </h1>
                              <p>Yesterday Usage</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <section class="card">
                          <div class="symbol yellow">
                              <i class="fa fa-shopping-cart"></i>
                          </div>
                          <div class="value">
                              <h1 class=" count3">
                                  0
                              </h1>
                              <p>Last 7 days Usage</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <section class="card">
                          <div class="symbol blue">
                              <i class="fa fa-bar-chart-o"></i>
                          </div>
                          <div class="value">
                              <h1 class=" count4">
                                  0
                              </h1>
                              <p>Last Month Usage</p>
                          </div>
                      </section>
                  </div>
              </div>
              <!--state overview end-->

              <div class="row">
                  <div class="col-lg-6">
                      <!--custom chart start-->
                      <div class="border-head">
                          <h3>Top Users Today</h3>
                      </div>
                      <div class="custom-bar-chart">
                          <ul class="y-axis">
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                          </ul>
                          <div class="bar">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="80%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="50%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="40%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="55%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="20%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="39%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="75%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="45%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="50%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="42%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="60%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="90%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                      </div>
                      <!--custom chart end-->
                  </div>
                  <div class="col-lg-6">
                      <!--custom chart start-->
                      <div class="border-head">
                          <h3>Top Users Yesterday</h3>
                      </div>
                      <div class="custom-bar-chart">
                          <ul class="y-axis">
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                          </ul>
                          <div class="bar">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="80%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="50%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="40%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="55%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="20%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="39%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="75%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="45%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="50%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="42%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="60%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="90%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                      </div>
                      <!--custom chart end-->
                  </div>
              </div>
              <div class="row">
                  
                  <div class="col-lg-12">
                      <!--custom chart start-->
                      <div class="border-head">
                          <h3>Top Users Last Week</h3>
                      </div>
                      <div class="custom-bar-chart">
                          <ul class="y-axis">
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                              <li><span>0</span></li>
                          </ul>
                          <div class="bar">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="80%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="50%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="40%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="55%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="20%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="39%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="75%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="45%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="50%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="42%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="60%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">0</div>
                              <div class="value tooltips" data-original-title="90%" data-toggle="tooltip" data-placement="top">0%</div>
                          </div>
                      </div>
                      <!--custom chart end-->
                  </div>
              </div>
              
              
