<div class="row">
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media justify-content-between">
                                            <div>
                                                <p class="">Today Usage</p>
                                                <h2 class="font-size-28 font-weight-light">0</h2>
                                                <span class="text-semibold text-success font-size-15">
                                                    <i class="ti-arrow-up font-size-11"></i> 
                                                    <span>0</span>
                                                </span>
                                            </div>
                                            <div class="align-self-end">
                                                <i class="ti-credit-card font-size-70 text-success opacity-01"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media justify-content-between">
                                            <div>
                                                <p class="">Yesterday Usage</p>
                                                <h2 class="font-size-28 font-weight-light">0</h2>
                                                <span class="text-semibold text-danger font-size-15">
                                                    <i class="ti-arrow-down font-size-11"></i> 
                                                    <span>0</span>
                                                </span>
                                            </div>
                                            <div class="align-self-end">
                                                <i class="ti-pie-chart font-size-70 text-info opacity-01"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media justify-content-between">
                                            <div>
                                                <p class="">Last 7 days Usage</p>
                                                <h2 class="font-size-28 font-weight-light">0</h2>
                                                <span class=" font-size-13 opacity-04">
                                                    from last month
                                                </span>
                                            </div>
                                            <div class="align-self-end">
                                                <i class="ti-bar-chart font-size-70 text-danger opacity-01"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media justify-content-between">
                                            <div>
                                                <p class="">Last Month Usage</p>
                                                <h2 class="font-size-28 font-weight-light">0</h2>
                                                <span class="text-semibold text-success font-size-15">
                                                    <i class="ti-arrow-up font-size-11"></i> 
                                                    <span>18%</span>
                                                </span>
                                            </div>
                                            <div class="align-self-end">
                                                <i class="ti-user font-size-70 text-primary opacity-01"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

<div class="row">
<div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Top Users Today</h4>
                                        <div class="card-toolbar">
                                            <ul>
                                                <li>
                                                    <a class="text-gray" href="javascript:void(0)">
                                                        <i class="mdi mdi-dots-vertical font-size-20"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="text-center m-t-20">
                                            <h2 class="font-weight-light font-size-30 m-b-0"></h2>
                                            
                                        </div>
                                        <div class="m-t-60">
                                            <canvas class="chart" id="statistic-chart" style="height: 320px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
    <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Top Users Yesterday</h4>
                                        <div class="card-toolbar">
                                            <ul>
                                                <li>
                                                    <a class="text-gray" href="javascript:void(0)">
                                                        <i class="mdi mdi-dots-vertical font-size-20"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="text-center m-t-20">
                                            <h2 class="font-weight-light font-size-30 m-b-0"></h2>
                                            
                                        </div>
                                        <div class="m-t-60">
                                            <canvas class="chart" id="statistic-chart" style="height: 320px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row">
                        <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Top Users Last Week</h4>
                                        <div class="card-toolbar">
                                            <ul>
                                                <li>
                                                    <a class="text-gray" href="javascript:void(0)">
                                                        <i class="mdi mdi-dots-vertical font-size-20"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="text-center m-t-20">
                                            <h2 class="font-weight-light font-size-30 m-b-0"></h2>
                                            
                                        </div>
                                        <div class="m-t-60">
                                            <canvas class="chart" id="statistic-chart" style="height: 320px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>