<div class="content-wrapper">
<div class="card">

  </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Error Code</th>
                <th>Dlr Status</th>
              </tr>
            </thead>
            <tbody>
              <?php $i = 1; 
               foreach ($this->entries as $entry): 

              ?>

                <tr class="gradeC">

                  <td><?php echo $i;?></td>
                  <td><?php echo urldecode($entry->errorCode) ;?></td>
                  <td><?php echo $entry->statusDLR ;?></td>
                 
                </tr>
              <?php  $i++; endforeach; ?>


          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->