<div class="content-wrapper">
 

          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="datatable-buttons" class="table">
           <thead>
              <tr>
                <th>Id</th>
                <th>Prefix</th>
                <th>Route</th>
                <th>Esme</th>
                <th>Description</th>
                <th>Date</th>
                <th>Manage</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <?php $i=1;?>
              <?php foreach ($this->entries as $entry): 
              ?>

                <tr>
                  <td><?php echo $i; ?></td>
                  <td>
                      <?php 
                      echo substr($entry->name, 0, 15);
                      ?>
                      <a href="" data-target="#myModal3_<?php echo $entry->id; ?>" data-toggle="modal"><i class="fa fa-plus" style="padding-right: 5%; float: right;"></i></a>
                  </td>
                  
                  <td><?php echo $entry->smscId; ?></td>
                  <td><?php echo $entry->systemId; ?></td>
                  <td><?php echo $entry->description; ?></td>
                  <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
                  
                  <td>
                  <?php 
                  if ($entry->status==1){
                    echo '<a href="#deactivate_'.$entry->id.'" class="btn btn-sm btn-danger"  data-toggle="modal" >Deactivate</a>';
                  }else{
                    echo '<a href="#activate_'.$entry->id.'" class="btn btn-sm btn-primary"  data-toggle="modal" >Activate</a>';
                  }
                  ?>
                  </td>
                  <td>
                    <?php if($entry->status==1){?><p class="text-success"  style="cursor: default;">Active</p>
                    <?php }
                    else if($entry->status==0){?><p class="text-danger" style="cursor: default;">Deactive</p>
                    <?php }
                    else {
                      ?>
                      <p class="text-warning"  style="cursor: default;">Blocked</p>
                      <?php }?>
                  </td>

                </tr>
              <?php $i++; endforeach; ?>


          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
<?php foreach ($this->entries as $entry): ?>    


 <div id="activate_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/smpp/route/pview">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12">
             <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-md-4 control-label">ESME</label>
                <div class="col-md-12">
                <select name="esme" class="form-control select2">                
                  <?php echo $this->esmes; ?>
                </select>
                </div>
              </div>
              </div>
              <div class="col-lg-6">
              <div class="form-group">
                <label class="col-md-4 control-label">Route</label>
                <div class="col-md-12">
                  <select name="route" class="form-control select2">                
                  <?php echo $this->routes; ?>
                </select>
                </div>
              </div>
            </div><!-- end col -->
            </div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Activate" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>       
<?php endforeach; ?> 
<?php foreach ($this->entries as $entry): ?> 
<div class="modal fade" id="myModal3_<?php echo $entry->id; ?>" role="dialog" style="display: none;">
    <div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <div style="overflow:auto">
          <p><?php 
          $template = urldecode($entry->name);
            echo  $message = $template;
           ?></p>
         </div>
         </div>
         <div class="modal-footer">
          <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
     
    </div>
    
  </div>
</div>



 <div id="deactivate_<?php echo $entry->id; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/smpp/route/pview">
        <input type="hidden" name="id" value="<?php echo $entry->id; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12">
             <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-md-4 control-label">ESME</label>
                <div class="col-md-12">
                <select name="esme" class="form-control select2">                
                   <option value="<?php echo $entry->systemId; ?>"><?php echo $entry->systemId; ?></option>
                </select>
                </div>
              </div>
              </div>
              <div class="col-lg-6">
              <div class="form-group">
                <label class="col-md-4 control-label">Route</label>
                <div class="col-md-12">
                  <select  name="route" class="form-control select2">                
                   <option value="<?php echo $entry->smscId; ?>"><?php echo $entry->smscId; ?></option>
                </select>
                </div>
              </div>
            </div><!-- end col -->
            </div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <button type="submit" class="btn btn-primary"  value="DeActivate" name="submit"  />Deactivate</button>
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>       
<?php endforeach; ?>      