<div class="content-wrapper">
 <?php 
              if ($this->errors) {
                echo '<div class="alert alert-danger" role="alert" align=center>';
                echo 'Failed';
                echo '</div>';
            } 
            if ($this->success) {
                echo '<div class="alert alert-success" role="alert" align=center>';
                if (isset($this->success)) {
                    echo 'Route created successfully';
                }
                echo '</div>';
            }
            ?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="CreateSmppForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                   <div class="form-group">
                      <label>Route</label>
                      <?php echo $this->form->type; ?>
                    </div> 

                    <div class="form-group">
                      <label>Smsc</label> 
                      <?php echo $this->form->route;?> 
                    </div>

                    <div class="form-group">
                      <label>Name</label>
                      <?php echo $this->form->name; ?>
                    </div>                   
                    
                                     

 <button id="send" type="submit" class="btn btn-primary mr-2">Create</button>
                  </form>
                </div>
              </div>
            </div>

</div>

