<div class="content-wrapper">
 

          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
           <thead>
              <tr>
                <th>Id</th>
                <th>Esme</th>
                <th>Type</th>
                <th>Route</th>
                <th>Reroute</th>
                <th>Manage</th>
                 <th>Delete</th>
                 <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <?php $i=1;?>
              <?php foreach ($this->entries as $entry): 
                  $routes = explode('|', $entry);
              ?>

                <tr>
                  <td><?php echo $i; ?></td>                  
                  <td><?php echo $routes['0']; ?></td>
                  <td>
                      <?php 
            if ($routes['1'] == 'TRANSACTIONAL'){
              echo '<p  class="alert-danger"> '.$routes['1'].' </p>';
            }elseif($routes['1'] == 'PROMOTIONAL' || $routes['1'] == 'TRANS-SCRUB'){
              echo '<p  class="alert-success">'.$routes['1'].'</p>';
            }elseif($routes['1'] == 'INTERNATIONAL'){
              echo '<p  class="alert-primary"> '.$routes['1'].' </p>';
            } 
            ?></td>
                  <td><?php echo $routes['2']; ?></td>
                  <td><?php echo $routes['3']; ?></td>
                  <td>
               <?php 
               switch ($routes['5']) {  
                case 1:
                echo '<a href="#block_'.$routes['1'].'-'.$routes['4'].'" class="btn btn-sm btn-danger"  data-toggle="modal" >Deactivate</a>';
                break;
                case 0:
                echo '<a href="#activate_'.$routes['1'].'-'.$routes['4'].'" class="btn btn-sm btn-primary"  data-toggle="modal" >Activate</a>';
                break;
              }
              ?>
              </td>
                  <td>
                        <a href="#delete_<?php echo $routes['1'].'-'.$routes['4']; ?>" class="btn btn-sm btn-danger"  data-toggle="modal" >Delete</a>
                    </td>
                    <td >
               <?php 
               switch ($routes['5']) {  
                case 1:
                echo '<p class="text-success" >Active</p>';
                break;
                case 0:
                echo '<p class="text-danger"  >Not Active</p>';
                break;
              }
              ?>
              </td>
                </tr>
              <?php $i++; endforeach; ?>


          </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->

<?php foreach ($this->entries as $entry):  
        $del = explode('|', $entry); ?>
        
        <div id="activate_<?php echo $del['1'].'-'.$del['4']; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/smpp/route/review">
        <input type="hidden" name="route" value="<?php echo $del['4']; ?>">
        <input type="hidden" name="type" value="<?php echo $del['1']; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to activate ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Activate" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>  

<div id="block_<?php echo $del['1'].'-'.$del['4']; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/smpp/route/review">
        <input type="hidden" name="route" value="<?php echo $del['4']; ?>">
        <input type="hidden" name="type" value="<?php echo $del['1']; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to Deactivate ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <button type="submit" class="btn btn-primary"  value="Block" name="submit"  />Deactivate</button>
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div> 
        
        
 <div id="delete_<?php echo $del['1'].'-'.$del['4']; ?>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <form method="post" action="/smpp/route/review">
        <input type="hidden" name="route" value="<?php echo $del['4']; ?>">
        <input type="hidden" name="type" value="<?php echo $del['1']; ?>">
          <div class="modal-body">
           <div class="col-lg-12">
             <div class="control-group col-lg-12"><div  align=center>Are you sure want to delete ?</div>
             </div>
          </div>
        </div>
        <div class="modal-footer">
         <input type="submit" class="btn btn-primary"  value="Delete" name="submit"  />
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </form>
   </div>
 </div>
</div>        
<?php endforeach; ?>      