<div class="row">
    <div class="col-sm-12">
      <div class="card-box">
        <h4 class="header-title m-t-0 m-b-30"></h4>
              <?php 

              
              if ($this->success) {
              	echo '<div class="alert alert-success" role="alert" align=center>';
              
              if (isset($this->success['Percent']['isSuccess'])){
              		echo "Percentage set successfully";
              	}
              			echo '</div>';
              }
              
              if ($this->errors) {
		                echo '<div class="alert alert-danger" role="alert" align=center>';
		                
		                if (isset($this->errors['Percent']['isFailed'])) {
		                  echo 'Percentage setting failed';
		          		}else{
							print_r($this->errors);
						}
		          echo '</div>';
              } 

?>


    <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="TransferForm" class="<?php echo $this->form->getAttrib('class'); ?>">
        <div class="row">
        <div class="col-lg-6">
        <div class="form-group row">
            <label for="inputEmail1" class="col-md-3 control-label">Username</label>
            <div class="col-md-8">
                <?php echo $this->form->username; ?>                
                <span class=""></span>
            </div>
        </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group row" id="mode">
                <label class="col-md-3 control-label">Type</label>
                <div class="col-md-8">
                <div class="radio radio-success radio-inline">
                      <input id="type-1" checked="checked" value="1"  name="type" type="radio">
                      <label for="type-1"> SMS</label>
                  </div>
                  <div class="radio radio-danger radio-inline">
                      <input id="type-2"   value="2" name="type"  type="radio">
                      <label for="type-2"> VOICE </label>
                  </div>
                  <?php //echo $this->form->flashRadio; ?>
                </div>
              </div>           
            </div><!-- end col -->            
         </div>
         <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
              <label for="credit" class="col-md-3 control-label">Route</label>
              <div class="col-md-8">
                <?php echo $this->form->route; ?>
              </div>
             </div> 
           </div>
        </div>
         <div class="row">
          <div class="col-lg-6">
            <div class="form-group row" id="mode">
                <label class="col-md-3 control-label">Mode</label>
                <div class="col-md-8">

                  <div class="radio radio-danger radio-inline">
                      <input id="mode-2" checked="checked"  value="2" name="mode"  type="radio">
                      <label for="mode-2"> Multi-level </label>
                  </div>
                  <?php //echo $this->form->flashRadio; ?>
                </div>
              </div>           
            </div><!-- end col --> 
            </div>
            <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
              <label for="credit" class="col-md-3 control-label">Percentage</label>
              <div class="col-md-8">
                <?php echo $this->form->percentage; ?>
              </div>
             </div> 
           </div>
        </div>
        <div class="row">
        <div class="col-lg-12">                           
        <div class="form-group">
            <center>
                <?php echo $this->form->submit; ?>
            </center>
        </div>
        </div>
        </div>
    </form>
</div>
    </div><!-- end col -->
  </div><!-- end row -->