<div class="content-wrapper">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                 <thead>
          <tr>
           <th>Id</th>
           <th>Username</th>
           <th>Amount</th>
           <th>Rate</th>
           <th>Tax</th>
           <th>Total</th>
           <th>Account</th>
           <th>Mode</th>
           <th>Domain</th>
           <th>Date</th>
         </tr>
       </thead>

       <tbody>
        <?php $i=1; ?>
          <?php foreach ($this->entries as $entry): ?>
           
            <tr class="gradeC">
            <td><?php echo $i; ?></td>
              <td><?php 
              $clientId = $entry->client->id;
              if ($this->userId == $clientId){
                echo $entry->user->username; 
              }else{
                echo $entry->client->username;
              }
              ?></td>
              <td><?php echo $entry->amount; ?></td>
              <td>
                <?php echo $entry->rate.' Paise';?>
              </td>
              <td><?php echo $entry->tax.'%'; ?></td>
              <td><?php echo 'Rs '.$entry->total; ?></td>
              <td><?php 
               if ($entry->type == '1'){
                 echo 'SMPP PROMOTIONAL';
               }elseif ($entry->type == '2'){
                 echo 'SMPP TRANSACTIONAL';
               }elseif ($entry->type == '3'){
                 echo 'SMPP TRANS-SCRUB';
               }elseif ($entry->type == '28'){
                 echo 'SMPP INTERNATIONAL';
               }elseif ($entry->type == '4'){
                 echo 'VOICE PROMOTIONAL';
               }elseif ($entry->type == '5'){
                 echo 'VOICE TRANSACTIONAL';
               }elseif ($entry->type == '6'){
                 echo 'SMS TRANSACTIONAL';
               }elseif ($entry->type == '7'){
                 echo 'SMS PROMOTIONAL';
               }elseif ($entry->type == '8'){
                 echo 'SMS API TRANSACTIONAL';
               }elseif ($entry->type == '9'){
                 echo 'SMS API PROMOTIONAL';
               }elseif ($entry->type == '10'){
                 echo 'VOICE API TRANSACTIONAL';
               }elseif ($entry->type == '11'){
                 echo 'VOICE API PROMOTIONAL';
               }elseif ($entry->type == '12'){
                 echo 'SMS TRANS-SCRUB';
               }elseif ($entry->type == '13'){
                 echo 'SMS API TRANS-SCRUB';
               }elseif ($entry->type == '14'){
                 echo 'MAIN VOICE PROMOTIONAL';
               }elseif ($entry->type == '15'){
                 echo 'MAIN VOICE TRANSACTIONAL';
               }elseif ($entry->type == '16'){
                 echo 'MAIN SMS TRANSACTIONAL';
               }elseif ($entry->type == '17'){
                 echo 'MAIN SMS PROMOTIONAL';
               }elseif ($entry->type == '18'){
                 echo 'MAIN SMS API TRANSACTIONAL';
               }elseif ($entry->type == '19'){
                 echo 'MAIN SMS API PROMOTIONAL';
               }elseif ($entry->type == '20'){
                 echo 'MAIN VOICE API TRANSACTIONAL';
               }elseif ($entry->type == '21'){
                 echo 'MAIN VOICE API PROMOTIONAL';
               }elseif ($entry->type == '22'){
                 echo 'MAIN SMS TRANS-SCRUB';
               }elseif ($entry->type == '23'){
                 echo 'MAIN SMS API TRANS-SCRUB';
               }elseif ($entry->type == '24'){
                 echo 'MAIN SMS INTERNATIONAL';
               }elseif ($entry->type == '25'){
                 echo 'MAIN SMS API INTERNATIONAL';
               }elseif ($entry->type == '26'){
                 echo 'SMS INTERNATIONAL';
               }elseif ($entry->type == '27'){
                 echo 'SMS API INTERNATIONAL';
               }elseif ($entry->type == '29'){
                 echo 'SMS PREMIUM';
               }elseif ($entry->type == '30'){
                 echo 'SMS API PREMIUM';
               }elseif ($entry->type == '31'){
                 echo 'VOICE PREMIUM';
               }elseif ($entry->type == '32'){
                 echo 'VOICE API PREMIUM';
               }elseif ($entry->type == '33'){
                 echo 'MAIN SMS PREMIUM';
               }elseif ($entry->type == '34'){
                 echo 'MAIN SMS API PREMIUM';
               }elseif ($entry->type == '35'){
                 echo 'MAIN VOICE PREMIUM';
               }elseif ($entry->type == '36'){
                 echo 'MAIN VOICE API PREMIUM';
               }
               ?></td>
               <td><?php echo $entry->mode; ?></td>
               <td><?php 
                $clientId = $entry->client->id;
                if ($this->userId == $clientId){
                  echo $entry->user->domain->domain; 
                }else{
                  echo $entry->client->domain->domain;
                }
                ?></td>
               <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
             </tr>
             <?php $i++; ?>
           <?php endforeach; ?>
       </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->