<div class="content-wrapper">
<?php 

              
              if ($this->success) {
                echo '<div class="alert alert-success" role="alert" align=center>';
              
              if (isset($this->success['Credit']['isSuccess'])){
                  echo "Transaction completed successfully, updated balance is ";
                  echo $this->success['Balance']['isUpdated'];
                }elseif (isset($this->success['Debit']['isSuccess'])) {
                  echo "Transaction completed successfully, updated balance is ";
                  echo $this->success['Balance']['isUpdated'];
                }
                    echo '</div>';
              }
              
              if ($this->errors) {
                    echo '<div class="alert alert-danger" role="alert" align=center>';
                    
                    if ((isset($this->errors['username']['isEmpty'])) || (isset($this->errors['amount']['isEmpty'])) || (isset($this->errors['account']['isEmpty']))
                      || (isset($this->errors['mode']['isEmpty']))) {
                        echo "Values can't be empty";
                }elseif ((isset($this->errors['Credit']['isFailed'])) || (isset($this->errors['Debit']['isFailed']))) {
                  echo "Transaction failed";
                }elseif (isset($this->errors['captcha']['badCaptcha'])){
                echo 'Captcha is incorrect';
                }else{
                  print_r($this->errors);
                }
              
              echo '</div>';
              } 

?>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-description">
                    
                  </p>
                  <form enctype="<?php echo $this->form->getEnctype(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" id="TransferForm" class="<?php echo $this->form->getAttrib('class'); ?>">
                    <div class="form-group">
                      <label>Username</label>
                      <?php echo $this->form->username; ?>   
                      <?php echo $this->form->token;?> 
                    </div>
                    <div class="form-group">
                      <label>Account</label>
                      <?php echo $this->form->account; ?> 
                    </div>                    

                  <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Transfer</label>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                               <input id="mode-1" value="1" name="mode" type="radio" >Add
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input id="mode-2" value="2" name="mode" type="radio">Deduct
                              <i class="input-helper"></i></label>
                            </div>
                          </div>
                          
                   </div>
                  <div class="form-group">
                      <label>Credit</label> 
                      <?php echo $this->form->amount;?> 
                    </div>
                    <div class="form-group">
                      <label>Tax</label>
                      <?php echo $this->form->tax; ?> 
                    </div>
                    <div class="form-group">
                      <label>Rate</label>
                      <?php echo $this->form->rate; ?>
                    </div>
                    <div class="form-group">
                      <label>Total</label>
                      <?php echo $this->form->total; ?>
                    </div>

 <button id="send" type="submit" class="btn btn-primary mr-2">Transfer</button>
                  </form>
                </div>
              </div>
            </div>

</div>