<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/template/1/assets/images/favicon.ico">

        <!-- App css -->
        <link href="/template/1/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/template/1/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/template/1/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body class="authentication-bg">

        <div class="home-btn d-none d-sm-block">
            <a href="index.html"><i class="fas fa-home h2 text-dark"></i></a>
        </div>

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-12">
                        <div class="text-center">
                            <a href="index.html">
                                <span></span>
                            </a>
                        </div>
                        <div class="card">

                            <div class="card-body p-4">
                                
                                <div class="text-center mb-4">
                                    <h4 class="text-uppercase mt-0"></h4>
                                </div>

                                <?php echo $this->layout()->content; ?>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                        
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->
    

        <!-- Vendor js -->
        <script src="/template/1/assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="/template/1/assets/js/app.min.js"></script>
        
    </body>
</html>