<div class="content-wrapper">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                 <thead>
          <tr>
          <th>Id</th>
           <th>Username</th>
           <th>Route</th>    
           <th>Count</th>         
           <th>Delivered</th>
           <th>Failed</th>
           <th>Awaiting</th>
           <th>Recredit</th>
           <th>Domain</th>        
           <th>Recredit Date</th>   
           <th>Created Date</th>           
           <th>Status</th>
         </tr>
       </thead>

       <tbody>
         <?php $i=1;?>
          <?php foreach ($this->entries as $entry): ?>
           
            <tr>
            <td><?php echo $i; ?></td>
              <td><?php 
                echo $this->emUser->getRepository('modules\user\models\User')->find($entry->client)->username;               
              ?></td>
               <td><?php echo $entry->type; ?></td>
               <td><?php echo $entry->smsCount; ?></td>
               <td><?php echo $entry->delivered; ?></td>
               <td><?php echo $entry->failed; ?></td>
               <td><?php echo $entry->awaitingDlr; ?></td>
               <td><?php echo $entry->totalRecredit; ?></td>
               <td><?php echo $this->emUser->getRepository('modules\user\models\User')->find($entry->client)->domain->domain; ?></td>
               <td><?php echo $entry->recreditDate->format('d-m-Y'); ?></td>
               <td><?php echo $entry->createdDate->format('d-m-Y H:i:s'); ?></td>
               <td><?php echo $entry->status; ?></td>
             </tr>
           <?php $i++; endforeach; ?>
</tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->

