 <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                <h4 class="header-title m-t-0 m-b-30"></h4>
  
 <?php 
if ($this->success) {
         echo '<div class="alert alert-success" role="alert" align=center>';

         echo $this->success['Report']['Generate'] ;
         echo '</div>';
       }
       if ($this->errors) {
         echo '<div class="alert alert-danger" role="alert" align=center>';
        if (isset($this->errors['campaignName']['Generate'])) {
           echo $this->errors['Report']['Generate'] ;
        }elseif (isset($this->errors['Report']['inProgress'])) {
      echo $this->errors['Report']['inProgress'] ;
        }elseif (isset($this->errors['Report']['timeNotReach'])) {
      echo $this->errors['Report']['timeNotReach'] ;
        }elseif(isset($this->errors['Report']['inSearch'])){
          echo $this->errors['Report']['inSearch'];
        }else{
          print_r($this->errors);
        }
        echo '</div>';
      } 
		$date=explode('^', $this->daterange);
		$sdate=$date[0];
		$edate=$date[1];
?>

 <form class="form-inline" id="searchReport" role="form"  action="/url/report/index" method="post" enctype="application/x-www-form-urlencoded">
	<div class="form-group row">
                                                        <div class="col-sm-8">
                                                            <div class="input-daterange input-group" id="date-range">
                                                                <input id="" value="<?php echo "$sdate";?>" class="form-control" name="from" type="text">
                                                                <span id="" class="btn btn-primary">to</span>
                                                                <input value="<?php echo "$edate";?>" class="form-control" name="to" type="text">
                                                                <div class="form-check mb-2 mr-sm-2"></div>
  																<button class="btn btn-primary" name="search" type="submit" value="search">Search</button>
                                                            </div>
                                                        </div>
                                                    </div>
	
	
</form> 

<div class="form-check mb-2 mr-sm-2"></div>
        
     <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">

              <thead>
                <tr>
                  <th>Id</th>
                  <th>Campaign Name</th>
                  <th>Url / File</th>
                  <th>Leads</th>
                  <th>SMS Count</th>
                  <th>Credit Used</th>
                  <th>Sender</th>
                  <th>Text</th>
                  <th>Status</th>
                  <th>Summary</th>
                  <th>Done Date</th>
                  <th>Manage</th>
                  <th>Survey</th>
                </tr>
              </thead>
              <tbody>
                <?php $i=1;
                ?>
                <?php foreach ($this->entries as $entry): ?>

                  <tr class="gradeC">
                    <td><?php echo $i; ?></td>
                    <td><?php echo $entry->name.'['.$entry->id.']'; ?></td>
                    <td>

                      <?php 
                      if ($entry->urlStatus == '1'){
                            echo $entry->tinyUrl;
                      }elseif ($entry->urlStatus == '2'){
                            echo '<a href="/urlFiles/'.$entry->tinyUrl.'">View</a>';
                      }elseif ($entry->urlStatus == '3'){
                          ?>
                          <a href="" data-target="#myModal4_<?php echo $entry->id; ?>" data-toggle="modal">View</a>
                      <?php
                      }
                       ?>

                    </td>
                    <td><?php echo $entry->count; ?></td>
                    <td><?php echo $entry->smsCount; ?></td>
                    <td><?php echo '1'; ?></td>
                    <td><?php echo $entry->senderId; ?></td>
                   <td><?php  
                   if ($entry->original){
                   	$text = $entry->original;
                   }else{
                   	$text = $entry->text;
                   }
                    $tem = explode('$/g', $text); 
                    $template = str_replace('/^','',$tem[0]);
                    $message= wordwrap($template,30,"<br>",true);
                    $message_length = strlen($template);
                    echo $stringCut = substr($message, 0, 10);
                    ?>
                    <a href="" data-target="#myModal3_<?php echo $entry->id; ?>" data-toggle="modal"><i class="fa fa-plus" style="padding-right: 5%; float: right;"></i></a>

                    <?php 
                    ?></td>
                    <td><?php if ($entry->status == '2') {
                      echo '<p class="text-warning">Sending</p>';
                    }elseif ($entry->status == '1') {
                      echo '<p class="text-success">Completed</p>';
                    }elseif ($entry->status == '3') {	
                     echo '<p class="text-danger">Cancelled</p>';
                    }elseif ($entry->status == '7') {
                    	echo '<p class="text-danger">Rejected</p>';
                    }else {
                     echo '<p class="text-primary">Queued</p>';
                    }                      	
                   ?></td>
                   <td><span><button data-toggle="modal" data-target="#view-modal" data-id="<?php echo $entry->id.'^'.$entry->user;?>" id="getUrlSummary" class="btn btn-sm btn-primary">View</button></span></td>
                   <td><?php echo $entry->startDate->format('d-m-Y H:i:s'); ?></td>
                   <td><?php 
                   if ($entry->status == '1') {
                   	?>
                   	<form class="form-inline" id="reportCsv" role="form"  action="<?php if ($entry->input == 'COMPOSE' || $entry->input == 'SCHEDULED'){ echo '/downloadUrlReport.php'; }else{ echo '/downloadDynamicUrlReport.php'; }?>" method="post" enctype="application/x-www-form-urlencoded">
        			<input type="hidden" name="campid" value="<?php echo $entry->id; ?>">
        			<input type="hidden" name="userid" value="<?php echo $this->userId; ?>">
        			<span><button class="btn btn-sm btn-primary" title="Download" type="submit">Download</button></span>
        			</form>
                   <?php
                   }
                   ?>
                  </td>
                  
                  <td><?php 
                   if ($entry->status == '1' && $entry->urlStatus == '3') {
                   	?>
                   	<form class="form-inline" id="reportCsv" role="form"  action="<?php if ($entry->input == 'COMPOSE' || $entry->input == 'SCHEDULED'){ echo '/downloadSurveyReport.php'; }else{ echo '/downloadDynamicSurveyReport.php'; }?>" method="post" enctype="application/x-www-form-urlencoded">
        			<input type="hidden" name="campid" value="<?php echo $entry->id; ?>">
        			<input type="hidden" name="userid" value="<?php echo $this->userId; ?>">
        			<span><button class="btn btn-sm btn-primary" title="Download" type="submit">Download</button></span>
        			</form>
                   <?php
                   }
                   ?>
                  </td>
                </tr>
              <?php  $i++; endforeach; ?>


          </tbody>
        </table>
</div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->
        		


<?php //echo $this->paginationControl($this->entries, 'sliding', 'paginationReport.phtml'); ?>                


        <div id="view-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
             <div class="modal-dialog"> 
                  <div class="modal-content"> 
                  
                       <div class="modal-header"> 
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
                            <h4 class="modal-title"></h4> 
                       </div> 
                       <div class="modal-body"> 
                       
                       	   <div id="modal-loader" style="display: none; text-align: center;">
                       	   	<img src="/errors/images/ajax-loader.gif">
                       	   </div>
                            
                           <!-- content will be load here -->                          
                           <div id="dynamic-content"></div>
                             
                        </div> 
                        <div class="modal-footer"> 
                              <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>  
                        </div> 
                        
                 </div> 
              </div>
       </div><!-- /.modal -->     
<?php foreach ($this->entries as $entry): ?>
  <div class="modal fade" id="myModal3_<?php echo $entry->id; ?>" role="dialog" style="display: none;">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <textarea readonly rows="10" cols="53"><?php 
	          if ($entry->original){
	          	echo $entry->original;
	          }else{
	          	echo $entry->text;
	          }
            ?></textarea>
          
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        
      </div>

    </div>
  </div>


<div class="modal fade" id="myModal4_<?php echo $entry->id; ?>" role="dialog" style="display: none;">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        <?php
                          $form = urldecode($entry->tinyUrl);
                            eval("?> $form <?php "); 
        ?> 
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        
      </div>

    </div>
  </div>       
       
       
<?php endforeach; ?>
