<div class="table-rep-plugin">
<div class="table-responsive table-bordered" data-pattern="priority-columns">   
<table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<tr>
	<th>Total Sent</th>
	<th>Opened</th>
	</tr>
<tr>
<td><?php echo $this->send;?> </td>
<td><?php echo $this->status;?> </td>
</tr>
</table>
</div>
</div>

